[2021-12-26 09:33] seladb commented on #729
@angelyouyou I'm closing this issue due to lack of response, please reopen if needed

[2021-12-26 09:33] #729 closed

[2021-12-27 03:38] #767 closed

[2021-12-30 09:39] LoveChina-3000 opened #768 "How to get the traffic statistics of each domain name of http and https? And how to get the file information sent in the tcp and udp packets (Deep Packet Inspection)"
How to get the traffic statistics of each domain name of http and https? And how to get the file information sent in the tcp and udp packets (Deep Packet Inspection)

[2021-12-31 02:55] Matheus-Garbelini opened #770 "[Question] Use dpdk with Libpcap-based PMD"
Hello, I was trying to test `DpdkBridge` example with  dpdk running in a pcap interface which sets a [pmd for pcap](https://github.com/seladb/PcapPlusPlus/blob/4a20054a1f150134405c85bf1724d9309caf4fa1/Pcap%2B%2B/src/DpdkDevice.cpp#L440).

It seems I cannot pass the name of the pcap interface to this example the same way it's possible to do with [dpdk example](https://doc.dpdk.org/guides/nics/af_pa

[2022-01-05 11:39] FisherDock opened #771 "Error "Too many open files" when analyzing a number of pcaps"
Hi,

I'm using PcapPlusPlus to analyze a large number of pcaps (about 1500+ files) in a single directory, and error occurred:

`[ERROR: src/PcapFileDevice.cpp: open:142 ] Cannot open file reader device for filename. xx.pcap. Too many open files`.

Is there a file number limit? Please let me know how to solve this issue. Thanks.

[2022-01-07 05:05] seladb commented on #764
@ThinhNX should we keep this issue open?

[2022-01-07 05:06] seladb commented on #768
I think you can look at the following examples:
- [HttpAnalyzer](https://github.com/seladb/PcapPlusPlus/tree/master/Examples/HttpAnalyzer)
- [SSLAnalyzer](https://github.com/seladb/PcapPlusPlus/tree/master/Examples/SSLAnalyzer)

Please let me know if you have further questions

[2022-01-09 03:04] seladb commented on #771
I think this error comes from the operating system or from libpca, not from PcapPlusPlus. There is a limit to the number of concurrent open files.
I've tackled this problem in the [PcapSplitter example](https://github.com/seladb/PcapPlusPlus/blob/master/Examples/PcapSplitter/Splitters.h#L70-L155) which keeps no more than `MAX_NUMBER_OF_CONCURRENT_OPEN_FILES` and closes files that were least recent

[2022-01-09 03:35] seladb commented on #770
@Matheus-Garbelini sorry for the late response. Unfortunately passing additional arguments to `DpdkBridge` is not currently possible. As you can see [here](https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/DpdkDeviceList.cpp#L96-L125) there is only a specific set of parameters that can be passed in DPDK initialization.

This request seems somewhat similar to this PR: https://github

[2022-01-09 10:52] FisherDock commented on #771
@seladb Thanks very much.  BTW, any suggestion to use multithread to process multiple pcaps using PcapPlusPlus?  I haven't tried multiple threading. Hopefully it works.

[2022-01-10 03:17] lxwAsm opened #772 "can i band multi network adapter in a program?"

[2022-01-10 04:22] seladb commented on #772
@lxwAsm can you please further explain? I'm not sure I understand what you mean

[2022-01-10 07:31] seladb commented on #771
Yes, it is possible to use multithreading to process multiple pcap files simultaneously. Just make sure you don't share a `PcapFileReaderDevice` or `PcapFileWriterDevice` instance between multiple threads

[2022-01-10 07:43] seladb commented on #759
I'm closing this issue, please reopen it if needed

[2022-01-10 07:43] #759 closed

[2022-01-11 01:16] FisherDock commented on #771
@seladb  Many thanks. I may add a multiple threading example to the project later if there is no such example.

[2022-01-11 03:10] seladb commented on #771
Sounds good, that would be a nice contribution! 🙏

[2022-01-11 03:10] #771 closed

[2022-01-11 10:37] dehmarc opened #773 "Alpine/Musl compilation not working"
Hello,

I used the latest version 21.11 as I saw that it now has an additional flag for musl.

**Steps to reproduce:**
Clone v21.11
`run configure-linux.sh --musl`

The following errors occur during build:
`3rdParty/MemPlumber/MemPlumber/memplumber.cpp:361:10: fatal error: execinfo.h: No such file or directory`
` 361 | #include <execinfo.h>`

**Analysis**
I checked the relevant files and it seems

[2022-01-12 06:07] seladb commented on #773
Thanks for providing the fix @dehmarc !
I just merged your PR

[2022-01-12 08:17] #773 closed

[2022-01-12 08:27] seladb commented on #770
@Matheus-Garbelini I merged PR #769 so it's now possible to pass additional args to `DpdkDeviceList::initDpdk()`, however this is not yet used in any of the examples including `DpdkBridge`. Would you consider adding it to the examples?

[2022-01-12 08:28] seladb commented on #768
I'm closing the issue now, please reopen if you have further questions

[2022-01-12 08:28] #768 closed

[2022-01-12 08:44] Matheus-Garbelini commented on #770
@seladb thanks a lot. I'll try to add something when I have time.
I really appreciate your project. For example, I've been using pcapng reader/writter with packet comments for many things.

[2022-01-12 08:44] #770 closed

[2022-01-14 09:41] eladcohen333 opened #776 "problem with installing"
hi
im try to install the packege , but i dont successful .
i have vs 2019
when i go to configure-windows-visual-studio when i enter the last path of pthreads-32 the cmd just turned off(windows closed Suddenly)
i wiil be happy to any help please

tnx elad
eladcohen333@gmail.com

[2022-01-14 10:53] seladb commented on #776
do you mean that the command-line window suddenly closes?
What I'd suggest is that you:
1. Open a command line (Start -> "cmd")
2. Go to PcapPlusPlus folder (`cd ......`)
3. Run `configure-windows-visual-studio.bat` and fill in the necessary details
4. After you're done you should see a message that starts like this: `PcapPlusPlus Visual Studio configuration is complete. Files created (or modified

[2022-01-14 11:50] eladcohen333 commented on #776
in level 3 on cd when i arrive to last message :"pthreads-win32 is required for compiling PcapPlusPlus."
this p have a 3 p: QueueUserAPCEx  , pthreads.2,Pre-built.2)
i put all in 1 folder and when i put the path in cd ,
its just close after 2-3 secondes without any message , just closed .
i follow the instructions and still stucking with this problem
please help me
tnx elad

[2022-01-15 09:29] seladb commented on #776
Can you attach a short video to show what happens?
I'm not sure why the command-line window may close, maybe your user doesn't have permission to write to this folder?

[2022-01-16 16:49] clementperon commented on #164
@eteran @DinoStray @agentsofshield

Can I have your review on the Cmake support PR ?

https://github.com/seladb/PcapPlusPlus/pull/652

[2022-01-16 22:23] eladcohen333 commented on #776
yes

[2022-01-16 22:30] eladcohen333 commented on #776
https://user-images.githubusercontent.com/77234157/149680658-a7360c89-0784-4a86-ada8-4b0e5358e54c.mp4

[2022-01-17 00:45] seladb commented on #776
@eladcohen333 I think the configuration script actually succeeded 😃
Since you're double-clicking the `.bat` file it runs in a separate command-line window which closes when the script ends.
If you want to see the full output you should follow the steps I mentioned before:
1. Click the "Start" button and then type "cmd". A new command-line window will open
2. Navigate to the PcapPlusPlus folder (us

[2022-01-17 01:02] seladb commented on #772
I'm closing this issue as there are insufficient details. Please reopen it if needed

[2022-01-17 01:02] #772 closed

[2022-01-17 01:02] seladb commented on #764
I'm closing this issue now, please reopen if needed

[2022-01-17 01:02] #764 closed

[2022-01-17 03:40] angelyouyou opened #779 "Are there plans to support the ND (Neighbor Discovery) protocol in ICMPv6?"
Are there plans to support the ND (Neighbor Discovery) protocol in ICMPv6? This is crucial in IPv6 communication, similar to the ARP protocol in IPv4. Is it possible to consider supporting NA (Neighbor Advertisement) and NS (Neighbor Solicitation) first, so that the user can learn the MAC address normally (similar to ARP request and response).

[2022-01-17 09:09] eladcohen333 commented on #776
its work tnx you
now i dont s to run the  tests file how i can do it ?

[2022-01-17 21:27] seladb commented on #776
If you're referring to PcapPlusPlus tests please take a look here:
https://pcapplusplus.github.io/docs/tests

[2022-01-17 21:28] seladb commented on #779
ICMPv6 is not yet supported in PcapPlusPlus, but you're more than welcome to add it 😃

[2022-01-19 23:04] JasMetzger opened #783 "pcpp::IPv4Address::toBytes()"
I just started using PCAP++. After parsing a raw packet and analyzing the IPv4 layer addresses, the toString() appears to work but the toBytes() returns rubbish on Linux but returns correct information on Visual Studio. Version using is 21.11

[2022-01-19 23:57] JasMetzger commented on #783
It appears that this will work:

pcpp::IPv4Address srcipaddress = ipv4Layer->getSrcIPv4Address();
const uint8_t *ipv4src = srcipaddress.toBytes();

but this will not
const uint8_t *ipv4src =  ipv4Layer->getSrcIPv4Address().toBytes();
probably regarding a copy constructor I suppose

[2022-01-20 03:35] qq805005062 opened #784 "配置成功后，用Vs2019打开就报错"
![1642649600(1)](https://user-images.githubusercontent.com/22863573/150267529-3accbb84-2405-4723-a238-7cdb09e8a1ed.png)
![1642649680(1)](https://user-images.githubusercontent.com/22863573/150267550-18743911-6edd-4f44-bc7e-6872c516ae9d.png)
![1642649697(1)](https://user-images.githubusercontent.com/22863573/150267567-baabc005-025f-47bb-82b6-e7a952f40d8c.png)
是不是我少了那步骤没执行？

[2022-01-20 04:45] angelyouyou commented on #784
@qq805005062 这个是VS的问题，百度一下就能解决了，跟当前这个项目没有关系。

[2022-01-20 05:01] angelyouyou opened #785 "How to read the packets again after reading a round of packets in one file?"
I plan to read packets from pcap/pcapng file and replay them continuously(with one file).
I found that once the packets of pcpp::IFileReaderDevice *readerDevice are read, these packets cannot be read again after repeated reading.
How to read these packets from the first packet again after reading a round of packets?
Below is our code snippet.

[code]

[2022-01-20 05:33] qq805005062 commented on #784
好的

[2022-01-20 06:16] qq805005062 commented on #784
与第一行开头乱码有关
![1642657604(1)](https://user-images.githubusercontent.com/22863573/150280864-62ad707b-e073-4453-9566-1661c5bfd8cf.png)
所有的.vcxproj文件第一行开头都是乱码的，改完后正常了
![1642659405(1)](https://user-images.githubusercontent.com/22863573/150284029-7afc1352-9cb3-465b-9b3e-8a53947689c1.png)

[2022-01-20 06:17] #784 closed

[2022-01-20 06:46] seladb commented on #784
BTW, I don't understand Chinese so please use English in issues...

[2022-01-20 09:42] qq805005062 opened #786 "如何设置让configure-windows-visual-studio.bat 使用静态链接库pthreadVSE2.lib，而不是动态链接库"
error MSB3073: 命令“xcopy "E:\pthreads-w32\Pre-built.2\dll\x64\pthreadVC2.dll" "D:\workspace\github\PcapPlusPlus\Tests\Pcap++Test\Bin" /Y
我使用Pcap++.lib静态库的时候它提示要我给提供pthreadVC2.dll动态库，而静态库的路径我已经添加了，根本不调用

[2022-01-20 10:05] eladcohen333 commented on #776
what i can do?
the project cant be loaded

[2022-01-20 10:28] seladb commented on #786
Please translate to English

[2022-01-21 02:57] qq805005062 commented on #786
I use pcap + +.lib When the Lib static library, it prompted me to provide pthreadvc2 DLL Dynamic Library, and I have added the path of static library.don't call pthreadvc2 at all lib

[2022-01-21 09:11] seladb commented on #776
it seems you're opening the wrong `.sln` file. If you're using VS 2019 the `.sln` file will be in:
`C:\Users\DELL\Desktop\pca\mk\vs2019\PcapPlusPlus.sln`

[2022-01-21 09:25] seladb commented on #783
could you please elaborate on what you mean by "rubbish"? What is actually returns vs. what you expect it to return?

[2022-01-21 09:27] seladb commented on #786
I'm not sure I understand. I think that WinPcap actually needs `pthreadvc2`, not PcapPlusPlus directly.

[2022-01-21 09:28] seladb commented on #785
There is no option to read packets again once you reach the end of the file. What you can do is close the file and open it again

[2022-01-21 14:06] JasMetzger commented on #783
Hello seladb. Yes, The address bytes are not returned. I print out the array of 4 bytes and I get FF FF FF FF and not the address bytes of the packet. It seems to be pointing to some other place in memory? Or, my theory, there might be a copy constructor not allocating the bytes and copying them? Not sure. I just thought I'd point this out. What was working in VS gave a different result in GCC and

[2022-01-22 03:40] angelyouyou commented on #785
OK.Thanks very much.

[2022-01-22 03:41] #785 closed

[2022-01-22 03:52] angelyouyou commented on #779
OK.I am planning to submit VRRP and NetFlow protocol to master.Theres are some bugs to be fixed. After that I will try to add ICMPv6.

ICMPv6 is more important and complex than ICMPv4. Examples include ICMP ND (NA, NS, RS, RA, Redidrect), MLD (IPv6 version of IGMP), Ping (request and response), and so on. Can you help me with some abstract ideas of code framing to do it better?

[2022-01-23 08:42] seladb commented on #779
Sounds good, thank you! 🙏

[2022-01-23 09:00] seladb commented on #783
Got it, let me check and get back to you

[2022-01-24 10:30] seladb commented on #783
@JasMetzger I think I know what's the issue.
`toBytes()` returns the address of the internal `m_Bytes` array. Now, `ipv4Layer->getSrcIPv4Address()` creates a new instance of `IPv4Address`. So what happens is:
[code]

Please let me know if it makes sense

[2022-01-24 13:57] JasMetzger commented on #783
seladb thanks for confirming my suspicion--I figured that was something of the problem. But it worked on Visual Studio just fine (or I was getting lucky?) and did not work in linux (gcc 9.3.0). Is this a bug? Wouldn't the m_Bytes array get copied in the new instance too? At this point I have a work around so I'm cool. I just wanted to bring it to the community's attention.

[2022-01-24 16:30] seladb commented on #783
I don't think it's a bug, this is how c++ works. I'm not sure why VS gives the "right" result, but anyway it's accessing unallocated memory...
A way to "fix" it is by allocating a new buffer within IPv4Address and return it, but then the user will need to free it (otherwise there will be a memory leak)

[2022-01-25 07:18] qq805005062 opened #792 "Windows 10，WpdPack_4_1_2 or npcap-1.60 run DnsSpoofing of Examples fail"
![1643094878(1)](https://user-images.githubusercontent.com/22863573/150928922-1c9ef779-c319-4373-a3f2-cc845f7cae99.png)
Run failed here
"Error setting the capture mode for device"

[2022-01-25 10:44] seladb commented on #792
Maybe a permissions issue with the user running it? 🤔

[2022-01-25 10:44] seladb commented on #776
@eladcohen333 can we close this issue?

[2022-01-25 10:45] seladb commented on #783
@JasMetzger should we close this issue?

[2022-01-25 10:45] seladb commented on #786
@qq805005062 should we close this issue?

[2022-01-25 12:07] qq805005062 commented on #792
Permissions have been configured
1、requireAdministrator (/level='requireAdministrator')

2、[ERROR: D:\workspace\github\PcapPlusPlus\Pcap++\src\WinPcapLiveDevice.cpp: pcpp::WinPcapLiveDevice::startCapture:29] Error setting the capture mode for device '\Device\NPF_{22642BEC-89C2-48C3-9FF2-9F4012299A2C}'
![1643111968(1)](https://user-images.githubusercontent.com/22863573/150973163-c89d67fb-a0fa-4b5e-

[2022-01-25 13:46] JasMetzger commented on #783
Sure--I only brought it to your attention because I thought it was an issue. I have a working set and am content. Please close the issue.

[2022-01-25 13:46] #783 closed

[2022-01-26 00:10] seladb commented on #792
@qq805005062 can you try to add `pcap_geterr()` to see what the error is?

[code]

[2022-01-26 02:53] qq805005062 commented on #792
[ERROR: D:\workspace\github\PcapPlusPlus\Pcap++\src\WinPcapLiveDevice.cpp: pcpp::WinPcapLiveDevice::startCapture:29] Error setting the statistics mode for device '\Device\NPF_{22642BEC-89C2-48C3-9FF2-9F4012299A2C}', error is: driver error: working mode not recognized

 error is: driver error: working mode not recognized

[2022-01-26 07:47] seladb commented on #792
@qq805005062 I googled this error and here are a few interesting threads I found:

https://github.com/odedshimon/BruteShark/issues/99

https://www.winpcap.org/pipermail/winpcap-users/2007-October/002137.html

It looks like this error comes from this part of WinPcap / Npcap / libpcap code:
https://github.com/limhoff-r7/libpcap/blob/master/pcap-win32.c#L140-L148

Which actually call `PacketSetMode()

[2022-01-26 09:40] qq805005062 commented on #792
interface is Hardware network card，Ethernet of windows 10，Just comment out these lines of code

[2022-01-26 10:33] seladb commented on #792
to be honest, I don't know what's causing the error. It works fine on every Windows machine I used. Do you have another Windows machine with a different NIC to test with?

[2022-01-27 15:20] Octalbyte opened #795 "Error running example app: `IPv4Layer.h: No such file or directory`"
![image](https://user-images.githubusercontent.com/66487668/151387896-e3fcebf2-1ffb-4d14-80d8-6e45755976cc.png)

I am using:

g++ 11.2.0 (with all the mingw32 toolchain)
windows 10 (32-bit)
The latest Pcap++ release

I am also running the app from the `example-app` folder.
Is this an issue with linking? I am a bit new to c++

[2022-01-28 07:44] seladb commented on #795
@Octalbyte if you look at the files inside the [`pcapplusplus-21.11-windows-mingw32-gcc-9.2.0.zip`](https://github.com/seladb/PcapPlusPlus/releases/download/v21.11/pcapplusplus-21.11-windows-mingw32-gcc-9.2.0.zip) package you'll find `example-app\README.md` and `README.release` which contains details instructions:

`example-app\README.md`:

[code]

`README.release`:

[code]

Please let me know if

[2022-01-28 07:45] seladb commented on #776
@eladcohen333 I'm closing this issue now, please reopen if needed

[2022-01-28 07:45] #776 closed

[2022-01-28 07:46] seladb commented on #786
@qq805005062 I'm closing this issue now, please reopen if needed

[2022-01-28 07:46] #786 closed

[2022-01-28 14:15] Octalbyte commented on #795
@seladb  Thanks for the help! For some reason there is no `README.release` in my `example-app` folder. Maybe I accidentally deleted it. Now the library *is* being successfully linked, but i get a huge stream of errors. Please note I replaced my username with `fake username`, but, if this matters, my username has spaces in it.

[errors.txt](https://github.com/seladb/PcapPlusPlus/files/7959245/error

[2022-01-28 14:16] Octalbyte commented on #795
Most errors have to do with undefined references to mingw features. e.g.: `c:/mingw/include/stdlib.h:586: undefined reference to `__mingw_free'`

[2022-01-30 01:23] seladb commented on #795
I think you have [MinGW-w64](https://www.mingw-w64.org/) installed and not [MinGW](https://osdn.net/projects/mingw/). Please try downloading [`pcapplusplus-21.11-windows-mingw-w64-gcc-8.1.0.zip`](https://github.com/seladb/PcapPlusPlus/releases/download/v21.11/pcapplusplus-21.11-windows-mingw-w64-gcc-8.1.0.zip) and see if things work

[2022-01-30 17:12] Octalbyte commented on #795
@seladb Now everything is working perfectly 🎉. Thanks for the help and effort. Not every community returns help in less than 3 days.

[2022-01-30 17:12] #795 closed

[2022-02-01 09:17] seladb commented on #792
I'm closing the issue now, please reopen if still relevant

[2022-02-01 09:17] #792 closed

[2022-02-03 09:27] seladb opened #803 "Run CI tests that require network traffic"
@clementperon maybe you can help with this (or someone else in the community):

Currently, the only tests we run in the CI are ones that don't require network traffic. We do that by running `Pcap++Test` with the `-n` flag, [here is an example](https://github.com/seladb/PcapPlusPlus/blob/8c06124007c16bb85c839d09554cca49a0b50c74/.github/workflows/build_and_test.yml#L44). The reason is that internet

[2022-02-15 08:37] seladb commented on #758
Fixed in #810 , thank you @egecetin ! 🙏

[2022-02-15 08:37] #758 closed

[2022-03-01 08:37] AlienX2001 commented on #198
hey @echo-Mike I am using dpdk 19.11, with pcpp 21.05, and am facing the same issue
[code]
one of your comments were if we switch on all the RSS functions of the i40e device then we can fix this issue, could you give some resources on how to do that

Thanks

[2022-03-03 10:10] sammasak opened #825 "TLS fingerprinting example on tailor made packets"
I'm having issues with running the TLS fingerprinting example on data that I have generated myself.

According to wireshark the attached pcap file contains  two tls handshakes (packet 4 and packet 44) but when running the tls fingerprinting example none is found. I have found that it is because when the TLS fingerprinting example looks for a packet of type SSL it fails since the packet type is Gen

[2022-03-03 20:54] egecetin commented on #825
I guess it's because of your ports. 60000 and 60002 are not registered ports for SSL/TLS so the parser chooses  `GenericPayload`. Could you change and test your python script using one of the ports below? If I'm right it should parse

https://github.com/seladb/PcapPlusPlus/blob/fa88a6a428b566972e82ad766ae2a4d2b6a8f7fe/Packet%2B%2B/header/SSLLayer.h#L181-L208

[2022-03-04 03:59] Michael0415 commented on #583
Hi, I compiled a latest source code , and when I captured packets with the async capture, and It still prompt like this,
![image](https://user-images.githubusercontent.com/18414020/156696794-0358feb0-c4f0-4b4c-ba71-c43dd2f4762c.png)

[2022-03-04 07:43] sammasak commented on #825
Yes this solved it! Looking at the other issues it seems that this has been discussed before and that: [#671 ](https://github.com/seladb/PcapPlusPlus/issues/671) would allow for custom ports to be assigned to protocols.

Thanks for the help, I'm closing the issue!

[2022-03-04 07:43] #825 closed

[2022-03-07 01:59] maliwen2015 opened #830 "ETH_RSS_IPV4？"
https://github.com/seladb/PcapPlusPlus/blob/d8d702acc99bf8bbf1531f00a3162c6b11a3cd2c/Pcap%2B%2B/src/DpdkDevice.cpp#L1181

This is ETH_RSS_IPV4 or ETH_RSS_FRAG_IPV4?

[2022-03-07 07:40] seladb commented on #830
To be honest, I don't remember why I put `ETH_RSS_IPV4` and not `ETH_RSS_FRAG_IPV4`... 😳
Maybe in previous versions of DPDK `ETH_RSS_FRAG_IPV4` didn't exist?

[2022-03-11 14:52] sebastiandavalle commented on #737
any update regarding this?
I need PcapPlusPlus compiled for aarch64 (need to run it on ubuntu aarch64 - Raspberry pi) . I've been trying to cross-compile it but without success

[2022-03-11 14:56] sjdavalle commented on #737
any update regarding this?
I need PcapPlusPlus compiled for aarch64 (need to run it on ubuntu aarch64 - Raspberry pi) . I've been trying to cross-compile it but without success

[2022-03-13 09:18] leleliu008 opened #835 "build for Android on macOS failed"
https://github.com/seladb/PcapPlusPlus/archive/v21.11.tar.gz

[code]
result:
[code]

the reason is macOS' getopt command is incompatible with Linux's. macOS' getopt command doesn't support long options.

If you do not wanna rewrite the code about parsing options, user must install `gnu-getopt`

By the way, I suggest you run test on macOS with GithubActions

[2022-03-15 14:09] jiangjiongyu opened #839 "PcapPlusPlus don't support parser dns answer Address?"
pcpp::DnsResource* answer = dnsLayer->getFirstAnswer();
answer->get?

[2022-03-16 01:51] typeryougishiki opened #840 "In centos, Packet++Test failed(core dumped) after build and install from source code"
I try to install Pcapplusplus in a centos7 device which has installed libpcap. After install, I go to Test/Packet++Test and run Bin/Packet++Test,but it core dumped.

PcapPlusPlus version: v21.11+ (non-official release)
Built: Mar 16 2022 09:30:34
Built from: Git branch '', commit ''
Start running tests...

EthPacketCreation             : PASSED
EthPacketPointerCreation      : PASSED
EthAndArpPacke

[2022-03-16 02:05] seladb commented on #840
Yes, there is some weird issue with the memleak checker in CentOS which detects non-existing mem leaks and crashes. You can run the tests without it [as we do in the CI](https://github.com/seladb/PcapPlusPlus/blob/5fd8db1dae9fd8395395e82a1d19017d60a0e632/.github/workflows/build_and_test.yml#L26):

[code]

[2022-03-16 02:11] typeryougishiki commented on #840
Thanks for your help. I run test success.

[2022-03-16 02:11] #840 closed

[2022-03-16 02:14] seladb commented on #839
You have [`answer->getData()`](https://pcapplusplus.github.io/api-docs/v21.11/classpcpp_1_1_dns_resource.html#ae1b717cd474c5d401a4a31a69cdd48b9) where you can get the data.

If you know it an IPv4 or IPv6 address you can do:
[code]

You also can cast to other types described [here](https://pcapplusplus.github.io/api-docs/v21.11/classpcpp_1_1_i_dns_resource_data.html) based on the answer type:
- `p

[2022-03-16 07:15] jiangjiongyu commented on #839
It works!Thanks so much for your answer!

[2022-03-16 07:36] #839 closed

[2022-03-16 08:25] seladb commented on #835
Your PR was merged to `master`. Thank you @leleliu008 for your contribution to this project, I really appreciate it! 🙏 🙏

[2022-03-16 08:25] #835 closed

[2022-03-16 08:51] leleliu008 commented on #835
It's my pleasure to contribute to such a great project. Also thank you very much for your patience in reviewing such a big change.

[2022-03-17 12:27] rajnishdahiya commented on #731
A small but related issue. Lot of times I see .zst as file extension rather than .zstd. I can create a PR if you like, but it's literally one line totally innocent change in light_zstd_compression.c if you just want to push it in master directly.
[code]

[2022-03-17 16:58] #737 closed

[2022-03-17 20:43] leoparente opened #843 "TCPReassembly Connection List keeps growing if FIN/RST packets don't arrive."
Investigating the issue https://github.com/ns1labs/pktvisor/issues/226 I noticed that there is no timeout for TCP reassembly connections. Connections still open if no FIN/RST packets arrives on BOTH sides.

I have some questions also.

1. Should we handle timeout on user side? I mean, add a logic to check a period of time for open connection when was the last time that a packet arrived, then close

[2022-03-18 06:27] seladb commented on #731
Thank you @rajnishdahiya for bringing this up! Actually the change should happen in 2 places:
- In [`light_zstd_compression.c`](https://github.com/seladb/PcapPlusPlus/blob/050927053567401fb9a7da277d23b8ef162c0bf3/3rdParty/LightPcapNg/LightPcapNg/src/light_zstd_compression.c#L113) as you mentioned
- In [`PcapFileDevice.cpp`](https://github.com/seladb/PcapPlusPlus/blob/ee7658d29d318bf075f4ac9d3cc2cd

[2022-03-18 06:34] seladb commented on #843
Hi @leoparente thanks for reaching out!

Did you look at [`TcpReassemblyConfiguration`](https://github.com/seladb/PcapPlusPlus/blob/ee7658d29d318bf075f4ac9d3cc2cdc58edd91e8/Packet%2B%2B/header/TcpReassembly.h#L180)? It contains a few config params you can pass to TCP reassembly to clean up the stored data. Will any of this work for your use case?

[2022-03-18 10:07] rajnishdahiya commented on #731
okay, I will create a PR in couple of weeks.

[2022-03-18 11:15] niclar opened #844 "master secret logging"
I trying to figure out how to replay (& capture) a secure web socket feed in my application, for low-level network debugging. I'm in full control of the client/application, but in no control of the server.

Wireshark seem to be able to log the master secret and replay a modified/re-encrypted pcap from what I understand.
(https://www.ibm.com/support/pages/decrypt-datapower-tlsssl-traffic-using-mast

[2022-03-18 13:47] leoparente commented on #843
Hello @seladb. Thank you for the reply.

Yes, we have been using that with this setup: `{true, 5, 500, 50}`
We tried to increase `maxNumToClean` to a big number (100000) and set `closedConnectionDelay` to 1 second. But we got the same result.

[2022-03-19 06:53] Thell opened #845 "False negative results in tcpreassembly testing."
Hi! I didn't find this reported already so I thought I'd report it. First, I was doing some setup for custom tcpreassembly handling and before making any changes I decided to run the tests to ensure I didn't mess things up... I got failures on tcpreassembly. Knowing that everything was default and even though there are a ton of warnings I had no errors on any of the builds so I grabbed the prebuil

[2022-03-19 23:13] seladb commented on #844
Unfortunately PcapPlusPlus does not support TLS decryption. This will require integration with OpenSSL which currently doesn't exist

[2022-03-20 05:19] mikeybro commented on #844
Check this out https://github.com/tls-attacker/TLS-Attacker

[2022-03-21 00:53] seladb commented on #845
Hmm I can't think of a reason why this test would fail, it runs in the CI all the time including in Windows and VS 2019, here is an example: https://github.com/seladb/PcapPlusPlus/runs/5614062394?check_suite_focus=true#step:15:60.

Can you please run a diff on these files and paste the result?

[2022-03-21 03:23] Thell commented on #845
I couldn't think of a reason either since the CI environment matched everything except the python version but then it hit me... what could make file compares on windows say things are the same when they aren't...

drumroll please... line endings... and sure enough a `diff a b | cat -e -` shows a difference (not for the whole file but for parts of it)

Someday (please!), we will see standardized li

[2022-03-21 06:11] seladb commented on #845
That's very interesting, thank you for checking!
I'm still curious how the Windows CI passes... What's different between the Windows VM running in the CI and your Windows machine? 🤔

[2022-03-21 10:10] niclar commented on #844
FYI I got it to work with openssl and wireshark

[2022-03-21 15:10] seladb commented on #844
Nice!! Just curious: are you using it inside of PcapPlusPlus (by changing the code) or as a separate tool?

[2022-03-21 17:39] Thell commented on #845
appveyor vm default => `git config --global core.autocrlf input`
This is neither the git default (`false`) nor git on windows default (`true`). Again, `.gitattributes` would have stopped this from happening.

[2022-03-22 06:51] seladb commented on #845
oh I see. We actually have a pre-commit rule that is not enabled yet and should take care of that: https://github.com/seladb/PcapPlusPlus/blob/ebd6a77ffbfb6b76257008ee14b55ddf30749fb7/.pre-commit-config.yaml#L10

But maybe `.gitattributes` can also be a good idea...

[2022-03-23 06:51] seladb commented on #844
ok got it, thanks!

Should we close this issue?

[2022-03-23 07:10] seladb commented on #843
Hi @leoparente I'm sorry for the late response...
I look in the code and you're correct, open connections are not closed automatically. They're closed if a FIN/RST packet is seen. The reason is performance - going over all the connections will impact performance. A way to solve it would be to keep an LRU list in addition to the flow table, and go over it to detect stale connections.
As you mention

[2022-03-23 07:16] seladb commented on #845
@Thell should we close this issue or is there a reason to keep it open?
The pre-commit rule is a known issue and we'll take care of it soon.

[2022-03-23 13:12] niclar commented on #844
Would be nice to have this feature(s) in pcapplusplus. -Maybe keep the ticket as a feature request, open for sponsoring ?

[2022-03-23 22:01] Thell commented on #845
Yeah, closing is fine. The pre-commit rule isn't the issue here, but rather the mismatch of the users (my) global config on windows not matching what the CI uses. Its the check out, not the check in, that is what would be resolved by having a `.gitattributes` in the repo.

[2022-03-23 22:01] #845 closed

[2022-03-24 05:33] seladb commented on #830
Closing this issue due to lack of responsivenss. Please reopen if relevant

[2022-03-24 05:33] #830 closed

[2022-03-24 05:35] seladb commented on #844
Sure, we can keep it open for some time. If we see more demand for this feature we will consider implementing it

[2022-03-24 05:36] seladb commented on #779
@angelyouyou any progress on this?

[2022-03-24 09:11] seladb commented on #803
Done in https://github.com/seladb/PcapPlusPlus/pull/847

[2022-03-24 09:11] #803 closed

[2022-03-24 17:13] leoparente commented on #843
Hello @seladb .
`endTime` is updated every packet. however it seems that it is not updated to `ConnectionInfoList`.
If i'm right, the `ConnectionInfoList` is only updated when a new connection arrives ([TcpReassembly:L131](https://github.com/seladb/PcapPlusPlus/blob/d8d702acc99bf8bbf1531f00a3162c6b11a3cd2c/Packet%2B%2B/src/TcpReassembly.cpp#L131)) and not when every packet arrives.

[2022-03-25 01:24] AlienX2001 opened #849 "app says RSS hash function not supported even though getrsshashfunction method gives that it is present"
Hey, So I was working with PcapPlusPlys v21.05

And whats happening is, i got an error that rss hash function 0x41 was not supported, I then read about the documentation on the classes and all of PCPP and then basically edited the dpdkl2fwd sample application to also print out the getrsshashfunction method which would give me the rss hash function supported by my NIC, which is intel XL710
![image]

[2022-03-25 06:53] seladb commented on #843
You're right @leoparente ! I think it's not a huge change. Would you consider implementing it and open a PR?

[2022-03-25 07:42] seladb commented on #849
PcapPlusPlus uses DPDK to determine whether RSS functions are supported:

Here is where this check happens: https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/DpdkDevice.cpp#L1314-L1319

And here is the conversion between PcapPlusPlus RSS hash macros to DPDK hash macros: https://github.com/seladb/PcapPlusPlus/blob/0994212b0fe59f60b0d07c06289cfa172c5237bb/Pcap%2B%2B/src/DpdkDevice.cp

[2022-03-25 09:39] AlienX2001 commented on #849
![image](https://user-images.githubusercontent.com/64488123/160093961-046b2e7e-f6d8-4243-b31a-c02dfd63a73f.png)
in here the `rte_eth_dev_info_get` takes a m_Id parameter doing which resulted in this
![image](https://user-images.githubusercontent.com/64488123/160094572-4176f284-9c38-4eab-a100-61a935a0533b.png)
meaning this m_Id is a private variable so cant view it directly, and I dont seem to find

[2022-03-26 17:04] siilky opened #851 "tcpReassembly fails to recover out-of-order frame"
using 21.05 release (I guess there were no significant changes for reassembly since that), tcpReassembly.exe from samples.
Last correct data arrives at frame 87 (of length 165) (starting from 0x2E16 at the stream)
After that tcpReassembly gives [42 bytes missing] however next data should come from frame 121 (of len 42) as it does for wireshark follow TCP stream at least.
Next frames seems to be ok

[2022-03-27 18:26] AlienX2001 commented on #849
We recompiled pcpp with only ipv6 this time
![image](https://user-images.githubusercontent.com/64488123/160295246-7d762833-1a87-424b-bc1a-fa05e4645cae.png)

and this is what we are getting, now we have no clue why ipv6 is not working

[2022-03-28 07:36] seladb commented on #849
hi @AlienX2001 !
I printed all the supported RSS functions based on the value you got from DPDK (`0x7ef8`) and I don't see `RSS_IPV4` or `RSS_IPV6` in this list:

[code]

Are you sure you NIC supports one of them?

[2022-03-28 08:48] AlienX2001 commented on #849
Hey, thanks for the prompt response
1st, since the DPDK supported hash function obtained here is 7ef8 and I also tried to get the hash using testpmd and got 7ef8, following this SO link https://stackoverflow.com/questions/42342723/how-to-set-up-rss-hash-fuction-in-xl710-to-receive-ipv4-flow-type/42344025 and according to this my NIC may not support `ETH_RSS_IPV4`  RSS function, so to circumvent it

[2022-03-29 05:22] seladb commented on #849
Let me walk you through the code, maybe it'll clear a few things out:
- When you call [`getSupportedRssHashFunctions()`](https://github.com/seladb/PcapPlusPlus/blob/0994212b0fe59f60b0d07c06289cfa172c5237bb/Pcap%2B%2B/src/DpdkDevice.cpp#L1322) it first fetches the supported RSS functions from DPDK using [`rte_eth_dev_info_get()`](https://github.com/seladb/PcapPlusPlus/blob/0994212b0fe59f60b0d07c062

[2022-03-29 07:16] seladb commented on #851
Hi @siilky !
From looking at the sample attached I think the reason is because the next frame (88) contains data from the other side of the connection. There is an assumption [documented here](https://github.com/seladb/PcapPlusPlus/blob/master/Packet%2B%2B/src/TcpReassembly.cpp#L242-L251) that once we see data from the other side, we can treat the data from the current side as lost, because data f

[2022-03-29 08:54] AlienX2001 commented on #849
Ok, I see,
So now what we attempted is we hardcoded the RSS function in pcapplusplus convention thereby hardcoding 0x1fbd
![image](https://user-images.githubusercontent.com/64488123/160571984-c5e2f774-36b3-40ad-8f01-02642f4ebe40.png)

and now it says unsupported 0x1fbd
![image](https://user-images.githubusercontent.com/64488123/160572418-3ff1f9d7-55d7-400b-8e46-742d62db862a.png)

I have passed 0x1

[2022-03-29 09:44] AlienX2001 commented on #849
Sure, its basically your dpdkl2fwd code, only that i commented most of them code, and simply printed out the rss hashes
[code]

[2022-03-29 14:09] AlienX2001 commented on #849
To follow up this, we tried to debug further and put some printf's in the `DpdkDevice::isDeviceSupportRssHashFunction` function, since we figured out that this function was giving false instead of true.
like this
[code]

and now it's giving the following output
![image](https://user-images.githubusercontent.com/64488123/160630392-99da2c30-b79d-427d-babd-7ac8efc124a5.png)

[2022-03-29 14:23] leoparente commented on #843
@seladb thanks for landing my PR! I would like to check your opinion about the code on our side (pktvisor) in this PR:
[pktvisor tcp timeout #244](https://github.com/ns1labs/pktvisor/pull/244/files#diff-4916a5616cbba75fbd9d5b976273f3cf7534622d5359879c538a793f4af54482)

The idea is to not do checking for staled connections every new arrived packet to not slow things down. I also don't think that I

[2022-03-29 14:23] #843 closed

[2022-03-30 06:01] seladb commented on #849
Maybe I found the bug! I think it was fixed in this commit: https://github.com/seladb/PcapPlusPlus/commit/5fd8db1dae9fd8395395e82a1d19017d60a0e632
I realized that the value you see is `1fbd` whether the value I see is `1fbe` and then I went through the code and saw this fix. Unfortunately there is not yet a release with this fix (it was just committed a few weeks back), but can you try again with

[2022-03-30 09:07] AlienX2001 commented on #849
Thanks for your support.
The changes made in this commit worked for us, 1 more change we had to make was to change line number 281 in Pcap++/header/DpdkDevice.h from `uint64_t rssHashFunction = RSS_IPV4 | RSS_IPV6,` to `uint64_t rssHashFunction = RSS_NONFRAG_IPV4_UDP | RSS_NONFRAG_IPV4_TCP | RSS_FRAG_IPV4 | RSS_NONFRAG_IPV4_OTHER | RSS_NONFRAG_IPV4_SCTP | RSS_FRAG_IPV6 |  RSS_NONFRAG_IPV6_OTHER |

[2022-03-30 09:15] AlienX2001 commented on #849
And hey, these changes in the flag are only for net_i40e PMD, I cant say about other NIC's since I have only worked with xl710

[2022-03-30 11:55] siilky commented on #851
Thank you for your answer,
I might understand the reason behind releasing extra fragments, but if my understanding is correct, there is another OO fragments management mechanism as the pending OO fragment limit.
Do you think keeping some reasonable count for OO fragments by default (instead of unlimited) can cover all cases of keeping OO fragments from uncontrolled growth and probably correct hand

[2022-03-30 16:59] vivin opened #854 "Heap buffer overflow (read) in DnsResource::getDataLength() at DnsResource.cpp:277:24"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers this vulnerability.

[id:000030,sig:06,src:000033+001376,op:splice,rep:32.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8382546/id.000030.sig.06.src.000033%2B001376.op.splice.rep.32.pcap.zip)

[2022-03-30 17:05] vivin opened #855 "Heap buffer overflow (read) in HttpResponseFirstLine::validateStatusCode(char*, unsigned long, pcpp::HttpResponseLayer::HttpResponseStatusCode) at HttpLayer.cpp:874:6"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers this vulnerability.
[id:000041,sig:06,src:000681+000767,op:splice,rep:4.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8382609/id.000041.sig.06.src.000681%2B000767.op.splice.rep.4.pcap.zip)

[2022-03-30 17:08] vivin opened #856 "Heap buffer overflow (read) in IPv6Layer::parseExtensions() at IPv6Layer.cpp:82:37"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers the vulnerability.
[id:000030,sig:06,src:000555,op:havoc,rep:4.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8382644/id.000030.sig.06.src.000555.op.havoc.rep.4.pcap.zip)

[2022-03-30 21:26] vivin opened #857 "Heap buffer overflow (read) in pcpp::IPv6Layer::parseExtensions() at IPv6Layer.cpp:82:37"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers the vulnerability.
[id:000044,sig:06,src:000533+000556,op:splice,rep:2.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8384174/id.000044.sig.06.src.000533%2B000556.op.splice.rep.2.pcap.zip)

[2022-03-30 21:32] #857 closed

[2022-03-30 21:47] vivin opened #858 "Stack buffer overflow (write) in IDnsResource::decodeName(char const*, char*, int) at DnsResource.cpp:142:15"
There is a buffer overflow at the specified location:

[code]

This looks similar to [issue #424](https://github.com/seladb/PcapPlusPlus/issues/424), but doesn't seem to be exactly the same. The vulnerable statement is different. I have attached the input that triggers the vulnerability.
[id:000009,sig:06,src:000420+000982,op:splice,rep:32.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/838

[2022-03-31 05:29] seladb commented on #849
`RSS_IPV4 | RSS_IPV6` is just the default value that works for most NICs, but you can create your own instance of `DpdkDeviceConfiguration`, initialize it with the value you need and then give it to `DpdkDevice::openMultiQueues()`

[2022-03-31 05:29] seladb commented on #849
Please let me know if we can close this issue

[2022-03-31 05:39] seladb commented on #851
It's not only about releasing the extra fragments, but it's also about deciding when a message ends. Imagine a simple HTTP stream that has requests and responses: if one of the requests has missing data and we wait until we see the missing bytes we might mix requests together, for example:
[code]

If we wait until we see (4) we'll treat requests (1) and (3) as one message instead of two.

Also, if

[2022-03-31 05:41] seladb commented on #854
Thanks @vivin for reporting this issue! Would you consider opening PRs with fixes to this and the other 3 issues you found?

[2022-03-31 16:06] vivin opened #859 "Heap buffer overflow (read) in GtpV1Layer::GtpExtension::getTotalLength() at GtpLayer.cpp:68:24"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers the vulnerability.
[gtplayer.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8391190/gtplayer.pcap.zip)

[2022-03-31 16:10] vivin opened #860 "Heap buffer overflow (read) in IgmpLayer::getIGMPVerFromData(unsigned char*, unsigned long, bool&) at IgmpLayer.cpp:81:7"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers the vulnerability.
[igmplayer.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8391221/igmplayer.pcap.zip)

[2022-03-31 16:14] vivin opened #861 "Heap buffer overflow (read) in IPv4Layer::initLayerInPacket(unsigned char*, unsigned long, pcpp::Layer*, pcpp::Packet*, bool) at IPv4Layer.cpp:187:21"
There is a buffer overflow at the specified location:
[code]

I have attached the file that triggers the vulnerability.
[ipv4layer.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8391242/ipv4layer.pcap.zip)

[2022-03-31 16:19] vivin opened #862 "Heap buffer overflow (read) in IPv6Extension::getExtensionLen() at IPv6Extensions.h:51:73"
There is a buffer overflow at the specified location:
[code]

I have attached the input that triggers the vulnerability.
[ipv6extensions.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8391284/ipv6extensions.pcap.zip)

[2022-03-31 16:22] vivin opened #863 "Heap buffer overflow (read) in RadiusLayer::isDataValid(unsigned char const*, unsigned long) at RadiusLayer.cpp:246:19"
There is a buffer overflow at the specified location:

[code]

I have attached the input that triggers the vulnerability.
[radiuslayer.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/8391310/radiuslayer.pcap.zip)

[2022-04-01 06:08] seladb commented on #855
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:06] AlienX2001 commented on #849
Yes, sure, thanks for the help, we have resolved any doubts for pcapplusplus

[2022-04-02 07:06] #849 closed

[2022-04-02 07:22] seladb commented on #856
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:22] seladb commented on #858
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:22] seladb commented on #860
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:23] seladb commented on #861
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:23] seladb commented on #862
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 07:23] seladb commented on #863
Hi @vivin !

In this issue and the other issues you opened you didn't specify the code you're running so I don't know how to reproduce them. Please provide the code, otherwise I'm not sure what to do with it.

[2022-04-02 08:33] vivin commented on #854
@seladb I can try -- but my C++ skills are so-so, my knowledge of network packets nonexistent, and I am also busy with some research (I discovered these bugs as part of that) :D.

[2022-04-02 08:34] vivin commented on #855
@seladb I discovered these through a research project i am working on, but some of these bugs can be discovered by fuzzing with AFL++ (with LAFIntel) and ASAN enabled.

[2022-04-02 08:36] vivin commented on #856
Oh, the driver program? Sorry about that. I can provide it. It is pretty simple:

[code]

[2022-04-02 08:37] vivin commented on #858
Sorry about that. I have provided it in #856.

[2022-04-02 08:37] vivin commented on #860
Sorry about that. I have provided it in #856.

[2022-04-02 08:37] vivin commented on #861
Sorry about that. I have provided it in #856.

[2022-04-02 08:37] vivin commented on #862
Sorry about that. I have provided it in #856.

[2022-04-02 08:37] vivin commented on #863
Sorry about that. I have provided it in #856.

[2022-04-03 13:02] alexdrobinsky opened #864 "Crash due malformed packet data"
Hi ,

I found following issue - if for example link layer type set to raw but packet data isn't actual IP layer but rather some junk,
Packet.cpp crashes in following place:
function: setRawPacket, those lines -
	if (curLayer != NULL &&  curLayer->getOsiModelLayer() > parseUntilLayer)
	{
		m_LastLayer = curLayer->getPrevLayer();
		delete curLayer;
		**m_LastLayer->m_NextLayer = NULL;**
	}
[debug.gz

[2022-04-04 06:29] seladb commented on #864
@alexdrobinsky thanks for reporting this issue!
I think the solution is quite simple - we need to add a null check before setting `m_LastLayer->m_NextLayer = NULL`, right?
Would you consider opening a PR with the fix? Also - it would be nice to add a test for it (maybe [here](https://github.com/seladb/PcapPlusPlus/blob/master/Tests/Packet%2B%2BTest/Tests/PacketTests.cpp)). Unfortunately I cannot o

[2022-04-04 06:56] alexdrobinsky commented on #864
Yes, attached pcap should reproduce scenario. I will test is simple check is sufficient.

[2022-04-04 07:14] alexdrobinsky commented on #864
Another try to upload test pcap :) This file isn't a real gz archive -
please rename the extension to pcap.

пн, 4 апр. 2022 г. в 09:29, seladb ***@***.***>:

[2022-04-04 07:42] alexdrobinsky commented on #864
The fix looks like following :
**m_LastLayer->m_NextLayer = NULL;** should be replaced with:
        if (m_LastLayer != nullptr) {
            m_LastLayer->m_NextLayer = NULL;
        } else {
            // This means we failed to parse first layer and already deleted it, hence we must set it to null,
            m_FirstLayer = nullptr;
        }

I checked that parser ignored malformed packets a

[2022-04-06 06:52] seladb commented on #864
Thanks for providing the solution! Feel free to open a PR and we can discuss there more.

Few comments:
- I'm not sure we should set `m_FirstLayer = NULL` 🤔 . If the first layer can't be parsed we just create a `PayloadLayer` as you can see [here](https://github.com/seladb/PcapPlusPlus/blob/a817631a3ea4742b24ef1e6941fee26642880071/Packet%2B%2B/src/Packet.cpp#L706), so there's always a fallback
- P

[2022-04-06 06:56] seladb commented on #854
@vivin feel free to give it a shot! Given that you managed to find these issues using a fuzzer I'm sure you'll be able to fix them 😃

[2022-04-15 07:06] alexdrobinsky commented on #864
m_FirstLayer is actually curLayer, so when we delete it - m_FirstLayer
points to deallocated memory, before I set it to null, the code was
crashing in other place, so I added it out of necessity :)
Sorry for delayed response !

ср, 6 апр. 2022 г. в 09:52, seladb ***@***.***>:

[2022-04-21 08:45] seladb commented on #851
@siilky let me know if you have any questions or comments and if we can close the issue

[2022-04-22 06:16] seladb commented on #864
@alexdrobinsky I can't reproduce the issue with the pcap file you attached. I tried to run [`PcapPrinter`](https://github.com/seladb/PcapPlusPlus/tree/master/Examples/PcapPrinter) with this pcap file and it doesn't crash:

[code]

[2022-04-22 10:02] siilky commented on #851
I've noticed recent commit e0aa9b6de5f3f8fa7c5787b7d0e0e874ae40f37a adding option to disable ooo fragments purge, and once it is here it pretty solves my issue.
(didn't see that PR was there for like a year, happy it is in, finally =))

[2022-04-22 21:10] seladb commented on #851
Awesome thanks! I guess we can close the issue for now, please reopen if needed

[2022-04-22 21:11] #851 closed

[2022-04-23 21:47] AlienX2001 opened #869 "Cant run the DpdkExample-FilterTraffic"
Hey, we arent able to run the DpdkExample-Filter for some reason.
We are able to run other dpdk applications like the DpdkBridge app and other dpdk example apps, but not this Example app.
We added a few debug print statements and the output is as follows
![image](https://user-images.githubusercontent.com/64488123/164946935-90c8d8d1-a8ed-4313-a1ec-1c39f7bc42f1.png)
 We tried reducing the mbuf by re

[2022-04-24 12:20] alexdrobinsky commented on #864
Hi , just to be sure, I upgraded my local version of pcapPlusPlus to the
latest and checked
behaviour without my patch - my application crashes in setRawPacket,
behaviour after patch - application works as intended.
However, it could be possible that I sent the wrong pcap , so I attached a
fresh version (gzipped ).
Hopefully, gitlab will not remove it as usual.

пт, 22 апр. 2022 г. в 09:16, seladb

[2022-04-25 07:00] seladb commented on #864
@alexdrobinsky I cannot see the file, maybe you can log in to your GitHub account and upload the file to the issue directly?

Also - can you paste the code that reproduces this issue? Maybe PcapPrinter cannot reproduce it?

[2022-04-25 07:21] seladb commented on #869
It looks like it cannot allocate mbufs: https://github.com/DPDK/dpdk/blob/main/drivers/net/i40e/i40e_rxtx.c#L2847-L2850
Maybe you ran out of memory or didn't configure DPDK correctly?

[2022-04-25 08:12] AlienX2001 commented on #869
We do have a lot of hugepages left
![image](https://user-images.githubusercontent.com/64488123/165047438-dbf6badf-0b55-4b6b-8b07-f3f6b1bccf22.png)

And the dpdkbridge example app is working fine too, other dpdk based example apps from the dpdk repository are also working

[2022-04-25 08:20] seladb commented on #869
It won't be easy for me to figure out the reason, you probably need to debug it yourself and find out why mbufs are not released...

[2022-04-25 08:23] AlienX2001 commented on #869
https://github.com/seladb/PcapPlusPlus/blob/b6c56a3a087cb16215703ba99bc945669532ec11/Pcap%2B%2B/src/DpdkDevice.cpp#L368

I think this is where it is failing, but why is it working on other programs then

[2022-04-25 10:15] gleb-kun opened #872 "hex stream to pcap package"
I have hex stream like that:

`6C F0 49 B2 DE 6E 30 46 9A 23 FB FA 08 00 45 00 01 89 00 00 40 00 40 11 24 DA 0A 00 00 8A 0A 00 00 01 00 35 E3 0D 01 75 19 2A 2D 6D 81 80 00 01 00 11 00 00 00 00 03 77 77 77 10 67 6F 6F 67 6C 65 2D 61 6E 61 6C 79 74 69 63 73 03 63 6F 6D 00 00 01 00 01 C0 0C 00 05 00 01 00 00 DE B0 00 20 14 77 77 77 2D 67 6F 6F 67 6C 65 2D 61 6E 61 6C 79 74 69 63 73 01 6C 06 67 6F 6F

[2022-04-25 11:51] alexdrobinsky commented on #864
[debug.pcap.gz](https://github.com/seladb/PcapPlusPlus/files/8554178/debug.pcap.gz)

...
        pcpp::LinkLayerType layerType;
        if (!firstLayerTypeValid(commonData->firstlayer(), layerType)) {
            return;
        }

        timeval timestamp{};
        timestamp.tv_sec = commonData->timestamp().seconds();
        timestamp.tv_usec = commonData->timestamp().nanoseconds() / 1000;

[2022-04-26 07:06] seladb commented on #872
Hi @gleb-kun !

Yes, you can do something like this in order to convert this string to a packet:

[code]

[2022-04-26 07:50] seladb commented on #869
It looks like DPDK cannot initialize the device because there are not enough mbufs. The question is why there are not enough mbufs...

[2022-04-26 08:00] seladb commented on #864
@alexdrobinsky the code you provided misses some parts and can't run on its own so I modified it a bit. I took the first packet in the pcap file you provided:

[code]

This code doesn't crash and prints the following output:

[code]

I'm still not sure how to reproduce this issue 😕

[2022-04-26 15:44] seladb commented on #864
Sure @alexdrobinsky we can close this issue now. Please feel free to reopen it if you find code that can reproduce it outside of your system

[2022-04-26 15:45] #864 closed

[2022-04-27 06:55] gleb-kun commented on #872
Thanks @seladb !

[2022-04-28 06:55] seladb opened #873 "The logger printer is not thread safe"
Running DNS parsing in multi-thread environment results in the following error:

[code]

This is because the logger printer is not thread-safe so printing errors might cause a crash

[2022-04-28 19:21] gleb-kun opened #874 "Inclusion pcapplusplus in project via CMake."
Hello! I'm sorry if my question is stupid, but I can't figure it out.

I installed pcapplusplus on Ubuntu (Downloaded package from here: https://github.com/seladb/PcapPlusPlus/releases/tag/v21.11). The example that was in the archive compiles and works, everything is fine with it! But when I try to include the library in my project using CMake nothing works.

I write a line in CMakeLists.txt file:

[2022-04-29 08:21] gleb-kun commented on #874
For example, in the general case, I have similar errors:

[code]

[2022-04-29 12:09] gleb-kun commented on #874
I did it. It turned out that I made a very stupid mistake. A little later I will make a Hello World using CMake and post a link here so that newbies like me do not get into awkward situations. 😅

[2022-04-29 14:37] gleb-kun commented on #874
https://github.com/gleb-kun/pcappp_hw

[2022-04-29 14:37] #874 closed

[2022-04-29 21:11] seladb commented on #874
@gleb-kun I'm sorry for my slow response, I'm glad to see you figured it out yourself!

[2022-05-01 14:20] AlienX2001 commented on #869
No idea, other example apps just start fine, we even increased the hugepages to 16GB, but still the same error

[2022-05-03 05:46] seladb commented on #873
The bug was fixed in #877

[2022-05-03 05:46] #873 closed

[2022-05-03 06:01] seladb commented on #869
I tried to check why [`rte_mbuf_raw_alloc()`](https://github.com/DPDK/dpdk/blob/main/lib/mbuf/rte_mbuf.h#L563-L564) might return `NULL` and it only happens if `rte_mempool_get()` failed, which means a mbuf cannot be allocated from the mempool. Maybe something about allocating the mempool?
The best way to debug is to look into the DPDK code and understand what is wrong - either by using a debugger

[2022-05-03 12:59] Beatle95 opened #879 "pcapng damaged files"
Hello, I have recently discovered, that LightPcapNg (that used as 3d party dependency for PcapPlusPlus) does not support truncated or damaged files. I was implemented that support by using more clever system of return statuses. I can improve it and make a pull request. Does this feature required for PcapPlusPlus?

[2022-05-03 15:37] seladb commented on #879
Yea sure @Beatle95 , that would be great!
What do you mean by damaged files and which kind of support are you planning to add?

[2022-05-05 15:10] omaffeis opened #881 "Http Parsing fails"
Hello,

I am a newbie with pcapplusplus.
I was trying to parse the HTTP packet in the attached pcap using Examples/HttpAnalyzer on port 5985.
While it is decoded as HTTP in Wireshark, it is not identified as a Post request using HttpAnalyzer.
When I display the layers of the packet, I get :
[code]
The layer HTTP is not parsed as HTTP but as "Payload Layer"
What do I get wrong ?
![httppost](https:/

[2022-05-06 01:38] seladb commented on #881
Hi @omaffeis , thanks for reaching out!
I can't see the attached pcap file, but from the screenshot I can understand what's the problem: currently, [only 80 and 8080 ports are recognized as HTTP packets](https://github.com/seladb/PcapPlusPlus/blob/0aea8feb9dcccf0eed7c23db2e6a9361d2192fe2/Packet%2B%2B/header/HttpLayer.h#L81). PcapPlusPlus doesn't support custom ports such as 5985

[2022-05-06 09:17] omaffeis commented on #881
Thank you very much for your answer.
I left this restriction for testing.
First tests on HTTP parsing are working and I will proceed.
If you have any expected issues doing so, do not hesitate to give details.

[2022-05-06 09:17] #881 closed

[2022-05-11 19:56] seladb commented on #879
Sure, sounds good! Please submit a PR when you have one

[2022-05-12 13:07] laskdjlaskdj12 opened #882 "intel XL710 i40e driver got PMD 'net_i40e' doesn't support the request RSS hash functions 0x41"
Just as title, I got issue of intel XL710 NIC

Envirorment
dpdk 20.11 LTS
PcapPlusPlus 21.11
Ubuntu 20.04

setup command
./setup_dpdk.py setup -g 2048 -i enp11s0f0

execute command
[code]

envirorment
[code]

How can i fix it?

[2022-05-13 02:38] laskdjlaskdj12 commented on #882
And I've tried solution of previous PcapPlusPlus issue with XL710 i40e.

but it didn't work for me

[2022-05-13 09:21] seladb commented on #882
Hi @laskdjlaskdj12 ! Can you check if this is related to this issue: https://github.com/seladb/PcapPlusPlus/issues/849#issuecomment-1082653871
I'd suggest you try the latest version (v22.05) and see if the issue still persists

[2022-05-13 09:30] laskdjlaskdj12 commented on #882
Thank you @seladb. I'll try it right away

[2022-05-13 11:12] laskdjlaskdj12 commented on #882
@seladb no it didn't work.

I install [pcapplusplus-22.05-source-linux.tar.gz](https://github.com/seladb/PcapPlusPlus/releases/download/v22.05/pcapplusplus-22.05-source-linux.tar.gz)
this version and get same error as image below
<img width="974" alt="image" src="https://user-images.githubusercontent.com/16471540/168271742-e9fc8aef-7089-43dd-a52e-d35cfce884d5.png">

[2022-05-13 11:30] laskdjlaskdj12 commented on #882
my NIC is xl710 intel 40G

[2022-05-13 13:13] laskdjlaskdj12 commented on #882
I've clean install ubuntu 20.04 and dpdk 20.11.5
and set GRUB_CMDLINE_LINUX="iommu=pt"
after that i've got this

CPU type is threadRipper
<img width="1119" alt="image" src="https://user-images.githubusercontent.com/16471540/168290819-2f17e8b0-d2d9-4945-86b1-c0d617010260.png">

[2022-05-13 13:41] laskdjlaskdj12 commented on #882
And if i disable RSS in DpdkDeviceConfiguration, I've got this error.

same as issue from reported dpdk rss issue
<img width="877" alt="image" src="https://user-images.githubusercontent.com/16471540/168296392-1272322a-ed34-4e88-b9af-99d67e58f44e.png">

[2022-05-14 14:00] lgbaldoni opened #883 "22.05 build fails on dpdk"
Using openSUSE Tumbleweed on x86_64, after the 22.05 update I'm seeing this error:

[code]

Using dpdk 21.11.1.

[2022-05-15 01:54] seladb commented on #883
Hi @lgbaldoni !
Yes, PcapPlusPlus doesn't yet support DPDK 21.11. It supports versions 20.11 and below, as mentioned in the [documentation](https://pcapplusplus.github.io/docs/dpdk#supported-dpdk-versions).
The DPDK team removed a few APIs in 21.11 that are used in PcapPlusPlus. I'll add support for it soon. In the meantime - can you use DPDK 20.11?

[2022-05-15 02:02] seladb commented on #882
This issue looks pretty similar to https://github.com/seladb/PcapPlusPlus/issues/869. I don't know why DPDK cannot allocate mbufs and unfortunately I don't have a `i40e` NIC to test on.
@laskdjlaskdj12 @AlienX2001 - I'll need your help to debug it, or access to your system to debug it myself.
I'd start with this: https://github.com/seladb/PcapPlusPlus/issues/869#issuecomment-1115764872
If you pref

[2022-05-15 12:33] AlienX2001 commented on #882
Hey @laskdjlaskdj12 in my fix, i recompiled PCAP++ with the flags as mentioned in https://github.com/seladb/PcapPlusPlus/issues/849#issuecomment-1082818880 after that i recompiled the example apps as well.

[2022-05-15 12:33] AlienX2001 commented on #882
https://stackoverflow.com/questions/42342723/how-to-set-up-rss-hash-fuction-in-xl710-to-receive-ipv4-flow-type/42344025 This is the reason for why the `RSS_IPV4 | RSS_IPV6` wont work

[2022-05-15 12:34] AlienX2001 commented on #882
And sorry, I had exams this month, now since they are over, I can be more available for the same

[2022-05-15 12:37] AlienX2001 commented on #882
But again, in my fix, its working for apps, but for some it says cant allocate mbufs

[2022-05-15 12:38] AlienX2001 commented on #882
I have a similar issue opened here #869

[2022-05-15 13:56] lgbaldoni commented on #883
Right, I should have checked that first. It wasn't mentioned in the changelog, so I made a bad assumption.

Not feasible. I suppose it's best to keep the old stable instead of disabling dpdk.

Thanks

[2022-05-15 16:13] laskdjlaskdj12 commented on #882
@AlienX2001 Then, could it be because the CPU is not intel? My CPU is AMD ThreadRipper, and I wonder what kind of environment the code you tested #849 at that time is in.

[2022-05-15 16:16] laskdjlaskdj12 commented on #882
@seladb I'll check it that you can access the system. i won't be longer to wait

[2022-05-15 16:30] AlienX2001 commented on #882
For #849 I had the following cpu
[code]
The gcc version is
[code]
and the dpdk version is 19.11.8

[2022-05-15 16:46] laskdjlaskdj12 commented on #882
Thank you. I will recompile and try same like #849. And if didn't work, I'll make access for you about checking. Wish you luck on your exam.

[2022-05-15 17:23] seladb commented on #883
Why isn't it possible to use an older version of DPDK? 🤔

[2022-05-16 04:40] lgbaldoni commented on #883
Either I create another package with the older version, have it accepted in the repository and maintain it or I build dpdk statically and link to it, which OBS/openSUSE maintainers don't like very much. Also I have very little time of late.

[2022-05-16 06:44] seladb commented on #883
So the PcapPlusPlus package you built always pulls the latest version of DPDK? Is it possible to modify it and pin a specific version of DPDK?
In general, it's not necessarily a good idea to pull the latest version because DPDK often introduces breaking changes in its releases. It's better to use a specific version and update it from time to time.
I'm sorry for all these questions, I have very lit

[2022-05-16 07:46] laskdjlaskdj12 commented on #882
@seladb @AlienX2001 First of all, I change DpdkDevice.h Header to

```RSS_NONFRAG_IPV4_UDP | RSS_NONFRAG_IPV4_TCP | RSS_FRAG_IPV4 | RSS_NONFRAG_IPV4_OTHER | RSS_NONFRAG_IPV4_SCTP | RSS_FRAG_IPV6 | RSS_NONFRAG_IPV6_OTHER | RSS_NONFRAG_IPV6_SCTP | RSS_NONFRAG_IPV6_UDP | RSS_NONFRAG_IPV6_TCP```

and recompile it again. but it didn't work properly.

so no i'm trying to download dpdk version to 19.11.8

[2022-05-16 08:11] AlienX2001 commented on #882
Yes, this is the error I am getting for dpdktrafficfilter.
Other apps are running fine

[2022-05-16 08:12] laskdjlaskdj12 commented on #882
oh.. then is there any chance to run properly in dpdkTrafficfilter?

[2022-05-16 08:23] laskdjlaskdj12 commented on #882
I just see issue #869 properly.
@seladb I'll send you ssh access key in Gmail. and will metion you when it sended.
It is all clean installed. So you can debug it properly.

[2022-05-16 09:35] lgbaldoni commented on #883
I pull in the version the distribution provides.
Like I said, I could create a separate legacy package, but then I'd have to maintain it. Also this package is not in Factory, so I can't really count on anyone else to fix it.

I know, a library update breaking API/ABI is an average Wednesday on openSUSE.

Oh, don't worry at all.

[2022-05-17 07:08] seladb commented on #883
I see what you mean: the DPDK version for openSUSE Tumbleweed is 21.11: https://software.opensuse.org/package/dpdk
Is it possible to update PcapPlusPlus for older openSUSE versions (where DPDK version is still 19.11)?

[2022-05-17 07:42] AlienX2001 commented on #882
Hey @seladb @laskdjlaskdj12 would be great if you could share the results on how you go about fixing the issue on @laskdjlaskdj12 's machine. I will try to recreate the fix on our server. And sorry I can't give access to the server at this moment since the server's not mine, it's my college's server.

[2022-05-17 07:47] laskdjlaskdj12 commented on #882
@AlienX2001 Okay I'll share the progress.

[2022-05-17 07:50] laskdjlaskdj12 commented on #882
@seladb Machine is still preparing, because of security work. Could you please wait a little bit?
it takes less then 5hours.

[2022-05-17 07:53] seladb commented on #882
Sure @laskdjlaskdj12 , I hope I'll have time to get to it once the machine is ready

[2022-05-17 07:54] laskdjlaskdj12 commented on #882
@seladb @AlienX2001 Okay, And if you guys don't mind, howabout creating slack channel?
It would be more faster follow up.

[2022-05-17 07:56] AlienX2001 commented on #882
Discord would be better, but slack works aswell

[2022-05-17 08:45] seladb commented on #882
There is already a slack workspace for PcapPlusPlus, here is an invite to it: https://join.slack.com/t/pcapplusplusworkspace/shared_invite/zt-199xbjskh-w2Nv3kSv0CEhEkFCH6hx7A

I created a channel called `#dpdk-ie40`, once you sign in you can add yourself to it: https://slack.com/app_redirect?channel=C03FR9Y7A6P

[2022-05-17 10:44] lgbaldoni commented on #883
Is it possible to update PcapPlusPlus for older openSUSE versions (where DPDK version is still 19.11)?

Alas no, because pcapplusplus is not an official distro package and dpdk lives in the same project (network)  and that's 21.11 LTS for every target.

I tried creating a dpdk-20 package, but it's a rather complex piece of software and I don't have the time to debug it, let alone maintain it.

[2022-05-17 15:33] seladb commented on #883
Got it 😔
By the way, does it mean the existing version of PcaPlusPlus will stop working as well?

[2022-05-18 13:14] cswindle opened #885 "Memory leak in version of LightPcapNg"
Currently with the current code there is a memory leak when making use of the LightPcapNg code due to changes which have been made to that code in PcapPlusPlus. Below is the very simplest code which is able to reproduce the issue:

[code]

If you compile and run this under a tool to verify memory leaks (for example valgrind) you will see that there is a memory leak.

The issue is caused by memory

[2022-05-19 14:34] seventrees opened #888 "PcapPlusPlus-22.05/Pcap++/src/DpdkDevice.cpp:353: undefined reference to `rte_pktmbuf_pool_create'"
Hi! When I build a open project with pcapplusplus and dpdk, it occurs err and I just don't know how to resolve it.
[code]
it seems there is something wrong with pcapplusplus and dpdk. But i did install dpdk and pcapplusplus as instructions.  They all compiled successfully.
dpdk19.11.12
[code]
PcapPlusPlus-22.05
[code]

[2022-05-20 07:14] seladb commented on #888
Maybe something is wrong with DPDK build?

If you look at `mk/PcapPlusPlus.mk` you should see something like this:
[code]

Can you check if you see DPDK header files in `/home/dpdk-19.11.12/build/include` and DPDK libs in `/home/dpdk-19.11.12/build/lib`?

[2022-05-20 07:15] seladb commented on #885
Thanks for providing the fix 🙏
Your PR was merged to `dev`

[2022-05-20 07:36] seventrees commented on #888
Hi!
My `PcapPlusPlus.mk` as follows:
[code]

And I've checked the DPDK. I did find DPDK header files in `/home/dpdk-stable-19.11.12/build/include` and DPDK libs in `/home/dpdk-stable-19.11.12/build/lib`.
And `/home/dpdk-stable-19.11.12/build/include` includes file `rte_mbuf.h` which contains the function `rte_pktmbuf_pool_create`.

Could this error be related to the version of the compiler? I comp

[2022-05-20 10:02] seladb commented on #888
Yes, it might be an error with the compiler. Also - is there any chance you have multiple DPDK versions installed on your machine?

[2022-05-20 10:05] seladb commented on #883
That's a bummer, how can we fix that for the existing pcapplusplus version?

By "this package" do you mean pcapplusplus or DPDK 19.11?

[2022-05-20 10:06] seventrees commented on #888
I have installed DPDK 19.02. But for compatibility with pcapplusplus, I remove it and install dpdk19.11.12.

[2022-05-20 11:23] lgbaldoni commented on #883
The only way is that someone creates a dpdk-legacy package and maintains it. Unfortunately, I can't.

Pcapplusplus. As I understand DPDK is always kept on LTS releases on openSUSE.

[2022-05-22 02:49] seladb commented on #883
I am the maintainer of PcapPlusPlus so I can theoretically do all of that, however I know nothing about openSUSE package maintenance. Where should I start and how much work is it?

Also - I think we can remove the dependency on DPDK and have PcapPlusPlus depend only on libpcap which interface doesn't usually introduce breaking changes. This will make the package management much easier. What do you

[2022-05-22 02:51] seladb commented on #888
Maybe you have both versions still installed? Can you try a clean install, maybe on a different machine or VM?

[2022-05-22 06:13] lgbaldoni commented on #883
Frankly, the main thing is keeping the patches fresh. If the package is submitted for inclusion into Factory, one also has to take care of breakages and bug reports.
By the way, have you considered a different build system like meson or CMake?

Oh well, that's already the case for every non x86 arch. Not sure about the performance hit, though.
22.05 is now up

[2022-05-22 14:28] seventrees commented on #888
Hi! I checked my version of dpdk. I think I only use dpdk19.11.12.  I have checked as follow.

[code]

[2022-05-22 14:31] seventrees commented on #888
And I have tried recompile pcapplusplus and dpdk with gcc8, but the err still occurs.

[2022-05-23 22:19] GilbertoTheMighty opened #890 "fcs"
Hello. How to append and enable [FCS](https://tools.ietf.org/id/draft-gharris-opsawg-pcap-00.html) to existing packet?
[PacketTrailerLayer](https://pcapplusplus.github.io/v1904/Documentation/a01186.html) looks like the thing, but it is not obvious how to use it. How can one compute checksum and append it to file header?

[2022-05-24 00:33] seladb commented on #888
I'm running out of ideas 🤔

It runs well in CI, in my local env and in others people's env.
Maybe you can give me access to your env so I can debug it?
We can chat privately in email or slack

[2022-05-24 01:52] seventrees commented on #888
Hi! I've mailed to pcapplusplus@gmail.com.

[2022-05-24 13:34] maruu commented on #779
Hi @seladb

we are planning on creating a PR with a limited version of ICMPv6 and NDP.

We used it to parse and craft NDP Neighbor solicitation and Advertisements.

We are currently preparing another protocol for upstreaming to PcapPlusPlus. (SOME/IP)
Afterwards we would continue with ICMPv6 / NDP.

Looking forward to the collaboration.

All the best,
maruu

[2022-05-25 06:04] #869 closed

[2022-05-25 06:14] #882 closed

[2022-05-25 06:14] seladb commented on #885
This PR was merged to `master`, thanks again for your contribution!

[2022-05-25 06:14] #885 closed

[2022-05-25 06:16] seladb commented on #779
@maruu sounds good, I really appreciate your contribution and support! 🙏

[2022-05-25 07:07] seladb commented on #890
Yep, I think `PacketTrailerLayer` is actually FCS. Can you elaborate on what is not clear in how to use it?

BTW, here is the updated API link (for the latest version of PcapPlusPlus 22.05): https://pcapplusplus.github.io/api-docs/v22.05/classpcpp_1_1_packet_trailer_layer.html

[2022-05-25 08:12] lgbaldoni commented on #883
Oh well, it's trivial. The coding part (your end) is orders of magnitude more complex.

Update done with dpdk disabled for every architecture. However end users still need to add a repository to access it.
If I had more time I'd submit it for inclusion with the distribution.

By the way, do you have a list of packages using this library? That might generate interest.

[2022-05-25 08:57] seladb commented on #883
that's great news! I think we can disable DPDK support for now. What do you mean by adding a repository to access it?

is it something I can do or only do I need to be part of the openSUSE community in order to submit?

No, I don't have such a list. In that sense C++ is a bit more tricky because there's no centralized package manager. However I know there are some open source projects that use it

[2022-05-25 09:24] lgbaldoni commented on #883
I mean [this](https://software.opensuse.org/download/package?package=pcapplusplus&project=network)
Also packages in projects are unsupported.

All you need is an OBS account, which I think you already have.
Thing is, should the need arise, as maintainer you will be on the receiving end of bugzilla tickets.

[2022-05-26 07:49] seladb commented on #883
Got it, thanks for all the info!
Since I'm not familiar with these processes in the openSUSE community - it'd be great if you can guide me and share these tickets and requests as they arrive. That way I can learn and eventually maintain this package myself. Let me know what you think

[2022-05-26 08:54] #888 closed

[2022-05-26 10:58] lgbaldoni commented on #883
Ok, I added you as co-maintainer. I will now try and submit the package to Factory and see what happens.

[2022-05-27 08:19] seladb commented on #883
Sure, thanks!

Should we close this issue now or keep it open?

[2022-05-27 11:13] lgbaldoni commented on #883
Sure, as it's not an actual bug.
BTW; you should have received a few OBS notifications by now.

[2022-05-27 11:13] #883 closed

[2022-05-28 07:46] seladb commented on #883
I logged into my OBS account and saw 1 notification that leads here: https://build.opensuse.org/request/show/979371?notification_id=32688706#comments-list

[2022-05-28 08:28] lgbaldoni commented on #883
Perhaps you have email notifications disabled or you don't check the mailbox used for registration?

[2022-05-28 10:51] seladb commented on #883
I turned on email for all notification types, let's see if that'll help...

[2022-05-28 14:58] GilbertoTheMighty commented on #890
According to [PCAP Capture File Format](https://tools.ietf.org/id/draft-gharris-opsawg-pcap-00.html) FCS with its length resides in file header, while TrailerLayer applies to packet and have no useful functions like `calculateChecksum`
Could you please provide me with example on how I can add fsc to 3 existing packets inside pcap file without fsc?

[2022-05-29 09:34] AlienX2001 opened #893 "DNS response NX domains are classified as DNS query because there are no answers"
Hey, from me again,
During my work with PcapPlusPlus I noticed that dns response NX domains were treated as DNS queries as seen in the screenshot
![image](https://user-images.githubusercontent.com/64488123/170861312-b85963f6-d6d0-4d3b-9bf6-8614f41953a1.png)

The code for the following pcapplusplus is as follows
[code]
The 2nd half of the screenshot is from tcpdump.

I think I might have identified

[2022-05-29 09:44] AlienX2001 commented on #893
Oh figured out a fix, you should classify the query or response using getDnsHeader()->queryOrResponse.
Its 0 for query and 1 for Response.

[2022-05-30 08:28] GREATwo opened #894 "Data storm"
On a host with two nics, eth1 receives data and forwards it to eth2, and eth2 receives data and forwards it to eth1. A data loop is generated. Data is sent in an infinite loop between eth1 and eth2。

[2022-05-30 19:20] AlienX2001 opened #896 "TCP packets only printing ack flags regardless of what flag maybe present"
Hey, its me again.
The screenshot for the issue
![image](https://user-images.githubusercontent.com/64488123/171049656-c3feb9a1-4f1e-48b2-83a5-a5d0f05cc845.png)

The left side is pcapplusplus and right side is tcpdump

The code is as follows:
[code]

[2022-05-30 19:40] AlienX2001 commented on #896
I tried filtering it with port instead of isPacketOf now i got more packets then what i was getting earlier. I set some counters and print statements and got that it doesnt give all the packets with isPacketOf, it only gives packets which have ssh layer on it.
Now I can see why would do that since there could be other services on port 22 as well. But in my case it isnt giving me packet as I am 100

[2022-05-30 19:44] #896 closed

[2022-05-31 05:39] #894 closed

[2022-05-31 06:34] seladb commented on #896
Hi @AlienX2001! I'm not sure what was the exact problem you faced, but it looks like you made it work :)

[2022-05-31 06:56] seladb commented on #893
@AlienX2001 this is a very good point, and I agree with the solution you propose. Would you consider opening a PR with the fix?
It's be great if you can also and a [test](https://github.com/seladb/PcapPlusPlus/blob/5dd6cec932e5dee2d040206c4b17c63994940ed8/Tests/Packet%2B%2BTest/Tests/DnsTests.cpp) with a small pcap file that reproduces this issue

[2022-05-31 07:13] seladb commented on #890
IIRC libpcap doesn't provide an interface to view or edit FCS in the packet header, so the heuristic done [here](https://github.com/seladb/PcapPlusPlus/blob/5dd6cec932e5dee2d040206c4b17c63994940ed8/Packet%2B%2B/src/Packet.cpp#L100-L118) is to check for extra data in the packet (which may come from FCS) and create a `PacketTrailerLayer` out of it.
As explained [here](https://pcapplusplus.github.io/

[2022-05-31 23:34] ArkAngeL43 opened #898 "issue with install (could not find any help online)"

[2022-06-01 05:02] ArkAngeL43 commented on #898
ISSUE SOLVED

[2022-06-01 05:02] #898 closed

[2022-06-01 06:19] lgbaldoni commented on #883
@seladb as you probably saw from the notifications, pcapplusplus is now an official openSUSE package, although only for Tumbleweed at the present.

Do you happen to have a list of other programs relying on it?

[2022-06-01 06:48] seladb commented on #883
WOW, this is great news!! 🌟 🎆

Actually, I didn't get any notification for that - I'm not sure what's wrong 😕

Unfortunately I don't maintain such a list, I do know a few open-source projects using it, but it's not a comprehensive list....

[2022-06-14 08:21] maruu commented on #779
@angelyouyou we have created https://github.com/seladb/PcapPlusPlus/pull/902 to add support for ICMPv6 and NDP. Let me know what you think

[2022-06-24 06:09] seladb commented on #890
@GilbertoTheMighty I'm closing the issue now, please reopen if needed

[2022-06-24 06:09] #890 closed

[2022-06-30 13:38] GilbertoTheMighty opened #906 "How to access file header info?"
Hello. I'm using pcpp::PcapFileReaderDevice reader(filename);
I would like to read [Magic Number](https://tools.ietf.org/id/draft-gharris-opsawg-pcap-00.html#section-4-5.2.1) from file header, which represents time format. I could not find anything that allows to access header struct. How to do this?

[2022-06-30 16:54] seladb commented on #906
Do you know if `libpcap` provides an API to read this magic number? PcapPlusPlus relies on libpcap/WinPcap/Npcap to read `.pcap` files so if there's no such API there's no way for PcapPlusPlus to fetch this information.

We did add the [`PCAP_TSTAMP_PRECISION_NANO`](https://github.com/seladb/PcapPlusPlus/blob/5dd6cec932e5dee2d040206c4b17c63994940ed8/Pcap%2B%2B/src/PcapFileDevice.cpp#L253) compilat

[2022-07-04 02:14] qq452739204 opened #907 "CPU utilization exceeds 100%"
When using this code, the CPU utilization rate of httpanalyzer in the example is 100% after startup, but the traffic is not large at this time. I would like to ask why there is no such problem and how to solve it?
![1](https://user-images.githubusercontent.com/16432513/177069874-45d64fe1-d395-4912-9c18-42cc8041f15c.png)

[2022-07-06 21:04] GilbertoTheMighty commented on #906
I've compiled pcap++ with PCAP_TSTAMP_PRECISION_NANO.
Read pcap file, update timespec, write to another file => produces rounded timestamp.
1601234567.000051234 (written time) becomes 1601234567.000051000 i output file acconding to wireshark

[2022-07-06 21:09] GilbertoTheMighty commented on #906
[Seems like writePacket does not use this flag](https://github.com/seladb/PcapPlusPlus/blob/5dd6cec932e5dee2d040206c4b17c63994940ed8/Pcap%2B%2B/src/PcapFileDevice.cpp#L555)

[2022-07-06 21:30] GilbertoTheMighty commented on #906
I've also commented *1000 and /1000 in Common++\header\TimespecTimeval.h

After these change I was able to produce pcap file with nanosecond, which are seen in Wireshark

[2022-07-08 01:12] seladb commented on #906
Thanks for debugging the issue! Can you please open a PR with the fix?

[2022-07-10 06:41] coder-sjn opened #908 "error: inlining failed in call to always_inline"
I get the following error after executing the command ‘make all’：

Building file: src/MBufRawPacket.cpp
In file included from /usr/lib/gcc/x86_64-linux-gnu/9/include/immintrin.h:51,
                 from /usr/lib/gcc/x86_64-linux-gnu/9/include/x86intrin.h:32,
                 from /usr/local/include/rte_vect.h:28,
                 from /usr/local/include/rte_memcpy.h:17,
                 from /usr

[2022-07-12 16:08] gleb-kun opened #909 "Question about the capturing packets."
Hello!
What wireless interface modes are supported by classes `PcapLiveDevice` and `WinPcapLiveDevice`?

1. Can I read packets from an interface when it is in access point mode?
2. Can I read packets from an interface when it is in monitor mode (sniffer)?

[2022-07-13 06:52] seladb commented on #907
@qq452739204 sorry for the late reply. I think this issue is already discussed here: https://github.com/seladb/PcapPlusPlus/issues/126

You can change value of `pcpp::PcapLiveDevice::DeviceConfiguration::packetBufferTimeoutMs` to change the buffer timeout which should reduce the CPU utilization

[2022-07-13 06:55] seladb commented on #908
@coder-sjn sorry for the late reply. It looks like something is wrong with building a DPDK app on your platform. Does DPDK (without PcapPlusPlus) works for you on this platform?

[2022-07-13 06:56] seladb commented on #909
@gleb-kun I'm not sure how to answer these questions because I'm not an expert on wireless interfaces. The best option is to try and see what's working...

[2022-07-13 06:59] qq452739204 commented on #907
Find the Libpcap packet capturing mechanism and study the Libpcap related interface call methods in the source code. It is found that there is an overloaded function open (pcpp:: pcaplivedevice:: deviceconfiguration config). This problem has been solved by modifying the parameter value of packetbuffertimeouts.

Thank you for your reply

[2022-07-13 06:59] #907 closed

[2022-07-13 06:59] gleb-kun commented on #909
@seladb, okay, I'll try it and post the results here.

[2022-07-13 07:41] seladb commented on #893
Thank you @AlienX2001 for providing the fix, I really appreciate your contribution!
Your PR was merged to `master`, I'm closing the issue now

[2022-07-13 07:41] #893 closed

[2022-07-13 09:08] #909 closed

[2022-07-13 09:09] gleb-kun commented on #909
Okay, I have tried capturing packets while my wireless interface was in monitor mode and in AP mode. I used the example from [here](https://pcapplusplus.github.io/docs/tutorials/capture-packets), but I added a count of the total number of packets.

Output result for capturing packets in access point mode:
[code]

Output result for capturing packets in monitor mode:
[code]

Based on this, I can ans

[2022-07-13 09:11] gleb-kun commented on #909
I'm confused about opening/closing issue 😅 Sorry!

[2022-07-14 06:25] seladb commented on #909
Unfortunately we don't currently plan to support Radiotap and 802.11, but if you're interested you're more than welcome to add support for these protocols

[2022-07-14 06:25] seladb commented on #906
@GilbertoTheMighty will you consider opening a PR with the fix?

[2022-07-14 06:46] seladb commented on #879
Hi @Beatle95 ! Are you still planning to open a PR for this issue?

[2022-07-14 06:59] gleb-kun commented on #909
Thank you very much for the answer!

[2022-07-14 07:03] seladb commented on #909
Should we keep this issue open or can we close it?

[2022-07-17 17:15] Beatle95 commented on #879
Hi, I have recently got big new project on my main work, so I don't have much time on this in the nearest time(

[2022-07-18 07:17] seladb commented on #879
@Beatle95 no worries at all! Should we keep this issue open until you have time to work on it or should we close it for now?

[2022-07-18 15:25] ArmanTulegenov opened #917 "GTPv2 Support"
Would be great to add GTPv2 Support. Do you have some plans around it?

[2022-07-18 15:25] coder-sjn commented on #908
thanks for reply. DPDK does not work.

[2022-07-19 08:35] seladb commented on #908
I'm not sure what is your setup, but maybe you should clean PcapPlusPlus (run `make clean`) or even run `./configure-linux.sh` again?

[2022-07-19 11:05] ArmanTulegenov commented on #917
Yes, I will try to add GTPv2 layer.

[2022-07-19 20:28] Beatle95 commented on #879
I think it is better to close it for now.

[2022-07-19 20:59] seladb commented on #879
Sure I'll close it. Please feel free to reopen whenever you have time to work on it

[2022-07-19 20:59] #879 closed

[2022-07-25 14:04] sashashura opened #921 "Regression tests fail with Memory sanitizer"
As discussed in https://github.com/seladb/PcapPlusPlus/pull/918 a separated tracking issue.

Steps to reproduce -  add the following configuration to .cirrus.yml:
[code]
Most tests fail with the stack similar to:
[code]

[2022-07-28 10:02] Kreijstal commented on #247
you can adopt a dual model, GPL for open source projects, and for propietary software, you can relicense it to whatever they want, at a cost.

[2022-07-29 05:26] Minge3 opened #924 "High CPU usage even with custom packetBufferTimeoutMs Windows, WinPcap"
I got issues with high CPU usage even when using custom DeviceConfiguration with high packetBufferTimeoutMs.

According to documentation [here](https://www.winpcap.org/docs/docs_41b3/html/group__wpcapfunc.html#g2b64c7b6490090d1d37088794f1f1791) the read_timeout is not always supported:
"Not all platforms support a read timeout; on platforms that don't, the read timeout is ignored."

This is what I

[2022-07-29 09:41] seladb commented on #247
@Kreijstal thanks for your response! At this point I don't have plans to make profit out of this project, so everyone can use it for any legit reason, both for open source or profitable organization

[2022-07-29 09:43] seladb commented on #921
@sashashura thanks for opening this issue. Would you consider fixing it?
Also, if you're interested, there are a bunch of fuzzing issues in this repo issue list:
https://github.com/seladb/PcapPlusPlus/issues?q=is%3Aissue+is%3Aopen+label%3Afuzzing

[2022-07-29 11:30] sashashura commented on #855
Fixed

[2022-07-29 11:30] sashashura commented on #856
Fixed

[2022-07-29 11:31] sashashura commented on #858
Fixed

[2022-07-29 11:31] sashashura commented on #859
Fixed

[2022-07-29 11:32] sashashura commented on #861
Fixed

[2022-07-29 11:32] sashashura commented on #862
Fixed

[2022-07-29 11:39] sashashura commented on #921
As I wrote the main issue is I cannot reproduce it locally. Maybe because I'm using the script from oss-fuzz to reproduce :/
I have quickly build the driver app and commented on all the issues that are not reproducible anymore, i.e. fixed! Feel free closing them.
Regarding the not fixed ones. Unfortunately I run out of free time right now and I am quite tired of debugging crashes in multiple proje

[2022-07-29 21:33] attritionorg commented on #862
@sashashura Can you link to the fixing commit? I see a lot of security fixes but no commit that references 856 or 862. Thanks!

[2022-07-30 06:01] sashashura commented on #862
The issues I have commented with "Fixed" are not reproducible anymore and were most probably duplicates of the oss-fuzz crashes I was fixing. I don't know which commit exactly did it, but I'm pretty sure that if you follow oss-fuzz links in the pull requests you will find a call stack similar to this one.

[2022-07-30 06:46] #861 closed

[2022-07-30 06:46] #856 closed

[2022-07-30 06:46] #855 closed

[2022-07-30 06:46] #858 closed

[2022-07-30 06:46] #859 closed

[2022-07-30 06:47] #862 closed

[2022-07-30 06:52] seladb commented on #921
Thank you so much @sashashura for your great contribution to this project! 🙏 ❤️

I have closed all the issues you marked as fixed.

As for this issue - let's keep it open for now. If I have time I'll try to reproduce it and see if I can fix it.

If you'd like to contribute to other areas of this project (not related to fuzz issues or crashes), please feel free to reach out and we can discuss.

[2022-07-30 07:09] seladb commented on #924
Hi @Minge3 , sorry for the late reply...
This issue was already discussed before [here](https://github.com/seladb/PcapPlusPlus/issues/907) and [here](https://github.com/seladb/PcapPlusPlus/issues/126). I find it weird that `packetBufferTimeoutMs` doesn't work on Windows and WinPcap, I know it works on other platforms such as Linux.

Adding `Sleep()` may work for your use-case but can't be a perman

[2022-07-30 07:49] seladb commented on #908
@coder-sjn should we keep this issue open or can we close it?

[2022-07-30 07:50] seladb commented on #906
@GilbertoTheMighty I'm not sure if you saw my previous comment. Please let me know if you can open a PR with the fix

[2022-07-31 22:33] seladb commented on #731
@rajnishdahiya are you still considering opening a PR with this small fix?

[2022-08-02 01:39] coder-sjn commented on #908
sorry, i forgot this issue.thanks for your reply.

[2022-08-02 01:39] #908 closed

[2022-08-02 11:32] rajnishdahiya commented on #731
Hello @seladb

Actually I had shifted to another project, even before Pcap++ was
integrated into the previous project. That project is on hold and might get
resumed in near future but no timeline.
In short, I can still make the above change when I start using pcap++ but
no visibility on timeline.

Thanks
Rajnish
Mb: +91-9818398146

On Mon, Aug 1, 2022 at 4:03 AM seladb ***@***.***> wrote:

[2022-08-02 14:53] Minge3 commented on #924
I got a proposal for this. It takes into account the fact that you cannot sleep less than 1ms on windows, even with chrono. Sleep operates at 1ms intervals. To work around the performance issue we should use sensible defaults: The feature to reduce CPU load is disabled by default. For those that want to reduce CPU load without affecting performance too much we could sleep every Nth packet. e.g. ca

[2022-08-11 08:36] seladb commented on #731
Thanks for letting me know @rajnishdahiya !
We can keep this issue open for now until you or someone else can work on this

[2022-08-15 06:25] zliucd opened #939 "Different compiler support"
Hi,

I want to compile PcapPlusplus with Clang++, and ```configure.sh``` does not support compiler options.   I don't know how can I change compiler, or it would be nice to add in ```configure.sh``` options.

[2022-08-16 07:27] seladb commented on #939
Hi @zliucd ! you can use Clang++ to build PcapPlusPlus, although it's probably not very well documented. You just need to set the `CC` and `CXX` env variables to `clang` and `clang++` respectively. For example:
[code]

[2022-08-17 05:19] zliucd commented on #939
@seladb  Thanks, and it's ok to close this issue.  The default of ```CC``` and ```CXX``` in OSX is Clang/Clang++, and there is no problem of compiling PcapPlusPlus; in Linux, I have to manually switch compilers.

[2022-08-17 05:23] #939 closed

[2022-08-17 08:06] seladb commented on #779
ICMPv6 and NDP were added in #902 . Thank you @kolbex for this great contribution!

[2022-08-17 08:06] #779 closed

[2022-08-19 00:30] ArkAngeL43 opened #943 "FTP.h error during make"
[code]

not sure if this is an issue on the developer side or my side

**MAKEFILE**

[code]

[2022-08-19 05:59] seladb commented on #943
@ArkAngeL43 can you check `/usr/local/include/pcapplusplus/ProtocolType.h` and see if you can find this line?

https://github.com/seladb/PcapPlusPlus/blob/543880bb3aa9527cec748dcb12fd8a819e7e3e36/Packet%2B%2B/header/ProtocolType.h#L268

[2022-08-24 08:37] seladb commented on #921
@sashashura thank you so much for adding memory sanitizer to the CI! 🙏

I guess we can close this issue now?

[2022-08-24 08:38] seladb commented on #943
@ArkAngeL43 I'm not sure if you saw my previous question/comment?

[2022-08-24 08:39] seladb commented on #917
@ArmanTulegenov do you know when you'll work on this?

[2022-08-24 08:55] sashashura commented on #921
Fixed with #931

[2022-08-24 08:55] #921 closed

[2022-08-24 16:08] ArkAngeL43 commented on #943
hey dude thank you for the response, so sorry i was not able to keep up with this i have been so easy. give me about 2-3 more hours and i should have a valid response ready for you!

[2022-08-24 18:11] ArkAngeL43 commented on #943
**Update**

looked inside of the directory that you gave me, the file was there but this is what was on line 268

[code]

I noticed that during development i had to manually copy the FtpLayer.h file into the include directory because when i went to go mess around with the layer it said it was not in that directory, nor was the TelNet layer, it told me during install that the files were all directl

[2022-08-25 07:15] seladb commented on #943
I suspect you ran `make install` on a version different from the one you're currently working on.

Can you checkout the code again on a separate directory, then run `configure-linux`, `make` and `make install`?

Let me know if you see all the files in `/usr/local/include/pcapplusplus/`

[2022-08-25 19:48] ArkAngeL43 commented on #943
thank you i will report back when i have done this!

[2022-08-28 19:35] ArkAngeL43 commented on #943
**UPdate**

Sorry for such a laggy response time i have been super busy with development but i just got back to working with things and here is the result

**BUILD RESULT**
[code]
every file was built with no warnings or errors the file FtpLayer.h is also in the directory now along with the file ProtoColType.h with line

[code]

thank you for the help, i must have been using the wrong flags or as

[2022-08-28 21:05] seladb commented on #943
Thanks for the update @ArkAngeL43 !
I'm glad everything worked out 🙂

[2022-08-28 21:05] #943 closed

[2022-09-03 04:30] luckygg opened #954 "Is it possible to detect missing packets and packet drop?"
Hi all.

I have one simple question.

I would like to detect missing packets and packet drops.
Is it possible to check using PcapPlusPlus?
If possible, could you please how to check missing packets and drops?

Thank you.

[2022-09-03 08:43] seladb commented on #954
Yes, this is possible. Please take a look at [`PcapLiveDevice::getStatistics()`](https://github.com/seladb/PcapPlusPlus/blob/22269e8d40bebdbef225d63bf0a92a9bd94988d7/Pcap%2B%2B/header/PcapLiveDevice.h#L548).

You can also find information in the API reference: https://pcapplusplus.github.io/api-docs/next/classpcpp_1_1_pcap_live_device.html#a63c26fadf6e36c99608f500f67d60f29

[2022-09-04 01:08] luckygg commented on #954
@seladb Thank you for your reply!
But I have still some questions.

I think [PcapLiveDevice::getStatistics()](https://github.com/seladb/PcapPlusPlus/blob/22269e8d40bebdbef225d63bf0a92a9bd94988d7/Pcap%2B%2B/header/PcapLiveDevice.h#L548) is current device's status.

void packetArrives(pcpp::RawPacket* packet)
{
	pcpp::Packet parsedPacket(packet);
        //In this code, how to check 'packet' has mis

[2022-09-04 08:06] seladb commented on #954
If a packet was dropped the `packetArrives()` callback won't be called...

Oh wait, let me explain: as you mentioned, [`PcapLiveDevice::getStatistics()`](https://github.com/seladb/PcapPlusPlus/blob/22269e8d40bebdbef225d63bf0a92a9bd94988d7/Pcap%2B%2B/header/PcapLiveDevice.h#L548) reflects the device status, meaning how many packets were received by the NIC but could not be captured which can happen

[2022-09-04 09:33] luckygg commented on #954
@seladb  Thank you for your kind explanation! :)

Actually, I have lack of network knowledge, so my question would be wrong.
I don't know where the missing packet would be occurred.
I was just worried and wondered if it could be detected.

I have an additional question!
The below image is the WireSharks's screenshot.
What function can I get the part marked in red from in PcapPlusPlus?
![wireshark]

[2022-09-06 02:27] bladchan commented on #854
I was fuzzing PcapPlusPlus yesterday and found the same bug in version [#22269e8](https://github.com/seladb/PcapPlusPlus/commit/22269e8d40bebdbef225d63bf0a92a9bd94988d7). By debugging it, I found that `DnsResource::getDataLength()` in Packet++/DnsResource.cpp didn't check the boundary of m_DnsLayer->m_Data. Therefore, It is possible to trigger an out-of-bounds read bug.
[code]
It seems that adding

[2022-09-06 15:01] HIGGSSAM opened #959 "Is it possible to get IPv6 address for a PcapLiveDevice"
Currently you have a function, PcapLiveDevice::getIPv4Address(). Is it possible to have an equivalent to return the IPv6 addresses from a live device? Thanks

[2022-09-07 00:49] seladb commented on #954
I'm sorry for the delayed response... you are correct:

[code]

Please notice that when capturing from a live device 1 == 2 == 4 == 5 and all of them represent the captured length. Frame length is not available on live devices.

When reading from pcap/pcapng files there is (or might be) a difference between 2,5 and 1,4.

Regarding 3 - this is just a running counter of the captured packets, hence n

[2022-09-07 00:59] seladb commented on #959
PcapPlusPlus currently doesn't have this functionality but it should be fairly simple to implement. The implementation would be very similar to this:
https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/PcapLiveDeviceList.cpp#L264

The difference is that instead of searching for a specific IPv6 address, `PcapLiveDevice::getIPv6Address()` would simply return the first address available

[2022-09-07 07:27] seladb commented on #854
Thank you @bladchan for your contribution to this project, much appreciated! 🙏 ❤️

Your PR was merged to `master`, I'm closing this issue now

[2022-09-07 07:27] #854 closed

[2022-09-08 07:58] quynhngatt opened #961 "PcapLiveDevicebyIP (or name) return null ptr"
Hello,
I want to send packets to another device.
When I try getPcapLiveDeviceByIp by my laptop IP, it's work ok. But it return null ptr when i get by another IP that connected the same network. Please tell me why T.T

[2022-09-08 08:04] seladb commented on #961
`getPcapLiveDeviceByIp()` returns a device which is related to a NIC. For example, if the NIC on your machine has IP address of `10.0.0.1` then `getPcapLiveDeviceByIp("10.0.0.1")` will return this device. Now you can use this device (NIC) to send or receive packets.
Please let me know it this helps.

[2022-09-08 12:28] luckygg commented on #954
@seladb Thank you for your detailed explanation!
All my questions have been resolved.

Thank you :)

[2022-09-08 14:01] quynhngatt commented on #961
Thanks for your quick reply.
I got it but i have no idea to send packet to another device :<

[2022-09-09 05:38] seladb commented on #961
Sending packets between devices is a broad topic and for the most part can be achieved by tools which are not PcapPlusPlus.
First, it depends on what kind of communication you're interested in. For example: if it's TCP/UDP you can probably open a socket, if it's HTTP/S you probably need a web-server and a web-client, for ICMP you can use the `ping` command, etc.

PcapPlusPlus mostly helps with par

[2022-09-09 07:25] quynhngatt commented on #961
thankyou very much.

[2022-09-09 08:20] seladb commented on #961
I'll close this issue now, please reopen if needed

[2022-09-09 08:20] #961 closed

[2022-09-12 07:43] InfiniteVerma opened #962 "Issue copying code from the Install docs"
In several places of the Installation section in the documentation, copying the snippets adds unnecessary text to the clipboard. An example from [Build on Linux](https://pcapplusplus.github.io/docs/install/linux#cross-compilation-or-build-for-different-architectures):

![image](https://user-images.githubusercontent.com/45547198/189599233-468b8fd5-841f-48f4-9ea5-d1c4b5c98138.png)

This copies the s

[2022-09-12 08:26] seladb commented on #962
Thanks @InfiniteVerma for reporting this issue!
Yes, I agree this is not nice. Please feel free to open a PR with the fix

[2022-09-14 23:48] #962 closed

[2022-09-14 23:49] seladb commented on #962
Thank you @InfiniteVerma for providing this fix, much appreciated! 🙏 ❤️

[2022-09-15 20:51] jafar75 commented on #959
@seladb If it helps, I will try to add this feature.

[2022-09-15 21:01] seladb commented on #959
Sure @jafar75 , that'd be great, thank you!

[2022-09-15 23:02] a7mad7aydar opened #964 "UDP Reassembly"
Hi Guys!

I'm a newbie to your library (thanks for the great docs) and come from the python world.

I tried to reassemble UDP packets using the IPReassembly exmple shown here:
https://github.com/seladb/PcapPlusPlus/blob/master/Examples/IPDefragUtil/main.cpp

I even passed the parameter parseUntil = UdpLayer but it didn't work.

The results looked quite different from the results in wireshark. One

[2022-09-15 23:33] seladb commented on #964
IPReassembly is for reassembling fragmented IP packets, which doesn't seem to be your use case. We currently don't support UDP reassembly, we only have TCP reassembly.

But that's a good feature to add!

[2022-09-16 07:17] a7mad7aydar commented on #964
Well it did 80% of the job correctly, it only missed the last step.

Do you know why the udp layer of the fragments are not detected? I can't filter them according to the destination port.

[2022-09-16 07:42] seladb commented on #964
I assume the reason it looked like it did 80% of the job correctly is that either most of the UDP packets were IP-fragmented and then it created full UDP packets from these IP fragments, or your file didn't have IP fragments at all but the packets were already ordered correctly and all it did was just write them to the output file.

IP fragmentation basically takes a large packet and separates its

[2022-09-16 09:35] a7mad7aydar commented on #964
Yep, it makes sense. You're right, I must reassemble, if I want to filter the destPort.

And yes, the packets are IP fragmented.

Thanks for the clarifications

[2022-09-16 09:38] seladb commented on #964
Sounds good, I hope this helps!
If you don't have further questions, should we close the issue?

[2022-09-16 09:57] a7mad7aydar commented on #964
Yes I will close it! thanks!

[2022-09-16 09:57] #964 closed

[2022-09-16 11:45] jafar75 commented on #959
#965

[2022-09-16 12:14] HIGGSSAM commented on #959
Applogies I have been abit busy this week writing my disseration. @jafar75 I started doing this but haven't quite finsihed it yet, so if you have done it then great!

[2022-09-17 01:24] alacic commented on #751
Will pcpp suport for macos Monterey?
Compiling with error "Undefined symbols for architecture arm64" using "clang++" with "macos Monterey"

[2022-09-17 07:52] seladb commented on #751
Thank you @alacic for figuring it out! Do you know if there is a generic `target` that would work for both macOS 11 and 12?

[2022-09-18 03:56] ligewei opened #966 "Is it possible to support LINKTYPE_NFLOG for pcap file in protocols module"
Now, more and more pcap files from Android debugging are basing LINKTYPE_NFLOG, it is very important to support it.

<img width="566" alt="image" src="https://user-images.githubusercontent.com/11908819/190884996-96b15446-c43c-4c26-b608-7501ab12b768.png">

[2022-09-18 04:09] neilstephens opened #967 "TCP reassembly treats FIN and RST the same"
Gday,

I've just finished debugging an issue in my application that uses pcpp::TcpReassembly. I was having an issue where the number of tracked connections would continue to grow, even though pcpp::TcpReassemblyConfiguration::removeConnInfo == true, and in reality the number of established connections was steady state. After a while I was getting pcpp::TcpReassembly::ReassemblyStatus::Ignore_Packe

[2022-09-19 05:20] seladb commented on #966
@ligewei thank you for reaching out!

I agree that can be a nice addition to PcapPlusPlus. It's not only about adding `LINKTYPE_NFLOG` but also supporting the Linux Netfilter NFLOG protocol.

If you or anyone else would consider picking it up that'd be amazing!

Here is a link to a sample pcap file from the Wireshark web-site: https://wiki.wireshark.org/uploads/__moin_import__/attachments/SampleCa

[2022-09-19 06:07] seladb commented on #967
Thank you @neilstephens for reporting this issue. You have a valid point and it's something that needs to be fixed. If you can spend the time to fix it and submit a PR I'd really appreciate it.

You already have all the information and I assume you also have an example pcap file that reproduces this issue and can be added as a test to verify the fix.

[2022-09-19 07:22] alacic commented on #751
Sorry, I don't know. @seladb

[2022-09-19 11:22] luckygg opened #968 "How can I check the network connection status?"
Hi all.

I would like to check the network connection status.

I have a desktop and laptop.
They are directly connected by Ethernet cable.

If I disconnect and reconnect the laptop's Ethernet cable, I can see the 'M-SEARCH * HTTP/1.1' messages via the Wireshark on the desktop.

![no title](https://user-images.githubusercontent.com/17895255/191006466-9187a99f-dd6c-44d8-950b-b1b19a9e7ec0.png)

So, I

[2022-09-20 04:30] seladb commented on #968
I guess this question is not related to the PcapPlusPlus project. Checking network connectivity can be done in various ways which depend on the OS (on both sides), the installed software and other factors. You can probably google it or ask in other forums?

[2022-09-20 04:34] seladb commented on #751
@alacic I asked this question in StackOverflow and here is the answer I got:
https://stackoverflow.com/a/73773711/5007125

If I understand the answer correctly, it says that any binary that is compiled for macOS 11 should work on macOS 12 as well...

Please see their comment:
![image](https://user-images.githubusercontent.com/9059541/191168183-05794da6-85d3-4a7a-b463-7696244a1bef.png)

Feel free t

[2022-09-21 09:28] seladb commented on #751
@alacic I tried to run it on macOS 12 in the GitHub Actions (without changing the `-target`) and it seems to work:
https://github.com/seladb/PcapPlusPlus/actions/runs/3096371576/jobs/5012485355

Can you describe the issue you saw?

[2022-09-22 08:28] alacic commented on #751
@seladb Thank you for the work. I change -target back to "-target arm64-apple-macos11", It works well.
I can't reproduce the issue. It seems like my coding error.
I will change the first comment for not misleading the others.

[2022-09-23 07:48] #967 closed

[2022-09-23 07:49] seladb commented on #967
Thank you @neilstephens for reporting this issue and providing a fix, I really appreciate your contribution to this project! 🙏 ❤️

[2022-09-23 07:49] seladb commented on #968
I'll close this issue now, please reopen if needed

[2022-09-23 07:49] #968 closed

[2022-09-23 10:07] luckygg commented on #968
Sorry, I'm so late.
Your mention is very helpful for me.
Thank you for your guide!

[2022-09-26 05:04] seladb commented on #959
Added in #965

Thank you @jafar75 for working on this, much appreciated! 🙏 ❤️

[2022-09-26 05:04] #959 closed

[2022-09-29 18:35] jafar75 commented on #966
@seladb If it helps I can to work on this issue

[2022-09-29 18:59] jafar75 commented on #966
I investigated the examples and I think for now, default linktype is LINKTYPE_ETHERNET to read pcap files.

if I could to distinguish the link type of input, I can manage it to read the desired protocol.
@seladb Did I understand the scope of the issue correctly (completely)?

regards

[2022-09-30 05:33] seladb commented on #966
@jafar75 thank you for working on this issue!

The default link type is `LINKTYPE_ETHERNET`, but `PcapFileReaderDevice` supports other link types too. Here is where it reads it from the pcap file:
https://github.com/seladb/PcapPlusPlus/blob/6a864322ac1cbed0188ae5735597d28696ad3f94/Pcap%2B%2B/src/PcapFileDevice.cpp#L265

`PcapNgFileReaderDevice` also supports different link types, but in the pcapng

[2022-09-30 21:13] jafar75 commented on #966
@seladb thanks,
I will try to provide a PR for the issue in the next week

[2022-10-06 13:41] npc144 opened #976 "SIP Source port is not checked in TcpLayer."
https://github.com/seladb/PcapPlusPlus/blob/f6e78d9c9257ea71c364432fa1516f288a714347/Packet%2B%2B/src/TcpLayer.cpp#L364

should be :
https://github.com/seladb/PcapPlusPlus/blob/f6e78d9c9257ea71c364432fa1516f288a714347/Packet%2B%2B/src/UdpLayer.cpp#L120

UdpLayer already does this, shouln't the same be done in TCP?

Thanks.

[2022-10-07 04:41] seladb commented on #976
SIP ports (for signaling) are usually 5060 and 5061. Sometimes the src and dst ports are the same, sometimes they are different.
`SipLayer::isSipPort()` checks both ports, so it doesn't matter if we check just one of them. We can probably change the check in `UdpLayer` to do the same.

https://github.com/seladb/PcapPlusPlus/blob/f6e78d9c9257ea71c364432fa1516f288a714347/Packet%2B%2B/header/SipLayer

[2022-10-08 09:14] seladb opened #977 "Port the code to C++11"
We recently moved to C++11 and big parts of the code are still using C++98 style.
This will be an ongoing task to port more and more parts of the code to C++11.

For example:
- Use `nullptr` instead of `NULL`
- Use `auto` where possible
- Use `enum class` more
- Use range-based loops where possible
- Use `delete`, `default`, `override` where needed
- Use `unordered_map` instead of `map` for better

[2022-10-11 03:41] seladb commented on #234
To be honest, I don't think this is something worth investigating. I'll close this issue

[2022-10-11 03:41] #234 closed

[2022-10-11 03:42] seladb commented on #976
@npc144 please let me know if it answers your question. If yes - should we close this issue?

[2022-10-11 05:05] seladb commented on #731
Fixed in #978

[2022-10-11 05:05] #731 closed

[2022-10-11 12:23] npc144 commented on #976
@seladb Thanks for the answer.
From what I can tell it didn't work in my case because the INVITE was coming from a PBX on port 5060 to a SIP phone (random port). The layer is not detected as a SIP layer but as PayloadLayer because only the destination is checked against in isSipPort.
![image](https://user-images.githubusercontent.com/53582456/195087415-2efc91f5-7efc-4397-b80b-f5a3ca6db683.png)
I t

[2022-10-11 18:10] InfiniteVerma commented on #977
I'd like to help with this.

[2022-10-12 22:49] seladb commented on #976
Oh, that makes sense. It seems like an easy fix, @npc144 would you consider opening a PR?

[2022-10-25 06:51] seladb commented on #976
Thank you @npc144 for providing the fix! I really appreciate your contribution to this project 🙏
Your PR has been merged to `master` so I'm closing the issue now

[2022-10-26 05:25] seladb commented on #966
Hi @jafar75 ! Are you still planning to work on it?

[2022-10-26 06:44] jafar75 commented on #966
Hi @seladb,
Sorry for delay, But I'm working on it

[2022-10-26 07:16] seladb commented on #966
Awesome, thank for the update! 🙏

[2022-11-07 09:12] luckygg opened #989 "How to write pcap file with split mode?"
Hi all.

I'm using PcapFileWriterDevice to save packets to a pcap file.
However, I did not know that there is a limit to the number of lines that can be stored in a pcap file.
(Max lines: 53,000,000)

When writing a packet to a file with PcapFileWriterDevice, is there a way to save it by splting it according to max file size?

I have referenced the example code below.
https://github.com/seladb/Pca

[2022-11-10 08:38] seladb commented on #989
There is no way to "ask" `PcapFileWriterDevice` to start writing to another file when hitting the limit automatically.

However it should be pretty easy to write code for it - keep a packet counter, and whenever it hits the limit close the existing file and open a new one. Please let me know if you have any questions

[2022-11-10 10:09] WojtekMs commented on #606
Hey, thanks a lot for the fix, it resolved the issue for me :) However, I would like to say that the fix in `libpcap` was applied in version 1.10.0, not 1.9.0.

[2022-11-10 20:26] Foogeebar opened #990 "Packet clone can't be modified"
Hi,
I am using pcpp for a home work and i discover a small bug in class Packet in these 2 methods:

[code]

The member variable `m_CanReallocateData ` should be explicitly initialized as it is done in others constructors in order to permit reallocation in case of packet modification.

Thx for your excellent work.

[2022-11-11 07:14] seladb commented on #990
You're right, this is indeed a bug, thank you for reporting it!

Would you mind opening a PR with a fix?

[2022-11-12 06:26] luckygg commented on #989
@seladb I got it! Thank you for your reply 😄

[2022-11-12 06:26] #989 closed

[2022-11-16 07:58] jiangjiongyu opened #992 "Invalid link layer (276) for reader device filename xxx.pcap"
at the windows platform
npcap-sdk-1.13

I have already updated the latest pcapplusplus version to compile my paser tool, but still doesn't work.

[2022-11-17 12:54] luckygg opened #995 "How to check Keep-Alive packet"
Hi all.
I have a question how to check Keep-Alive packet.

I can see the Keep-Alive packet by using Wireshark.
![image](https://user-images.githubusercontent.com/17895255/202451669-a4e222f7-6920-4284-970e-048b623609f4.png)

But I can't find how to check it on pcapplusplus apis.

Could you please advise me?

Thank you.

[2022-11-23 12:20] Heysunk opened #997 "Insufficient documentation for IPReassembly::processPacket"
`Packet* IPReassembly::processPacket(RawPacket* fragment, ReassemblyStatus& status, ProtocolType parseUntil, OsiModelLayer parseUntilLayer)`

Running `IPReassembly::processPacket` with parseUntilLayer set to
`pcpp::OsiModelPhysicalLayer` results in returning with status set to `NON_IP_PACKET` independent of fragment. The same issue should occur if parseUntil is set to a protocol above IP.

This is

[2022-11-29 15:28] JasMetzger opened #1005 "C4086 Warning when compilation in Visual Studio 2019"
...PcapFileDevice.h(164,11): warning C4086: expected pragma parameter to be '1', '2', '4', '8', or '16'

Doesn't like the pragma here:

	class SnoopFileReaderDevice : public IFileReaderDevice
	{
	private:
		#pragma pack(0)
		/*
		 * File format header.
		 */
		typedef struct {
		    uint64_t        identification_pattern;
		    uint32_t        version_number;
		    uint32_t        datalink_type;