[2019-04-14 17:32] laochanlam opened #177 "Send crafted packet through Device doesn't work"
Hi,

I want to craft my own packet and use specific network interface to send that packet immediately.

Then I just follow the tutorial in the section "Packet creation" and modified the code at `PcapPlusPlus/Examples/Tutorials/Tutorial-PacketCraftAndEdit/`

[code]

But then I use Wireshark to capture the [1] real-time packet, It seems broken.
![1](https://i.ibb.co/cQ27C2h/Screenshot-from-2019-04-1

[2019-04-16 05:21] seladb commented on #175
Can you please send a pcap file that reproduces this crash? Or some other way to reproduce it?

[2019-04-16 05:24] seladb commented on #176
Thanks for reporting this issue!
It seems like you already have all of the information :) would you like to suggest a fix and submit a PR?

[2019-04-16 05:36] seladb commented on #177
Thanks for reporting this issue!
It seems that the link layer of your NIC is not Ethernet. When Wireshark/libpcap cannot recognize the link layer it assumes SLL link layer, please read more here: https://wiki.wireshark.org/SLL

Can you please find out the link layer and let me know?

[2019-04-16 05:54] BigTowChow opened #178 "DpdkBridge cann't send packets in vf mode"
i have a Intel X520 NIC using SR-IOV mode. when test dpdkbridge example using vf nic ports, i found this process cann't forward packets to another port. In contrast, this example works fine when using  pf nics.
Can you give me some advice?

[2019-04-16 08:51] gx740 commented on #176
Ok, I'll do it.

[2019-04-16 14:09] gx740 commented on #176
Please explain the purpose of method TextBasedProtocolMessage::isHeaderComplete.
Does this method return false value if parsing has finished with an error?

[2019-04-17 03:12] laochanlam commented on #177
@seladb Hi
the link layer of my NIC is Ethernet, I have tested several NIC cards and run the code in two Ubuntu 16.04 machine, but that's the same situation. Therefore I think that isn't the problem of my NIC card.

I think the situation can be easily reproduced from your machine.

Thanks!

Lam

[2019-04-21 17:02] ibrahimnasson commented on #175
you can close the issue ,i will reopen the issue as soon as i  capture it again because it occurs very few times

[2019-04-22 12:28] gx740 opened #180 "TcpReassembly: incorrect sign in if expression"
I think there is an error in reassemblePacket method of class TcpReassembly at line 264.

Code block:
[code]
Code line: `if (currTime.tv_usec < tcpReassemblyData->connData.endTime.tv_usec).`

I guess the sign must be '>'not '<'.

[2019-04-23 01:31] seladb commented on #172
I could not reproduce this segfault. Can you please give more instructions on how to reproduce it or run it with `gdb` and print the stack trace?

[2019-04-23 01:32] seladb commented on #175
Sure thanks

[2019-04-23 01:32] #175 closed

[2019-04-23 01:37] seladb commented on #178
to be honest, I've never tested it in SR-IOV mode. I also don't have an Intel NIC available to do those tests. Did you try running the L2Fwd example that comes with DPDK? Does it work?

[2019-04-23 02:29] shidaoxuan commented on #178
Yes, i tried DPDK L2Fwd example, it works fine. I'think some configurations are unsupported in SR-IOV mode, unfortunately, I didn't find out which configuration it was.

[2019-04-23 05:40] seladb commented on #178
That's interesting. Unfortunately I don't have access to a system like you have so it won't be an easy thing to debug. Could you please describe what do you see?

- Is the app crashing? If so, could you please print the stack trace?
- If it's not crashing, is it processing incoming packets?
- If it's processing incoming packets, do you see any packets going out on the other side? or non at all?

[2019-04-23 05:40] seladb commented on #177
I'll try to run your code and let you know

[2019-04-23 06:32] seladb commented on #174
I've made a fix in `dev` branch. Could you please verify your issue is solved?

[2019-04-23 06:57] seladb commented on #177
hi, I ran the exact same code on Ubuntu 16.04 VirtualBox VM and managed to see the generated packet in Wireshark:

![bug177](https://user-images.githubusercontent.com/9059541/56560731-408ae680-6573-11e9-8538-fd631fedc047.png)

Could you please print the output of `ifconfig` in your machine?

[2019-04-23 07:10] seladb commented on #180
I think you're right, this is indeed a bug. I pushed a fix into `dev` branch, could you please verify the fix before I push it to `master`?

[2019-04-23 07:12] seladb commented on #176
Thanks for submitting the PR! Please take a look at the comment I put there.

I'd really appreciate if you can separate the fix for this issue from the rest of the fixes/changes you added

[2019-04-23 08:34] seladb commented on #167
I added a new method called `PcapLiveDeviceList::getInstance().reset()` which does exactly what you asked. It's currently on `dev` branch. Could you please verify and let me know it's ok?

[2019-04-23 15:31] gx740 commented on #180
I have no way to verify the fix because I found the bug during code studying.

[2019-04-23 15:58] seladb commented on #180
Sure, I'll merge the code to master and close this issue. Please feel free to reopen it if needed

[2019-04-23 16:13] gx740 commented on #180
Ok

[2019-04-24 01:54] shidaoxuan commented on #178
A1:  not crashing.
A2:  it can processing incoming packets.
A3: can't see any packets going out on the other side.

[2019-04-24 04:31] seladb commented on #178
Can you please try the other example: https://github.com/seladb/PcapPlusPlus/tree/master/Examples/DpdkExample-FilterTraffic and let me know if it works as expected?

The other example doesn't send any packets, it just processes incoming packets. If it works it probably means the problem lies in the send packets mechanism.

[2019-04-24 19:15] eteran commented on #164
Just wanted to give an update since it's been a bit :-).

Been busy with work. But I have everything working on linux including DPDK builds! The only improvement I have left on the linux build is to auto-detect which compiler flags to use instead of assuming `-msse3` or similar.

Once I have that in order, I'll probably try to tackle the more interesting target... Windows!

[2019-04-24 22:11] seladb commented on #164
Awesome @eteran thank you so much for your help!

I was also busy with various things but I'll try to make some more time for it in the near future. Please let me know once you finish the Linux changes and I'll chime to help you test and add CI jobs targeted to Cmake. I can also help with Windows

[2019-04-24 22:13] seladb commented on #176
Thank you so much for your help! I merged the code to `master`. I'll close the issue now, please reopen it if needed

[2019-04-24 22:13] #176 closed

[2019-04-24 22:14] seladb commented on #180
Merged into `master`, I'll close the issue now, please reopen it if needed

[2019-04-24 22:14] #180 closed

[2019-04-25 17:04] eteran opened #187 "`RawPacket::getPacketTimeStamp()` should be const"
https://github.com/seladb/PcapPlusPlus/blob/236e035be8d7109082e1b599abd435269f13032d/Packet%2B%2B/src/RawPacket.cpp#L120

This is a simple accessor, it should be const. Not being const, unfortunately, forces me to pass RawPacket by non-const reference simply because of this one method.

I **can** make a PR for this if that helps, but, it's also just  6 character patch ;-)

[2019-04-25 18:48] echo-Mike commented on #187
Hi, @eteran
On most projects so called “const”-patches are welcome.
If You can find more accessors with same problem and merge corrections to one patch it will be appreciated.

[2019-04-26 05:11] seladb commented on #167
I'll close this issue for now, please reopen it if needed

[2019-04-26 05:11] #167 closed

[2019-04-26 05:11] seladb commented on #174
I'll close this issue for now, please reopen it if needed

[2019-04-26 05:11] #174 closed

[2019-04-26 06:51] seladb commented on #187
I agree. Even making a PR with just 6 chars patch will save me some time :)

[2019-04-26 14:00] eteran commented on #187
OK, I see actually a **lot** of places where `const` shoudl be applied. Should the PR be against dev or master?

[2019-04-26 14:46] echo-Mike commented on #187
I think to dev so it can be part of future release

[2019-04-26 15:43] seladb commented on #187
yes, dev is better. I'll merge it to master later

[2019-04-26 16:52] eteran commented on #187
OK, submitting a PR now.

[2019-04-26 20:18] seladb commented on #187
Thanks for this contribution, much appreciated!

[2019-04-26 20:18] #187 closed

[2019-04-29 19:13] seladb commented on #172
I'll close this issue now since I didn't see any response for a long time. Please reopen it as needed

[2019-04-29 19:13] #172 closed

[2019-04-29 19:15] seladb commented on #177
Please let me know if there is any way I can reproduce this issue

[2019-04-29 19:16] seladb commented on #178
Could you please try to run the other example mentioned above and let me know the results?

[2019-04-29 19:19] laochanlam commented on #177
@seladb Sorry for the late reply,

I gonna try this again tomorrow (maybe install the version without DPDK, I doubted there are something related) and let you know the further information,

thanks a lot

Lam

[2019-04-30 12:28] laochanlam commented on #177
I figured out how to reproduce it but don't understand the reason why...

![Screenshot from 2019-04-30 20-09-41](https://user-images.githubusercontent.com/14297310/56961305-0bd7ea00-6b86-11e9-965c-66e0e9ce23ac.png)
When I choose "any" interface to capture, the packet become EthernetII
when I choose my "enp0s31f6" interface, It parsed the DNS packet right.

btw my `ifconfig`,
![Screenshot from 2019

[2019-04-30 15:58] shidaoxuan commented on #178
Sorry, I am on vacation, I will try ASAP.

[2019-05-01 05:28] seladb commented on #177
Now it is clear :)
`any` interface in Wireshark is not a real interface but rather a Wireshark thing that listens to all the interfaces on the machine. You can read about it [here](https://askubuntu.com/questions/829236/what-is-the-interface-any-that-i-can-see-with-wireshark-and-is-it-safe). One of the interfaces may be `loopback` which is a virtual interface built in Linux that doesn't use Ethern

[2019-05-01 10:48] laochanlam commented on #177
Thanks for your time!
@seladb

[2019-05-01 10:48] #177 closed

[2019-05-02 23:18] austin-millan opened #190 "Issue with Initializing DPDK"
I'm trying to run the `DpdkExample-FilterTraffic` example on Linux, but PcapPlusPlus is not picking up the DPDK port.

Here's the output from the example binary:
[code]

Here's how I compiled DPDK:
[code]

I bind `igb_uio` to a ENA network interface, supported by DPDK.

PCPP:
[code]

Network interfaces status:
[code]

Do you have any tips for troubleshooting this? Let me know if I should provide m

[2019-05-02 23:29] seladb commented on #190
can you try running the app with `sudo`?

[2019-05-03 05:23] austin-millan commented on #190
Yeah I have tried running with sudo, there was no difference, still get the issue with initializationv

[2019-05-03 06:01] seladb commented on #190
According to the error message this error occurs within DPDK. I've never tested ec20 NICs.

My suggestion would be to try DPDK's sample apps first. If those work, we can debug PcapPlusPlus

[2019-05-03 15:01] austin-millan commented on #190
I've tried out `testpmd` and the helloworld example in DPDK. I ran `testpmd` in IO mode on the same port, so it receives/transmits on the same port. There were no issues, it identified the port no w/ no dropped packets.

[2019-05-03 15:43] seladb commented on #190
Could you please also compare the initialization steps of `testpmd` with those of PcapPlusPlus? Is it somehow different?

[2019-05-03 16:22] austin-millan commented on #190
Can you clarify what you mean by initialization steps? Like initializing EAL? If so, `testpmd` initializes EAL the same whether I give it command line args for portmask or not.

The error is logged [here](https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/DpdkDeviceList.cpp#L165) in `Pcap++/src/DpdkDeviceList.cpp`. Pcap++ can detect that DPDK is initialized since nothing was logged

[2019-05-03 17:18] seladb commented on #190
Somehow DPDK initialization doesn't initialize the port, I'm not sure why.

The DPDK initialization happens here (before the "Zero DPDK ports are initialized..." error): https://github.com/seladb/PcapPlusPlus/blob/e8d79712d779dbeeb0887d8bd5221e9263a94407/Pcap%2B%2B/src/DpdkDeviceList.cpp#L124

Maybe it's something with the parameters passed to `rte_eal_init`? I don't know...

Maybe it's possible t

[2019-05-04 22:51] austin-millan commented on #190
I looked into this and compiled DPDK with a higher logging level. I'm not sure how much logging I was expecting, but it's not much different than providing `--log-level` to DPDK apps. So it still shows the same logs when running a app.

But I stepped through `DpdkTrafficFilter` with GDB

`rte_eal_init` was called with the args from dpdkParamsArray:
dpdkParamsArray = {"pcapplusplusapp", "-n", "2",

[2019-05-05 06:45] shidaoxuan commented on #178
Examples/DpdkExample-FilterTraffic can't works correctly, similar to the previous example. I think it is related to dpdk configuration.
But beyond that, i found a problem, at Examples/DpdkExample-FilterTraffic/AppWorkerThread.h :Line 131      "sendPacketsTo->sendPacket(*packetArr[i], 0);"  all threads using "txq=0", is that safe?

[2019-05-05 06:53] mikeybro opened #191 "Unable to use run Tests (MinGW-w64)"

[2019-05-05 06:58] echo-Mike commented on #178
@shidaoxuan
Concurrent usage of single Rx/Tx queue is never safe except when PMD supports ```DEV_TX_OFFLOAD_MT_LOCKFREE``` for Tx queues

[2019-05-05 07:02] echo-Mike commented on #191
Hi @mikeybro !
Please specify what mingw distribution do You use? Also specify version of the gcc compiler. If possible - update it to latest version.

[2019-05-05 07:16] mikeybro commented on #191
mingw32

![gccVer](https://user-images.githubusercontent.com/13041084/57190038-be7fb380-6eca-11e9-8c20-d37eccb097b4.PNG)

[2019-05-05 07:43] mikeybro commented on #191
im going to try mingw-w64

[2019-05-05 08:29] mikeybro commented on #191
I think i got it to working, going to run the tests:
![works](https://user-images.githubusercontent.com/13041084/57190956-2f2bcd80-6ed5-11e9-9a9a-ea2079895d42.PNG)

[2019-05-05 09:26] mikeybro commented on #191
many tests failed :| , can't access files:
![fail](https://user-images.githubusercontent.com/13041084/57191691-250dcd00-6edd-11e9-9196-bb30db1ec813.PNG)

[2019-05-05 10:12] mikeybro commented on #191
I have got this far (above pic) using MinGW-w64, any ideas as to how I can get the tests 100%?

[2019-05-05 11:32] echo-Mike opened #192 "KNI device interface"
I am currently working on adding support for DPDK KNI inreface.
There is two kind of KNI interfaces:
  1. One that are created via ```--vdev net_kniN``` EAL param and can be controlled as usual DPDK interfaces;
  2. That are created thru DPDK rte_kni library interface and are separate entities from DPDK NICs.

This features are intended for second kind of KNI interfaces.
The first code edidtion is

[2019-05-05 11:33] echo-Mike commented on #192
TODO list:
- [ ] Add files to build system
- [ ] Add tests
- [ ] Add documentation

[2019-05-05 11:48] echo-Mike commented on #192
KNI interface information:
* [DPDK Tests](https://doc.dpdk.org/dts/test_plans/kni_test_plan.html)
* [KNI Interface concept](https://doc.dpdk.org/guides/prog_guide/kernel_nic_interface.html)
* [KNI PMD](https://doc.dpdk.org/guides/nics/kni.html)
* [KNI DPDK sample app](https://doc.dpdk.org/guides/sample_app_ug/kernel_nic_interface.html)

[2019-05-05 12:04] echo-Mike commented on #192
Implementation is split in two files bacause DPDK and Linux kernel have incompatible definitions.

[2019-05-05 20:20] mikeybro commented on #191
I am using MinGW-w64,  I've been able to pass a few of the tests, and compile and run the Tutorial-helloWorld.exe example. I am trying to figure out whats up with the failed tests.  Also for gcc I am not sure how to update to any other version of it other than whats on the MinGW updater/Installer, since I've gotten this far do you still think my version of gcc (version 8.1.0) could be apart of the

[2019-05-05 21:21] echo-Mike commented on #191
It seams good at first glance. I pesonaly prefer MSYS2 distribution of mingw.
This error may be reoccurring because you start test scripts from wrong directory. See .appveyor file, it has correct commands for Windows environment.

[2019-05-05 21:41] mikeybro commented on #191
That what I was thinking, I may have been running them improperly, I've been up to long and was just punching in commands:
![test](https://user-images.githubusercontent.com/13041084/57200704-c6c80500-6f43-11e9-87e9-02d7d7d62078.PNG)

And, Also, I had tried MSYS32 at one point, last night I tried a bunch of different mixtures, with varying results. I think I had reached the point I am at now with M

[2019-05-06 06:43] seladb commented on #190
Thanks for providing these details.

Let me suggest testing [DPDK's L2Fwd sample app](https://doc.dpdk.org/guides-18.08/sample_app_ug/l2_forward_real_virtual.html). This app implements a simple bridge between 2 DPDK ports and transfers packets from one port to another. There is a similar example in PcapPlusPlus: [DpdkBridge](https://github.com/seladb/PcapPlusPlus/tree/master/Examples/DpdkBridge) s

[2019-05-06 06:47] seladb commented on #178
@shidaoxuan could you please specify which part in `DpdkExample-FilterTraffic` doesn't work as expected? Is the app receiving packets?

[2019-05-06 06:51] shidaoxuan commented on #178
In SRIOV Mode, "DpdkExample-FilterTraffic" and "dpdkbridge" can't send packets, i can't find the root cause.

[2019-05-06 06:55] seladb commented on #191
You got it right :)

Running `Pcap++Test` is very similar, the only difference is that you need to give it an IP address it can receive and send packets from. For example:

[code]

Please let me know if additional info is needed, otherwise please close the issue

[2019-05-06 07:01] seladb commented on #178
Just to double check: this is happening only with PcapPlusPlus examples, right? On built-in DPDK examples you see packet being sent?

[2019-05-06 07:29] seladb commented on #192
Thanks for working on this! Please give me a couple of days to go over the documentation and the code

[2019-05-06 07:37] echo-Mike commented on #192
Hi @seladb it is ok, i planning to complete tests and docs by the 12.05.19
Currently build is failing for unknown reasons on Mac (Xcode 9.1 and 9.2):
https://travis-ci.org/echo-Mike/PcapPlusPlus/builds/528571669
I don't see a reason of this issues

[2019-05-06 07:56] seladb commented on #192
Sure thanks!

Two initial comments:
- Maybe you should consider naming the class `DpdkKniDevice` instead of `KniDevice` to emphasize it's working with DPDK
- Please use camelCase style everywhere, for example:
  - https://github.com/echo-Mike/PcapPlusPlus/blob/4d62ff8d7d1eb7024e0b2b979d26af2404db900c/Pcap%2B%2B/header/KniDevice.h#L154
  - https://github.com/echo-Mike/PcapPlusPlus/blob/4d62ff8d7d1e

[2019-05-06 08:04] shidaoxuan commented on #178
Yes, dpdk l2fw-jobstats example is ok.

[2019-05-06 08:10] seladb commented on #178
I can try help you debug if you can somehow share your environment (you can also reach out to me by email)

[2019-05-06 08:31] echo-Mike commented on #192
I am against the renaming because as i mentioned before there is two kind of KNI devices and it makes code harder to write whithout any clarification of intent. One that uses and understends KNI concept shure understends what DPDK mean and how they correspond to each other.

The ```#include "DpdkDevice.h"``` statement must clarify more for programmer than other things.
The KNI code is guarded by `

[2019-05-06 09:35] #191 closed

[2019-05-09 12:56] TCZWJ opened #193 "about the “Benchmarks”"
When i read the source code in “Matias Fontanini's packet-capture-benchmarks project”, i found that the performance is just the capture performance of the four lib (libpcap、PcapPlusPlus 、libtins and libcrafter). I want to know : is the capture performance of pcapplusplus  based on DPDK?

[2019-05-09 13:32] echo-Mike commented on #192
Hi @seladb i have added documentation for KNI device

[2019-05-09 15:43] seladb commented on #193
Currently it's not. The current benchmark tests `libpcap` wrapper and compares it with the similar code used in `libtins` and `libcrafter`

[2019-05-09 20:35] seladb commented on #192
Thanks @echo-Mike , please let me know when the code is ready. You can open a PR and I'll review it

[2019-05-10 16:21] seladb commented on #193
Please let me know if you have more questions, otherwise please close the issue

[2019-05-12 04:28] TCZWJ commented on #193
thx，I do not have any problems.

[2019-05-12 07:14] #193 closed

[2019-05-12 07:15] seladb commented on #178
please let me know what could be the next steps

[2019-05-12 07:15] seladb commented on #190
I'd like to follow up on that. Did you try testing DPDK's L2fwd example app?

[2019-05-14 04:39] duanwujie commented on #190
I have the same question, but the dpdk version is dpdk-stable-16.11.9

[2019-05-14 06:10] seladb commented on #190
what NIC are you using? Is it also `ec20`?

[2019-05-14 06:41] seladb commented on #164
I'd like to contribute but I cannot fork your repo (because it's a fork of my repo).

How do you suggest I contribute? Maybe we can merge this code to a dedicated branch in `seladb/PcapPlusPlus` and then both of us will be able to add code?

[2019-05-14 07:00] duanwujie commented on #190
It's ```82599ES 10-Gigabit SFI/SFP+ Network Connection```

[2019-05-14 07:03] duanwujie commented on #190
Here is the message:
[code]
[code]

[2019-05-14 07:08] duanwujie commented on #190
I also test the l2fwd example , output bellow:
[code]

[2019-05-14 07:10] seladb commented on #190
The message log says:
[code]

Maybe there are no free hugepages. Could you please restart your machine and try again?

[2019-05-14 14:30] BigTowChow commented on #178
I emailed my leader for debugging dpdk example, but he didn't allow it. i suggest hanging up this issue first.

[2019-05-14 20:45] seladb commented on #178
What do you mean by hanging up this issue?

[2019-05-15 03:12] #178 closed

[2019-05-15 03:13] BigTowChow commented on #178
I‘ll reopen it when there are new discoveries.

[2019-05-15 03:49] tan-wei commented on #164
Wow, it seems CMake support is on the way. Awesome!

[2019-05-16 16:24] seladb commented on #190
Did you try to restart?

[2019-05-16 19:43] eteran commented on #164
@seladb, a dedicated branch definitely seems like a good idea. I think can then work on that branch in my fork to merge in as needed going forward.

Let me know if there is anything you need me to do to help with that part.

[2019-05-16 20:03] seladb commented on #164
Thanks @eteran , I've created the branch [cmake](https://github.com/seladb/PcapPlusPlus/tree/cmake) from `dev`, could you please merge your code to that branch?

[2019-05-16 20:07] eteran commented on #164
I'm happy too... but I'm not a git expert. So it may take me a bit to figure it out

[2019-05-16 20:24] seladb commented on #164
I think you can simply open a new PR from your fork `eteran/PcapPlusPlus` to the new `cmake` branch on `seladb/PcapPlusPlus`. Once I merge this PR then all of your code will be there and we can work together on this branch

[2019-05-18 16:58] echo-Mike commented on #192
Hi @seladb.
Please review recent changes to MBufRawPacket class in [feature/no_kni_raw_packet](https://github.com/echo-Mike/PcapPlusPlus/tree/feature/no_kni_raw_packet) branch of my fork.
I have separated declaration and implementation of MBufRawPacket  class to corresponding files and made it possible to initialize it from any device that have rte_mempool attached to it (by adding corresponding o

[2019-05-18 18:36] seladb commented on #192
Thanks @echo-Mike ! regarding the changes in `MBufRawPacket` - can you give me the commit IDs to compare?

[2019-05-18 18:42] echo-Mike commented on #192
I think 784f288 and 03a6707 should work [compare link](https://github.com/seladb/PcapPlusPlus/compare/784f288..03a6707)

[2019-05-19 13:54] echo-Mike commented on #192
@seladb I have a trouble - as I can see You don't initialize DPDK (via stup-dpdk.sh) on TravisCI tests, but KNI tests must be done with DPDK initialized.
So waht i need to do now?
I can just test all on my machine and report results and send KNI device tests to network category or something else. What did You think of it?

[2019-05-20 07:30] seladb opened #197 "IPv6 address representation as string isn't NULL terminated"
As reported by @eteran in [here](https://github.com/seladb/PcapPlusPlus/pull/195#issuecomment-493843086):

This refers to this line:

https://github.com/seladb/PcapPlusPlus/blob/e8d79712d779dbeeb0887d8bd5221e9263a94407/Common%2B%2B/src/IpAddress.cpp#L175

[2019-05-20 08:50] #197 closed

[2019-05-21 05:53] seladb commented on #192
@echo-Mike you raise a good point. At the time I added DPDK support for PcapPlusPlus I didn't find a way to initialize DPDK inside a docker container (as you may have noticed, all tests are running inside a docker containers that runs in Travis CI worker).

I think that might have changed since then. It'll be very beneficial if we can find a way to run at least the basic tests in Travis CI. It wou

[2019-05-21 07:29] echo-Mike commented on #192
Yes, running DPDK in a container is a vaible option by now. I have seen some guides on how to do it.
Sorry I really have no time by now to do something else but fix some issues in my PR. I had put a lot of efforts in last weeks in it. You may consider to start the new issue and I will assist when have more spare time.
So by now I think the KNI tests may be done by end user if he need it.
@seladb b

[2019-05-21 08:26] seladb commented on #192
@echo-Mike I really appreciate all of the work you have put on this, this is a really major contribution to PcapPlusPlus. thank you!

I'm currently going over the PR. Overall it looks good. I'm putting comments inside the review. I already completed 80% of the review, hopefully tomorrow I'll complete it all.

Regarding running DPDK in a container - could you please send me relevant links? I can tr

[2019-05-21 09:01] duanwujie opened #198 "Application terminated in error: Couldn't open DPDK device #0, PMD 'net_i40e'"
Error bellow

[code]

[2019-05-21 09:03] duanwujie commented on #198
We use dpdk 16.11.9 and NIC is
[code]

[2019-05-21 09:08] duanwujie commented on #198
And tested  the l2fwd is okay!

[2019-05-21 09:12] seladb commented on #198
Could you please print the output of:
[code]

[2019-05-21 09:16] duanwujie commented on #198
Output bellow
[code]

[2019-05-21 09:18] seladb commented on #198
Hmm that's weird... maybe you should try with `sudo` or maybe just with `-d` for example:
[code]

[2019-05-21 09:20] duanwujie commented on #198
The same error,  and we use the the root user.

I find the code at **openMultiQueues** failed , Is need the i40e support Multiple queues ?

[2019-05-21 16:15] seladb commented on #198
I think I see the problem:
[code]

For some reason it seems that i40e doesn't support RSS `RSS_IPV4 | RSS_IPV6` and it fails here: https://github.com/seladb/PcapPlusPlus/blob/d0c1fa8661383aae87de78bb052ac865b76d4b9a/Pcap%2B%2B/src/DpdkDevice.cpp#L489

Could you please debug this a little further to understand the exact issue? Unfortunately I don't have i40e card so I can't debug it myself.

One th

[2019-05-21 16:35] echo-Mike commented on #198
@selabd I have i40e - same issue. As I have found during my experiments the i40e devices RSS works correctly ONLY  if all supported by device RSS functions are turned ON.

[2019-05-21 16:40] echo-Mike commented on #198
Otherwise the device is able to run but dequeuing packets from RX queue other than 0 may yield invalid packets (mbuf without mempool, or rx_burst function will return buffer filled with repetitions of same mbuf address). This is DPDK and i40e driver bug not from PCPP.

[2019-05-21 16:40] echo-Mike commented on #198
Otherwise the device is able to run but dequeuing packets from RX queue other than 0 may yield invalid packets (mbuf without mempool, or rx_burst function will return buffer filled with repetitions of same mbuf address). This is DPDK and i40e driver bug not from PCPP.

[2019-05-21 16:49] echo-Mike commented on #198
So the most viable choice for i40e devices is to either:
* completely turn off RSS and read only from RX queue 0
* or turn on all RSS functions supported by device (can be obtained by rte_eth_dev_info_get) and use all configured RX queues

[2019-05-22 04:41] seladb commented on #198
thanks @echo-Mike this is very helpful!

I'm not sure if there is something I can do in PcapPlusPlus to overcome this i40e bug... any suggestions?

[2019-05-22 04:45] seladb commented on #190
Since I didn't see any response I'll close this issue now. Please reopen it if needed

[2019-05-22 04:45] #190 closed

[2019-05-22 05:13] austin-millan commented on #190
I'm able to run `l2fwd` fine on a system with 2 cores and 2 DPDK ports:

[code]

[2019-05-25 09:36] seladb commented on #164
@eteran I'm adding make builds to TravisCI. Could you please tell me how what is the `cmake` command to run for building with DPDK and PF_RING?

The information that I'm missing is how to provide `DPDK_HOME` and `PF_RING_HOME` to cmake. Is this done through the cmake command line? or maybe using env variables?

[2019-05-28 20:12] seladb commented on #164
More updates: I've fixed the MacOS issues and the build is now running successfully on Mac. I've also added `cmake` builds to Travis-CI.

@eteran as I'm a beginner on CMake, could you please review my commit and let me know if you have any comments?
https://github.com/seladb/PcapPlusPlus/commit/d2665fb78e3cdaa7eeec7fab67cecf4578ed2a1e

[2019-05-28 20:12] seladb commented on #198
I'll close this issue now, please reopen it if necessary

[2019-05-28 20:12] #198 closed

[2019-05-31 23:52] seladb commented on #164
@eteran I've started working on Windows (both VS and MinGW) but my progress is very slow because of my poor familiarity with CMake. Do you think you'll be able to help?

[2019-06-01 05:29] eteran commented on #164
Absolutely. I have a windows box with visual studio setup.

[2019-06-01 06:47] seladb commented on #164
Awesome thank you!

[2019-06-04 03:36] duanwujie opened #199 "dpdk.spec no such file or directory"
[code]

no such file or directory

[2019-06-04 06:26] seladb commented on #199
Thanks for reporting this issue.

Unfortunately DPDK 19.05 is not yet supported in PcapPlusPlus as you can read [here](http://seladb.github.io/PcapPlusPlus-Doc/dpdk-pf_ring.html). Only versions 16.11 to 19.02 (inclusive) were tested and officially supported.

It's not easy to keep up with the changes going on in DPDK in each release, but I'll definitely address that in the near future.

Please let

[2019-06-04 07:02] echo-Mike commented on #199
Hi @seladb!
Have You accidentally changed something inside DPDK docker containers during your "CMake adventure"?
Next error is a reoccurring one and the source is unknown:
https://travis-ci.org/echo-Mike/PcapPlusPlus/jobs/540493832
https://travis-ci.org/echo-Mike/PcapPlusPlus/jobs/540493831
https://travis-ci.org/echo-Mike/PcapPlusPlus/jobs/540493833
Onli this 3 out of 4 containers are affected

[2019-06-04 07:38] seladb commented on #199
Oh @echo-Mike I'm so sorry, I did change something... I upgraded the DPDK versions in the docker containers. Please update your `.travis.yml` file as follows:

[code]

But I don't think it'll solve the issue describe here with DPDK 19.05

[2019-06-04 07:41] echo-Mike commented on #199
Thx @seladb!

I admit this is not related, I just don't wanted to start a new issue (as it is not an issue of PcapPlusPlus but an side channel and related only to forks of PcapPlusPlus)

[2019-06-06 02:42] TehRick opened #200 "strict aliasing"
I don't see "-fno-strict-aliasing" in the linux mk file. Is it somewhere else ?

[2019-06-06 08:05] seladb commented on #200
You're right, there is no reference to strict aliasing in the makefiles. Do you see any issue that requires this flag?

[2019-06-06 08:05] seladb commented on #199
I'll close the issue for now, please reopen it if needed

[2019-06-06 08:05] #199 closed

[2019-06-06 15:21] TehRick commented on #200
I have "apparently" not encountered issues, but since type punning is used everywhere someone might stall on a release-only bug that he has all chances to not understand without looking at the assembly for hours. I have looked at the implementation of different layers and I don't recall places where the raw buffer pointer and the punned pointer are both used for read/writes in the same scope so th

[2019-06-07 06:51] seladb commented on #200
Thanks for the thorough explanation. I'm definitely not an expert on strict aliasing (you seem far more knowledgeable than me), but from the little I've read it seems to be [less of an issue on x86 machines](https://xania.org/200712/cpp-strict-aliasing) because of the relatively small number of registers. PcapPlusPlus is currently only officially supported on x86, simply because I've never tested

[2019-06-07 15:52] seladb commented on #164
do you already know when you'll have time to work on that?

[2019-06-08 06:48] echo-Mike opened #201 "Update .travis.yml in main branches"
@seladb I have pondered the situation about Your suggestion to update .travis.yml by myself on the my fork and drive to the conclusion that it is better to be updated here on master and dev branch where the update can safely be propogated to other forks to avoid future merge conflicts.

[2019-06-09 07:43] seladb commented on #201
Done in commit bf438ab7a08a5aac995557f5579a4459adf7a990

[2019-06-09 07:44] #201 closed

[2019-06-09 12:39] eteran commented on #164
Soon, I'm in the middle of a move, so it's been a little hectic. But it should settle down shortly :-).

[2019-06-10 08:37] duanwujie opened #202 "didn't support vfio_pci"
The ppp didn't support vfio_pci

[2019-06-10 08:40] echo-Mike commented on #202
As I can remember currently PcapPlusPlus supports only `igb_uio` based DPDK userspace drivers. Not one based on `vfio_cpi`. But still Your issue report is not very informative

[2019-06-10 08:46] duanwujie commented on #202
Here's infomation bellow:

[code]
Then we set
[code]
Another occur failed:
[code]

[2019-06-10 08:47] duanwujie commented on #202
[code]

[2019-06-10 09:01] duanwujie commented on #202
Why does the pmd driver affect the application?

[2019-06-10 09:05] echo-Mike commented on #202
According to error:

something is wrong no DPDK side. It was not initialized properly and can't obtain common mempool policy settings

[2019-06-11 06:44] duanwujie commented on #202
[code]
** i40e_pf_get_vsi_by_qindex(): queue_idx out of range. VMDQ configured? **

[2019-06-12 15:19] MrSiz opened #203 "Is it possible to capture only inflow?"
For example, we can use `tcpdump -Q in` to capture only inflow.  It seems that i cannot capture only inflow in promiscuous mode.

[2019-06-13 10:18] seladb commented on #203
Yes, this should be possible using the filtering capabilities. For example, if you want to capture only incoming traffic to interface with IP address of `10.0.0.1` you need to write the following code:

[code]

I didn't try to run this code so excuse me for any syntax errors, but this should give you the general idea. Please let me know if this helps

[2019-06-13 11:30] seladb commented on #202
Did you try to run the same code on plain DPDK without PcapPlusPlus?

[2019-06-13 11:32] seladb commented on #200
@TehRick I'd really appreciate your input, let's try to make a decision here

[2019-06-13 14:42] MrSiz commented on #203
Thanks for your reply. But in promiscuous mode,  some packets  captured by the interface have different IP address which is differen from the host IP. I need a function like `    int pcap_setdirection(pcap_t *p, pcap_direction_t d)`. In that way, I can only capture the incoming traffic no matter what their destination IP address is,  then I can forward thoses packets one by one.  Hope you can unde

[2019-06-13 19:16] TehRick commented on #200
I will check with bindiff for differences and run examples with type sanitizer and report my findings here.

[2019-06-15 06:45] seladb commented on #203
Got it, makes sense. I think this should be pretty easy to implement. Do you think you can do it yourself and submit a PR? I can guide you through it and provide all the support needed. Please let me know

[2019-06-15 06:47] seladb commented on #200
thanks @TehRick please keep me posted on this

[2019-06-15 07:13] MrSiz commented on #203
I'm not sure whether I can solve it. But I want to try it!

[2019-06-16 16:54] TehRick commented on #200
1) The mk file does not include any optimization level flag, the default is -O0 for which strict-aliasing optimizations are disabled.
2) When checking for violations at -O2/3 using -Wstrict-aliasing=1 some violations are detected, but the one I thought of does not seem to show up (I think raw storage and char arrays might be equivalent for g++ in order to keep allocators working). Examples of dete

[2019-06-17 07:21] seladb commented on #203
You raise a very good point as `pcap_setdirection` is not supported in WinPcap and I'm also not sure in which version of libpcap it was introduced. So we probably need a compilation flag for it, similar to [immediate mode](https://github.com/seladb/PcapPlusPlus/blob/d4ed6aa7742c5b0a3275966ed945224a88a76e1b/configure-linux.sh#L57).

Regarding the code change itself, I'd recommend adding it to the [

[2019-06-17 07:37] seladb commented on #200
Thanks for taking the time to check this. Based on your experience with strict aliasing, is it sufficient to make sure the unit-tests pass (and maybe also run PcapPlusPlus examples) or should we do a more thorough analysis after adding the `-fno-strict-aliasing` flag?

[2019-06-17 08:52] MrSiz commented on #203
Thank you very much. I know what I should do now. If I encounter any other problems, I'll ask for your help again. :)

[2019-06-17 09:22] seladb commented on #203
Thanks! Please submit a PR once you’re done and I’ll review it. Please don’t hesitate to ask any question you might have

[2019-06-18 01:32] duanwujie opened #205 "Reopened Application terminated in error: Couldn't open DPDK device #0, PMD 'net_i40e' #198"
isDeviceSupportRssHashFunction  debug info bellow
[code]

[2019-06-18 01:43] duanwujie commented on #205
The i40e support :
* RSS_NONFRAG_IPV4_TCP
* RSS_NONFRAG_IPV4_UDP
* RSS_NONFRAG_IPV4_SCTP
* RSS_NONFRAG_IPV4_OTHER
* RSS_FRAG_IPV6
* RSS_NONFRAG_IPV6_TCP
* RSS_NONFRAG_IPV6_UDP
* RSS_NONFRAG_IPV6_SCTP
* RSS_NONFRAG_IPV6_OTHER
* RSS_L2_PAYLOAD

[2019-06-18 01:45] duanwujie commented on #205
Which should I use?

[2019-06-18 03:32] chenziliang opened #206 "Perf question"
When taking a look at the benchmark http://seladb.github.io/PcapPlusPlus-Doc/benchmark.html, it looks like comparing to native pcap, PcapPlusPlus has quite a lot perf downgrade. May i ask why we have so much perf downgrade ?

[2019-06-18 06:38] echo-Mike commented on #206
libpcap doesn't parse packets.

[2019-06-18 06:40] echo-Mike commented on #205
As for my experience You should use all of them and hardware will choose one based on incoming packet type

[2019-06-18 06:42] echo-Mike commented on #205
See my commebts here: https://github.com/seladb/PcapPlusPlus/issues/198#issuecomment-494465905

[2019-06-18 06:46] duanwujie commented on #205
Extra steps to enable the symmetry hash for i40e：

https://dev.dpdk.narkive.com/AIj6ALhm/dpdk-dev-symmetry-for-tcp-packets-on-x710-intel

Will be improve the performance?

[2019-06-18 06:51] echo-Mike commented on #205
Sorry the link You provided is broken for me

[2019-06-18 06:55] echo-Mike commented on #205
Oh I see now. I have read something about the RSS key length previously: in older hardware firmware versions the key must be longet than 40 bytes but in newer versions it was fixed. I personally have used the 40 byte key and directly specify the length on device configuration and it was working.

[2019-06-18 07:11] chenziliang commented on #206
Thanks Mike. Look like it is no an apple to apple comparison. If this can be mentioned in the benchmark page, it will cause less confusion, i guess.

[2019-06-18 07:11] #206 closed

[2019-06-20 21:46] echo-Mike commented on #192
Implemented with #196
Closed

[2019-06-20 21:46] #192 closed

[2019-06-21 06:42] seladb commented on #192
Thank you so much @echo-Mike for your time and efforts in implementing this feature! You are definitely one of the biggest contributors to this project and I really appreciate your help.

Over the years PcapPlusPlus has become more popular and well-known and from the feedback I get it seems people like it and find it really useful. I think you play a major role in this journey and I feel I owe you

[2019-06-22 10:48] seladb commented on #203
Added in PR #208

[2019-06-22 10:48] #203 closed

[2019-06-22 22:20] TehRick commented on #200
Ok let's conclude ;)

1) Type-punning is simply not portable. But it often works as expected on the popular ABIs.

2) It's sweet when the compiler can assume more in order to optimize more. As strict aliasing can be respected in most projects, it feels wrong to not use it.
But sadly, relying on it currently makes things compile quite poorly on MSVC that has no such optimization capability.
It can

[2019-06-25 08:22] Roman-Koshelev opened #209 "Using string functions for non-strings"
src/HttpLayer.cpp:	char* verPos = strstr(data, " HTTP/");

"data" may not be a string. Is not it?

[2019-06-25 09:14] echo-Mike commented on #209
Hi @Roman-Koshelev can You please use permalinks or code links to refer to some code parts it is hard to find specific line.
About using non-strings: in major compilers on major platforms (x32 and x64 non mainfraim) the type of `uint8_t` is pretty much always defined as alias to `unsigned char`. The C string functions in most cases described are compiler built-ins that analizes code on high level

[2019-06-25 09:17] Roman-Koshelev commented on #209
https://github.com/seladb/PcapPlusPlus/blob/fe2d92c3f5f3b171758cc096870b95961aeeac1c/Packet%2B%2B/src/HttpLayer.cpp#L356

[2019-06-25 09:21] Roman-Koshelev commented on #209
About using non-strings: I agree. But with the signature "uint8_t * data, size_t dataLen" it is obvious that \0 may not be at the end. What if I even convey "(NULL, 0)"

[2019-06-25 09:27] echo-Mike commented on #209
For what exact __signature__ do You refer? Does some function have it?

[2019-06-25 09:31] Roman-Koshelev commented on #209
Например https://github.com/seladb/PcapPlusPlus/blob/fe2d92c3f5f3b171758cc096870b95961aeeac1c/Packet%2B%2B/header/HttpLayer.h#L161

[2019-06-25 09:52] echo-Mike commented on #209
I addmit that it is an issue, but in most cases this is not. There is a lot less illformed HTTP packets to bother to correct it. The safe method is to use safe versions of `std::strstr` provided by coplier vendors or newer approach with algorithms (it is equal in code size) like `std::search`

[2019-06-25 11:23] #209 closed

[2019-06-25 11:30] Roman-Koshelev commented on #209
Watching the code found an example of how to write beautifully, but not necessary.
https://github.com/seladb/PcapPlusPlus/blob/fe2d92c3f5f3b171758cc096870b95961aeeac1c/Packet%2B%2B/src/HttpLayer.cpp#L129

The number of redundant allocations, copies and passes is a bit too much. It makes sense to refactor up to 1 allocation and 1 copy. We also have std :: string and even connected <algorithm>

[2019-06-25 12:43] seladb commented on #209
The reason I used memory allocations and copies is that `HttpRequestLayer::toString()` is usually not used in the critical processing path in most apps.

But in the previous example `strstr` is used in HTTP parsing which is definitely part of the critical processing path hence the code needs to be as efficient as possible, so memory allocations and copies are out of the question.

We can replace `

[2019-06-25 20:15] seladb commented on #200
Thanks for the detailed information, I really appreciate your help. As per your recommendation I'll close the issue now. Please reopen it if needed

[2019-06-25 20:15] #200 closed

[2019-06-25 20:17] seladb commented on #202
@duanwujie did you try to run the same code on plain DPDK without PcapPlusPlus?

[2019-06-26 09:04] seladb commented on #205
@duanwujie please advise if we can close this issue

[2019-07-02 15:01] sashabel opened #210 "live capture of localhost"
Hello,
Is there a way to capture localhost packets?
I've tried :
[code]

but I probably missing something basic.

[2019-07-02 16:25] seladb commented on #210
On Linux it should be possible using the loopback interface (usually `lo`).
On Windows it's possible only if you're using npcap, please read more [here](https://wiki.wireshark.org/CaptureSetup/Loopback).

Please let me know if you have more questions.

[2019-07-02 18:08] sashabel commented on #210
thank's for the fast response. so if i want to use PcapPlusPlus on windows and I have installed npcap I just shuold use the ip of loopback interface ? (how is that possible assuming it is acquired by dhcp)

[2019-07-03 00:42] seladb commented on #210
yes, I think that should work. Please try and let me know if you have more questions

[2019-07-03 02:32] sashabel commented on #210
Well, I probably missing something.
My network interfaces are listed below:
[code]

as you can see the Loopback NPcap is
[code]

but the following code
[code]

produces following output:
[code]

i.e. the NPcap loopback device is not detected !

[2019-07-03 07:56] seladb commented on #210
That's interesting... do you see this interface in Wireshark?

[2019-07-03 08:00] sashabel commented on #210
Yes, I do

[2019-07-03 08:09] seladb commented on #210
Got it. Can you please send a screeshot of the interface view in Wireshark?

I'll try to look into it.

[2019-07-03 08:15] sashabel commented on #210
![ScreenShot](https://user-images.githubusercontent.com/17266906/60575242-acce5700-9d27-11e9-9abe-c66bc523aff9.jpg)

[2019-07-03 08:19] sashabel commented on #210
![ScreenShot](https://user-images.githubusercontent.com/17266906/60575550-39791500-9d28-11e9-9cb0-b1110b85484b.jpg)

[2019-07-03 15:00] seladb commented on #210
Thanks, I'll look into it and get back to you

[2019-07-04 07:36] seladb commented on #210
In my machine I do see the loopback interface. I think maybe the code that checks if the IP address is not zero is the reason you're not seeing it:

[code]

Can you try running the `SSLAnalyzer` example (the one shipped with PcapPlusPlus) with `-l` switch and print the result:
`SSLAnalyzer.exe -l`

Then run this command: `getmac /fo csv /v` to see which adapters you really see

[2019-07-04 09:20] sashabel commented on #210
[code]

[2019-07-04 09:25] seladb commented on #210
So you do see the loopback interface, it's `'\Device\NPF_{63818D62-521A-4A2F-94CB-45F84B69FA36}'`.

You can capture packets using this name.

[2019-07-06 21:51] seladb commented on #210
Please let me know if it's working now. Should we close the issue?

[2019-07-06 21:52] seladb commented on #205
I'll close the issue now, please reopen if needed

[2019-07-06 21:52] #205 closed

[2019-07-06 21:52] seladb commented on #202
I'll close the issue now. Please reopen if needed

[2019-07-06 21:52] #202 closed

[2019-07-07 12:49] sashabel commented on #210
Hi, yes it's working. I also found the if I use ip 0.0.0.0 it also captures from the loopback interface.
thank's

[2019-07-07 12:49] #210 closed

[2019-07-11 12:43] BeiluobluesNing opened #211 "Mac os couldn't work"
I've follow the tutorial about [download and building](https://seladb.github.io/PcapPlusPlus-Doc/download.html), and past all the unit test:

Built: Jul 11 2019 20:02:30
Built from: Git branch 'master', commit 'fe2d92c3f5f3b171758cc096870b95961aeeac1c'
Starting tests...

And I think I don't have a device so i haven't pass the last one.
When I try to run the[ Sample code  ](https://github.com/selad

[2019-07-11 17:27] seladb commented on #211
Did you run `sudo make install`?

[2019-07-12 03:24] BeiluobluesNing commented on #211
Actually I have follow all the steps and get this infomation...

And still...

[2019-07-12 05:27] seladb commented on #211
Could you please share your code?
It seems that somehow the compiler cannot find the header files. Could you please check under `/usr/local/include/pcapplusplus` and let me know if you see PcapPlusPlus header files there?

[2019-07-12 05:47] BeiluobluesNing commented on #211
[code](https://pastebin.com/YQytTR2x)
And` /usr/local/include/pcapplusplus`

[2019-07-12 05:58] seladb commented on #211
do you use MacOS 10.14 Mojave?

If yes, did run the extra step:

`sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -target /`

[2019-07-12 06:07] BeiluobluesNing commented on #211
Yeah, it's  MacOS 10.14 Mojave, and I have followed the step but it still ...

Might be I should use Ubuntu rather than Mac os :P

[2019-07-12 06:22] seladb commented on #211
This should work on MacOS as well... for some reason the compiler (`g++`) can't find the header files under `/usr/local/include/pcapplusplus` and I'm not sure why. Maybe you can try to implicitly add `-I/usr/local/include/pcapplusplus` to your makefile and see if that works?

[2019-07-12 06:27] BeiluobluesNing commented on #211
It work, but there's new problem...

[2019-07-12 06:34] seladb commented on #211
The issue is this: `getLayerOfType()` is a templated method, you should use it like this:

[code]

[2019-07-12 06:51] BeiluobluesNing commented on #211
fix line 38 and 39 to
` pcpp::IPv4Address srcIP = parsedPacket.getLayerOfType<pcpp::IPv4Layer>()->getSrcIpAddress();
        pcpp::IPv4Address destIP = parsedPacket.getLayerOfType<pcpp::IPv4Layer>()>getDstIpAddress();`

And another prob.....

  "pcpp::IFileDevice::close()", referenced from:
      _main in handle_pcap-08f500.o
  "pcpp::IFileDevice::~IFileDevice()", referenced from:
      pcpp::IFil

[2019-07-12 07:12] seladb commented on #211
These errors are very weird, I've never seen them before... I googled it and found the following pages:

https://stackoverflow.com/questions/55134327/osx-mojave-ld-symbols-not-found-for-architecture-x86-64-clang-error-linke

https://stackoverflow.com/questions/10156582/clang-iostream-symbol-not-found

Maybe you should try to add the `-lstdc++` flag?

[2019-07-12 07:26] BeiluobluesNing commented on #211
I also try to google it and these solution might not suit for me...
`clang -x c++ -I/usr/local/include/pcapplusplus handle_pcap.cpp`
and
`g++ -I/usr/local/include/pcapplusplus handle_pcap.cpp --std=c++11 -lstdc++`
both of them output is:

  "pcpp::IFileDevice::close()", referenced from:
      _main in handle_pcap-135c73.o
  "pcpp::IFileDevice::~IFileDevice()", referenced from:
      pcpp::IFileRea

[2019-07-12 07:48] seladb commented on #211
I'm sorry none of these work.
One more try: did you manage to compile PcapPlusPlus itself? The reason I'm asking is because all of the [examples](https://github.com/seladb/PcapPlusPlus/tree/master/Examples) are also built as part of the build process so maybe you can take the makefile from there

[2019-07-12 08:06] BeiluobluesNing commented on #211
If you mean[ Building PcapPlusPlus - MacOS](https://seladb.github.io/PcapPlusPlus-Doc/download.html)..?
All of these  haven't got any prob...

[2019-07-12 08:17] seladb commented on #211
ok, so that mean PcapPlusPlus examples got built somehow. You can try and take the Makefile from one of them and track down the problem

[2019-07-15 10:12] sabhishepalc opened #212 "Multiple cores not assigned for DPDK port packet handling."
Snippet while running application "DpdkTrafficFilter":

root@ubuntu:~/PcapPlusPlus/Examples/DpdkExample-FilterTraffic/Bin# ./DpdkTrafficFilter -d 0 -c 15
EAL: Detected 24 lcore(s)
EAL: Probing VFIO support...
EAL:   no supported IOMMU extensions found!
EAL: VFIO support could not be initialized
EAL: PCI device 0000:01:00.0 on NUMA socket -1
EAL:   probe driver: 8086:10d3 net_e1000_em
EAL: PCI devi

[2019-07-15 10:34] echo-Mike commented on #212
@sabhishepalc please format your reuest using quote ">" for application output. It is really hard to understand by human eye what You have written.

[2019-07-15 11:21] sabhishepalc commented on #212
oot@ubuntu:~/PcapPlusPlus/Examples/DpdkExample-FilterTraffic/Bin# ./DpdkTrafficFilter -d 0 -c 15
EAL: Detected 24 lcore(s)
EAL: Probing VFIO support...
EAL: no supported IOMMU extensions found!
EAL: VFIO support could not be initialized
EAL: PCI device 0000:01:00.0 on NUMA socket -1
EAL: probe driver: 8086:10d3 net_e1000_em
EAL: PCI device 0000:04:00.0 on NUMA socket -1
EAL: probe driver: 8086:158

[2019-07-15 11:45] echo-Mike commented on #212
@sabhishepalc You have fall to 40GB trap. You need to enable all RSS hash functions supported by Your device plus provide RSS key (in some devices RSS key must be provided by user as default key setup is not correctly implemented by OEM) at least 40 bytes (52 on some devices) long.
Next is not always a correct behaviour:

portConf.rx_adv_conf.rss_conf.rss_key = NULL;
portConf.rx_adv_conf.rss_conf.

[2019-07-15 21:11] seladb commented on #211
Please let me know how you'd like to proceed. Should we leave this issue open or close it?

[2019-07-16 12:22] sabhishepalc commented on #212
Hi @echo-Mike ,

Thanks for the reply.
We tried the following as per https://haryachyy.wordpress.com/2019/01/18/learning-dpdk-symmetric-rss/

For i40e driver:

struct rte_eth_conf port_conf = {
  .rxmode = {
    .mq_mode = ETH_MQ_RX_RSS,
  },
  .rx_adv_conf = {
    .rss_conf = {
        .rss_hf = ETH_RSS_IP |
              ETH_RSS_TCP |
              ETH_RSS_UDP |
              ETH_RSS_SCTP,
    }

[2019-07-16 12:54] echo-Mike commented on #212
@sabhishepalc at first next setup works for me:
[code]
I have never used the `rte_eth_dev_filter_*` API. I think it is not related to RSS but to FDIR filter setup (see your NIC configuration guide for more information about FDIR setup).

[2019-07-16 13:45] LeNormich opened #213 "Parsing and manipulating incoming packets causes segmentation fault"
Hello,
I'm trying to parse incoming packets in order to differentiate streams based on their IP src.
The problème is that once I enter the callback function and try to get the source ip address, the program fails with segmentation fault.

Here the (lightened) content of my callback function:

	pcpp::Packet parsedPacket(pPacket);  //ok

	pcpp::IPv4Layer* iplayer = parsedPacket.getLayerOfType<pcpp::

[2019-07-16 13:52] echo-Mike commented on #213
Hello @LeNormich. The case of `SEGFAULT` may be in Your second line:
[code]
it will return `NULL` if layer not found (not all packets that circulate over tne network have the IPv4 leayer)

[2019-07-16 14:19] LeNormich commented on #213
Oh I hadn't even thought of that... I feel a little stupid but thanks for the hint!

[2019-07-16 14:19] #213 closed

[2019-07-17 06:17] sabhishepalc commented on #212
Hello @echo-Mike ,

I mean,
1. In our setup, we have different types of traffic as seen from the output, but the DPDK port will receive all these traffic with VXLAN header.

The DPDK application strips the VXLAN header and then processes the packets. Since all the packets received are VXLAN packets, the processing is done only by one core.

Does the type of traffic counts?

2. In our tests, the NI

[2019-07-17 07:55] echo-Mike commented on #212
Maybe the VXLAN encapsulation is the source of an issue.
Let us look on the VXLAN packet:
![image](https://user-images.githubusercontent.com/14947581/61357058-392c5e00-a880-11e9-898a-b948d169b9e3.png)
The NIC is only capable (on high speeds in most cases) of automatically parse the __Outer Ethernet__, __Outer IP__ and __Outer UDP__ layers. The hash functions will be applied to thouse parsed layers

[2019-07-17 08:05] echo-Mike commented on #212
As an unbiased observation: most NICs (especially 40/100GB) do not correctly/reliably implement hardware packet parsing. In most cases the packets that can't be parsed will be put to RX queue 1 (or 0) or simply dropped.

[2019-07-19 11:38] sabhishepalc commented on #212
Hello @echo-Mike ,

I changed my code as per your suggestion:
//Changes
struct ether_hdr *eth_hdr;
        uint16_t eth_type;
        uint64_t ol_flags;
        uint16_t i, packet_type;
        uint16_t is_encapsulation;
        char buf[256];
        struct rte_net_hdr_lens hdr_lens;
        uint32_t sw_packet_type;

uint16_t DpdkDevice::receivePackets(.. function in DpdkDevice.cpp

        for (

[2019-07-19 13:29] echo-Mike commented on #212
Hi @sabhishepalc. As You may see from output provided my position on insufficient packet parsing on NIC is confirmed (RSS hash is equal for each message).
Answering Your questions:
1. If Your NIC advertise support of `ETH_RSS_NONFRAG_IPV4_UDP` or `ETH_RSS_NONFRAG_IPV6_UDP` or `ETH_RSS_IPV6_UDP_EX` it MAY help. In Your situation NIC is better to be capable of `ETH_RSS_VXLAN`.
2. You may use simple

[2019-07-19 18:26] lexibrent opened #214 "Is it possible to cross-compile PcapPlusPlus for ARM?"
Does anyone know if it would be possible to cross-compile PcapPlusPlus (specifically the DPDK wrappers) for ARM, or does the code utilize x86-specific instructions?

[2019-07-19 23:33] seladb commented on #214
DPDK itself can cross-compile on ARM: https://doc.dpdk.org/guides/linux_gsg/cross_build_dpdk_for_arm64.html

Regarding PcapPlusPlus - I never tried because I don't have an ARM machine available. I'd appreciate if you can try and let me know.

[2019-07-19 23:33] seladb commented on #211
I'm closing this issue for now, please reopen it if needed

[2019-07-19 23:33] #211 closed

[2019-07-20 00:57] lexibrent commented on #214
Thanks for your reply! I managed to compile PcapPlusPlus for arm64 after changing these build flags: `-msse -msse2 -msse3` to `-march=native`

[2019-07-20 00:57] #214 closed

[2019-07-20 23:27] seladb commented on #214
awesome, thanks for letting me know

[2019-07-21 16:53] ibrahimnasson commented on #214
i use it on android and it's working well i guess  it's possible

[2019-07-22 06:36] seladb commented on #214
is there any way you know to test it on CI?

Travis-CI and AppVeyor don't support ARM currently...

[2019-07-22 07:15] seladb commented on #214
I can try to add an ARM64 build to PcapPlusPlus CI (specifically [ARMv8 64-bit](https://hub.docker.com/u/arm64v8/)). Please let me know if you think that will be useful

[2019-07-24 08:08] echo-Mike commented on #212
Hey @sabhishepalc. What is the status of Your requests? Can this issue be closed now? As it is not realy a PcapPlusPlus issue.

[2019-07-25 07:08] echo-Mike commented on #212
Hey @seladb! I think this issue can be closed now and reopened by the @sabhishepalc later.
__Reason__: The issue is not in the domain of __PcapPlusPlus__

[2019-07-25 07:23] seladb commented on #212
thanks @echo-Mike , I'll close the issue now. Please reopen it if needed

[2019-07-25 07:23] #212 closed

[2019-07-26 07:58] LeNormich opened #216 "Possibility to create file in memory"
Hello all,

Due to some constraints, I would like to use a PcapNgFileWriterDevice to create a file in memory instead of disk.
On regular files, this can be done using fmemopen or open_memstream but is it doable with this writer?

Thanks

[2019-07-26 09:27] seladb commented on #216
currently this feature doesn't exist and only reading/writing to files is possible. If you need this urgently please feel free to implement and create a PR. I can guide you through the code if needed

[2019-07-29 09:03] LeNormich commented on #216
This would have been a nice to have for me and I don't require this feature right now.
I'll probably try that in a few months, I'll ask you then!

[2019-07-29 09:03] #216 closed

[2019-07-29 14:00] Dysl3xik opened #218 "User macro and pre + post build events issues in VS."
Hello I recently submitted you a PR to fix an issue with your bat file to update the property sheets with correct paths to required libs.

I have now fully compiled your library and found a few other minor issues.

1. What is the purpose of the pre-build event fetch-git-info.bat? It does not seem to be properly configured and if I had to guess is something leftover from your own workflow?

2. The

[2019-07-30 06:33] seladb commented on #218
Thanks @Dysl3xik for making these changes! I just merged your PR. I tested it on VS2015 and it seems to be working.

Regarding `fetch-git-info.bat` - it's being used in the following APIs:

- https://github.com/seladb/PcapPlusPlus/blob/236e035be8d7109082e1b599abd435269f13032d/Common%2B%2B/header/PcapPlusPlusVersion.h#L39
- https://github.com/seladb/PcapPlusPlus/blob/236e035be8d7109082e1b599abd4352

[2019-07-30 14:33] Dysl3xik commented on #218
Actually I went through and rechecked after fixing all the other issues the git bat file does work. It suffers from the same issue as the other bat file that the macros are "invisible" after creation because they are missing those entries to make them show up in the list. I added a few lines to the bat file to make them show up in the macro list.

I can give you another PR for this if you would li

[2019-07-30 21:02] seladb commented on #218
Thanks @Dysl3xik ! I'm not sure I fully understand the issue you are talking about in the git bat file, but if you can provide a fix for that that'd be great!

[2019-07-30 21:38] Dysl3xik commented on #218
"Issue" is relative, basically without extra entries in the props XML when you open the props sheet in VS it will not show that these macros exist although technically they do behind the scenes they won't be in the list of macros.

[2019-07-30 23:20] seladb commented on #218
Oh, got it now :)

If you can provide a fix that'd be great. It seems you're more familiar with this stuff than me

[2019-07-31 07:18] sashabel opened #220 "loopback MTU"
Hello,

I'm using your wonderful library for recording and replaying network traffic.
However, the NPcap loopback device MTU  returned by the library is 14.
'netsh interface ipv4 show subinterfaces' reports its value equals 1500.
?

[2019-07-31 09:50] seladb commented on #220
Could you please post the code you wrote?

[2019-07-31 11:58] sashabel commented on #220
The code is taken from the tutorials. After listing the device and choosing the loopback device:
[code]

[2019-07-31 12:39] Dysl3xik opened #221 "Npcap read + write wastes memory"
**SKIP THIS POST AND GO TO BOTTOM - I was wrong here!**

Just FYI I am using NPCAP as my capture library behind the scenes and working in Windows 10.

In the example live capture code a simple example is given to capture live packets with a callback

[code]
When i run this in windows the memory usage seems to be growing unbounded. Granted I have only run it for up to one minute (initial testing an

[2019-07-31 13:39] Dysl3xik commented on #221
Oops when I tested with the flag swapped my sensor was offline! So no packets and of course no memory jumps haha. If I flip the flag it actually causes a crash, so that is a no-go period.

The issue of unbounded memory is still a thing I need guidance about though.

[2019-07-31 14:04] Dysl3xik commented on #221
Actually its not related to packets at all, its something in pcapng file generation. I am still digging more and may end up just closing this....

[2019-07-31 15:51] Dysl3xik commented on #221
Ok it looks like all of the blocks for the pcapng file are maintained in a linked list and are not released until the file is closed? This may be OK for small captures but I have a high bandwidth application that will be capturing for a few minutes and could easily start eating up many hundreds of MBs and into GBs.

From the looks of things the data is already written to the file long before close

[2019-07-31 21:39] seladb commented on #220
Thanks, let me check that and get back to you

[2019-08-01 07:22] seladb commented on #221
Yes, you're right and I'm aware of this. The reason it was built like that is because I use a 3rd party library for reading and writing pcapng files called [LightPcapNg](https://github.com/rvelea/LightPcapNg). Although this library is pretty lightweight and easy to use, it's far from being optimized.

You are more than welcome to take a look at the code of this library and change it. I remember th

[2019-08-01 19:55] seladb commented on #218
Do you think you can provide a fix for that?

[2019-08-01 19:57] Dysl3xik commented on #218
Yes I am crunching on the other issue I posted at the moment, but I will probably share contributions for both issues soon.

[2019-08-01 21:23] seladb commented on #218
Great, thanks for your help!

[2019-08-01 21:27] Dysl3xik commented on #221
I fixed the writing already - the reading would take more effort. I really don't like dealing C code tho :(

Currently it does something similar in that it loads everything into memory then splits it out into the packets. Not only is this wasting 2x the memory because it first streams into memory as a glob, then splits into the structs, but it also prevents streaming the file which again wastes hu

[2019-08-01 22:13] seladb commented on #221
Thanks for your efforts! so do you plan to fix the reading part as well?

Regarding z-std compression - this can be very useful for this project. Maybe we can also use it in HTTP messages - currently the main reason PcapPlusPlus doesn't support parsing HTTP body messages is the lack of compression support

[2019-08-01 22:13] seladb commented on #218
BTW, this change is pretty small, right?

[2019-08-01 22:41] seladb commented on #220
I found out why this is happening, please refer to the documentation for NPcap here https://nmap.org/npcap/guide/npcap-devguide.html#npcap-feature-loopback:

That's the reason you're getting a value of 14, but since it is hard coded I think you can safely ignore it for the loopback interface

[2019-08-02 21:21] Dysl3xik commented on #218
Yes just a few lines in bat file. This is already done and will be in my next PR so I will just close this for now.

[2019-08-02 21:21] #218 closed

[2019-08-02 21:26] Dysl3xik commented on #221
I have completed the writing portion, files are now always written as a stream with no copy in memory, and if a compression level is specified it will automatically kick in z-std and compress while streaming to file.

There is one other function that i didn't port yet but will probably do so, even though its not used anywhere and is probably a remnant from when you picked up this lib.
`int light_p

[2019-08-03 00:12] seladb commented on #221
Thank you for working on this, much appreciated!
I think for start maybe we can integrate it without z-std because adding an additional dependency requires testing it on all platforms, modifying the installation scripts and also the installation guides.
It'll be easier to start with the code changes only and add compression later. Please let me know what you think

[2019-08-03 00:13] seladb commented on #220
Please let me know if we can close this issue

[2019-08-04 12:12] sashabel commented on #220
It is problematic to ignore it, because sending to this device fails with MTU size error

[2019-08-05 04:35] seladb commented on #220
Got it, that’s a good point. Can you suggest a fix?

[2019-08-05 14:11] Dysl3xik commented on #221
Well, I need the compression now so I am going to integrate it now. However it should all be compatible with any existing code.

The lightpcapng code won't compile with zstd support unless you add a macro for where to find it (like your other libs), and furthermore I have a compile time macro to enable the functions and structs required for it to work. If you leave out this macro it should still c

[2019-08-07 05:10] seladb commented on #221
Using macros make a lot of sense. That way I can integrate your code in phases, first without zstd and later on add zstd support.

Please let me know when you’re done with the reading piece and ready to create a PR

[2019-08-12 07:23] seladb commented on #220
hi @sashabel please let me know if you can suggest a fix

[2019-08-12 07:31] sashabel commented on #220
Hi, I didn't find suitable fix

[2019-08-12 08:10] seladb commented on #220
here is my suggestion: in the method https://github.com/seladb/PcapPlusPlus/blob/898519e67f95ba2c4c5871554e51e3c08ee0f346/Pcap%2B%2B/src/PcapLiveDevice.cpp#L621

There is a section for Win adapters. There you can check the device name which should be `Npcap Loopback Adapter` for loopback adapters (this is according to the information mentioned [here](https://nmap.org/npcap/guide/npcap-devguide.htm

[2019-08-14 13:39] Dysl3xik commented on #221
Work is done see PR #222 and PR #223

[2019-08-14 18:26] seladb commented on #221
Thank @Dysl3xik for all the efforts!

Please note CI fails for both PRs, could you please take a look?

[2019-08-14 18:35] Dysl3xik commented on #221
I looked quickly, it seems to not like alias names for function input
types. There was some tricks I did with forward declarations for a struct,
and in other files it uses typedefed struct ptrs. It builds and runs fine
in windows, maybe your error/warning level may be more aggressive?

On Wed, Aug 14, 2019, 2:26 PM seladb <notifications@github.com> wrote:

[2019-08-14 21:44] seladb commented on #221
thanks for clarifying! the thing is that the [Windows CI (powered by AppVeyor)](https://ci.appveyor.com/project/seladb/pcapplusplus/builds/26694500) also fail.

btw, what is the difference between the 2 PRs? Both seem to have the same changes...

[2019-08-14 22:10] Dysl3xik commented on #221
I think I finally fixed the issues, I am unsure why my compiler didn't flag these things but hey whatever fixed now. Most of the linux builds have passed, and I suspect win ones should be fine now too.

There seems to still be an issue with the VS build, but its because of usage of std::copy in Common++ (not changes I made) and the windows SDL checks being on. It looks like the release builds are

[2019-08-15 01:10] Dysl3xik commented on #221
OK I checked back in, everything is building now, but it is failing windows debug builds only because of the SDL checks. This happened KINDA because of me...

There was another set of existing code which was checking __cplusplus > 199711L. This is totally broken in every version of VS prior to the most recent 2017, and even then you have to add a special compiler flag to make it report the correct

[2019-08-15 04:42] seladb commented on #221
Please let me review the code and get back to you. But before doing that, I still wonder why you created 2 PRs. Can we close one of them (probably #223)?

I would like to focus on the right PR...

Also, since this PR is quite big, is there a chance you can fork it from `dev` branch? That way we can run more tests before merging it to `master`.

[2019-08-15 13:35] Dysl3xik commented on #221
OK. I closed 223. There was 1 extra commit in 223 that added changes to the VS project that actually enabled the build with zstd included. I didn't know any way to share a single commit with you that was why I had 2 PRs.

For now I agree lets make your focus easy, and integrate the code. We can share notes about fully integrating zstd once you are ready for that later. PR #223 is closed for now.

[2019-08-15 16:40] seladb commented on #221
Thank you @Dysl3xik ! PR #224 is perfect so I'll close #222. Please give me some time to review the code and understand the exact source of the build issues on MSVC. I'll get back to you soon.

Thank you again for your continuous contribution to this project, I really appreciate that!

[2019-08-15 18:13] Dysl3xik commented on #221
No problem, I am using it for a work application so I am still on the clock :D. Getting these contributions baked in makes it easier in the future to update to latest code without having to maintain our own custom build and potentially have conflicts.

To shorten your search for the MSVC build issue it is specifically this https://github.com/seladb/PcapPlusPlus/pull/224/commits/b2082cf4eb0feb7351a

[2019-08-19 08:10] namedjmd opened #225 "some features of pcap++"
Does pcapplusplus surport modify  pcap file data,such as: src ip or dst ip or the mac?I want to do some security testing by replay the packages from client to server.

[2019-08-20 04:56] seladb commented on #225
You cannot edit a pcap file directly but you can read packet by packet from file, edit them (change the IP address etc.) and write them to a new file. Please let me know if that should work

[2019-08-20 04:57] seladb commented on #220
hi @sashabel please let me know what you think of my suggestion. We can either make a fix of leave the code as is

[2019-08-20 09:07] seladb commented on #221
PR #224 is merged, please let me know if we can close this issue

[2019-08-20 14:54] sashabel commented on #220
Hi , the suggestion seems reasonable . I am on vacation till the end o August so didn't have a chance to check it. Can you please wait till the end of month ?

[2019-08-20 18:47] seladb commented on #220
thanks @sashabel . I'll try to do the fix myself, it shouldn't be much work. I'll keep you posted

[2019-08-21 06:32] seladb commented on #220
The fix is even easier than I thought. There is already a loopback flag in `PcapLiveDevice` so I just used it when setting the MTU on Windows loopback interfaces. I tested using the code you published earlier and it seems to be working. Please pull the latest code from `master`.

I'll close the issue now, please reopen it if needed.

[2019-08-21 06:32] #220 closed

[2019-08-21 12:52] Dysl3xik commented on #221
I believe so. Thanks for taking in the merge!

[2019-08-21 12:52] #221 closed

[2019-08-21 12:53] Dysl3xik commented on #221
I believe so. Thanks for taking in the merge!

[2019-08-21 20:07] seladb commented on #225
please let me know if we can close this issue

[2019-08-22 08:13] christinaa opened #226 "[Bug]: Using 2^16 (which is 2 XOR 16) in NetworkUtils.cpp to get highest port number."
Seems to be a minor bug in `NetworkUtils.cpp`, picked up by Clang:

[code]

[2019-08-22 09:15] seladb commented on #226
thanks for reporting this issue!

it's strange that Clang doesn't understand 2^16...

[2019-08-22 12:25] christinaa commented on #226
Clang does understand it, but `^` operator is a a bitwise XOR in C/C++ (unless overloaded) so `2 ^ 16 = 0b10 xor 0b10000 = 0b10010 = 18`. Some languages treat `^` as exponentiation, hence the confusion, I think.

[2019-08-22 15:23] seladb commented on #226
You're right, I got confused with other languages :)

Thanks for the quick fix! I merged the PR

[2019-08-22 15:23] #226 closed

[2019-08-23 16:18] seladb commented on #225
I'll close it for now, please reopen it if needed

[2019-08-23 16:18] #225 closed

[2019-08-28 19:27] tylerccg opened #230 "[Windows Testing Error] file open : /proc/[pid]/maps failed"
PCap++ is supposed to work across all OS's however I am getting this Unix type error and can't figure out how to get around it.  Screenshot is attached, please help

![pcap++cap](https://user-images.githubusercontent.com/50339567/63886341-e0cc9e00-c99f-11e9-8956-a8ed0f6fcabe.PNG)

[2019-08-29 13:13] tylerccg commented on #230
Thank you for the info, I was hoping to use this as a working example to build a program that would simultaneously capture and filter based off of packet criteria.  Would you have an example that I can go off of?

[2019-08-29 16:07] clearcapgroup commented on #230
I found your tutorial directory (sorry for the above comment) however when trying to compile LiveTraffic following the directions I am met with the following:
![image](https://user-images.githubusercontent.com/11523601/63957012-39a64000-ca4d-11e9-9deb-7afc5356680c.png)

[2019-08-29 16:12] tylerccg commented on #230
Just realized I made that comment under the company account^^^it was me though

[2019-08-29 19:27] seladb commented on #230
could you please describe how you configured PcapPlusPlus? Are you using MinGW, MinGW-w64 or MSVC?

It'd be great if you can share PcapPlusPlus configuration and build log

[2019-08-30 03:23] yhtsywfw opened #231 "激光雷达pcap解析"
您好！请问pcap能解析成单帧pcd点云吗？

[2019-08-30 06:05] seladb commented on #231
I don't understand Chinese, can you please translate to English?

[2019-08-30 07:00] yhtsywfw commented on #231
Can PCAP be resolved into a single-frame PCD point cloud?

[2019-08-30 08:59] seladb commented on #231
What is single-frame PCD point cloud?

[2019-08-30 10:23] yhtsywfw commented on #231
Point cloud data refers to a set of vectors in a three-dimensional coordinate system. These vectors are usually expressed in three-dimensional coordinates of X,Y, and Z, and are typically used primarily to represent the shape of an object's outer surface. In addition to the geometric position information represented by (X,Y,Z), point cloud data can also represent the RGB color, grayscale value, de

[2019-08-30 12:55] tylerccg commented on #230
MinGW32 I believe, I was following the guide and its been a couple of days but my install path is: C:\mingw-w64\i686-8.1.0-posix-dwarf-rt_v6-rev0\mingw32 so I'd assume I'm actually using the 32 bit.  Also the logs are attached, let me know anything else you'll need please.  Thanks for the replies
[Pcap++.log](https://github.com/seladb/PcapPlusPlus/files/3559967/Pcap%2B%2B.log)
[Pcap++.Build.CppCle

[2019-08-30 15:08] tylerccg opened #232 "Centos 7 PCap++Test errors"
Seladb I do not mean to bog you down with issues as I have moved from Windows to one of our Cent servers since pcap seems to be more native to Linux and I figured testing and building would be easier.  It would still be nice to get a clean Windows test but for now that could be put to the side with low priority (I'd rather focus on Linux now).  I've fixed a couple of issues in main.cpp for Pcap++T

[2019-08-31 06:42] seladb commented on #231
thanks for the thorough explanation. So how is this related to pcap and packet capture?

[2019-08-31 06:47] seladb commented on #232
you should run the tests from the `Pcap++Test` directory, like that:

[code]

[2019-08-31 06:51] seladb commented on #230
Are you sure you're building it using MinGW-w64? from the logs you attached it seems you're building it on MSVC. Please follow the instructions here:

https://pcapplusplus.github.io/docs/install/build-source/mingw

[2019-08-31 14:38] tylerccg commented on #232
Thanks that makes a lot of sense now that I noticed the cUrl dir.  I'm getting other assertion error now and still  getting the MTU larger error that I've received in other examples as well.  How would I fix the MTU error and get passed these assertion failures?
![pcap++test](https://user-images.githubusercontent.com/50339567/64065415-05f52280-cbd3-11e9-8b31-af09a9f2f868.PNG)

[2019-09-01 01:36] seladb commented on #232
Yes, one more thing that is required is to have network traffic flowing while the tests are running. Some of the tests expect to capture and analyze TCP or HTTP/HTTPS packets.

[2019-09-02 01:15] yhtsywfw commented on #231
The packet is a pcap file that wants to parse into a point cloud of every moment.

[2019-09-02 07:46] seladb commented on #231
maybe it's a different pcap format? The pcap format supported by PcapPlusPlus is for network packets captured from some network interface. I think the format you're talking about is completely different

[2019-09-02 11:48] yhtsywfw commented on #231
yeah,  network packets captured from some network interface.UDP protocol.

[2019-09-02 19:09] seladb commented on #231
PcapPlusPlus can decode UDP packets, but it doesn’t support decoding the protocol you’re talking about. You’re of course more than welcome to add this functionality to PcapPlusPlus, I can guide you on how to do it

[2019-09-03 08:07] yhtsywfw commented on #231
OK， thanks。

[2019-09-03 08:16] seladb commented on #231
Sure, please let me know if we can close this issue

[2019-09-03 08:25] yhtsywfw commented on #231
ok，But I don't think I can solve it. I want to give up。

[2019-09-03 10:04] seladb commented on #230
Issue fixed in commit da0496a46cd8257e9f34d95ae5ede4aae1e84238, closing the issue now

[2019-09-03 10:04] #230 closed

[2019-09-03 18:54] tylerccg commented on #232
Makes sense, thank you; however, I am still receiving the MTU error and trying to run "Tutorial-LiveTraffic" receives the same error with a different size.  How can I get past this?

![pcap++test](https://user-images.githubusercontent.com/50339567/64200524-53cb8e00-ce52-11e9-9ab4-7e89573d1379.PNG)

[2019-09-03 18:56] seladb commented on #232
It seems you're sending Jumbo packets which are larger than the device MTU. You should try to send smaller packets

[2019-09-03 18:57] tylerccg commented on #232
is this hard coded in main or is there a command line argument I can pass to the program?  I cannot seem to find the code

[2019-09-03 19:16] seladb commented on #232
Here's the line that checks for packet length and throws an error in case packet length is larger than MTU:

https://github.com/seladb/PcapPlusPlus/blob/3df31699b1bcd0325faff9029df0a5d342de9ec3/Pcap%2B%2B/src/PcapLiveDevice.cpp#L545

[2019-09-03 19:32] tylerccg commented on #230
Following the given doc for MinGW32 everything goes as expected until: "Run mingw32-make.exe all from PcapPlusPlus main directory" .... there is no mingw32-make.exe in the directory, ran "cd ..\..\PcapPlusPlus / mingw32-make.exe all" and got command not recognized, which led me to check MinGW directory to which this program is not there.  Any ideas?

[2019-09-03 19:35] tylerccg commented on #232
Understood but I am assuming using the Tutorial there is some default packets being crafted and sent for tutorial purposes and this is where I am getting the error "Tutorial-LiveTraffic" ; how can I manage those to get them below MTU size?  Or am I just wrong, what packets is this tutorial analyzing?

[2019-09-04 00:26] seladb commented on #230
That's correct. The `mingw32-make.exe` is MinGW `make` command and it's located in MinGW `bin` folder. You can either add it to you path or run it with full path, for example:

Option 1 (add to your `PATH`):

[code]

Option 2 (run with full path):

[code]

[2019-09-04 00:29] seladb commented on #232
Oh now I understand your question.

What this tutorial does is capture packets from your network and then sending them back to the network. Are you capturing and sending packets to the same interface?

[2019-09-04 13:03] tylerccg commented on #230
I only have C:\MinGW\bin\mingw-get.exe & pthreadGC-3.dll in the bin dir

[2019-09-04 13:07] tylerccg commented on #232
I'm using everything default besides changing interfaceIPAddr to the IP of my NIC.  Does the tutorial capture and send packets to the same interface?

[2019-09-04 16:17] seladb commented on #230
You should also install `g++` and all of the packages related to `pthreads`. Just go to MinGW installer and add those packages

[2019-09-04 16:19] seladb commented on #232
Yes it should. Can you please run the following command in your machine and paste the result?

[code]

[2019-09-04 16:47] tylerccg commented on #230
Thanks for going through all the twists and turns with me, everything seems to be working.

[2019-09-04 16:49] tylerccg commented on #232
em1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
em4: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
p2p1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
p2p2: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
virbr0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500

I am using em1 for testing, I know I can change the config in software and

[2019-09-05 04:08] seladb commented on #231
I'm closing this issue now. Please reopen it if needed

[2019-09-05 04:08] #231 closed

[2019-09-05 04:11] seladb commented on #232
I'm not sure I fully get you... the interface will not allow sending packets which are larger than the MTU. It will either fail or split them into smaller packets. So what is your suggestion?

[2019-09-05 05:30] KevinSmild opened #234 "RawPacketsVector concurrent"
Hi. I would like to thank you for this nice library, it's much more simpler and C++ish than npcap or libpcap.

I would like to ask a question. Is there any way of making the Async capture with a vector thread concurrent without changing the library code?

[2019-09-05 06:00] seladb commented on #234
thanks for the kind words :)

Could you please clarify your question? what do you mean by async capture with a vector thread?

[2019-09-05 06:18] KevinSmild commented on #234
Sorry.
What I meant is if there is a way of making "Asynchronous packet capture using a packet list (vector)" thread safe.

[2019-09-05 06:27] KevinSmild commented on #234
I want to capture packets and process them at the same time (without stopping the capture). It would be nicer if I can process a bunch of packets at the same time instead of processing one by one. Hence, I would like to use the "Asynchronous packet capture using a packet list (vector)" capture mode of your library.

That being said, I have (at least) two threads trying to use the same pcpp::RawPac

[2019-09-05 07:18] seladb commented on #234
Thanks for clarifying your question. If I understand your ask, you're currently using the API:

[code]

And you're looking for a way to start using the packets in the `RawPacketVector` before stopping the capture.

Unfortunately `RawPacketVector` (which is based on `std::vector`) is not thread safe so this may not work. But it's should be pretty easy to make it thread safe by adding a locking mech

[2019-09-05 17:32] seladb commented on #232
It really depends on the hardware and network infrastructure. Both can happen...

[2019-09-06 05:30] KevinSmild commented on #234
Thanks for your reply.
I'll work on that.

[2019-09-06 05:52] seladb commented on #234
Thanks. Please create a PR once you're done and I'll review and merge it

[2019-09-06 11:50] Muhammad-Akram opened #235 "Getting issue to use IPDeregmentation utility in DPDK Bridge Example application"
While merging the code of IPDefragment Util in DpdkExampleBridge application, application is not able to concatenate two fragments into one rather giving an error
**"Couldn't append 2092 bytes to mbuf"**
Need help about where mempool initialization can be done using PcapPlusPlus examples. Thanks

![image](https://user-images.githubusercontent.com/40422137/64425840-65b56700-d0c6-11e9-95b4-e2ab09012

[2019-09-06 14:29] tylerccg commented on #232
Okay, thank you for your responsiveness

[2019-09-06 14:29] #232 closed

[2019-09-06 19:04] tylerccg opened #236 "Human Readable Data"
seladb,

I am developing a packet capture, filter, and reader program and am currently working on extracting the raw data from the packets (after I have captured them).  My capture works fine, however when running getRawDataRead() & getRawDataReadOnly() I get some unfamiliar outputs.  I was wondering if you knew the output type (because it does not look like hex to me), and how to parse it into a

[2019-09-06 22:36] seladb commented on #236
The method that you mentioned provides a byte array that contains the raw packet data.
What do you mean by human readable data? Would you like to convert it into a hex stream (like 0x363a5f7e...) or extract the actual information in the packet?

[2019-09-06 22:45] seladb commented on #235
As you already figured out, the reason for this error is that DPDK mbuf can't go over the size of `RTE_MBUF_DEFAULT_BUF_SIZE` which is 2048 bytes. In order to work with packets larger than that DPDK provides a mechanism to chain mbufs but this mechanism is not yet supported in PcapPlusPlus.

You can try to create a mempool with a larger size, but I can't guarantee it would work as I've never tried

[2019-09-07 00:28] tylerccg commented on #236
Extract the actual information in the packet so something like bytes-->hex-->utf8

[2019-09-07 05:49] seladb commented on #236
You can use [byteArrayToHexString()](https://pcapplusplus.github.io/api-docs/namespacepcpp.html#a13d338c123afbd98ee99a9b2ac78f59a), it takes a byte array and turns it into a hex stream. It is already being used in several places in PcapPlusPlus like here:

https://github.com/seladb/PcapPlusPlus/blob/36e72bc8ad29b9b71c3a51c21c9dff5a28d18ce5/Packet%2B%2B/src/PacketTrailerLayer.cpp#L9

[2019-09-09 17:49] tylerccg commented on #236
Sorry to keep bogging you with so many questions as my C++ programming is being learned through this project; I got my hext string from the function above (thank you I didn't see that implementation before) and my output is looking like the following:
"100e7ec5f830d4ae"  ... which clearly looks like hex.  I've searched around online to try to find a way to convert this hex string into a readable s

[2019-09-09 17:50] tylerccg commented on #236
....the insert code seems to be broken

[2019-09-09 20:02] tylerccg commented on #236
`std::string hex_to_string(const std::string& input)
{
	static const char* const lut = "0123456789ABCDEF";
	size_t len = input.length();
	if (len & 1) throw std::invalid_argument("odd length");

	std::string output;
	output.reserve(len / 2);
	for (size_t i = 0; i < len; i += 2)
	{
		char a = input[i];
		const char* p = std::lower_bound(lut, lut + 16, a);
		if (*p != a) throw std::invalid_argument(

[2019-09-10 05:46] seladb commented on #236
I'm sure you're aware that most protocols are [binary protocols](https://en.wikipedia.org/wiki/Binary_protocol), meaning the data is encoded into bytes instead of human readable strings. There are a few exceptions for that like the HTTP and SIP protocols which are string encoded. Because most protocols are binary encoded people need libraries like PcapPlusPlus which provide methods and APIs to int

[2019-09-10 14:57] tylerccg commented on #236
I'm sorry but I do believe I have been using that method at this line:
`std::cout << std::endl << parsedPacket.toString() << std::endl;`
However that's not really what I was looking for.

I understand you would have to decode binary to utf8 as I have decoded binary through other languages and even further proven by me re-working some of my code and I am getting some data to extract but not all of

[2019-09-10 15:35] tylerccg commented on #139
larsvlent, did you ever get the data decoded into something usable like UTF8?

[2019-09-10 15:35] tylerccg commented on #139
larsvlent, did you ever get the data decoded into something usable like UTF8?

[2019-09-10 21:26] seladb commented on #236
I'm still not sure I completely follow you so let me give you an example:

In IPv4 protocol IP addresses (both source and dest) are decoded as 4 bytes. For example, the IP address "12.13.14.15" is decoded as the following 4 bytes: `0x0C 0x0D 0x0E 0x0F`. So in order to decode these 4 bytes into the string "12.13.14.15" you cannot do a simple utf8 decoding. You should be familiar with the protocol a

[2019-09-10 22:20] Dysl3xik commented on #126
I just stumbled upon this because I was searching for high CPU usage in windows.

May I suggest you add somthing about this in the documentation or consider setting the default to 1 in windows? I was capturing on 2x nics and burning up 25% of my i7!

[2019-09-11 00:01] Kloc-sure opened #237 "PcapFileWriterDevice::close() doesn't set IDevice::m_DeviceOpened to false"
As a result, PcapFileWriterDevice::isOpened() does not work as intended.

[2019-09-11 06:01] seladb commented on #126
It is already documented in PcapPlusPlus API: https://pcapplusplus.github.io/api-docs/structpcpp_1_1_pcap_live_device_1_1_device_configuration.html

Regarding changing the default value on Windows - it will indeed decrease CPU usage but will also impact performance. That's a tough choice...

[2019-09-11 09:58] Muhammad-Akram commented on #235
Thank you Seladb for the help. I was not able to locate mempool creation. It worked for me.

[2019-09-11 14:26] tylerccg commented on #236
We can slack if that'd be easier, but just to clarify, you have no method to extract the encapsulated payload data into readable characters in string form?

[2019-09-11 20:35] seladb commented on #235
I'm glad to hear! can we close this issues?

[2019-09-11 21:18] seladb commented on #236
yes, that's correct. Please let me know if you'd like to further discuss on Slack

[2019-09-11 22:54] #237 closed

[2019-09-12 03:46] chengwu opened #239 "vxlan udp port"
else if (portDst == 4789)
      m_NextLayer = new VxlanLayer(m_Data + sizeof(udphdr), m_DataLen - sizeof(udphdr), this, m_Packet);

there are maybe something wrong，vxlan udp port is congifurable

[2019-09-13 15:21] tylerccg commented on #236
That'll be it, thank you for your time seladb.

[2019-09-13 15:21] #236 closed

[2019-09-15 01:28] chengwu commented on #239
Maybe interface for setup vxlan port is necessary.

[2019-09-15 06:29] seladb commented on #239
do you have examples where vxlan port is different that 4789?

[2019-09-15 17:16] uvletter opened #240 "configure-mac_os_x.sh cannot be executed with both libpcap-dir and install-dir"
The command is:
[code]
and output is
[code]

I found the Linux script support the both, while mac not. I think it's plain but so long has nobody put forward it. Maybe it'a a feature aha

[2019-09-16 02:22] chengwu commented on #239
rfc-7348 say like this:
 -  Destination Port: IANA has assigned the value 4789 for the
         VXLAN UDP port, and this value SHOULD be used by default as the
         destination UDP port.  Some early implementations of VXLAN have
         used other values for the destination port.  To enable
         interoperability with these implementations, the destination
         port SHOULD be configura

[2019-09-16 06:24] seladb commented on #240
I can look into it, but please feel free to suggest a fix

[2019-09-16 06:59] seladb commented on #239
This is the case with many protocols, there is usually the default port(s) but there may be exceptions for this default.

Unfortunately PcapPlusPlus doesn't currently support changing the default ports for any protocol. If you really need this feature you can either add the port in the code or suggest an implementation of this feature. If you decide to go with the second option I can help and guid

[2019-09-16 20:59] seladb commented on #235
I'm closing this issue now. Please reopen it if needed

[2019-09-16 20:59] #235 closed

[2019-09-18 19:06] seladb commented on #239
I'll close the issue for now, please feel free to reopen of you have more questions

[2019-09-18 19:06] #239 closed

[2019-09-19 10:24] Muhammad-Akram opened #241 "TcpReassembly returning different number of packets with two options in input."
TcpReassembly is giving different number of packets in a stream while using PCAP as input and receiving same stream on interface as input. I am unable to figure out issue here. Any help will be appreciated.

**Matadata output while using PCAP as input method:**

[code]

**Matadata output while receiving same stream on inetface as input method:**

[code]

[2019-09-19 10:49] Muhammad-Akram commented on #241
It is working fine while using small Streams:

**Matadata output while using PCAP as input method:**
[code]

**Matadata output while receiving same stream on inetface as input method:**

[code]

[2019-09-19 18:44] seladb commented on #241
it seems that you get a different number of packets when you stream packets from a network interface as opposed to the pcap file. This is usually the case because pcap is a "closed environment" where you can control which packets are coming in whereas in a network interface it's usually very difficult to control which packets go on the wire

[2019-09-19 19:18] Muhammad-Akram commented on #241
In my environment, I am using tcpreplay to stream packets of the specific PCAP. All the packets are transmitted successfully but TcpReassembly is unable to completely Reassemble the streams.

[2019-09-19 21:04] seladb commented on #241
Did you use tcpdump or wireshark to capture the received packets coming from the network? Did you verify all packets are the same?

[2019-09-20 06:39] seladb commented on #240
Bug fixed, thanks for catching that!

[2019-09-20 06:39] #240 closed

[2019-09-20 16:05] uvletter commented on #240
Think you!

[2019-09-21 20:09] echo-Mike commented on #100
Hi, @seladb !
I have thought about this task and want to share some thoughts with You.
The general reordering module must solve the next problem:

This representation of the __GR__ will suffer from HOL(Head-Of-the-Line blocking) problem.
My questions:
1. Do I correctly understand the purpose and definition of __GR__ facility?
2. The HOL problem is the general problem for any _streaming_ channels (

[2019-09-21 20:28] echo-Mike commented on #100
In my terms the __GR__ sees the sequence __r(N+M)__ that is made as so (C++ pseudocode):
[code]

[2019-09-21 20:32] echo-Mike commented on #100
The sequence __r(N+M)__ represents the TCP packet stream captured from Network or read from file or other source

[2019-09-22 07:18] seladb commented on #100
@echo-Mike thanks for thorough explanation. I am not familiar with the **GR** problem you described so it's hard for me to comment about it. I'm also not familiar with the HOL problem.

I think that TCP reordering is very similar to TCP reassembly, with one big difference that in TCP reordering you don't need to recreate the stream, you just need to rearrange the packets in the right order which s

[2019-09-22 09:19] echo-Mike commented on #100
Oh, I see now. I have thought that the TCP reorderer should be similar to TCP reassembly but for one stream only. But the description You suggest makes me ask other questoins:
1. Do this potential module should work within some burst of packets (so effectively it can be stateless) or across multiple bursts within one session (this will require it to be stateful)?
2. Are there any requirements for

[2019-09-23 06:34] seladb commented on #100
I think it'll be much more useful if it can work on multiple concurrent TCP connection. That way it can work on both live TCP stream as well as a pcap file

I'm not sure what exactly you mean, can you please clarify?

I believe we can limit the implementation to TCP which is probably the most popular use case

I think it should work on both sides

[2019-09-25 16:24] gx740 opened #242 "Incorrect RADIUS packet is decoded as correct"
Hello.

During decoding of RADIUS packets (refer to `UdpLayer::parseNextLayer` method) the check of correctness of header is not carried out. I think, at least the length of header must be checked (It is better to check the correctness of whole packet with all attributes).

In the attached file is represented the incorrect RADIUS packet for which the `RadiusLayer` is created successfully. The proc

[2019-09-25 17:03] gx740 commented on #242
Moreover I think that the following methods of base class should be overridden in RadiusLayer class:
getFirstAttribute, getNextAttribute, getAttribute, getAttributeCount.
The additional check of attribute length should be added in all methods. If the length less than 2 then the packet is incorrect and method must return TLVRecordType(NULL).
Otherwise the client's code that handles the attributes m

[2019-09-26 07:43] seladb commented on #242
I agree with you, however these checks are not performed for any of the layers, mostly for performance reasons: parsing the whole layer well in advance will definitely cause performance degradation.

Having said that, we can add basic checks like making sure the layer length is greater than the RADIUS header. Also, we should prevent infinite loop if packet is malformed.

Would you mind making thes

[2019-09-26 07:48] gx740 commented on #242
Yes, I will make changes today

[2019-09-29 04:44] asif48 opened #246 ".pcap files of normal traffic (does not contain malicious traffic)"
Sir can I have .pcap files of only normal traffic?

That must not contain malicious traffic...

[2019-09-29 06:42] seladb commented on #246
sure, you don't need me for that, you can simply google it :)

Here are a few web-sites you can consider:

https://wiki.wireshark.org/SampleCaptures

https://packetlife.net/

https://cloudshark.io/ (if you know which traffic you're looking for)

https://pcapr.net/home

You can also capture traffic from you own machine using Wireshark or tcpdump

[2019-09-29 07:05] seladb commented on #241
Please let me know if this is still relevant, otherwise we can close it

[2019-09-29 11:50] asif48 commented on #246
Thanks very much ...
I was not been able to find that sites initially when I googled...
Glad to see your immediate response.

 

With Best Regards

Asif Rehman

OH ALLAH! Make useful for me what You taught me
and teach me knowledge that will be useful to me!

 

 

    On Sunday, September 29, 2019, 11:43:02 AM GMT+5, seladb <notifications@github.com> wrote:

sure, you don't need me for that, you

[2019-09-29 20:03] #246 closed

[2019-09-30 01:50] asif48 commented on #246
One thing more...

I want to have .binetflow files also along with .pcap files.

[2019-09-30 05:24] seladb commented on #246
I'm not sure what .binetflow files are...

[2019-09-30 06:23] seladb opened #247 "Relicense PcapPlusPlus to MIT?"
As you all know I created PcapPlusPlus as an open source project, with a goal in mind that everyone will be able to use it for any purpose (personal, academic, commercial or other). I'm always keeping this goal in mind and trying to make sure people are not blocked using this software because of licensing issues.

The current license is [Unilicense](https://unlicense.org/). I'm not a lawyer and ha

[2019-09-30 08:05] luigino commented on #247
Looks like a good idea.

[2019-09-30 08:20] krepver commented on #247
Looks good to me

[2019-09-30 09:05] christinaa commented on #247
Zero-Clause-BSD Could be a viable alternative if you're aiming for a public-domain-like license since MIT is still a notice-type license (although permissive in all other aspects). Also when looking at MIT, the ISC license is also worth considering as it's basically a stripped down version of the MIT license containing only legally necessary text but otherwise being identical to MIT (from my under

[2019-09-30 15:01] garethsb-sony commented on #247
I have suggested on the Google Groups thread using the Boost Software License, which is also short, MIT-like, but doesn't require notice in binaries, only source.

https://choosealicense.com/licenses/bsl-1.0/

[2019-09-30 15:23] gx740 opened #248 "TcpReassembly (question)"
I have found that the methods `closeConnectionInternal` and `closeAllConnections` have different behavior in relation to `m_ConnectionInfo` vector. The `closeAllConnections` clears this vector while closeConnectionInternal does not remove the data from it.

Should `closeConnectionInternal` remove data from vector or not?

[2019-09-30 18:14] gx740 commented on #248
I think this is a bug.

[2019-09-30 19:52] Dysl3xik commented on #247
I agress with @garethsb-sony

Boost would be good I think, it keeps the requirements on the coder the same as today, i.e. no notification required.

If you switch to MIT or similar you then require people to edit their about, readme, whatever to notify people of the license.

[2019-09-30 22:51] seladb commented on #248
Yes I think you're right, good job on catching it!

Since I wrote this code a long back, I'd suggest testing the change carefully as I'm not sure if I had a good reason for not removing the `ConnectionData` from `m_ConnectionInfo`

[2019-10-01 00:03] Dysl3xik opened #249 "Dropping Packets Advice"
This is a request for help / guidance, not a bug per say. I am unsure of a better place to put this at.

I have been working with PCPP for a while now. I have been able to use it to successfully capture packets reliably while doing testing and development, and have now moved on to integrating it into my larger application.

The input stream is something like 30Mbits/sec as a baseline.

Now that I

[2019-10-01 05:34] seladb commented on #241
I'll close this issue for now, please reopen it if needed

[2019-10-01 05:34] #241 closed

[2019-10-01 05:53] seladb commented on #249
Thanks for providing these details. While it's quite difficult to debug this issue without actually seeing your application, here are a few things I have in mind to try to narrow down the possible root causes:

- You mentioned you're writing packets to a file. Disk I/O can be very expensive in terms of performance. I'd suggest testing the same code without writing to disk. You can keep a packet co

[2019-10-01 06:02] seladb commented on #247
Thanks everyone for your comments. It seems you know much more about open source licenses than me :)

You were mentioning 3 other licensing options in addition to MIT: Zero-Clause-BSD, ISC and BSL,
Could you please provide an overview "for dummies" about the differences between the 4 of them?

@christinaa @garethsb-sony @Dysl3xik

[2019-10-01 06:03] seladb commented on #242
Your fix is merged into `master`. Thank you so much for your continuous contribution to this project!

[2019-10-01 06:03] #242 closed

[2019-10-01 07:24] gx740 commented on #248
I have looked into the code and found that there is one reason not to remove connection info: if the client's code wants to use this info after session removing. There is the method getConnectionInformation to get a const reference to m_ConnectInfo at any time. But I don't see the reasonable use case for such idea. We just get a memory leakage.

[2019-10-01 07:33] gx740 commented on #248
It's a little about getConnectionInformation method. It seems to me that this method is quite useless. Why? It returns an unsorted vector and we have no way of quick access by flowKey.

[2019-10-01 07:53] garethsb-sony commented on #247
My 2p. And usual disclaimer: <abbr title="I Am Not A Lawyer">IANAL</abbr>.

All four are similar.

MIT and ISC both require notice in source and binary distribution. MIT is the most commonly used licence on GitHub (45% [in 2015](https://github.blog/2015-03-09-open-source-license-usage-on-github-com/)) by a significant margin. On that basis, since common = devs/managers/lawyers have seen it before,

[2019-10-01 08:32] gx740 opened #250 "TcpReassembly, memory leakage"
When the session is removed the `flowKey` is put into `m_ClosedConnectionList` map.
Unfortunately this map never clears.

[2019-10-01 11:02] christinaa commented on #247
I think BSL would be best in this case, besides even in case of Unlicense or 0BSD, the license notice is still commonly checked into the internal repositories for "bookkeeping" (as proof of the fact that the software was provided under these terms).

So yes I agree with @garethsb-sony, I think BSL would be a good compromise since it's well known, doesn't require a notice in binary distributions an

[2019-10-01 18:23] seladb commented on #248
Thanks for checking, I think that was probably the reason I decided not to remove the connection info. I do agree that in large scale this will cause a memory leak, but maybe there are use cases where you need to query this data.

I also agree that for a large number of connection using `getConnectionInformation()` will be quite useless. Maybe we should consider replacing the vector with a map?

T

[2019-10-01 18:40] seladb commented on #247
@garethsb-sony @christinaa thanks for explaining the differences between those licenses.

It seems we've narrow down the options to two: MIT or BSL.

BSL seems to be more permissive but MIT is more popular.

Actually I couldn't find BSL in articles comparing the popular licenses used in GitHub projects, both in [2015](https://github.blog/2015-03-09-open-source-license-usage-on-github-com/) as @gar

[2019-10-01 19:04] seladb commented on #250
Yes, this is probably an issue in high scale.

On one hand we need to keep a list of closed connections in case we see a packet that comes after the FIN packet (which happens sometimes due to network issues). On the other hand we probably don't need to keep it forever.

When I built this feature I was thinking whether to build a cleanup mechanism or not and I've decided to postpone it until the de

[2019-10-01 19:37] gx740 commented on #248
Yes we can add these features.
Should the flag be a property of class or a parameter of function?

I think additional optimizations can be done (maybe in another PR):
1. Removing m_ClosedConnectionList at all
2. m_ConnectionList will store a pointer to data or null. Null means the connection is closed.

[2019-10-01 22:04] Dysl3xik commented on #247
Trying to pick the most popular license isn't necessarily the best way to look at this problem IMO.

Another way to consider this is what projects are using boost, this list is the easiest for me to find as its provided by boost directly even though its not too long it does show Adobe using it:
https://www.boost.org/users/uses_shrink.html
https://www.boost.org/users/uses_open.html
https://www.boos

[2019-10-01 22:11] Dysl3xik commented on #249
Not surprisingly this ended up being my own stupid fault. I was accidentally continuously setting the capture filter in my integrated version.

It is 100% allowed to change the filter mid capture, BUT, every time you change it will toss packets currently in the buffer. This was ultimately leading to my missing packets!

[2019-10-01 22:11] #249 closed

[2019-10-01 23:07] seladb commented on #249
Thanks for the update, I'm glad you found the root cause so quickly

[2019-10-01 23:28] seladb commented on #248
As per my answer in #250 we cannot simply remove `m_ClosedConnectionList`, but we can create a mechanism to clean it a short time after a connection is closed (maybe a few seconds?).

When I come to think of it maybe the same mechanism should apply for `m_ConnectionInfo` as well to provide a good reflection of the flows currently being handled in TcpReassebmly.

So maybe we can divide the work int

[2019-10-02 00:17] seladb commented on #247
@Dysl3xik thanks for your comment. The reason I'm worried about license popularity is because one of the main reasons we're doing this whole exercise is to choose a license which is more well-known than Unilicense so people will feel more comfortable with it.

If BSL is not one of the 10 most popular licenses in GitHub than I'm a little concerned...

Regarding dual license - I prefer not to go tha

[2019-10-02 06:04] gx740 commented on #248
Ok. First I am starting the work on this issue. #250 will be next.

[2019-10-02 06:31] seladb commented on #248
makes sense, thank you!

[2019-10-02 09:45] garethsb-sony commented on #247
One other thing to consider might be what licenses are used by the underlying implementations?

* libpcap appears to be 3-clause BSD (https://www.tcpdump.org/license.html)
* WinPcap however identifies portions that are 4-clause BSD (https://www.winpcap.org/misc/copyright.htm)
* DPDK seems mostly to have user-space code as 3-clause BSD and kernel code as GPLv2 (http://git.dpdk.org/dpdk/tree/license

[2019-10-02 17:13] gx740 commented on #248
From my point of view:
1. The maps `m_ConnectionList`, `m_ClosedConnectionList` and `m_ConnectionInfo` should be synchronized:

- if `m_ConnectionInfo` contains some flow key then only one of `m_ConnectionList` and `m_ClosedConnectionList` may contain the same flow key.
- if `m_ConnectionInfo` does not contain some flow key so the same flow key is not stored in `m_ClosedConnectionList` and `m_Conn

[2019-10-03 07:07] seladb commented on #248
Sorry for the late response. Overall your proposal looks good to me, here are a few comments:

- instead of adding the `m_RemoveConnInfoFlag` flag, maybe it's better to do the opposite: add a `m_DoNotRemoveConnInfo` flag and by default remove closed connection after a certain period of time
- I'm not sure how you plan to use the map of type `std::map<time_t, std::list<uint32_t>>` to efficiently de

[2019-10-03 08:54] gx740 commented on #248
Yes it's better

When connection is closed the flow key is inserted into the list of certain item of `m_ClosedConnectionTtl`. Keys are ordered in an ascending order. So we can get a range of values.

Possible implementations of `purgeClosedConnections` method:
[code]
[code]

Unfortunately we cannot use unordered_map container. It could be significantly faster than map.

[2019-10-03 09:09] gx740 commented on #248
You're right. Let's the user will decide when cleanup should be done.

[2019-10-03 13:00] gx740 commented on #248
I have made changes in class. Code is successfully built under Visual Studio 2019 and g++ but not tested yet.

[TcpReassemblyNew.zip](https://github.com/seladb/PcapPlusPlus/files/3686090/TcpReassemblyNew.zip)

[2019-10-03 13:32] gx740 commented on #248
An error was fixed in `insertIntoCleanupList`:

[TcpReassemblyNewWithFix.zip](https://github.com/seladb/PcapPlusPlus/files/3686271/TcpReassemblyNewWithFix.zip)

[2019-10-04 06:23] seladb commented on #248
Thanks for your answers, here are a few more comments:

- why using a map `typedef std::map<time_t, std::list<uint32_t> > CleanupList` instead of a sorted linked list where each node contains the timestamp where FIN packet was seen and the flow key? If you use a list you can just go over it element by element and delete all flows that are expired up to the current time
- in `purgeClosedConnections

[2019-10-04 07:46] gx740 commented on #248
In this case the insert operation has a linear complexity because we have to support the list in order. It will be significant impact on performance. When map container is used the complexity is logarithmic (plus one insert into the list with constant complexity). The size of `CleanupList` can be great because the insertion operation is done for each connection that is closed.

[2019-10-04 14:29] gx740 commented on #248
I see two possible cases: offline and live traffic.

**Offline traffic**
In this case the number of items are being purged from internal structures does not matter. So the user just call `purgeClosedConnections` without limitation on the number of processed items. `reassemblePacket` can also purge all expired data in certain point of time.

**Live traffic**
In this case the number of items are bei

[2019-10-04 15:58] gx740 commented on #248
An implementation of ideas described above.

[TcpReassemblyWithAutoCleanup.zip](https://github.com/seladb/PcapPlusPlus/files/3691314/TcpReassemblyWithAutoCleanup.zip)

[2019-10-04 17:23] Dysl3xik opened #253 "Memory Leak pcapng reader"
I think I found a pretty big memory leak in my rework of the pcapng code.

in light_pcapng.c please add
`free(local_data);`
to line 358
just before `*record = current;`

![image](https://user-images.githubusercontent.com/21955286/66226902-eb1e3e00-e6a9-11e9-8d53-6c0154666a44.png)

[2019-10-04 17:23] Dysl3xik commented on #253
Sorry I don't have time to issue PR myself right now, but this should fix the issue!

[2019-10-04 18:27] seladb commented on #253
sure, I can make the fix and test it

[2019-10-06 08:35] agentsofshield commented on #164
is there any progress on the windows side of the cmake building availability?

[2019-10-07 02:24] eteran commented on #164
I apologize for the delay. I **was** mid-move in June, and this just kinda fell through the crack. I'll see what I can do to get back into finishing this, honestly, it's probably pretty close as the primary challenge is the system-specific library requirements (like finding and linking to WinPcap).

[2019-10-07 05:59] seladb commented on #164
@eteran I made some progress on top of your work. I think the main challenge remaining is around Windows support (both MinGW and VS). Also there have been a lot of changes in `dev`/`master` branches so we need to sync up the `cmake` branch with `dev`

[2019-10-07 06:26] seladb commented on #248
Thanks @gx740 that looks good to me.

Two more comments:

- Instead of having `TcpReassembly::TcpReassembly()` take 7 parameters, maybe it'd better to create a new configuration object (for example `TcpReassemblyConfiguration`) and move your 3 new params to that object
- Please make sure to document these changes well. It's very helpful that the new params have defaults so the average user doesn't

[2019-10-07 07:21] #253 closed

[2019-10-08 07:37] seladb commented on #100
hi @echo-Mike please let me know if you have any more questions. Do you think you can implement this module?

[2019-10-08 07:39] seladb commented on #234
hi @KevinSmild please let me know if you have the time to work on this

[2019-10-08 07:41] echo-Mike commented on #100
Hi, @seladb. I currently have no time do an open source projects due a volume of work.
I have some more questions before I can do something within this issue but I will only ask them when i will have a little more free time.

[2019-10-08 07:46] echo-Mike commented on #247
Hi, @seladb and other contributors. I am personally releasing all my open source projects under MIT license as I find it more applicable all around the globe.
At my country the open source licensing is not respected by most companies (except the huge ones) as here are no legal precedents that lay to some actions against one that broke open source license aggrement and the law base is not ready to

[2019-10-08 07:48] seladb commented on #100
sure @echo-Mike thanks for letting me know. Please feel free to reach out to me if you have more questions

[2019-10-08 10:46] luigino commented on #247
@selab and everyone else: I'm no expert on OSS licensing, so if you need my consent for any small contribution I might have given, whatever you decide is good for me.

[2019-10-15 06:21] seladb commented on #250
@gx740 PR is merged and pushed to `master`, please let me know if we can close this issue

[2019-10-15 06:21] seladb commented on #248
@gx740 PR is merged and pushed to `master`, please let me know if we can close this issue

[2019-10-15 06:53] gx740 commented on #250
You can close this PR.

[2019-10-15 06:54] gx740 commented on #248
You can close this PR.

[2019-10-15 07:07] #248 closed

[2019-10-15 07:07] #250 closed

[2019-10-15 07:10] seladb commented on #248
thank you again @gx740 for your continuous contribution to this project, much appreciated!

[2019-10-20 20:14] rickyzhang82 opened #260 "Instruction to build in FreeBSD"
Hi,

I’m working on building PcapPlusPlus in pfsense, a derivative of FreeBSD.

Since there is no instructions for FreeBSD installation, I looked into configuration of Linux. It seems to have two dependencies: libpcap and libstdc++ static.

I found that libpcap is supported in FreeBSD port. But due to GPL license in libstdc++, I may have hard time to find it for FreeBSD 11.

I wonder why the requi

[2019-10-20 20:21] rickyzhang82 commented on #260
In fact , why not convert the build script to traditional makefile or even CMake?

[2019-10-21 06:38] seladb commented on #260
I don't remember the exact reason why libstdc++ static was needed, but I do remember it was needed to build PcapPlusPlus successfully. You're can of course try to remove this dependency and see if PcapPlusPlus builds and runs correctly. Please let me know if you succeed. Actually it'd be great to add official FreeBSD support to PcapPlusPlus so based on your work we can decide the best path forward

[2019-10-21 15:44] rickyzhang82 commented on #260
I skim through the code. The structure is well written. I'm not familiar with all dependencies like PF_RING or DPDK. It should be extremely easy to write a simple CMake to handle libpcap dependency in all *nix like OS.

I will give a try in Linux first and see if it fits my research project. Once it is done, I will try it on FreeBSD.

PS: I love your documentation.  Job well done and hats off to y

[2019-10-21 18:04] seladb commented on #260
Thank you so much @rickyzhang82 for the kind words, I really appreciate that!

PF_RING and DPDK are frameworks for high rate packet processing and as far as I know are supported only on Linux. PcapPlusPlus provides a C++ wrapper for them. Supporting them on FreeBSD is probably not needed.

As a first step for supporting FreeBSD I'd recommend using the Linux configuration script `configure-linux.sh

[2019-10-22 00:47] rickyzhang82 commented on #260
Sorry, I don't want to hijack the conversation in FreeBSD. But I want to discuss my intention of using PcapPlusPlus with you. You have better insight than me. Please let me know if I should do it in another channel rather than here.

I'm doing a research project with my spare time to verify a patent filed by an evil regime, who claimed to employ the deep packet inspect technique to blockade free f

[2019-10-22 03:47] rickyzhang82 commented on #260
I sent your a PR #261 and verified it works in my pfsense router.

Travis doesn't support FreeBSD. The best way to keep your stuff tested is to make your repository as one of FreeBSD port. I'm not an expert in legal. FreeBSD is quite picky on license. If your license is compatible with FreeBSD license, I will write a port file for you as well.

[2019-10-22 19:32] seladb commented on #260
Thanks for you PR! I'll review it shortly. Adding PcapPlusPlus to FreeBSD ports is a great idea but unfortunately I have no experience with this so I'd need your help.

Regarding CI - it's very important to have CI for FreeBSD to make sure future code changes don't break FreeBSD compatibility. TravisCI doesn't support FreeBSD but fortunately I found a CI that does: [Cirrus CI](https://cirrus-ci.or

[2019-10-22 19:37] seladb commented on #260
Regarding the changes you propose in `TcpReassembly` (specifically bullet point 2) - I'm not sure why you need to keep the raw packet from the IP layer. If you need IP address information you can get if from `TcpReassembly` itself...

btw, maybe we can open a new GitHub issue for this or discuss this in [PcapPlusPlus Google Group](https://groups.google.com/forum/#!forum/pcapplusplus-support)

[2019-10-22 19:49] rickyzhang82 commented on #260
I will look into Cirrus CI later tonight. It should be a piece of cake to just make it built. In fact, if we can package this as a FreeBSD port, more FreeBSD folks can use it out-of-the-box. In the end, I can just grab it from pfSense directly without my compiling.

I can't get your 3rd party memory leak checking works in FreeBSD. Therefore, I can't build your test program. If you want to get your

[2019-10-22 22:25] seladb commented on #260
The memory leak check is here if you want to take a look and suggest a fix: https://github.com/seladb/MemPlumber

I hope we can make it work on FreeBSD, the unit-tests are a very important part of the CI...

Also you can take a look at a very initial version of working with Cirrus CI: https://github.com/seladb/PcapPlusPlus-Deploy/blob/cirrus-ci/.cirrus.yml

[2019-10-23 01:18] rickyzhang82 commented on #260
I got the Cirrus CI done in my dev branch `dev-pr-cirrus-ci`:

https://github.com/rickyzhang82/PcapPlusPlus/tree/dev-pr-cirrus-ci

Check out the 3 commits and integrate it by yourself.

[2019-10-24 10:15] dayexi opened #263 "eth 802.3 EOIP support"
Could you please add compatibility for eth 802.3?

in[ this link](https://kevincurran.org/com320/labs/wireshark/lab-ethernet.pdf)  in page 8, pcapplusplus can not get next layer of the ethernet and so on. In the code, 6byte mac + 6byte mac + 2 byte protocol type are read from the first 14 bytes but, the last 2 bytes are not protocol type, these 2 bytes demonstrate the length of full packet. How do

[2019-10-24 19:17] seladb commented on #263
I'm not sure how to differentiate between Eth 802.3 to "standard" Eth. Do you know how Wireshark does it?

[2019-10-24 19:51] gx740 opened #265 "Why the source code does not use try-catch?"
I have found a packet (a bogus IPv4 packet) that forces the `IPReassembly::processPacket` to throw the `bad_alloc`. Having looked the code I have found that `try-catch` block has never been used. For example:
[code]
If the second allocation fails we get a memory leak.
Why try-catch block was not added in this case? The use of try-catch has low (even zero) performance overhead when an exception is

[2019-10-25 06:26] dayexi commented on #263
I didnt but i will. Maybe the protocol number can not be lower than a value and it is determined in this way. I edited the length field of eth802.3 pcap sample in hex editor and changed the length to "08 00". Then wireshark  dissected the next packet as broken ip packet.

In the code, I have faced a few same warning in [this line:](https://github.com/seladb/PcapPlusPlus/blob/f25cf80f5fe4c5f9b837ed

[2019-10-25 06:33] gx740 commented on #265
I've prepared PR #266.

[2019-10-25 06:44] seladb commented on #263
You can find Wireshark source code here: https://www.wireshark.org/download/automated/src/
If you can find out how Wireshark does it we can imitate the same logic.

Regarding the warning - please ignore it for now if possible

[2019-10-25 08:07] rom1sqr opened #267 "Feature: let the user add custom LDFLAGS to the main Makefile"
**Related Pull Request :** #264

Generally speaking, but especially with [archlinux](https://www.archlinux.org/) [makepkg](https://www.archlinux.org/pacman/makepkg.8.html), it is good practice to compile binaries with full [RELRO](http://tk-blog.blogspot.com/2009/02/relro-not-so-well-known-memory.html) support (`-Wl,-z,relro,-z,now`). Otherwise, [namcap](https://wiki.archlinux.org/index.php/Namcap

[2019-10-25 13:14] rickyzhang82 commented on #260
Thanks for your great work! I found this repo through tcpdump/libpcap's related projects page. After some investigation, I decided to use yours to start my research project. Because I can tell from the clean code and the well-written doc that you must invest serious efforts to achieve this.

Regarding to sending FreeBSD port to upstream, it takes longer time than this PR. I will create a separate

[2019-10-25 13:19] rickyzhang82 opened #268 "Submit FreeBSD port for PcapPlusPlus"
I'm not a legal expert. But it seems that **The Unlicense** is compatible with **FreeBSD license**.

So I create this issue to discuss the on-going work to submit FreeBSD port for PcapPlusPlus to upstream.

Here is [the FreeBSD instruction for porters](https://www.freebsd.org/doc/en_US.ISO8859-1/books/porters-handbook/)

[2019-10-25 15:48] seladb commented on #260
Sure, thank you again for all your work!

BTW, I'm not sure about FreeBSD ports, but other package managers usually publish only official releases. In that case we'll need to create an official release. Please let me know

[2019-10-25 15:49] seladb commented on #265
yes I understand, however if we can avoid try-catch and handle the edge cases it'd be better. Please let me know if this is possilbe

[2019-10-25 15:53] seladb commented on #268
Regarding the license - please see issue #247 - I plan to change PcapPlusPlus license to a more "standard" one, probably either BSL or MIT.

The change will probably happen in the next official release. I'm guessing FreeBSD port will also need an official release so maybe that can work for us. Please let me know what you think

[2019-10-25 16:46] rickyzhang82 commented on #268
That’s correct. We need an official release for FreeBSD port file to download the source from.

There should be very minimal work left to do.  No patches will be needed. For you,

1. Change to OSI approved license. Preferable - BSD or MIT.
1. Make an official release.

[2019-10-25 17:17] gx740 commented on #265
For this certain case I have prepared the PR #269 which lets not to use try-catch.

[2019-10-25 17:59] echo-Mike commented on #265
The #269 must not be merged and this suggestion makes no sense and that is why:
all cases covered by #269 in true C++ way must be handled not by try...catch blocks which is considered a __code smell__ but with proper use of smart pointers. For the case of Pcap++ that will be the std::auto_ptr (as We are in the realm of C++98, which must be changed ASAP by the way).

[2019-10-26 19:40] #260 closed

[2019-10-27 04:06] rickyzhang82 opened #271 "[BUG] Incorrect TCP payload size check"
Line 207-211 is useless size check.

Do you intend to compare the total length defined in IPV4 header with TCP payload size in this check?

https://github.com/seladb/PcapPlusPlus/blob/f25cf80f5fe4c5f9b837edfda775c57e04585d36/Packet%2B%2B/src/TcpReassembly.cpp#L195-L211

[2019-10-28 07:06] seladb commented on #271
You're right, this is indeed a bug that was introduced in this commit: https://github.com/leoxiaofei/PcapPlusPlus/commit/4dc34581b44304c5af454e824481e15adc98c55f

I guess we can either remove:
https://github.com/seladb/PcapPlusPlus/blob/f25cf80f5fe4c5f9b837edfda775c57e04585d36/Packet%2B%2B/src/TcpReassembly.cpp#L207-L211

Or re-enable the code that checks the IPv4 data. What do you think?

[2019-10-28 07:11] seladb commented on #268
I have [this project](https://github.com/seladb/PcapPlusPlus-Deploy) to package and release new versions. It does different packaging according to the OS / platform. I need to add the latest supported platforms which are FreeBSD and Visual Studio 2017, 2019.

Usually when I create a new release I do extensive testing to make sure the package, examples and tests work well on all platforms. I also p

[2019-10-28 07:23] seladb commented on #265
@gx740 just to make sure: is PR #269 replaces #266? In that case, can we close #266?

@echo-Mike it seems #269 doesn't contain any try...catch block, why shouldn't it be merged?

[2019-10-28 07:25] gx740 commented on #265
PR #266 can be closed

[2019-10-28 07:45] gx740 commented on #265
@echo-Mike: it is a good idea to use smart pointers. But this library is using raw pointers in all places so it is needed to rework whole library. I am not using the std::auto_ptr because there is a unique_ptr in C++11 but I found that there are restrictions in using of std::auto_ptr, such as:
- it cannot contain a pointer to array
- it cannot be used in containers of Standard Library

[2019-10-28 13:27] rickyzhang82 commented on #268
No rush to this process. According to [the section in porter's handbook](https://www.freebsd.org/doc/en_US.ISO8859-1/books/porters-handbook/slow-sources.html), FreeBSD ports usually require a source package files.

Once you make a release including all src, I will try to write a FreeBSD port file in your deploy repo.

[2019-10-28 15:26] rickyzhang82 commented on #271
Both IPv6 and IPv4 provides payload size in their header. But if we don't trust whatever defines in IP headers and override the payload size with our measured result, why we should enable a check?

IMO, remove the check.

[2019-10-28 16:09] seladb commented on #271
makes sense. would you like to submit a PR with the fix or prefer me to fix it?

[2019-10-28 17:50] rickyzhang82 commented on #271
See PR #273

[2019-10-28 19:21] seladb commented on #271
Let's keep it opened until the PR is merged

[2019-10-28 19:31] jaredkeithwhite opened #274 "Buffered Reading (from file io) of Raw Packet Files"
Occasionally I need to reprocess very large pcap files.  I am using the `PcapFileReaderDevice` for this purpose.  I am curious if there are ways I can set the buffer size for buffered reading and writing?

[2019-10-29 03:27] ugenehan opened #275 "httpstats only support port 80 & 8080?"
httpstats only support port 80 & 8080?can not support other port?

[2019-10-29 08:20] seladb commented on #267
Merged PR #264

[2019-10-29 08:20] #267 closed

[2019-10-29 08:20] seladb commented on #271
PR merged

[2019-10-29 08:20] #271 closed

[2019-10-29 08:23] seladb commented on #275
yes, as of now the are the only supported ports:

https://github.com/seladb/PcapPlusPlus/blob/2eee2ad31ae37ce6bf3c70d21d85961aaf787d69/Packet%2B%2B/src/HttpLayer.cpp#L13-L19

Would you like to add a new port to this map?

[2019-10-29 08:27] seladb commented on #274
`PcapFileReaderDevice` uses libpcap/WinPcap file reading capabilities which are already buffered, meaning it reads one packet at a time and it doesn't load the entire file into memory. I hope this answers your question, please let me know if you need more details

[2019-10-29 09:09] Baby4eveR opened #276 "Does pcapluplus support dpdk Virtio_user for Container Networking？"
Can I build pcapplusplus with dpdk to monitor pcakets in docker？Or how can I  process pcakets via sokcet file？
![fe654754b7acf2e586e899b39de80a2](https://user-images.githubusercontent.com/20334442/67752924-d9dd0d00-fa6e-11e9-94b5-40fcd3943f75.png)

[2019-10-29 18:06] seladb commented on #276
I'm not sure how DPDK works in a container environment. Do you have some experience around that? If you do, I'll be glad to learn more about it.

[2019-10-30 00:19] seladb commented on #263
@dayexi please let me know if you can look into it

[2019-10-30 00:20] seladb commented on #265
PR #269 doesn't have any try-catch blocks. @gx740 I've reviewed the PR and added a few comments.

@echo-Mike please feel free to review the PR as well and let us know if you have any concerns

[2019-10-30 01:49] ugenehan commented on #275
Many enterprise systems have custom ports.I have defined a static function in class 'HttpMessage',it can add port to HTTPPortMap.

[2019-10-30 04:49] seladb commented on #275
I'm not sure adding custom specific port will be useful for many people. Do you have a suggestion to make it more generic?

[2019-10-30 10:03] dayexi commented on #263
i found [this](https://www.wireshark.org/lists/wireshark-users/200803/msg00089.html)  but  i think it is not an exact solution.

[2019-10-30 19:15] seladb commented on #263
I found the code in Wireshark that makes this decision, you can view it [here](https://code.wireshark.org/review/gitweb?p=wireshark.git;a=blob;f=epan/dissectors/packet-eth.c;h=fdd8496c85d17fcd86ade3171698c27e6590199f;hb=HEAD#l224).

 224    * If the type/length field is <= the maximum 802.3 length,
 225    * and is not zero, this is an 802.3 frame, and it's a length
 226    * field; it might be an

[2019-10-31 06:04] seladb commented on #265
PR #269 merged

[2019-10-31 06:04] #265 closed

[2019-10-31 19:26] silviucpp opened #280 "IPReassembly not properly working"
Hello,

I have a pcap  which has one UDP packet fragmented. Running `IPReassembly` when I receive the resembled packet the UDP layer still doesn't exist and it's seen as `PayloadLayer`.

Doing a debug I see that the creation of `reassembledPacket` is done as follow:

[code]
Problem is that in Packet constructor all layers are parsed and here `fragmentOffset` is not 0 . It's equal with the one from

[2019-10-31 19:27] silviucpp commented on #280
You can test using the following pcap:

[save4.pcap.zip](https://github.com/seladb/PcapPlusPlus/files/3795488/save4.pcap.zip)

[2019-11-02 08:18] seladb commented on #280
Let me check and get back to you

[2019-11-02 15:37] silviucpp commented on #280
Hello,

I will  check this in a few days and let you know if works or not .

Silviu

[2019-11-03 14:22] gx740 opened #281 "LRUList: the complexity of method "put": is not O(1)"
This method has the following code:
[code]
`m_CacheItemsList` is of type `std::list`. Unfortunately, the complexity of method `size` of linked list can be O(n) (refer to https://en.cppreference.com/w/cpp/container/list/size). The C++ standard guarantees the constant complexity for C++ 11 and newer. We need to rework this method because it is the significant impact on performance (LRUList is used b

[2019-11-03 14:42] gx740 commented on #281
If `m_CacheItemsList` contains the same number of elements as `m_CacheItemsMap` then we can use its method instead of creating internal counter.

[2019-11-03 20:13] gx740 commented on #281
Besides this method does not have the complexity O(1) at all because inserting into the map has O(log(size)).

[2019-11-04 08:45] seladb commented on #281
You make a good point about the complexity of this method being more than O(1), I wasn't aware that `size()` doesn't guarantee complexity of O(1). Can you suggest a fix for that?

[2019-11-04 09:02] gx740 commented on #281
PR is almost ready

[2019-11-04 09:06] seladb commented on #281
awesome, thanks!

[2019-11-04 19:57] silviucpp opened #284 "issue in matchPacketWithFilter"
Hello,

Method `IPcapDevice::matchPacketWithFilter(std::string filterAsString, RawPacket* rawPacket)` assume that first layer into the packet is of type `pcpp::LINKTYPE_ETHERNET` which is not true.

For example in case you capture on linux on "any" interface the first layer is of type: `LINKTYPE_LINUX_SLL`

I think you should use instead the `rawPacket->getLinkLayerType()` method

Silviu

[2019-11-05 06:21] seladb commented on #276
I'm closing this issue for now due to lack of responsiveness, please reopen it if needed

[2019-11-05 06:21] #276 closed

[2019-11-05 07:31] mnjthk opened #286 "sending packet using PcapPlusPlus is not working"

[2019-11-05 07:48] mnjthk commented on #286
I am trying to read from the captured file and changing their destination IP address and sending them.
All is going well till packet editing when sending them to the network is getting issues.
while sending them to my own machine (source and destination IP is the same) my Wireshark captured those packets, but while sending them to different destination IP destination, my program showing sending th

[2019-11-05 07:53] seladb commented on #286
It seems you're trying to change both IP address as will as MAC address. Depends on your network configuration, changing the MAC address may or may not work. Try to do the same without changing the MAC address and see if that works

[2019-11-05 08:03] seladb commented on #284
Yes you're right, currently only Ethernet is supported. I'm not how well BPF filters are working with SLL, do you have some experience with that?

BTW, instead of using `IPcapDevice::matchPacketWithFilter()` you should use [BPFStringFilter](https://github.com/seladb/PcapPlusPlus/blob/e0b0d6cd75cdbf4009ac15c9fb474da46786838d/Pcap%2B%2B/header/PcapFilter.h#L115) which is more efficient

[2019-11-05 08:05] seladb commented on #274
I'm closing this issue for now, please reopen if needed

[2019-11-05 08:05] #274 closed

[2019-11-05 08:05] seladb commented on #275
I'm closing the issue for now, please reopen if needed

[2019-11-05 08:05] #275 closed

[2019-11-05 09:15] mnjthk commented on #286
Thanks for the quick reply. I just tried twice without changing the MAC address, still, it is not working for other destination IP machine, but it is ok on my own machine (sending to my own IP address).

[2019-11-05 09:38] seladb commented on #286
I was wrong regarding the MAC address. I'm not sure from where the packets you're reading from the pcap file came from, but assuming the dest MAC address is not set to the MAC address of your gateway, the packets will be routed to an unknown destination. You should check your gateway MAC address and set the dest MAC to that address. If you're not sure what it is you can simply capture "regular" ne

[2019-11-05 09:52] silviucpp commented on #284
Hello,

It's working fine. I fixed the problem on my side by setting the proper layer (to match the one from the capture device) and seems ok.

[2019-11-05 09:56] seladb commented on #284
awesome ,thanks! Can we close this issue?

[2019-11-05 10:20] silviucpp commented on #284
Yes. in case you are not interested in fixing this for me it's fine!

Silviu

[2019-11-05 10:34] mnjthk commented on #286
I am still stuck. If we do not change MAC address and even though we only change destination IP and then send it.
(dev->send(...........) It should work as well as  Tutorials describe.
Thank you so much for your quick reply.

[2019-11-05 15:25] gx740 opened #290 "Changing the type of return value in method SSLLayer::getSSLPortMap (discussion)"
This method returns `std::map`. I suggest to change the type of return value to `std::vector` because the searching on vector is much faster than on the map especially when the size of vector is small.
I have made the tests and got that serial lookup in vector is the fastest.

Results of tests:
[code]
Source code of tests:
[test.zip](https://github.com/seladb/PcapPlusPlus/files/3809682/test.zip)

[2019-11-05 20:30] seladb commented on #286
Yes this should work, however in order for packets to reach from one point to another you have to follow the routing rules. There are probably network devices (routers, switches, etc.) between your 2 devices that route network traffic based on different parameters such as MAC addresses, IP addresses an so on. There also might be firewalls blocking traffic from certain IP addresses or ports. You ne

[2019-11-05 20:30] #284 closed

[2019-11-05 20:31] seladb commented on #284
Closing it for now. If similar requests will come up in the future we can consider making this change

[2019-11-06 00:25] jaredkeithwhite commented on #274
Hi there, apologies I just saw that you had commented on this issue.  Have you considered exposing some of the buffering behavior so that we can control the size of buffering?

[2019-11-06 01:33] seladb commented on #274
I'm not sure the buffer size is even exposed by libpcap/WinPcap. Do you know otherwise?

[2019-11-06 01:36] seladb commented on #290
how come serial search on a vector is faster than map search??

also, are these numbers true in smaller size as well?

[2019-11-06 01:54] jaredkeithwhite commented on #274
My consideration would be to use this API:
[code]
Coupled with `fopen` and a call to `setbuf`, here:

http://www.cplusplus.com/reference/cstdio/setbuf/

Would that work?

[2019-11-06 02:35] rickyzhang82 opened #291 "Reduce memory footprint by struct reordering"
I'm in the process of developing TCPSorter class. I found there is room to reduce memory foot print by [reordering struct](http://www.catb.org/esr/structure-packing/).

It may sound like an early optimization to you. But I plan to run the live capture for a very long time period. So every bytes count given the limited memory in my router.

What I did is to reorder `struct TcpOneSideData`. See my P

[2019-11-06 03:06] seladb commented on #274
This may be possible, needs to be carefully tested. I'm still not sure though why the buffer size matters in your case. Did you find any limitations with the default buffer size?

[2019-11-06 03:08] jaredkeithwhite commented on #274
I spin through 50-100gb worth of offline pcap files hundreds of times a
day.  So IO buffering is rather important to my use case.

On Tue, Nov 5, 2019 at 9:06 PM seladb <notifications@github.com> wrote:

[2019-11-06 03:11] seladb commented on #274
Sure, I get that. But isn't the default buffer size sufficient for such large files? Could you please describe issues you're seeing with such files?

[2019-11-06 03:14] seladb commented on #291
Sure, I'm open to this change. You can include this change as part of the TCP reorder module you're building

[2019-11-06 03:25] jaredkeithwhite commented on #274
I would likely set a 25-50% file-size buffer for the files that I run and
run IO loading in a separate thread.  It's running on several SSDs in a
RAID0 already so at this point the disk can't get much faster.

At this point I'm optimizing the minutia because the remainder of the
software and hardware is effectively tapped out.

-Jared

On Tue, Nov 5, 2019 at 9:11 PM seladb <notifications@github.co

[2019-11-06 07:04] seladb commented on #274
sure, that makes sense. You can try to implement the solution you suggested and we can merge it later to the main branch. Please let me know if you need my help

[2019-11-06 07:15] gx740 commented on #290
The main reason, I think, is that the vector is cache friendly so the small vector/array is totally loaded into L1 cache at once. The lists, maps, trees are not cache friendly. Another reason is that the algorithm of serial lookup is simpler than binary search and tree search. It gives less the false branch predictions.

As I had shown before the lookup in maps is slower than in arrays even for sm

[2019-11-06 07:22] gx740 commented on #290
In test results the count means the total number of iterations not the size of container. I wrote incorrectly.

[2019-11-06 08:02] gx740 commented on #290
For big containers serial lookup is not applicable. But if the vector/array is ordered the binary search is faster than tree search. I have made tests again :) The size of containers is 1 000 000 and these contain the numbers from 1 to 1 000 000.

Test results:
1. The worst case: searching of 1 000 000:
[code]
2. Searching of 500 000:
[code]
3. Searching of 1:
[code]

The tests have been made unde

[2019-11-06 08:56] seladb commented on #290
For ordered lists I can understand why vectors might be faster, and same goes for really short lists (where going over the list may be faster than calculating a hash value and finding the right bucket).

However in use cases where lists are not super small or ordered I'm not sure I understand how map are slower... Regarding `SSLLayer::getSSLPortMap()` - I'm not sure how significant this change cou

[2019-11-06 09:57] seladb commented on #280
Merged to `master`

[2019-11-06 09:57] #280 closed

[2019-11-06 09:58] seladb commented on #263
@dayexi please let me know what you think. Do you want to implement this functionality in PcapPlusPlus and create a PR?

[2019-11-06 09:59] seladb commented on #291
Should we close this issue or leave it open?

[2019-11-06 10:39] gx740 commented on #290
Yes, it's my wrong that I had not properly said. Of course, lookup in map is faster for unsorted and/or big lists.

This method is public so the user can use it for some purposes. My suggestion, to give more effective way of lookup, is based on this assumption. I don't understand why this method had been made public because I don't see reasonable use cases.

PR #288 solves another task: to increas

[2019-11-06 14:56] rickyzhang82 commented on #291
OK.

[2019-11-06 14:56] #291 closed

[2019-11-06 15:27] mnjthk commented on #286
Suppose we have raw packets save in a particular pcap file of  Wireshark. Using PcapPlusPlus API, we alter just destination IP of packets and save raw packets getting from using parsedPacket.getRawPacket() in a new pcap Wireshark file.
I want to know that whether the capture-file link-layer and newly created file link layer would be the same or not?
Because I came to know that before sending packe

[2019-11-06 18:52] gx740 commented on #275
I can give an idea how to implement the support of any port number if needed.

[2019-11-06 18:58] seladb commented on #275
thanks @gx740 , please feel free to suggest your ideas

[2019-11-06 19:12] seladb commented on #286
It depends how you create the pcap file writer. The default link layer in the constructor is Ethernet but you can change it to something else. Please take a look at [PcapFileWriterDevice documentation](https://pcapplusplus.github.io/api-docs/classpcpp_1_1_pcap_file_writer_device.html#a46b3b5c1ffed33d3540fa40db94010e2)

[2019-11-06 19:17] seladb commented on #290
This method is being used in the [SSLAnalyzer example](https://github.com/seladb/PcapPlusPlus/blob/236e035be8d7109082e1b599abd435269f13032d/Examples/SSLAnalyzer/SSLStatsCollector.h). It's being used it to count SSL connection by looking at the TCP port

[2019-11-07 05:51] gx740 commented on #290
Ok, let's close this issue

[2019-11-07 06:32] #290 closed

[2019-11-07 08:00] Sebaschke opened #292 "How to send corrupt ethernet frames?"
Hey, I‘m stuck on a problem for university, I quickly describe it:
-	For network stressing in a sensor network, I want to send corrupt ethernet frames
-	This means the frames should be e.g. <64 B or >1518 B
-	I also want to send a wrong FCS
-	The traffic generator should be running on a raspberry pi 4 model B

I searched the internet and read many times that the network driver could become a probl

[2019-11-07 12:06] gx740 commented on #281
The issue can be closed.

[2019-11-07 18:19] seladb commented on #292
Is this really a PcapPlusPlus issue or a general question?

For general question you can consider posting on other forums (like StackOverflow and such) or in [PcapPlusPlus Google Group](https://groups.google.com/forum/#!forum/pcapplusplus-support)

[2019-11-07 18:36] rickyzhang82 opened #295 "Memory leak in TcpReassembly"
https://github.com/seladb/PcapPlusPlus/blob/be1d148dd0cb05af9deb3233d6e56542bd35e06b/Packet%2B%2B/src/TcpReassembly.cpp#L837-L839

`m_ConnectionList` is ` std::map<uint32_t, TcpReassemblyData *>`. Erasing an element from the map doesn't clean up TcpReassemblyData object in the heap.

[2019-11-07 18:53] gx740 commented on #295
An object is being deleted in closeConnectionInternal method. Check again, please.

[2019-11-07 19:15] gx740 commented on #295
I had used `valgrind` to check memory leaks when developing this method. These were not found.

[2019-11-07 19:34] rickyzhang82 commented on #295
OK. I see.

Why not move to `TcpReassembly::purgeClosedConnections`?
This can improve readability and also avoid potential read access violation if memory has been clean but the map still hold on to it.

[2019-11-08 01:46] seladb commented on #247
Apparently GitHub provides an easy way to query repos by license.

I ran this query for a few licenses, here are the results:

- __BSL-1.0__: used by 1,964 C++ repos ([query](https://github.com/search?l=C%2B%2B&q=license%3Absl-1.0+language%3AText&type=Repositories))
- __MIT__: used by 129,579 C++ repos ([query](https://github.com/search?l=C%2B%2B&q=language%3AC%2B%2B+license%3Amit&type=Repositorie

[2019-11-08 05:58] #281 closed

[2019-11-08 07:35] gx740 commented on #295
On the one hand it increases the speed of the connection closing and improves readability, and on the other it increases the memory consumption.

To implement a delayed cleanup of `TcpReassemblyData` we need to change the type of `CleanupList` from
`std::map<time_t, std::list<uint32_t>>`
to
`std::map<time_t, std::list<std::pair<uint32_t,TcpReassemblyData*>>>`

and to make the changes in `purgeClos

[2019-11-09 02:16] rickyzhang82 commented on #292
@Sebaschke scapy is your friend. see https://0xbharath.github.io/art-of-packet-crafting-with-scapy/scapy/creating_packets/index.html

[2019-11-09 11:43] Sebaschke commented on #292
Thanks for the replies. I think you're right @seladb, this is more a general question concerning maybe the driver and therefore belongs in another forum.
I will open a thread in stackoverflow to continue, if the NIC allows in some way the injection of packets <64B on a RPi. Thanks.
@rickyzhang82 I will have a look at scapy but one requirement for my work is to write the application in C or C++.

[2019-11-10 20:51] tyunkinilya opened #297 "Support remote capture on Linux devices"
I am using latest version of PcapPlusPlus, built with vs2019 (windows machine). I am also using the latest version of libpcap (https://github.com/the-tcpdump-group/libpcap), compiled with --enable-remote (linux machine). So using wireshark (win) I can succesfully connect to rpcapd on linux and get traffic from it.
I have modified the TcpReassembly example for remote capture interface, by adding th

[2019-11-11 07:26] seladb commented on #295
I'm a little bit confused why we need `purgeClosedConnections` and why we can't clean up a connection when it's closed. I think we had a reason for that but I'm not quite sure. Could you please remind me?

[2019-11-11 07:26] seladb commented on #292
Thanks, I'll close this issue now

[2019-11-11 07:26] #292 closed

[2019-11-11 07:31] seladb commented on #297
Just to make sure: are you running `rpcapd` on Linux and trying to connect to it from Windows? I'm not sure I've ever tried that. Are you sure the remote capture protocol used in WinPcap is compatible with the one used in Linux?

[2019-11-11 08:05] gx740 commented on #295
There are two reasons:
1.  There is a public method `getConnectionInformation`:
[code]
2. It is necessary to know that some connection is already closed (`reassemblePacket` does such check).

Issues #248 and #250.

[2019-11-11 08:26] seladb commented on #295
Yes you're right, thanks for reminding me. At least for point number 2 we need to keep a list of recently closed connections. I suggest we keep the code as is. Please let me know what you think

[2019-11-11 10:24] tyunkinilya commented on #297
Yes, you are right. And I am sure that it is possible, because I double checked the connection using `wireshark`. And actually it is even possible to connect from linux wireshark to linux `rpcapd`, if using this [guide](https://ask.wireshark.org/question/1962/connect-to-rpcapd-service-on-windows-from-linuxosx-using-tshark/)
Proof:
![image](https://user-images.githubusercontent.com/25621391/6857995

[2019-11-11 14:41] rickyzhang82 commented on #295
@seladb's suggestion is fine in `TcpReassembly`. The premature clean up `TcpReassemblyData` won't cause too much trouble since it is transient. User can't access `TcpReassemblyData` outside of the class. It is just me who work on COPY & PASTE of the logic and need to pay a close attention to this.

Since the class doesn't implement TCP state machine, I wonder if the timer in clean up list serve as

[2019-11-11 14:48] agentsofshield commented on #164
How should i link the pthreads and winpcap-dev-kit using the cmake project?
Should I just set the `THREADS_PTHREADS_INCLUDE_DIR` variable and the corresponding one for winpcap and it will run, or are there more missing features to be created for it to compile and link correctly in windows.

[2019-11-11 17:45] gx740 commented on #275
The idea is ready for discussion in PR #298.

[2019-11-11 22:19] seladb commented on #297
There are multiple things I'd check:

- Does it work when you run `rpcapd` locally on your Windows machine?
- Does it work when you run `rpcapd` remotely on another __Windows__ machine?
- Could be be some permissions issue?

[2019-11-11 22:23] seladb commented on #295
@rickyzhang82 we arbitrarily decided of 5 sec as the default value. As you can see in the code it's configurable and can be set to any value

[2019-11-11 22:28] seladb commented on #164
@agentsofshield which cmake project are you referring to? is it the work-in-progress that exists on the [`cmake` branch](https://github.com/seladb/PcapPlusPlus/tree/cmake) or are you referring to something else?

[2019-11-12 01:38] rickyzhang82 commented on #295
Fair enough. Please close it.

[2019-11-12 05:06] #295 closed

[2019-11-12 08:51] seladb commented on #263
@gx740 what do you think about this?

[2019-11-12 08:52] seladb commented on #234
@gx740 what do you think about this?

[2019-11-12 09:32] agentsofshield commented on #164
@seladb yup to the cmake branch

[2019-11-12 09:59] seladb commented on #164
Windows support is not yet really working, it is still work in progress...

[2019-11-13 16:33] Minilulatsch opened #300 "Stack buffer overflow when parsing domain names inside DNS packets"
The function decodeName() inside DnsResource.cpp is vulnerable to a stack-based buffer overflow.
Domain names inside a DNS query are specified to have the following format:

    <length_1><label_1><length_2><label_2><length_3><label_3>
For example, "mail.google.com" is stored as:

    "4mail6google3com"

Those encoded domains are parsed by decodeName(), when a DNS packet is parsed, to create the c

[2019-11-14 07:40] seladb commented on #300
Thanks for reporting this issue. I agree there are not enough size checks in this method. Would you mind suggesting a fix and submit a PR?

[2019-11-14 07:41] seladb commented on #286
I'm closing this issue now, please reopen if needed

[2019-11-14 07:41] #286 closed

[2019-11-14 08:08] mnjthk commented on #286
Sending packets to different destination IP is not working. I tried everything, but no luck. Reading from captured pcap file Wireshark and changing his destination IP and sending using PacpPlusPlus API is not working. Even I tried Wpcap for sending packets, showing status "Packets send" But not captured in Wireshark in the destination IP 's machine. Right now crafting packets and storing it to a n

[2019-11-14 08:22] seladb commented on #286
as I said before, it really depends on the configuration of your network. You can try is the following:

- Start with TCP. Choose a TCP port that you have in your pcap file
- Use `netcat` or some other tool to open a TCP connection on this port between the two machines
- Use Wireshark to capture the packets that are being sent and received
- Modify the packets on your pcap file that match this TCP

[2019-11-15 09:18] seladb commented on #300
Fixed in #302

[2019-11-15 09:18] #300 closed

[2019-11-18 17:37] seladb commented on #297
@tyunkinilya is it working for you now?

[2019-11-19 00:48] #109 closed

[2019-11-19 13:22] tyunkinilya commented on #297
After testing on Windows, I have found an error in my code above, now it works perfectly, thank you!
But can you mark this as feature request (Support rpcap on linux)? There is an [implementation](https://github.com/the-tcpdump-group/libpcap/blob/master/rpcap-protocol.h) of rpcap protocol in libpcap, so I guess its possible.

[2019-11-19 19:59] seladb commented on #297
Thanks @tyunkinilya for the info! I've just created a feature request from this issue.

If you have some time, I'd really appreciate if you can work on this. I can provide the support you may need.

[2019-11-21 07:32] ugenehan opened #306 "PcapLiveDevice::close() doesn't set IDevice::m_DeviceOpened to false"
PcapLiveDevice::close() doesn't set IDevice::m_DeviceOpened to false

[2019-11-21 08:11] seladb commented on #306
That's a good point, thanks for reporting this! I was sure we fixed it long back... would you mind suggesting a fix and add some test cases for that fix?

[2019-11-22 08:22] ugenehan opened #307 "Dump when call getFieldByName with http response."
When deal a http response package to get it's filed like user-agent,but there is no this filed,at this time,the app dumped.
line 381 in file TextBasedProtocol.cpp

[2019-11-22 21:39] seladb commented on #307
I'm not sure I can reproduce this issue. If you're trying to retrieve a field that doesn't exist `TextBasedProtocolMessage::getFieldByName()` will return NULL, so you have to check the return value for NULLs.

In case I misunderstand the issue, it'd be helpful if you can add a code snippet that reproduces the problem.

[2019-11-22 22:31] seladb commented on #306
Fixed

[2019-11-22 22:31] #306 closed

[2019-11-23 03:13] ugenehan commented on #307
When I analyze an http response package, I call the func getFieldByName with parameter “PCPP_HTTP_USER_AGENT_FIELD”(in fact the http response has no this filed)，the program dumped. So I debug the dump file with gdb,it display the error caused by line 381 of the TextBasedProtocol.cpp file,and the dump code is "range = m_FieldNameToFieldMap.equal_range(fieldName);"

I use the example "HttpAnalyzer"

[2019-11-23 03:49] seladb commented on #307
I ran the same code but it didn't crash. Can you provide a pcap file with the packet that causes the crash?

[2019-11-23 04:35] ugenehan commented on #307
OK.
[http.zip](https://github.com/seladb/PcapPlusPlus/files/3882140/http.zip)

[2019-11-23 19:14] seladb commented on #307
Thank you, I'll take a look and fix the bug

[2019-11-24 01:42] seladb commented on #307
I tried to run the same code but I don't get a failure. In your code, do you check that `req != NULL`?

[code]

[2019-11-25 02:12] ugenehan commented on #307
1.My OS is centos 7.5.1804,'Linux mail.narixt.com 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux'
2.I use the HttpAnalyzer example,add the above code to the function collectStats() ,and my port is 31600

[2019-11-25 07:56] seladb commented on #307
Thanks. Did you try the check I wrote before `req != NULL`?

[2019-11-26 07:46] bornlibra23 commented on #61
Hi Could you point us to the issues & code areas which require work? Perhaps I can take it up.

[2019-11-26 07:58] bornlibra23 commented on #247
No GPLv3?

[2019-11-26 16:30] christinaa commented on #247
As author stated, he was looking for a permissive license. GPLv3 does not fall under that category due to its heavy restrictions and making it unsuitable for a lot of use cases.

[2019-11-26 19:07] seladb commented on #61
To be honest, it's been a long time so I don't quite remember... but you can try to build the PcapPlusPlus as shared library, [run the unit-tests](https://pcapplusplus.github.io/docs/install/build-source/tests) and you'll probably bump into the issues.

[2019-11-28 07:00] daniel0720 opened #313 "make error with DPDK18.08 and newer"
I download dpdk from github, and checkout v18.08, when i make all of the pcapplusplus, errors occured as follows:
`==> Building target: Pcap++
Building file: src/DpdkDevice.cpp
src/DpdkDevice.cpp: In member function ‘bool pcpp::DpdkDevice::configurePort(uint8_t, uint8_t)’:
src/DpdkDevice.cpp:241:18: error: ‘struct rte_eth_rxmode’ has no member named ‘header_split’
  portConf.rxmode.header_split =

[2019-11-28 07:55] seladb commented on #313
I have a few questions:
- Which version of PcapPlusPlus are you using? is it the latest version from `master`?
- Did you try to download DPDK18.08 from the [official web-site](http://core.dpdk.org/download/)?
- Can you please describe how you configure and build DPDK?
- Can you please describe how you configure and build PcapPlusPlus after building DPDK?

[2019-11-28 08:10] daniel0720 commented on #313
Hello seladb，

- Lastest version of PcapPlusPlus
- I download DPDK from github and checkout to v18.08, and I also download DPDK18.08.1 from official web-site.
-  first make config T=x86_64-native-linuxapp-gcc, then make
- ./configure-linux.sh. according the prompt input the path of PF_RING and DPDK. Then make all

[2019-11-28 08:16] seladb commented on #313
Did you try newer versions of DPDK or just 18.08?

I'm asking because you mentioned "make error with DPDK18.08 and newer"

[2019-11-28 08:20] daniel0720 commented on #313
yes. First time I tried the lastest DPDK, then I found PcapPlusPlus is not complatible with newer than 19.02 in the issue, so I tried 19.02. Same error occured. I also tried 18.11.

[2019-11-28 08:28] daniel0720 commented on #313
sorry I was wrong. When I use newer DPDK, the error is

grep: /home/daniel/workspace/dpdk//pkg/dpdk.spec: No such file or directory

you can take a look at DpdkDevice.cpp code, what is the line 240 means? because dpdk18.08, the "rte_ethdev.h" doesn't have 'header_split' field in the struct rte_eth_rxmode.

[2019-11-28 08:36] seladb commented on #313
I do see the problem. However it does work with DPDK 19.08. Let me look into it and get back to you

[2019-11-28 08:36] daniel0720 commented on #313
OK， thank you

[2019-11-28 08:51] seladb commented on #313
I just verified it does work for DPDK 18.11.5 and 19.08. The problem is only with 18.08. Can you try newer versions of DPDK?

I'll provide a fix for 18.08

[2019-11-28 08:57] daniel0720 commented on #313
ok. I'll do it later.
But now it works fine with DPDK18.05, and make all success. What I want to do is to run benchmark and compare it with others. The benchmark is from https://github.com/mfontanini/packet-capture-benchmarks, but when I make the benchmarks, an error occurd.
pcapplusplus/benchmark.cpp:6:20: fatal error: Packet.h: No such file or directory
perhaps because the benchmark's code is to

[2019-11-28 09:05] seladb commented on #313
I just provided a quick fix for DPDK18.08. I made it in `dev` branch to make sure I didn't break anything. I'll merge it to `master` later.

Regarding the benchmark - I didn't write this code so I'm not sure why it's not working. Perhaps you need to install PcapPlusPlus first (using `make install`)?

If you'd like to run a benchmark I'd advise you to run the one I wrote: https://github.com/seladb/

[2019-11-29 06:40] #313 closed

[2019-12-04 12:27] vrobles-gee opened #314 "Quic support"
Hi.

We would like to parse/craft [QUIC](https://en.wikipedia.org/wiki/QUIC) layer using PcapPlusPlus for some features we need in our app. I took a look but found no QuicLayer or related classes. So I would like to ask if there is any work on this. If not, I can work on the feature, but I would like to ask you for general suggestion or guidelines based on the work you've already done with other l

[2019-12-04 17:31] prus1337 opened #315 "Bad tcp payload size on malformed tcp packet"
TcpLayer::getLayerPayloadSize() return bad size on malformed tcp packet.
Pcap example (1 tcp packet):
[pcpp.malformed.packet.zip](https://github.com/seladb/PcapPlusPlus/files/3923184/pcpp.malformed.packet.zip)

[2019-12-04 23:58] seladb commented on #314
Yes, as of now QUIC/HTTP3 is not supported. Of course you're more than welcome to work on this feature and I will provide all the support and guidance you need. Please let me know how I can help

[2019-12-04 23:58] seladb commented on #315
thanks, I'll take a look and let you know

[2019-12-05 00:00] seladb commented on #307
Since I didn't hear back from you I'm assuming you solved it, so I'll close the issue now. Please reopen if needed

[2019-12-05 00:00] #307 closed

[2019-12-05 00:03] seladb commented on #268
I just released [v19.12](https://github.com/seladb/PcapPlusPlus/releases/tag/v19.12). The source files are [included in the release](https://github.com/seladb/PcapPlusPlus/archive/v19.12.tar.gz).

If you'd like to work on FreeBSD port file that'll be of great help.

[2019-12-05 00:04] seladb commented on #263
@dayexi please let me know if you're planning to work on that. Otherwise I can try to implement that

[2019-12-05 01:33] seladb commented on #247
I released [v19.12](https://github.com/seladb/PcapPlusPlus/releases/tag/v19.12) yesterday but I haven't changed the license yet.

The reason is that out of the 3 options (Unilicense, BSL and MIT): MIT is less permissive and BSL is much less popular. So although Unilicense has not been approved by OSI yet, it seems to the best compromise at this point which is both permissive and relatively well-kn

[2019-12-05 15:01] rickyzhang82 commented on #268
Sure, I will take a look.

I'm busy with `TcpSorter` implementation in my spare time. I will find some time to give a try to write a sample port files.

[2019-12-06 12:05] vrobles-gee commented on #314
Thanks. We should start working on this in about two weeks, so I will get back to you when we have some initial work for reviews and suggestions.

[2019-12-06 17:50] seladb commented on #314
sure @vrobles-gee , please let me know how I can help

[2019-12-06 21:26] rickyzhang82 opened #317 "Sequence number comparison bug"
In edge case around 0, the sequence number comparison done in `TcpReassembly` may lead to incorrect result. For example,

https://github.com/seladb/PcapPlusPlus/blob/8f87300e4f308bfaa62b76f6d43df3e662c12b9e/Packet%2B%2B/src/TcpReassembly.cpp#L352

According to [Section 3.3.  Sequence Numbers in RFC 793](https://tools.ietf.org/html/rfc793#section-3.3), the sequence number comparison should be done

[2019-12-08 08:36] seladb commented on #315
I'm not sure it's really a bug. As you mentioned the packet is malformed and the TCP header length is 32 bytes which is more than the total packet size which is 30 bytes. `TcpLayer::getLayerPayloadSize()` looks at the total size of the packet minus the header length and that's why it gives a size of `-2`

[2019-12-08 08:50] seladb commented on #317
I agree the seq number should wrap, which means that:

[code]

However this is quite a corner case. Have you really stumbled upon this case?

[2019-12-08 12:51] rickyzhang82 commented on #317
No, not yet.

`ISS` (initial send sequence number) is a random number. If you download 4GiB data, you will cross 0 with probability 1. Whenever the sequence number comparison happens cross 0, the existing logic leads to an incorrect result.

The trick in PoC is from BSD 4.4 Tcp implementation that I read. You can simply replace all comparison with the macro to fix it.

[code]

Also, pay attention

[2019-12-09 07:56] cmwl opened #318 "memory not freed in TcpReassembly"
When download or upload a large file,the memory footprint is very high which is ok for me, but it keeps high and will not be freed after I call:
`dev->stopCapture();
dev->close();
tcpReassembly->closeAllConnections();
tcpReassembly->purgeClosedConnections(0xFFFFFFFF);
delete tcpReassembly;
`
Did I use it the wrong way??? I followed the TcpReassemble Example.

[2019-12-09 08:21] gx740 commented on #318
The call of `purgeClosedConnections` is unnecessary because the `tcpReassembly` is being destroyed and all internal data will cleared automatically.

Did you use an IP reassembly logic before TCP reassembly?

[2019-12-09 08:25] prus1337 commented on #315
Thanks. May be wish it is needed to add isPacketValid() check malformed packets?

[2019-12-09 08:32] cmwl commented on #318
I did not use IP reassembly, In fact I used the same logic as `Examples->TcpReassembly` which has the same issue.

[2019-12-09 08:44] seladb commented on #315
It's not very straight forward to add such a check because malformed packet can happen because of a variety of reasons, your example is just one of them

[2019-12-09 09:19] seladb commented on #317
I'm not sure how those macros solve the problem... for example consider this code snippet:

[code]

In this case the output is: `SEQ_LT(1,4294967295) = false`.

These macros will work only if the distance between the 2 numbers is less than 2^31, which is definitely the case in TCP sequence :) Maybe this is why it will work?

[2019-12-09 16:09] rickyzhang82 commented on #317
It is a magic like wikipedia page said about the macro.

BTW,  `SEQ_LT(1,4294967295) = false` is a **valid** statement in sequence number wrapping comparison according to the sequence number comparison defined in RFC 1982:

[code]

Let's denote above is `RFC_SEQ_LT(s1, s2)`. Substitute s1=1, s2=4294967295 (0xFFFFFFFF) from above, you get `RFC_SEQ_LT(s1, s2) = false`. It matches the outcome of the

[2019-12-09 16:23] rickyzhang82 commented on #317
In essence, RFC 1982 comparisons defines that for any number N in `[0, 2^SERIAL_BITS]`:

- There are `2^(SERIAL_BITS-1) - 1` numbers less than N.
- There are `2^(SERIAL_BITS-1) - 1` numbers greater than N.
- There is one and only one number which is neither less than nor greater than N (undefined). The distance between N and this one is exactly `2^(SERIAL_BITS - 1)`.

[2019-12-09 17:00] tyunkinilya commented on #297
I've managed to make it work on `linux`, that was as easy as removing `if defined(WIN32)` and rewriting only one function -> `getStatistics`. But now I have a problem with conflicting versions of libpcap - it will work only with the latest build from [libpcap](https://github.com/the-tcpdump-group/libpcap/). How can I build pcapplusplus with a custom(?) way to libpcap or specific libpcap version? I

[2019-12-09 17:19] gx740 commented on #318
I tested this application under `valgrind` and could not find significant memory leaks. A small memory leak have been fixed in PR #320.

[2019-12-09 17:42] seladb commented on #297
That's great news! thanks for working on that!

What I'd suggest is the following:
- Run `make clean` for PcapPlusPlus
- Remove all libpcap versions from your machine
- Build libpcap from source __and__ install it on your machine
- Build PcapPlusPlus again

That should do the trick. Please let me know if it works

[2019-12-09 18:10] tyunkinilya commented on #297
To make it clear - I've done exactly these actions.

Remove all libpcap versions from your machine
Build libpcap from source and install it on your machine
Build PcapPlusPlus again

And it was working. But I don''t like this item: `Remove all libpcap versions from your machine`, cause it will automatically remove all packages, that depend on older versions of libpcap. I'd like to find the way to c

[2019-12-09 20:55] seladb commented on #297
PcapPlusPlus supports `LDFLAGS` so if you define the specific version using `LDFLAGS` that should do the trick

[2019-12-10 07:27] seladb commented on #317
RFCs are always so complex, I'm very impressed that you have the patience to dive into them 😄

So to summarize, my understanding is that this comparison works mainly because it is extremely rare (or close to impossible) that the distance between subsequent seq numbers will be more than `2^(SERIAL_BITS-1)`. Is my understanding correct?

BTW please feel free to make that code change and create a PR

[2019-12-10 08:16] #318 closed

[2019-12-10 14:56] rickyzhang82 commented on #317
I read Tcp implementation in BSD 4.4 lite and found this special sequence number comparison macro. The curiosity makes me deep dive into this topic among the trove of RFC.

For 32 bit Tcp sequence number, it is rare that comparing two sequence number with distance exactly 2GiB  -- `2^(SERIAL_BITS-1)`. Not only the 2GiB distance is way too large in any normal Tcp connection, but also the probabilit

[2019-12-14 07:51] seladb commented on #315
I'll close this issue now, please reopen if needed

[2019-12-14 07:51] #315 closed

[2019-12-14 07:52] seladb commented on #297
Would you mind contributing your code to the main repo?

[2019-12-14 13:19] tyunkinilya commented on #297
Would be cool if you could check commits in my forked repo and integrate them properly to your project. Or should I create a pull commit?

[2019-12-14 19:12] seladb commented on #297
if you can create a PR that would be great. After all, you did the work, you should get the credit 😄

[2019-12-15 14:25] prus1337 commented on #315
Thanks for help

[2019-12-18 09:40] seladb commented on #263
Done, please see the documentation here: https://pcapplusplus.github.io/api-docs/classpcpp_1_1_eth_dot3_layer.html

[2019-12-18 09:40] #263 closed

[2019-12-18 09:44] seladb commented on #317
@rickyzhang82 are you planning to create the PR soon?

[2019-12-18 09:44] seladb commented on #268
@rickyzhang82 any progress on that?

[2019-12-20 00:06] rickyzhang82 commented on #317
I'm working on the TCPSorter PR. Let's get this PR merged first. This should be a trivial fix.

[2019-12-20 00:27] seladb commented on #317
In that case I can work on this issue, as you mentioned it should be a trivial fix

[2019-12-20 04:49] rickyzhang82 opened #338 "[New Feature Proposal] Add an explicit flush in PcapFileDevice"
When I write packets into disk through `PcapFileDevice`, the content doesn't flush into disk until `close()` is invoked. This causes out-of-memory problem in memory limited router where many connections have long lasting traffic like streaming or downloading file.

I'd like to add an explicit `flush()` call in `PcapFileDevice` so that the packets can be written to disk in a timely manner under use

[2019-12-20 06:27] seladb commented on #338
I'm not sure that `flush()` will be easy to implement because this API is not exposed by WinPcap/libpcap. When I implemented [append mode](https://github.com/seladb/PcapPlusPlus/blob/ea1d380ac9487c48af7c32ca3d67ccfc7fa83842/Pcap%2B%2B/header/PcapFileDevice.h#L287) I faced the same issue and had to [copy code from libpcap](https://github.com/seladb/PcapPlusPlus/blob/ea1d380ac9487c48af7c32ca3d67ccfc

[2019-12-20 12:57] rickyzhang82 commented on #338
I thought the proposed `flush` method just did the following like you did in the `close`.

https://github.com/seladb/PcapPlusPlus/blob/ea1d380ac9487c48af7c32ca3d67ccfc7fa83842/Pcap%2B%2B/src/PcapFileDevice.cpp#L544-L554

My sample program did close file and thus flush the content once the file descriptor reach maximum number. But it is already too late as I said.

[2019-12-20 16:58] seladb commented on #338
Oh you're right it's my bad, I don't remember adding that code 😊

In that case please feel free to add this to the API

[2019-12-20 18:25] kosnet2 opened #339 "Splitting pcap based on 5-tuple info"
Is it possible to split pcap file into multiple others ones based on src_ip, dst_ip, src_port, dst_port, protocol ?

[2019-12-20 20:26] seladb commented on #339
Yes, this is possible using the `-m connection` flag, for example:

[code]

[2019-12-21 13:51] rickyzhang82 commented on #338
See PR #340

[2019-12-21 13:54] muse117 opened #341 "Can is compile to /MT mode"
Hi，I want to compile to /MT mode on the visual studio. but，It is not run and error.  Not Support it?

[2019-12-21 14:41] kosnet2 commented on #339
That is great. @seladb Thank you very much.

In my case I am interested only on UDP and TCP streams.

The utility splits the pcap to smaller ones based on the connection and I get an output like this:
![image](https://user-images.githubusercontent.com/20568574/71309418-20683b80-2410-11ea-9ce6-dfe356ef59bf.png)

Is it possible to know the protocol of the splitted pcap? ( probably a naming conventio

[2019-12-21 20:25] seladb commented on #339
Yes, all packets which are not TCP or UDP will always be in file #0. The rest of the files will contain either UDP or TCP packets.

You can also filter the packets to split using the `-i` switch, for example:

[code]

[2019-12-21 20:27] seladb commented on #341
This flag is currently not officially supported

[2019-12-22 02:24] rickyzhang82 opened #342 "[Discussion] The cause of live libpcap packet loss"
I knew this might not be the right place to discuss the issue. But I can't find any good information online. Perhaps somebody here can shed a light on the subject matters.

I wrote a TcpSorter class to do live capture packets. From time to time, I can detect TCP packet was not captured by libpcap, i.e. some TCP packets are missing during libpcap capture.

I wonder if it is because the my call back

[2019-12-22 02:31] kosnet2 commented on #339
Great. Thank you very much.

[2019-12-22 15:54] #338 closed

[2019-12-22 17:58] #339 closed

[2019-12-22 17:59] #341 closed

[2019-12-23 11:17] gx740 opened #343 "[Discussion] TcpReassembly improvements"
Currently, there is a private member `m_ConnectionInfo` of type `std::map<uint32_t, ConnectionData>` that is returned by the `getConnectionInformation` method. The same connection data is stored in `m_ConnectionList`. I propose to remove `m_ConnectionInfo` and to use `m_ConnectionList` for returning information to the user through the const iterator. It gains the performance and decreases the memo

[2019-12-23 17:25] gx740 commented on #342
First, check whether the `libpcap` is able to capture the packets with the speed you expect. There are the libraries that support zero-copy: DPDK, PfRing. These are already used a ring buffer for packet capturing. At least in DPDK there is the ability to split the traffic into several queues that can be processed concurrently in separate threads.

Don't use the semaphore because any synchronizatio

[2019-12-23 21:55] seladb commented on #342
I agree with what @gx740 said, but using lock-free ring buffer is also a good option.

You can have one thread which only does packet capture and other threads that do the packet processing. You can use the lock-free ring for passing packets around.

I'd advise you to use [CPU affinity](https://en.wikipedia.org/wiki/Processor_affinity) if you have more than 1 core, especially for the packet captur

[2019-12-23 21:59] seladb commented on #297
Do you know in which version of libpcap remote capture was introduced?

[2019-12-23 23:41] rickyzhang82 commented on #342
@gx740

Regarding to the capturing speed capabilities of `libpcap`, where can I find its speed limit doc? I have hard time to find it by Google. I migrated pfSense configuration from my NetGate home router to run pfSense in my retired PC with Intel i7 2700k quad core CPU, [PCI-E dual port 1GiB NIC](https://www.amazon.com/gp/product/B07KGP342F/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1), 16GiB

[2019-12-24 01:04] seladb commented on #342
@rickyzhang82 if you're using lock-free buffers and CPU affinity you don't really have to use semaphores.

CPU affinity is the concept of assigning a core to a specific thread or process so the OS won't use this core for any other process. This guarantees 100% utilization of this core to you process only. This is an OS-level functionality rather than libpcap-level. You can read [here](https://stac

[2019-12-24 01:14] seladb commented on #343
So how will the new API look like?

btw, there's also a need to add a `size()` method so the user will know how many connections are currently being handled

[2019-12-24 10:47] seladb commented on #317
Fixed

[2019-12-24 10:47] #317 closed

[2019-12-24 12:17] gx740 commented on #342
@rickyzhang82 I think you can't find anything about the speed limits because it depends from environment and only the tests will show how many packets can be processed per sec.

https://stackoverflow.com/questions/21200009/capturing-performance-with-pcap-vs-raw-socket
https://cloud.tencent.com/developer/article/1088078

[2019-12-24 14:45] gx740 commented on #343
| Current API	                                                            | New API                                                      |
|-------------------------------------------------------------------------|--------------------------------------------------------------|
| void                      reassemblePacket(Packet&)	                    | void           reassemblePacket(Packet&)

[2019-12-25 22:48] rickyzhang82 commented on #342
hi guys,

I implemented the @seladb idea:

1. Added one independent threads -- a processing thread to do TCP packet sorting. I found that libpcap do packet capturing in an independent thread automatically. So I saw three threads are running in the process: one from main program, one from libpcap capturing callback, one from the TCP sorter processing.
1. Used `pthread_setaffinity_np` to bind the pr

[2019-12-26 03:39] rickyzhang82 commented on #342
In fact, it is PcapPlusPlus's `PcapLiveDevice::startCapture` that creates an independent thread from the thread than runs `main()`. It is not libpcap. The mystery solved. The libpcap is still a single threaded library.

[2019-12-26 05:02] rickyzhang82 commented on #342
I look into [libpcap buffer size man page](https://www.tcpdump.org/manpages/pcap_set_buffer_size.3pcap.html). In my driver program, I used the default configuration in PcapPlusPlus default. Perhaps, I should try to bump it up by trial and error approach.

[2019-12-26 06:55] gx740 commented on #342
I think the `libpcap` is able to capture the 100Mbit NIC without the packet loss even in single thread. The only question is how many processor time is used. It may vary on different platform.
If the packet loss occures even on Core i9 you should, at least, estimate the performance of TCP reorder logic. Under linux there are the profilers such as `oprofile` and `operf`. These can be very useful.

[2019-12-26 07:48] seladb commented on #342
I agree with @gx740 that libpcap shouldn't drop packets at 100mbps. How does you packet capture thread/method look like? Does it do anything besides capturing packets and putting them into the buffer?

If you don't want PcapPlusPlus to open a separate thread for packet capture you can use `PcapLiveDevice::startCaptureBlockingMode()` which basically runs in an endless loop and captures packets unti

[2019-12-26 08:27] seladb commented on #343
In my opinion adding those methods to the `TcpReassembly` class may be confusing for the users because this class is not an iterator. We could write a sub-class that will contain this logic but as I think about it more the current implementation should be ok for most use-cases.

What do you think?

[2019-12-26 09:27] muse117 commented on #341
I successfully ran the program in /mt mode, but, The program runs for a while and restarts automatically

![微信截图_20191226172419](https://user-images.githubusercontent.com/9733486/71469694-f3979800-2804-11ea-8176-f7f3d546971a.png)

[2019-12-26 09:39] seladb commented on #341
thanks for the update! I don't know what your program does so it's hard to tell why it's crashing...

[2019-12-26 09:46] muse117 commented on #341
I'm checking, The same code is fine in /md mode

[2019-12-26 11:34] gx740 commented on #343
Let remain as is

[2019-12-26 11:34] #343 closed

[2019-12-26 13:40] rickyzhang82 commented on #342
Bumping up buffer size in libpcap doesn't resolve the missing packet problem.

I shared my PacketSorter app in [Github repo here](https://github.com/rickyzhang82/PacketSorter). It supports Linux and FreeBSD.

To build it, you need to build and install PcapPlusPlus from dev-tcp-sorter branch in my forked repo:

[code]
Install boost library and CMake.

[code]
The missing packet log file will be writ

[2019-12-26 20:20] gx740 opened #349 "Issue in unit tests"
[code]

The code above leads to memory leakage:

[code]

An error disappear when the operator `new` is replaced by `malloc`

[2019-12-27 08:16] seladb commented on #342
At this point I'd advise you to write a very simple program that uses plain libpcap (and not PcapPlusPlus). This program can count incoming packets for example, and do nothing else. See if you encounter packet loss there. If you do, it means libpcap cannot handle the load. If you don't, try to gradually add more code until you identify the bottleneck, for example:

0. Step 0; simple libpcap code.

[2019-12-27 09:05] gx740 commented on #349
Because of this issue I could not add the unit tests for `AppName::init` function in #350.
Under Visual Studio this does not reproduce.

Unfortunately, even `malloc` did not help under Linux.

[code]

[2019-12-27 23:36] seladb commented on #297
Closing this issue for now, please reopen it if needed

[2019-12-27 23:36] #297 closed

[2019-12-31 00:24] ilsergente1993 opened #367 "typo in enum"
I guess there's a typo here
https://github.com/seladb/PcapPlusPlus/blob/bddea1ec7fdd1d3b889200d38cd8195e27608a2f/Packet%2B%2B/header/HttpLayer.h#L255

Enum `http205ResetContent `instead of `Http205ResetContent`

Cheers

[2020-01-02 16:58] jquinn60137 opened #368 "Packet send fails for when MTU size is greater than 65535"
I ran into an interesting bug this morning.  I'm trying to send a packet over the loopback interface.  Send fails with this error:

Packet length [373] is larger than device MTU [0].

ifconfig reports a MTU value of 65536

After a few hours of troubleshooting I think I found the root cause.  In PcapLiveDevice::setDeviceMtu() ifr.ifr_mtu is set to 65536 (0x10000) correctly.  However, this value is

[2020-01-04 03:30] rickyzhang82 opened #369 "Bug in closing file stream"
First of all, I think you meant to close file stream from both sides, ie `index < 2`.

https://github.com/seladb/PcapPlusPlus/blob/eae97f3b76b0c3fca9ab5566f291a9dfe4f357f0/Examples/TcpReassembly/main.cpp#L379

Secondly, I want to discuss something else. My PacketSorter app follows the similar logic like the sample TcpReassembly. After running for 5 days, it crashed. I found a failure to open and w

[2020-01-04 04:28] rickyzhang82 commented on #369
https://github.com/seladb/PcapPlusPlus/blob/eae97f3b76b0c3fca9ab5566f291a9dfe4f357f0/Pcap%2B%2B/src/PcapFileDevice.cpp#L561-L576

I suspect the crash is caused by the fact that `m_File` is invalid. Why not check if the device is open first before actually close?

[2020-01-04 07:37] russkel opened #370 "Source tar.gz seems corrupted"
When downloading the Linux tarball (https://github.com/seladb/PcapPlusPlus/releases/download/v19.12/pcapplusplus-19.12-source-linux.tar.gz) I am getting:

[code]

Weirdly enough if I gunzip and then extract with tar it seems to open. Note this does not happen with other tar.gz files I have encountered.

[2020-01-05 02:50] aloknnikhil commented on #202
The whole point of RTE is to abstract the driver calls. PcapPlusPlus works with vfio_pci (I tested this by patching the verifyDrivers function to detect vfio_pci in the lsmod list)

[2020-01-05 07:37] seladb commented on #202
Thanks for checking!

[2020-01-05 07:38] seladb commented on #367
You’re more than welcome to fix the typo and create a PR 😃

[2020-01-06 14:12] Akvinikym opened #371 "Is section header block read and written?"
Hello.

We are currently using the library to:

1. Open a `PcapNgFileWriterDevice` with some filters onto it
2. Open several pcapng files one-by-one and write their contents into the output file, opened in the first step, to achieve the filtering

But, now I have a question: are Section Header Blocks of those files read by the library and then written to the output file?

After some search in the

[2020-01-07 17:18] jquinn60137 opened #372 "Compiler warning in PcapLiveDevice.h - possible bug"
When building I get the following warning:

/usr/local/include/pcapplusplus/PcapLiveDevice.h: In constructor ‘pcpp::PcapLiveDevice::DeviceConfiguration::DeviceConfiguration(pcpp::PcapLiveDevice::DeviceMode, int, int, pcpp::PcapLiveDevice::PcapDirection)’:

/usr/local/include/pcapplusplus/PcapLiveDevice.h:207:138: warning: unused parameter ‘direction’ [-Wunused-parameter]

 on(DeviceMode mode = Pro

[2020-01-08 08:37] seladb commented on #370
Thanks for reporting this issue!

There was indeed a problem with all of the Linux and FreeBSD tarballs, probably because of the [Cirrus CI packaging script I'm using](https://github.com/seladb/PcapPlusPlus-Deploy/blob/master/.cirrus.yml). I suspect that when I downloaded the tarball files from Cirrus CI server (for example [here](https://cirrus-ci.com/task/6018227821346816)) there was some issue

[2020-01-08 08:37] #370 closed

[2020-01-08 09:54] seladb commented on #368
Thanks for reporting this issue!

I tend to agree with you, we should extend `m_DeviceMtu` to `uint32_t`. I verified that the MTU value we get from both Windows and non-Windows system calls is 4-byte long so I see no reason we don't return a 4-byte long value too.

Would you like to make the change and submit a PR?

[2020-01-08 09:58] seladb commented on #372
This is a very good point, thanks for reporting this!

Would you like to make a fix a submit a PR?

[2020-01-08 13:03] russkel commented on #370
Thanks!

[2020-01-09 06:28] seladb commented on #349
Let me check that and get back to you

[2020-01-09 06:44] seladb commented on #349
Just to make sure: are you running the unit-tests with `valgrind`?

If you do so I'd recommend to shut off the internal memory leak checker that is built into the unit-test application. You can do this using the `-s` command-line parameter.

The reason I recommend that is because the internal mem leak checker is overriding the original memory allocation commands (`new` and `new[]`) which may confl

[2020-01-09 06:53] seladb commented on #369
I agree with both of your arguments. In `TcpReassembly` the check should be `index < 2` and in `PcapFileWriterDevice::close()` it'd be good to check if `m_File` is invalid.

Would you like to make those fixes and suggest a PR?

[2020-01-09 07:39] seladb commented on #371
I'm sorry for the delayed response.

If I understand your question correctly you're interested to know whether the interface data is being read or written from/to pcapng files. Unfortunately this is currently not supported. The only metadata that is supported for read and write is: hardware info, OS info, application info and file comment.

As you can see here the the interface ID is set to 0 by d

[2020-01-09 08:36] seladb commented on #342
@rickyzhang82 should we keep this issue open or can we close it?

[2020-01-09 08:39] gx740 commented on #349
Yes, this solves the problem

[2020-01-09 09:12] Akvinikym commented on #371
Actually, this issue is partly my fault. We use the fork of your library, and there the line you mentioned is changed to ` pktHeader.interface_id = packet.getInterfaceId()`, which puts the same `interface_id`, as it was in the original packet. I didn't know about this change, so sorry for bothering.

I think, we will stick to your way and unify all interfaces into one - the 0 - in order to get wel

[2020-01-09 09:18] seladb commented on #371
Thanks @Akvinikym, I'll close this issue for now. If you decide to implement this please let me know and I'll try to help

[2020-01-09 09:18] #371 closed

[2020-01-09 09:19] seladb commented on #349
Should we close this issue now?

[2020-01-09 09:20] gx740 commented on #349
Yes

[2020-01-09 09:21] #349 closed

[2020-01-09 09:21] seladb commented on #314
Did you start working on that already? Please let me know if you need any help

[2020-01-09 13:38] rickyzhang82 commented on #342
I will close it.

[2020-01-09 13:38] #342 closed

[2020-01-09 14:33] Akvinikym commented on #112
Hello! It's an old issue, but we encountered it as well, so I am going to implement this feature. Will land a PR as soon as it's ready

[2020-01-09 17:23] seladb commented on #112
That'd be awesome, thank you! Looking forward for your PR

[2020-01-10 01:38] rickyzhang82 commented on #369
see #373

[2020-01-10 22:15] #372 closed

[2020-01-10 22:16] seladb commented on #368
Done. Can you please run the same test with the latest version from `master`?

[2020-01-10 22:16] #368 closed

[2020-01-10 22:16] #367 closed

[2020-01-11 08:26] seladb commented on #369
Code merged. Thanks for your contribution!

[2020-01-11 08:26] #369 closed

[2020-01-13 17:02] jquinn60137 commented on #368
The fix looks good.  Thanks for the quick turn-around on this and the other bug I reported.

[2020-01-14 02:15] muse117 opened #389 "loopback support?"
Do not support 127.0.0.1 and npcap loopback? I use method of getPcapLiveDeviceByIp. but , dev is nullptr.
![微信截图_20200114101053](https://user-images.githubusercontent.com/9733486/72307791-74380e80-36b6-11ea-9142-75283664e2f3.png)
![微信截图_20200114101446](https://user-images.githubusercontent.com/9733486/72307862-b95c4080-36b6-11ea-9f31-925d09acf0f4.png)

[2020-01-14 05:22] seladb commented on #389
There was a similar issue in the past: https://github.com/seladb/PcapPlusPlus/issues/210

Please take a look and let me know if it's working for you

[2020-01-14 06:03] muse117 commented on #389
I have seen #210, This issue is used getPcapLiveDeviceByName , I want to use getPcapLiveDeviceByIp. whether support it?

[2020-01-14 06:28] seladb commented on #389
I don't think this is supported by WinPcap/Npcap, otherwise you wouldn't get a null response when searching by IP

[2020-01-14 07:24] muse117 commented on #389
I see regedit, It is 0.0.0.0 ip of npcap. but, I can winapi get ip of npcap. I think whethter to establish the corresponding.
![微信截图_20200114151542](https://user-images.githubusercontent.com/9733486/72322640-ca6e7700-36e1-11ea-91fb-af7c701f9a84.png)
![微信截图_20200114151834](https://user-images.githubusercontent.com/9733486/72322692-ed009000-36e1-11ea-96ff-8c800f352382.png)

[2020-01-14 07:31] seladb commented on #389
while it may be possible using WinAPI, I'm not sure if Npcap or WinPcap actually support it. Since PcapPlusPlus is mostly a wrapper for those libraries, if they don't support it PcapPlusPlus won't either

[2020-01-14 07:32] muse117 commented on #389
Ok, Thank you for your reply

[2020-01-14 07:33] seladb commented on #389
if you find out the Npcap/WinPcap do support it plz let me know and I'll check that

[2020-01-14 09:23] muse117 commented on #389
I directly use "\Device\NPF_Loopback". It is good.

[2020-01-14 10:01] seladb commented on #389
Cool, I'll close the issue now, please reopen if needed

[2020-01-14 10:01] #389 closed

[2020-01-16 11:16] stev3bb opened #391 "Getting issues when parsing large pcap file"
Hi Community,

Background:
I using the pcap plus plus to parse large pcap files and separating them smaller files with respect to different types of protocols. The pcap files are captured with tcpdump and file are about 30-100gb.

I have encountered this problem below and was wondering where it is throwing this message "DNS parsing error: name pointer is illegal" as I am only able to parse half of

[2020-01-16 19:36] seladb commented on #391
These errors mean that the DNS packets in the pcap file are probably malformed. Could you please share a few samples so I can take a look?

[2020-01-16 23:54] stev3bb commented on #391
Thank you for your reply, sounds about right as it didn't throw that error when I tested it with a smaller sample. Do you know of some issue with pf_ring version of tcpdump that might corrupt packets?
I will take a deeper look at it and come back with some data.

[2020-01-17 00:25] seladb commented on #391
I'm not aware of any issue with pf_ring version of tcpdump... please share some data when you have it

[2020-01-20 20:50] vrobles-gee commented on #314
Hi. Sorry it took so long to reply, I was on holiday. Recently, we decided to delegate this on another team. Since we will still provide the requirements, before doing that, we will check with you about the better approach to structure the classes. We have already started checking the protocol draft (notice it is still not a standard, newer draft version is from last November) and I believe a simi

[2020-01-22 08:01] seladb commented on #314
To be honest, I'm not familiar with Quic so it might take me some time to learn this protocol and understand how it works. Do you have any documentation which is simpler to read? RFCs are long and complex documents 😃

[2020-01-25 06:06] seladb commented on #391
do you have an update on this?

[2020-01-26 09:04] #391 closed

[2020-01-29 09:56] seladb commented on #112
@Akvinikym I just noticed you were using a non-GitHub username for your commits (Pavel) so you're not included in the contributors list of PcapPlusPlus. If you'd like to be included you need to add the email address you were using to your GitHub account (you can do this here: https://github.com/settings/emails)

[2020-01-29 10:12] Akvinikym commented on #112
@seladb added the email

[2020-01-29 10:19] seladb commented on #112
@Akvinikym thank you so much for your contribution to this project, I really appreciate it!

I'll close this issue now

[2020-01-29 10:19] #112 closed

[2020-02-07 05:49] muse117 opened #400 "Support for multithreading?"
Hi:
I want to start two threads at the same time to grab the data on the same network card, but only one thread can get the data and the other thread cannot.

Mysql:3306
Oracle:1521
Ip:same

[code]

[2020-02-08 06:29] seladb commented on #400
It's not possible to run `startCapture()` on the same device from 2 different threads. The recommended way would be to have 1 thread the captures both Oracle and MySQL packets and then pass them to other threads (via queue, shared memory, etc.) for processing

[2020-02-08 07:20] muse117 commented on #400
I see that pfring and dpdk  supports multithreading. Another question, Can you increase the TCP payload length filter? It filters frames of length 0, Such as syn, fin, ack frame. I see udp has been supported

[2020-02-08 08:26] seladb commented on #400
you're correct, DPDK and PF_RING do support multi-threading out-of-the-box.

do you mean an equivalent for `UdpLengthFilter`?

[2020-02-08 08:41] muse117 commented on #400
yes

[2020-02-08 23:40] seladb commented on #400
all pcap filters are a nice C++ wrapper over [BPF filters](https://en.wikipedia.org/wiki/Berkeley_Packet_Filter). Unfortunately there is no easy way to use BPF for filtering TCP payload length. You can read more about it [here](https://superuser.com/questions/1420299/filtering-tcpdump-over-packet-length) and [here](https://stackoverflow.com/questions/9874093/how-to-filter-tcpdump-output-based-on-p

[2020-02-09 06:24] muse117 commented on #400
ok, I see. thx!

[2020-02-09 06:58] seladb commented on #400
should we close this issue now or leave it open?

[2020-02-09 12:24] muse117 commented on #400
wireshark can filter tcp payload lenght. It is not BPF filters?

[2020-02-09 16:57] seladb commented on #400
no, wireshark has its own filtering mechanism which is not based on BPF filters