[2014-11-07 22:37] seladb opened #1 "Fix the extra space created in platform.mk after running configure-windows.bat"

[2014-11-07 22:38] seladb opened #2 "Add debug_new to Pcap++Test and fix all memory leaks"

[2014-11-07 22:40] seladb opened #3 "Create copy constructors to Packet and all Layers"

[2014-11-07 22:43] seladb opened #4 "Try to change debug_new so it won't output memory leaks on static objects"

[2014-11-07 22:45] seladb opened #5 "Enhance filters capability"

[2014-11-08 21:22] seladb opened #6 "Fix the make files to compile incremently"

[2014-11-09 06:06] #1 closed, assigned to nobody

[2014-11-09 20:57] seladb opened #7 "Add README including installation instructions"

[2014-11-12 22:32] #2 closed, assigned to nobody

[2014-11-14 23:06] #6 closed, assigned to nobody

[2014-11-15 11:51] seladb opened #8 "Add HTTP statistics utility"

[2014-11-15 11:54] seladb opened #9 "Convert all code to the same coding convention"

[2014-11-16 07:53] seladb opened #10 "TestPcapFilters test in Pcap++Test sometimes fails with message "assertion failed: Filter 'not (src net 10.0.0.1)', Packet captured isn't of type IP""

[2014-11-16 22:18] #7 closed, assigned to nobody

[2014-11-16 22:45] #10 closed, assigned to nobody

[2014-11-17 06:11] seladb opened #11 "Add debug_new to Common++"

[2014-11-17 21:08] #9 closed, assigned to nobody

[2014-11-18 21:24] #4 closed, assigned to nobody

[2014-11-18 21:24] #11 closed, assigned to nobody

[2014-11-19 19:15] seladb opened #12 "On 64bit Linux system you get an error on compiling debug_new.cpp"
src/debug_new.cpp: In function 'void operator delete(void_)':
src/debug_new.cpp:455:52: error: cast from 'void_' to 'unsigned int' loses precision [-fpermissive]

[2014-11-19 19:20] seladb opened #13 "On Fedora 15 make cannot link -lstdc++ statically"

[2014-11-19 19:42] #13 closed, assigned to nobody

[2014-11-19 22:30] #12 closed, assigned to nobody

[2014-11-22 06:12] arthurzam opened #14 "missing include"
On Unix, the sleep function is located under the header unistd.
You should add it in the file "Pcap++/header/PlatformSpecificUtils.h"
my fix - http://pastebin.com/bfLTR8Mj

[2014-12-02 21:18] #14 closed, assigned to nobody

[2014-12-09 07:58] seladb opened #15 "Provide an easier way to implement and register new protocols to Packet++"

[2014-12-14 21:11] seladb opened #16 "Add dist folder that contains compiled libraries"
Relevant for Windows mainly, maybe for some Linux distributions also

[2014-12-17 06:20] seladb opened #17 "Add print capabilities to all layers and packet"

[2014-12-17 06:21] #5 closed, assigned to nobody

[2014-12-17 06:23] seladb opened #18 "Create a template method for getLayerOfType()"

[2014-12-17 21:22] #18 closed, assigned to nobody

[2014-12-18 21:44] #16 closed, assigned to nobody

[2014-12-18 22:43] seladb opened #19 "Add arping implementation as an example"

[2014-12-19 20:50] seladb opened #20 "SetFilter is currently implemented in PcapDevice. Does it work for Pcap files??"
If not, move the implementation to PcapLiveDevice and consider using pcap_offline_filter in files

[2014-12-21 09:41] seladb opened #21 "Add ability to interpret packet to a certain number of layers"
For example: interpret only L2, only L2+L3, only L2-L4, etc.

[2014-12-25 21:40] #3 closed, assigned to nobody

[2015-01-05 22:31] #17 closed

[2015-01-09 22:17] seladb opened #22 "Pcap++ and Packet++ should compile with their dependents"
Pcap++ should include all Packet++ and Common++ code
Packet++ should include all Common++ code
Common++ shouldn't compile as a standalone library

[2015-02-03 22:43] seladb opened #23 "Create a general makefile to ease combining PcapPlusPlus in applications"

[2015-04-28 21:39] #23 closed

[2015-04-28 21:39] seladb commented on #22
Not necessary for now

[2015-04-28 21:39] #22 closed

[2015-04-29 19:06] seladb commented on #20
Apparently it works for PCAP files. Not a bug

[2015-04-29 19:06] #20 closed

[2015-05-03 06:05] #19 closed

[2015-05-03 06:06] seladb opened #24 "Support Mac OS X"

[2015-05-07 22:34] #24 closed

[2015-07-09 05:14] counsellors opened #25 "cannot find -lgcc_s"
I'm attemping to build PcapTest++Test, then get the following error:

[code]
The compiler version is:
  g++ (Ubuntu 4.8.4-2ubuntu1~14.04) 4.8.4

and I could find the lib file *libgcc_s.so.1*.
[code]

[2015-07-09 19:13] seladb commented on #25
I see you're trying to compile PcapPlusPlus with PF_RING. Did you also try to compile it without PF_RING? Did you succeed? This can help focus on the problem.
Please run _./configure-linux.sh_ and choose not to configure PF_RING compilation.
Then run _make clean_ and then _make all_ and tell me what happened

[2015-07-10 08:08] counsellors commented on #25
It's successful to build target Pcap++Test without PF_RING after processing following your way。Is there any problem in PF_RING building?

I getted PF_RING from git site: [https://github.com/ntop/PF_RING.git](https://github.com/ntop/PF_RING.git)
build it with official suggestion:
[code]
libpfting.so would be created to link to this program.

[2015-07-10 21:32] seladb commented on #25
I found the bug - it was redundant flags in the makefile for pf_ring. I removed these flags and now everything compiles and run

[2015-07-10 21:32] #25 closed

[2015-10-19 22:19] mvpete opened #26 "Issue in setDeviceMacAddress"
Hey there,

I think you have a bug in the setDeviceMacAddress. Firstly, thank you for making this library. I've been looking all over for an easy way to get a device MAC address in searching I found this to use a reference.

I believe that you need to actually allocate enough memory for your packet. Right now you're stomping over the stack when you do the packet request, because the PACKET_OID_DAT

[2015-10-29 20:53] seladb commented on #26
Thanks for the feedback, I'll look into it and fix it

[2015-11-02 20:08] seladb commented on #26
You were right on both issues, I fixed them both. Thanks again!

[2015-11-02 20:09] #26 closed

[2016-01-18 12:56] #8 closed

[2016-05-18 15:09] mkaes opened #27 "Pollution of global namespace"
The library does not live in a namespace and is polluting the global namespace.
It would be nice if the library uses a namespace for all types and a prefix for all defines.
The issue can be reproduced by the following code snippet.

    #include <iostream>
    #include <boost/asio.hpp>
    #include "TcpLayer.h"
    int main() {
        return 0;
    }

This leads on a Kubuntu 16.04 to the followin

[2016-05-18 22:17] seladb commented on #27
I merged your pull request to master and added the namespace to additional examples and files. I verified it compiles on Ubuntu, Windows and Mac OS.
Thanks for the fix!

[2016-05-18 22:17] #27 closed

[2016-05-20 14:25] tristancode opened #29 "'in.h' file not found #include <in.h>"
Hello
I am running on Mac OS X and getting this probleme

And have an issue when running the DNSSpoof example file.. Please help
Full Error:

main.cpp:16:10: fatal error: 'in.h' file not found
#include <in.h>

[2016-05-22 20:54] seladb commented on #29
Which Mac OS X version are you running?

[2016-05-24 13:39] tristancode commented on #29
This worked the info you gave me fixed my issue.!

[2016-06-23 17:16] mmillier opened #31 "Off by one error in "Packet++/src/RawPacket.cpp RawPacket::insertData()"
The method RawPacket::insertData() copies one extra byte when moving existing data.  In the append case this writes 1 byte beyond the allocated memory for the packet.

I propose the following code for that method:
[code]

[2016-06-23 17:18] mmillier opened #32 "The destructor for the base class "Layer" uses wrong "delete" form to delete allocated data."
The m_data pointer is allocated with new [], should be deallocated with delete [].

Can you tell I've been running valgrind?   ;-)

[2016-06-25 21:52] seladb commented on #31
Thanks for finding this tricky bug! fixed and committed to master

[2016-06-25 21:52] #31 closed

[2016-06-25 21:53] seladb commented on #32
Thanks for finding this! fixed and committed to master

[2016-06-25 21:53] #32 closed

[2016-07-23 10:32] eostermueller opened #33 "Segmentation fault: 11"
On Mac Yosemite version 10.10.3, I'm trying to display the response times of each HTTP session from a pcap file.

I downloaded this pcap file::
`https://github.com/open-nsm/course/blob/master/pcaps/nitroba.pcap`

I downloaded PcapSplitter from here:
`https://www.dropbox.com/sh/5go4ca778nu4zrm/AABbpDieIPBWQ0sGFNCWU7mza?dl=0`

Ran this command:
`PcapSplitter -m connection -f nitroba.pcap -o pcs`

An

[2016-07-23 18:31] seykuyinu commented on #29
Hi,

I'm having the same issue when trying to compile PcapPlusPlus on OSX. I'm running on Yosemite, with Xcode 6.4. The error I get is:

I've tried re-installing X-code developer tools, as well as using a different installation of g++, but no luck.

Any help would be appreciated!

[2016-07-23 19:06] seladb commented on #33
In that link I see PcapSplitter was compile for Mac OS X Snow Leopard, not for Yosemite, that's probably the reason. Can you compile it for Yosemite?

[2016-07-23 19:11] seladb commented on #29
Can you please send me the entire compilation output until the error occurs?
Please run "make clean" before you run "make all"

[2016-07-24 11:40] eostermueller commented on #33
Sorry, I'm not set up for that.

[2016-07-24 18:17] seykuyinu commented on #29
Here it is: [compilation.txt](https://github.com/seladb/PcapPlusPlus/files/380416/compilation.txt)

[2016-07-24 18:52] seladb commented on #33
I don't have a Mac with Yosemite installed so I can't compile it for you, sorry...

[2016-07-24 18:52] #33 closed

[2016-07-24 19:03] seladb commented on #29
Did you run:
`./configure-mac_os_x.sh`
before you started compiling? If not, please run this configuration script, then run "make clean" and "make all".
If you did run it, please check if you have the following directory: /usr/include/netinet
If you don't have it, it means the XCode developer tools weren't installed correctly for some reason

[2016-07-24 19:04] seladb commented on #33
Do you have someone with a Mac that can help you with that?

[2016-07-24 21:37] eostermueller commented on #33
Got a mac, don't have the cpp dev environment.

On Sun, Jul 24, 2016 at 2:04 PM, seladb <notifications@github.com> wrote:

[2016-07-24 21:58] seladb commented on #33
Ok, if I'll find someone with a Yosemite I'll compile and and notify you

[2016-08-09 16:58] #29 closed

[2016-08-17 16:47] max197616 opened #35 "Bug in IDnsResource::decodeName."
If non-dns packet gets into DnsLayer, then we will get SIGSEGV, because function size_t IDnsResource::decodeName not checking going beyond the limits of the packet.

[2016-08-17 18:35] max197616 commented on #35
Similar problem in SSLClientHelloMessage::SSLClientHelloMessage:
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffd1dfe700 (LWP 13139)]
0x000000000056722b in pcpp::SSLClientHelloMessage::getExtensionsLenth (this=this@entry=0x7fffcc001cf0) at src/SSLHandshake.cpp:1243
1243            return ntohs(*(uint16_t*)extensionLengthPos);
Missing separate debuginfos, use: debug

[2016-08-17 18:58] seladb commented on #35
Can you please provide pcap files that throw these exceptions?

[2016-08-18 12:11] max197616 commented on #35
Add to the line https://github.com/seladb/PcapPlusPlus/blob/master/Packet%2B%2B/src/DnsLayer.cpp#L47 string "std::cout << "offsetInLayer: " << (int) offsetInLayer << std::endl;". Then use attached file.
[dns_bad4.pcap.txt](https://github.com/seladb/PcapPlusPlus/files/424824/dns_bad4.pcap.txt)

[2016-08-18 13:06] seladb commented on #29
Fixed in [this commit](https://github.com/seladb/PcapPlusPlus/commit/2b8b254085bdaf8b9048461c81d470d94bfb9c9f)

[2016-08-18 13:24] max197616 commented on #35
Hex string of the wrong udp packet (make UdpPacket.dat) :
00005e0001016c416aba0e3f08004500021c7b8e00007d1148b559bd7e125bdd43e1ee4e00350208b35a7c9ba95b7a1ec46797ced43d0887f8ec644329b7342ac4d3712bc5d20b3182a61e91908b1c35187f51a34dcaba57e914da2f1c4738b74224edf7d9abd2b71c3df990b211387e28556f656af97dcd22976b5a02f19dace7bd4016f0df5153c21727d55f175db6d58eba1f72fb5d95d3cad7134023ee86cea732bd0bd144f4df9e92

[2016-08-18 13:40] seladb commented on #35
Could you please send me the code you're running or the stack trace of the exception?
I tried to reproduce the exception with the pcap file you sent me but I can't reproduce it...
Also - what OS are you working on? I tried with Ubuntu 14.04.1

[2016-08-18 14:56] max197616 commented on #35
I simply made UdpPacket.dat with content that I wrote above and launched Pcap++Examples.PacketParsing:
$ gdb ./Pcap++Examples.PacketParsing
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-80.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO W

[2016-08-21 20:04] seladb commented on #35
OK, let me check that and come back to you

[2016-08-23 20:09] seladb commented on #35
Fixed the DnsLayer bug. You said there's also a problem with SSLClientHelloMessage. Could you please provide a pcap file and the steps to reproduce the exception?

[2016-08-29 10:00] max197616 commented on #35
You do not completely fix the problem. Output from the gdb:
...
#74841 0x000000000052ce11 in pcpp::IDnsResource::decodeName (this=0x7faf6c002e80, encodedName=0x7faf7ce21bdd <Address 0x7faf7ce21bdd out of bounds>, result="\327,\244%Do!\272\345\275v[;?f\366\255֩C\322^\300\036\213\n\320:\344_9\315)Ɔ\212tՉK.\024\275\027\003\260\232\331\027G%\306j\302\353\232\326R$\361\236\031\346\021\213L\246\207;`\"\

[2016-08-29 11:22] max197616 commented on #35
You have corrected bug is not entirely. Here's the output from the GDB:
...
#74830 0x000000000052ce26 in pcpp::IDnsResource::decodeName (this=0x7fc700003220, encodedName=0x7fc70fef36b7 <Address 0x7fc70fef36b7 out of bounds>, result="\366ˎ\324Z:l\030%FgY#j\b\250\330P(\317\357=F^\223\273\231\004\326\335v\346R\302\367\t\306\354X\332\302n[\377\245\322\000\r\205\366\374Ɲ\273\321LK\326v\365\334S\203/FIj

[2016-08-29 12:27] max197616 commented on #35
In the functions for working with SSL (e.g. SSLClientHelloMessage::getSessionIDLength, SSLClientHelloMessage::getCipherSuiteCount) never checked obtained values. As a result, there is going beyond the borders of the packet:
(gdb) bt full
#0  0x00007fdfd43d55f7 in raise () from /lib64/libc.so.6
No symbol table info available.
#1  0x00007fdfd43d6ce8 in abort () from /lib64/libc.so.6
No symbol table

[2016-08-30 13:29] max197616 commented on #35
I made a simple application and ran it on the live traffic. After some time, the application is terminated due to exhausting all available memory. The problem in the code of parsing packets for each layer.

[2016-08-30 18:40] seladb commented on #35
When you're saying that the problem in the code of parsing packets for each layer - do you mean the bugs in DNS and SSL parsing you mentioned? Or do you think there are other bugs as well?

[2016-08-30 18:58] max197616 commented on #35
For the experiment, I disabled SSL and DNS layers. The first potential problem in the line 367 in the file HttpLayer.cpp: using strlen is not safe. I think that you must use strnlen, like: m_FieldSize = strnlen(fieldData,m_HttpMessage->m_DataLen);

[2016-08-30 19:10] seladb commented on #35
Since I don't have the testing environment that you have it's difficult for me to reproduce the bugs you encounter. I'm currently working on the DNS bug, then I'll move to the SSL bug and then to the HTTP bug. I'd really appreciate if you can help me verify the bugfixes and find more bugs. Also, I'd appreciate if you can send me pcap files that reproduce these bugs. I will add tests to Packet++ un

[2016-08-30 21:56] seladb commented on #35
I think I fixed the 3 issues you found (DNS, SSL and HTTP). Please tell me if you find more. In addition, I'd appreciate if you can send me pcap files that reproduce these bugs. I will add tests to Packet++ unit-test with these files

[2016-08-31 07:50] max197616 commented on #35
I think that in the HTTP layer strchr must be replaced by memchr.

[2016-08-31 07:53] max197616 commented on #35
I can't make pcap files, because files are very big, I launch application on 10gbe interface.

[2016-08-31 17:50] seladb commented on #35
Thanks for the pull request, I merged it into master branch. Did you verify my fixes in DNS, SSL and HTTP layers? Do you still see crashes or memory leaks in those or other layers?

[2016-08-31 18:28] max197616 commented on #35
HTTP layer worke fine. DNS layer still have problem:
....
#74850 0x0000000000547caf in pcpp::IDnsResource::decodeName (this=this@entry=0x7fd12c0013a0, encodedName=0x7fd13fac1c40 <Address 0x7fd13fac1c40 out of bounds>, result="\005.8Zd\247\206\366\332\v\270^\362\260:\035\fL.8\035\214\203\230\313\372{g&K\346\351\023\362\276\304.\201\240\324\352\343I6\364a ͞*\035\022\rm\252\025?n4\326~#\243\260\376>a

[2016-08-31 19:33] seladb commented on #35
It's hard to understand from this stack trace what's the exception and why it occurs. Can you please send me a pcap file or some other information so I can reproduce it in my environment?

[2016-08-31 20:46] max197616 commented on #35
SSLlayer is work as expected.
I'll try to get a dump of DNS traffic to reproduce the problem.

[2016-09-01 12:37] max197616 commented on #35
I've attached dump of dns packets:
[dnslayer.pcap.txt](https://github.com/seladb/PcapPlusPlus/files/449629/dnslayer.pcap.txt)
And the last packet in hex (which cause segmentation fault at DnsLayer.cpp):
00005e0001016c416aba0e3f08004500021c45a100007e1106e559bd77251f83fde5efc70035020896c72fcf0bc1e56d6598ba0cf52d09c295f73da4e6e2d1b920c35b647810a1bd33be593337adcae7d81ff54185e05abbed148c60b51a965b73f83

[2016-09-01 18:19] seladb commented on #35
I can't reproduce the segmentation fault with the last packet in the pcap file. I tried running PcapPrinter  and Pcap++Examples.PacketParsing with this packet on both Windows 7 and Ubuntu 12.04 32-bit but no success in reproducing it. Can you share your code and OS?

[2016-09-02 12:53] max197616 commented on #35
I launch DpdkTrafficFilter application from the examples on the mirror of real traffic. Program receives ~ 130000 packets per second.
My OS is CentOS 7.

[2016-09-02 16:29] seladb commented on #35
I don't have CentOS 7 and I can simulate DpdkTrafficFilter only on Ubuntu VM. I'll try to reproduce it, hope I'll be able to. Can you please try to debug the problem and suggest a solution?

[2016-09-04 19:42] max197616 commented on #35
I'll try to reproduce the issue and find the source of its origin.

[2016-09-04 19:54] max197616 commented on #35
Try packet on Pcap++Examples.PacketParsing:
00005e0001016c416aba0e3f08004500021c237900007d11372859bd66665fd5c137ca26003502089864ebc5374c9fda6408b7d1bc66ac94c0f876dff63d63cd55daa81ce6b47e51a185af540f7ad8adf1200260f1e176c5ee1429d3cd379c9abc0cf891e9f1e38140af6ca3df0bae59b52c122a3f6f7c8ba211e0068fd1e209438d49b924d932d2da69fabc9eb8b7fec40e6452729558f12fc7a94a32721106181c07d3a0e0d3bdf33adca0ae0259751b55

[2016-09-05 19:14] max197616 commented on #35
I think that in function DnsLayer::parseResources you must check numOfQuestions and numOfAnswers for valid values, for an example these values can't be more then 16. This will reduce the processing time of non valid DNS packets.

[2016-09-05 19:43] seladb commented on #35
You're right, I'll add this code. In addition I found the problem in the packet you sent - there is an endless loop there. I'll fix that either

[2016-09-05 20:19] seladb commented on #35
Fixed that issue, please tell me if you see more segmentation faults or memory leaks

[2016-09-06 18:00] seladb commented on #35
Please notify me if everything is ok so I can close the bug

[2016-09-06 19:10] max197616 commented on #35
I launched a test application during ~ 8 hours and was not observed problems.
Thank you!

[2016-09-06 19:10] #35 closed

[2016-09-08 06:37] sgeto opened #38 ""PcapPlusPlus-16.02-Win32.zip" February 2016 release link is dead"
please fix

[2016-09-08 12:54] seladb commented on #38
What do you mean "link is dead"? I managed to download this file a few seconds ago...

[2016-09-08 19:50] sgeto commented on #38
not sure. The server keeps refusing connections.

here is my wget:
`wget https://github.com/seladb/PcapPlusPlus/releases/download/v16.02/PcapPlusPlus-16.02-Win32.zip
--2016-09-08 22:49:20--  https://github.com/seladb/PcapPlusPlus/releases/download/v16.02/PcapPlusPlus-16.02-Win32.zip
Resolving github.com (github.com)... 192.30.253.113
Connecting to github.com (github.com)|192.30.253.113|:443... con

[2016-09-08 19:56] seladb commented on #38
From your log it seems your device cannot establish an SSL connection with github-cloud.s3.amazonaws.com. Did you try to ping this server? My computer can connect to it...
Another idea is to try and download the file from a browser and not with wget. did you try that?

[2016-09-10 01:51] sgeto commented on #38
I tried all kinds of ways before opening this issue. And the more I try the more I think assume my ISP is the culprit. After some more tryouts, I can say that I'm getting this errors only on a few repos and only when I want to download a release (never when I clone). I don't really know...

can you provide a mirror please? Even for a day or two?

[2016-09-10 19:52] seladb commented on #38
No problem, please send me an email to pcapplusplus@gmail.com and I'll send you everything. Do you want just the binaries or the source code as well?

[2016-09-10 21:39] seladb commented on #38
Sent the files by email

[2016-09-10 21:39] #38 closed

[2016-10-26 14:19] arietto opened #39 "Several cast errors in MinGW x64 4.8.1"
Hello! I can't compile in MinGW x64 4.8.1, because the file Common/src/debug_new.cpp contains the error
debug_new.cpp:30:46: error: cast from 'void*' to 'long unsigned int' loses precision [-fpermissive]
 #define DEBUG_NEW_HASH(p) (((unsigned long)(p) >> 8) % DEBUG_NEW_HASHTABLESIZE)
Also there are some other cast errors
src/PcapFilter.cpp:113:35: error: cast from 'uint8_t* {aka unsigned char*}' t

[2016-10-26 18:25] seladb commented on #39
MinGW x64 isn't currently supported (only the 32-bit version is working). The main reason (except for these compilation errors which are easy to fix) is that I didn't manage to link my code with the x64 WinPcap libraries. From Googling this issue, I didn't find any working solution so it seems that the only way to link with x64 WinPcap is to re-compile WinPcap with MinGW x64. I didn't get to that

[2016-10-27 06:12] arietto commented on #39
Readme.md contains the folowing fragment: "It was tested on Windows (32bit and 64bit) with Mingw32 and MingGW-w64". I suppose that you should explicitly mention that MinGW x64 isn't currently supported  in readme.md.

[2016-10-27 06:12] #39 closed

[2016-10-27 14:50] seladb commented on #39
MinGW-w64 is a fork of MinGW32. It contains both 32-bit and 64-bit compilers. I will add the comment you suggested, thanks

[2016-10-31 20:52] patrickj0607 opened #40 "PcapSplitter: Max. Bytes per File limited to 1.9 Gbyte"
The total size per files uses an ``int`` to store the given parameter value. As the maximum value of an ``int`` is limited to 2,147,483,647, the largest max. bytes per file is 1.99 Gbyte. I know that this is just an example, but as the latest release contains the PcapSplitter as binary it also does a great job as an standalone utility. Therefore I would suggest adapting the PcapSplitter to support

[2016-11-01 11:04] seladb commented on #40
I can do that fix for you, it shouldn't be too difficult. How urgent is it for you? Do you also want me to create a new build (depends on the operating system you need to use it on)?

[2016-11-01 11:45] patrickj0607 commented on #40
@seladb Thanks a lot for your offered help! It looks like tcpdump suffers by a similar [issue](https://github.com/the-tcpdump-group/tcpdump/issues/488). However, someone posted the required changes such that I could apply them to my cloned repo, I recompiled it and now I finally could split my large (~14 GB) PCAP files.

[2016-11-01 23:49] seladb commented on #40
Issue was fixed, you can pull the latest code, compile PcapSplitter and use it

[2016-11-01 23:49] #40 closed

[2016-11-17 04:35] krepver opened #41 "Error compiling with boost asio included before TcpLayer.h"
A simple program fails to compile
[code]
Error is
[code]

Boost ends up including <netinet/tcp.h>, which has line 163 `# define TCPOPT_NOP		1`, so TCPOPT_NOP in TcpOption enum is replaced by "1".

My system is Ubuntu 16.04, gcc 4.9, boost 1.55

[2016-11-17 11:08] seladb commented on #41
If I understand you correctly, the fix that needs to be done is replacing all values in TcpOption enum with a different name (for example: PCPP_TCPOPT_NOP instead TCPOPT_NOP), right?
Can you do this change and send me a pull request or do you prefer me to do it?

[2016-11-17 15:54] krepver commented on #41
Yes, but i'm not sure about others. Yes, i will try to change and then send you a pull request

[2016-11-18 09:46] #41 closed

[2016-11-22 03:56] alext234 opened #45 "license of PcapPlusPlus"
I am curious about what the software license that it is adopting. GPLV3?

[2016-11-22 15:51] seladb commented on #45
Hi, I was already asked this in the PcapPlusPlus support group: [https://groups.google.com/forum/#!topic/pcapplusplus-support/vR5csiyUY1Y](https://groups.google.com/forum/#!topic/pcapplusplus-support/vR5csiyUY1Y)
As I said in that page, you can use this library for whatever purpose you want, both commercial, open source, private use, etc. I'd appreciate the credit :)
I'm not sure what type of lice

[2016-12-02 00:03] #45 closed

[2016-12-10 22:30] seladb opened #46 "Fix bad parameter when calling nmcli to get DNS"
Issue found by krepver:
With nmcli version 1.2.2 i got this error:

![](https://cloud.githubusercontent.com/assets/1073706/20396205/dfc157fa-acfe-11e6-8617-8cfc9758c4fe.png)

[2016-12-10 22:43] seladb commented on #46
Fixed in commit a964c67aa1c25e68f53db2b95c956cd4891b6b95

[2016-12-10 22:43] #46 closed

[2017-01-09 06:40] yuetianle opened #47 "how to catch htttp cmd with the hls protocol"

[2017-01-09 13:43] seladb commented on #47
I didn't quite understand the question. Can you please elaborate?

[2017-01-17 23:30] #47 closed

[2017-01-17 23:31] seladb commented on #47
I closed the ticket due to lack of information

[2017-03-03 09:39] Sai10032 opened #49 "PcapSplitter go wrong when capture length is smaller than frame length"
when the payload have been nulled out，the frame length is the capture length after split the pcap file.

[2017-03-03 19:51] seladb commented on #49
Could you please attach a pcap file with an example of such packets? It'll help me debug this issue

[2017-03-03 20:06] Sai10032 commented on #49
http://pages.cs.wisc.edu/~tbenson/IMC10_Data.html this is where i get the pcap file On 2017-03-04 03:51 , seladb Wrote: Could you please attach a pcap file with an example of such packets? It'll help me debug this issue — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-03 20:15] seladb commented on #49
Thanks! There are 2 pcap files on that page, which one is failing? In addition - could you please write the PcapSplitter command you're trying to run?

[2017-03-03 20:21] Sai10032 commented on #49
everyone is same result, you could test it. i run it like 'pcapspliter -f input.pcap -o outdir -m connection' On 2017-03-04 04:15 , seladb Wrote: Thanks! There are 2 pcap files on that page, which one is failing? In addition - could you please write the PcapSplitter command you're trying to run? — You are receiving this because you authored the thread. Reply to this email directly, view it on GitH

[2017-03-03 20:24] zupino opened #50 "EthLayer.setSoureMac() has typo in method name"
This is just a cosmetic issue, but EthLayer.setSoureMac() should probably be called EthLayer.setSourceMac() instead.

[2017-03-03 20:24] Sai10032 commented on #49
i checked the code and found that you may assume capture length and frame length is equal

[2017-03-03 22:02] seladb commented on #49
Cool thanks for the info. Do you want to prepare a fix it and create a pull request or do you prefer I do the fix?

[2017-03-03 22:43] seladb commented on #49
Still can't reproduce it. Downloaded one the the files but it contains many 100MB pcap files. Can you please direct me to a specific one causing the problem?
In addition - can you direct me to the place in the code you think is problematic?

[2017-03-03 23:38] seladb commented on #50
Fixed, thanks for noticing this typo!

[2017-03-03 23:38] #50 closed

[2017-03-04 09:02] Sai10032 commented on #49
I have create a pull request

[2017-03-04 20:54] seladb commented on #49
Merged your pull request: #51
Thanks a lot for finding and fixing this bug!

[2017-03-04 20:54] #49 closed

[2017-04-16 06:56] kaijunzhan opened #52 "Support for DPDK 17.02?"
Any plan to support DPDK 17.02? It looks like compiles with old versions (as it was mentioned in the README)

[2017-04-17 06:02] seladb commented on #52
I don't have it in my immediate plans although I can prioritize this if required by many people.
Another option is to try it yourself, shouldn't be much of a problem. What do you think?

[2017-04-17 09:35] iGeneral commented on #52
I use PcapPlusPlus + dpdk-17.02 without any problems.
For install you need to slightly modify PCAPPP_LIBS section in PcapPlusPlus.mk.dpdk

[2017-04-17 18:14] seladb commented on #52
Cool thanks, could you please attach the PcapPlusPlus.mk.dpdk you're using?

[2017-04-28 12:58] iGeneral commented on #52
**1)By default Compiling 'Pcap++Test' is failed.**
/tmp/PcapPlusPlus/Tests/Pcap++Test# make
g++ -L../../Common++/Lib/Debug -L/tmp/PcapPlusPlus/Dist -L/home/am/dpdk-17.02/build/lib -L/lib64  -msse -msse2 -msse3 -Wall -o "./Bin/Pcap++Test" Obj/main.o ../../3rdParty/debug-new/../../3rdParty/debug-new/debug_new.o -lPcap++ -lPacket++ -lCommon++ -lpcap -lpthread -Wl,--whole-archive -lrte_pmd_bond -lrte_

[2017-04-29 09:55] mmanoj commented on #52
Thanks for the support, however while run make all DPDK example giving below error. Any idea ?

/opt/dpdk/dpdk-stable-16.11.1/build/lib/librte_eal.a(rte_cpuflags.o):(.rodata+0x0): multiple definition of `rte_cpu_feature_table'
/opt/dpdk/dpdk-stable-16.11.1/build/lib/librte_eal.a(rte_cpuflags.o):(.rodata+0x0): first defined here
/opt/dpdk/dpdk-stable-16.11.1/build/lib/librte_eal.a(rte_cpuflags.o):

[2017-05-01 19:13] mmanoj commented on #52
Dear @iGeneral & @seladb

Really appreciate any help on compiling DPDK example.

Thanks in advance.

[2017-05-02 21:37] seladb commented on #52
I'm working on it, will reproduce this issue and report back

[2017-05-03 18:32] mmanoj commented on #52
Thanks for the update.Looking forward to resolve the issue.

[2017-05-03 21:43] seladb commented on #52
Hi, I've done the necessary changes to support DPDK 16.11 and 17.02 and pushed them to master. I compiled PcapPlusPlus with both versions and managed to run the DpdkTrafficFilter example. Could you please pull the code and check?

[2017-05-04 15:55] mmanoj commented on #52
Hi @seladb

Thanks a lot for the quick fix. I will test and update you the status.

[2017-05-06 07:08] mmanoj commented on #52
Hi @seladb ,

I was successfully compiled the library package and examples. Currently I'm testing on DPDK example. Tanks again for quick support provided. I will update about testing progress in my Fedora box.

[2017-05-08 22:00] seladb commented on #52
Hi @mmanoj , any progress with the testing? Can this issue be marked as resolved?

[2017-05-09 15:39] mmanoj commented on #52
@seladb

I need some help to test in VM, as it not clear to me. Meanwhile I'm working on to build physical machine with intel NIC -1 gbps . Still it in progress. Can you guide me to test it in VM, so we can close this issue till physical testing.

[2017-05-09 15:52] seladb commented on #52
Assuming you have VirtualBox (this is the platform I tested it on): here is a link explaining how to configure it: [http://plvision.eu/deploying-intel-dpdk-in-oracle-virtualbox/](http://plvision.eu/deploying-intel-dpdk-in-oracle-virtualbox/). Please notice this post is rather old so they use an old DPDK version (just replace it with DPDK 17.02 or 16.11)

[2017-05-09 18:39] mmanoj commented on #52
@seladb

Thanks for the link,  I done similer with KVM and Fedora Gust and examples working fine, evan L2forwarder. However I run the dpdk example but not sure about the result. I tested as below reference link with packet gen.
http://dannykim.me/danny/openflow/86577?ckattempt=2

[2017-05-09 19:05] seladb commented on #52
What do you mean by "not sure about the results"? Could you please share the results you're seeing?

[2017-05-09 20:28] mmanoj commented on #52
root@localhost Bin]# ./DpdkTrafficFilter -d 0 -s 1
EAL: Detected 2 lcore(s)
EAL: Probing VFIO support...
EAL: WARNING: cpu flags constant_tsc=yes nonstop_tsc=no -> using unreliable clock cycles !
EAL: PCI device 0000:00:03.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
EAL: PCI device 0000:00:08.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
Using core 1
   Core c

[2017-05-09 20:32] mmanoj commented on #52
I follow the above link and create packet with packetgen, following my host machine config with two virtual cards

enp0s31f6 Link encap:Ethernet  HWaddr 50:7b:9d:68:74:7e
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000
          RX

[2017-05-09 20:33] mmanoj commented on #52
[root@localhost Bin]# ./DpdkTrafficFilter -l
EAL: Detected 2 lcore(s)
EAL: Probing VFIO support...
EAL: WARNING: cpu flags constant_tsc=yes nonstop_tsc=no -> using unreliable clock cycles !
EAL: PCI device 0000:00:03.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
EAL: PCI device 0000:00:08.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
DPDK port list:
    Port #0:

[2017-05-09 21:09] seladb commented on #52
It seems like the DPDK example is working fine. In the output you posted the application captured 11 packets, all are Ethernet packets but they're probably ARP packets because IPv4, IPv6, TCP, UDP and HTTP counts are 0.
But it seems the example is really working like it should

[2017-05-10 09:54] mmanoj commented on #52
How to test HTTP traffic over virtual box ? or KVM. Can you provide me some guide.

[2017-05-10 18:44] seladb commented on #52
I did the following (using VirtualBox): created an Ubuntu guest and configured two similar network adapters as "Bridge Adapter" and as "Intel PRO/1000 MT Desktop (82540EM)". Inside this guest I built DPDK and PcapPlusPlus. Then I ran setup-dpdk for only one of the interfaces: _./setup-dpdk.sh -p 256 -n eth1_
I ran the PcapPlusPlus DPDK example and in parallel I surfed the web using a web browser (

[2017-05-10 19:43] mmanoj commented on #52
Hi @seladb ,

Thank for the suggestion, it's make sense, I also forwarding traffic to second nic (port1). I will test and update you the result. In my case I have fedora gust and KVM

[2017-05-14 18:07] mmanoj commented on #52
Hi @seladb

/DpdkTrafficFilter  -d 0

I tried, but result as follows, no HTTP paclets.

Application stopped
Core ID      Packet Count Eth Count    ARP Count    IPv4 Count   IPv6 Count   TCP Count    UDP Count    HTTP Count   Matched TCP Flows Matched UDP Flows Matched Packets
===========================================================================================================================

[2017-05-14 18:09] mmanoj commented on #52
I done follwing before bind, as it not allow me to bind without below steps:

ifconfig ens3 down
ip addr flush dev ens3

[2017-05-15 09:18] seladb commented on #52
I didn't try KVM, only VirtualBox. Can you please try with VirtualBox?

[2017-05-15 10:04] mmanoj commented on #52
Hi @seladb

I will setup virtual box env and update you the result, I'm still waiting my NIC to arrive, so I will have physical box to test.

[2017-05-15 11:01] seladb commented on #52
Ok thanks, in the meantime please test it with VirtualBox so I'll be able to close the ticket

[2017-05-15 14:07] mmanoj commented on #52
I'm working on it, will update you soon.

[2017-05-15 16:54] mmanoj commented on #52
Hi @seladb

I able to setup virtual box and tested as per your guidelines, still show HTTP count as 0. Any idea ?

[2017-05-15 19:45] seladb commented on #52
Did you manage to see any UDP/TCP packets? You can capture packets on the other interface and see if there are packets that are captured there and not captured on the DPDK device

[2017-05-15 20:02] mmanoj commented on #52
Hi,

I bind only one interface to DPDK (port 0) and other interface is bridge to physical NIC. Yes I saw some UDP/TCP packets as previous result.I want to capture some HTTP traffic. look like virtual interface bit complex to test. Any suggestion I can try.

[2017-05-15 20:13] seladb commented on #52
If you followed my suggestion you should have 2 interfaces binded to the same physical NIC so both should see the same traffic. One should be binded to DPDK and the other should not. If this is the case - do you see HTTP packets on the NIC not binded to DPDK?

[2017-05-16 20:09] mmanoj commented on #52
Hi,

I follow the same instructions and I browse the net via second bridge virtual interface.  Did you mean check the packets using tcpdump for not binded interface ?

[2017-05-16 20:21] seladb commented on #52
Yes. You can use tcpdump or Wireshark (tshark). The purpose is to make sure you see HTTP packets on the non binded interface

[2017-05-17 07:50] mmanoj commented on #52
Hi,

I will update after test, I got NIC card, working to setup physical ENV too. So we can test both. I will update the result soon. Following is good ref:
http://dannykim.me/danny/openflow/86577?ckattempt=2

Note: I'm documenting all steps. So it will helpful in the future for all. Will share once finish.

[2017-05-19 19:00] mmanoj commented on #52
Hi @seladb

I setup the physical card with my physical box and binging success with DPDK UIO driver and it's list under DPDK ports, and I connect port 1 to my laptop using cross network cable and try to get the network connection (like bump in the wire) but it's not connect or get IP address to my laptop. Following is my connection scenario.

home INTERNET router --> DPDK card port 0 --> DPDK forw

[2017-05-21 12:17] seladb commented on #52
I'm not sure as I haven't tried DPDK forwarding app. Are you using the L2 forwarding app? Maybe you can google it...

[2017-05-21 15:28] mmanoj commented on #52
Hi @seladb

I'm using PcapPlusPlus DPDK example as forwarder. I tried L2 app also, not much success. I'm still testing. If you can advice based on your DPDK example, it will help.

[2017-05-21 18:17] seladb commented on #52
I suggest you first try to activate the DPDK example. If it works then move to PcapPlusPlus DPDK example

[2017-05-21 19:05] mmanoj commented on #52
Hi @seladb ;

I'm trying with L2forwarding example with below senario:

home INTERNET router --> DPDK card port 0 --> DPDK forwarding App--> DPDK port 1 --> Laptop via cross cable

I'm try to ping, no success, after that I add arp entry as below in my laptop mentioning my gateway at DPDK port 1. after that ping sending packets but not receiving. I'm trying to forward browsing traffic from laptop v

[2017-05-21 19:15] mmanoj commented on #52
@seladb

Following link having some hint, your feedback highly appreciated.
http://dpdk.org/ml/archives/dev/2013-June/000237.html

[2017-05-28 08:51] mmanoj commented on #52
Hi @seladb

Please confirm below, is your DPDK example working only one way as forwarder, not replay back to client.

If it's the case, what is the way forward to make bi-directional forwarding, like edge router. Your advice highly appreciated.

[2017-05-28 10:50] seladb commented on #52
Hi, I didn't write this example as a forwarder but rather as a packet inspection application. You can try to convert it into a forwarder if you'd like, but it'll probably take some work

[2017-05-28 19:20] mmanoj commented on #52
@seladb

Thanks for the feedback, I'm still not clear about bi-directional forwarding (request/replay)  for web traffic with L3 forwarder. Once I clear, I will start implementation. If you can guide me I'm really appreciated.

Thank you,
Manoj M

[2017-05-28 19:23] inbrahimnasson commented on #52
Hey i thing you got the wrong email am not seladb though i was also in the
forum ,so please get the right seladb mail

On Sun, 28 May 2017 at 22:20 mmanoj <notifications@github.com> wrote:

[2017-05-28 19:35] mmanoj commented on #52
@inbrahimnasson

Sorry, hope your in same thread, may be that's why u got the notification.

[2017-05-28 19:44] inbrahimnasson commented on #52
yaaah sure maybe

On Sun, 28 May 2017 at 22:35 mmanoj <notifications@github.com> wrote:

[2017-05-31 20:15] mmanoj commented on #52
Hi @seladb

I tested with basic DPDK forwarding example, and It's able to send / receive packet via INTERNET. Either L2 or PcapPlusPlus DPDK example not work as same. This is the update as of today. Any advice welcome to make PcapPlusPlus DPDK example to make as same.

[2017-06-08 11:45] ch1g0 opened #53 "Stack overflow"
Hello,
first. it's a great project. thx.
When I tried many times to download a large file use TcpReassembly.exe in windows 10.
test url. http://down.sandai.net/thunder9/Thunder9.1.33.780.exe
The function **checkOutOfOrderFragments**() will be called **recursively**

[2017-06-08 17:56] seladb commented on #53
Thanks, could you please provide a pcap file with the network traffic of this downloaded file? It'll be easier for me to debug it that way

[2017-06-09 01:09] chigo-jd commented on #53
Sorry, this pcap file size is 160M. The file is so big that I can't upload it. I tried to solve the issues. successfully. i used **goto** keyword. but it's so ugly, haha. This avoids the stack overflow caused by the function recursive call. Last, I'm sorry for my poor English.-_-
[code]

[2017-06-09 05:44] seladb commented on #53
Hi, I can't understand how replacing the recursive calls with a goto solved the issue. I'd appreciate your insight here.
Also it would really help if you can provide a pcap file which reproduces this issue. If it's a big pcap file maybe you can upload it to DropBox or something like this?

[2017-06-09 09:09] chigo-jd commented on #53
Thanks for you reply. I have deleted this file. I can not reproduce the problem now. so sorry. This may be related to the network situation.
this issue like this question: https://stackoverflow.com/questions/11777302/stackoverflow-too-many-recursive-calls-in-c
I will reopen this issue when I reproduce the problem.
thank you for your patience, Good Lucky!

[2017-06-12 03:36] nmygb opened #54 "centos7 and dpdk 17.02.1 support?"
cenots7, gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC) ,  dpdk 17.02.1
make all

![20170612113404](https://user-images.githubusercontent.com/8006440/27018436-2588a1a6-4f63-11e7-8145-0c645a23760f.png)

[2017-06-12 05:29] nmygb commented on #54
in /root/dpdk-stable-17.02.1/build/include/rte_pci.h：
#include <inttypes.h>
this does not seem to work, and I do not know why
Finally, I added the definition of PRIx8 and PRIx16 myself，the Compiled through

#ifndef PRIx8
#define PRIx8 "x"
#endif

#ifndef PRIx16
#define PRIx16 "x"
#endif

/** Formatting string for PCI device identifier: Ex: 0000:00:01.0 */
#define PCI_PRI_FMT "%.4" PRIx16 ":%.2" PR

[2017-06-12 08:53] seladb commented on #54
Hi, I googled this problem and found a similar issue: https://github.com/scylladb/seastar/issues/235
Which was solved by adding an include to all relevant DPDK files: `#include <cinttypes>` https://github.com/scylladb/seastar/commit/3b052bd260f36c07c69c0b4789530fbb106b0341
Since I don't have CentOS7, could you please add this include to all DpdkDevice.cpp and DpdkDeviceList.cpp and see if it works

[2017-06-12 15:21] seladb commented on #54
Eventually the solution was a little bit different - I just needed to add the macro `#define __STDC_FORMAT_MACROS` to `DpdkDevice.cpp` and `DpdkDeviceList.cpp`  and that solved the problem.
I verified it's working on both CentOS 7 and on Ubuntu

[2017-06-12 15:21] #54 closed

[2017-06-13 05:36] seladb commented on #52
Closing this issue for now, if you still encounter problems please reopen it

[2017-06-13 05:36] #52 closed

[2017-06-14 18:52] mmanoj commented on #52
@seladb

Just to update, I was success with DPDK skeleton app, I need to convert it with your app. I will update once completed, Thanks again for great support provided. Keep in touch.

[2017-06-26 21:33] seladb opened #55 "PcapSplitter: split by BPF filter doesn't work"
All packets are written to 1 file only

[2017-06-27 05:23] seladb commented on #55
Fixed

[2017-06-27 05:23] #55 closed

[2017-06-27 20:46] gpean opened #56 "Expose pcap_set_immediate_mode()"
It would be nice if this setting was exposed. Sometimes you need to get to packets in the fastest way possible (assuming there is not a lot of them).

[2017-06-27 20:49] gpean commented on #56
[code]

(From https://github.com/google/gopacket/issues/36)

[2017-06-27 22:40] seladb commented on #56
The problem is this API isn't exposed in WinPcap and also not in libpcap < 1.5.0. What do you suggest?

[2017-06-28 01:38] gpean commented on #56
Hmm only expose if `-DHAS_PCAP_IMMEDIATE_MODE` i.e. if requested at
configure time?

On Tue, Jun 27, 2017 at 3:40 PM, seladb <notifications@github.com> wrote:

[2017-06-28 05:34] seladb commented on #56
That's a great idea. Would you mind doing this change and create a pull request?

[2017-06-28 23:11] seladb commented on #45
At the end I chose going with Unilicense as it is the most permissive license I could find

[2017-07-17 13:18] #21 closed

[2017-07-19 06:30] abdolahsa opened #57 "The link type 228 is not supported?"
cannot open fileReaderDevice for filename ... the link type 228 is not supported. how can I resolve it?

[2017-07-19 10:51] seladb commented on #57
Indeed, link type 228 is not supported. But you can add it quite easily:
- In [Packet.cpp](https://github.com/seladb/PcapPlusPlus/blob/master/Packet%2B%2B/src/Packet.cpp#L66) you should add this link type to be able to parse packets with this link type
- 2 changes in PcapFileDevice.cpp:
  - Add support in [PcapFileReaderDevice](https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/Pcap

[2017-08-02 09:40] ch1g0 commented on #53
Hi. I am coming again. I reproduced this issue.
My computer is configured as follows:
  OS: Microsoft Windows 10 Pro 10.0.15063 N/A Build 15063
  Mem: 32GB
The size of this pcap file is about 400M. so what way i sent it to you ?

[2017-08-02 13:03] seladb commented on #53
Thanks for reproducing this issue!
Maybe you can put the file in Dropbox or Google Drive?
I assume this pcap file reproduces the issue each time, right?

By the way, if you can do the fix yourself and issue a pull request it'll be great

[2017-08-03 01:03] ch1g0 commented on #53
I put the file in Google Drive.
[issuse_pcap](https://drive.google.com/open?id=0BzL5GXd4N8VMeEFiR055RFhtZlE)
i'm sure it can be repeated every time you use the Visual Studio 2017 debug on Windows 10.

This issue I have said above, to avoid the function of recursive call can be resolved.The function recursive call causes the function call stack to be too deep, and the limit condition causes the sta

[2017-08-03 21:55] seladb commented on #53
Found the issue and fixed it, thank you very much!

[2017-08-03 21:55] #53 closed

[2017-08-04 23:44] rpanah opened #58 "Bad boundary check in TcpLayer.getTcpOptionData(TcpOption)"
The `TcpLayer.getTcpOptionData(TcpOption)` method does boundary checking on the entire packet when parsing TCP options instead of the end of the TCP header.

This works fine when there is no payload in the packet (e.g. it's a SYN packet) and the end of the packet is the same as the end of the header, but when the packet has payload and the end of the entire packet is not the end of the header, it

[2017-08-06 12:10] seladb commented on #57
Hi @abdolahsa , do you intend to fix that issue and submit a pull request?
If not, please provide pcap file as an example and I'll do that fix

[2017-08-07 18:23] #58 closed

[2017-08-10 20:06] seladb commented on #56
Hi, I see you did a lot of changes in you branch. Do you have any plans to merge at least some of it back to master?

[2017-08-10 20:11] gpean commented on #56
I would need to clean them up - Right now I'm pressured to finish a project and as a result, I have to make quick changes in more places, which wouldn't necessary be fit for all the users of this library. I'll do my best to give back, if I find the time. If you want to copy paste some targeted changes, feel free to do it too. Thanks...

[2017-08-10 20:31] seladb commented on #56
Ok, I'll really appreciate if you find the time to merge some of the code back to master

[2017-08-17 07:25] lgbaldoni opened #61 "[Feature request]: Build shared libraries"
At least on Linux. Or is the API still too unstable?

[2017-08-17 08:30] luigino opened #62 "Build fails on some architectures"
Namely ppc64:

[code]

and s390x:
[code]
(note: ppc64le works).

I'm not sure whether those targets are officially supported yet, but I thought you should know.

[2017-08-17 09:24] seladb commented on #62
Thanks for letting me know!
Unfortunately I don't have access to ppc64 and s390x so I can't fix & test these issues.
Is it possible that you make the fixes, run the unit-tests and make sure it works?

[2017-08-17 09:30] seladb commented on #61
I tried to do it a few months back but various parts in the API assume memory allocation on both shared library and API caller sides so this separation doesn't work.
Doing it will require quite a lot of work and changes in these parts in the API.
Unfortunately I don't think I'll have the time for it in the near future

[2017-08-17 09:33] seladb commented on #57
Since I didn't get your response and I don't have pcap examples to test it myself I'm closing this issue for now.
Please feel free to reopen it when you have pcap examples or when you have the time to fix this yourself (and issue a pull request)

[2017-08-17 09:33] #57 closed

[2017-08-17 10:46] luigino commented on #62
I could certainly test a fix, but retouching an existing project of this size is a bit out of my league.

[2017-08-17 10:50] seladb commented on #62
Are these all the errors you see?
If so I'll try to push a fix and be glad to hear your input

[2017-08-17 11:20] luigino commented on #62
So far yes. There are also sse switch problems with dpdk, but that should be trivial, I suppose.

[2017-08-18 23:20] seladb commented on #62
I fixed the IPv6 header for big endian systems. Could you please try to build it again and tell me if you see more issues?

[2017-08-19 03:39] luigino commented on #62
I can confirm this fixes the problem.

[2017-08-19 03:39] #62 closed

[2017-08-30 16:28] stephanieleevillanueva opened #63 "PcapSplitter libpcap 0.8 dependency"
Hi,

I am having issues running PcapSplitter on a Centos/Amazon Linux AMI machine because the libpcap versions installed are 1.5 and 1.4 respectively and PcapSplitter is looking for the 0.8 version (please see screenshot). I was just wondering if there is a way to compile PcapSplitter with the newer versions of libpcap. I do not know much about C/C++, any help would be much appreciated!

![pcapspl

[2017-08-30 21:59] stephanieleevillanueva commented on #63
Ok sure, I'll give it a shot. Will update you. Thanks!

[2017-08-30 23:14] stephanieleevillanueva commented on #63
update: I am getting a lot of warnings and errors on `step 4: Run make all from PcapPlusPlus main directory`... and Dist/ directory in step 6 is not being created.

Would you have an idea of why I'm getting these errors?
![screen shot 2017-08-30 at 4 11 25 pm](https://user-images.githubusercontent.com/1335714/29899092-3355df78-8d9e-11e7-9515-fca931659b73.png)

[2017-08-31 05:58] seladb commented on #63
Unfortunately libpcap 0.8 is missing pcap_offline_filter which is necessary for PcapPlusPlus compilation.
This capability was added on libpcap 1.0. How problematic is it for you to update to a newer libpcap version?
I think `sudo yum install libpcap-devel` should install a newer version of libpcap. Could you please try and let me know if it works?

[2017-08-31 15:41] stephanieleevillanueva commented on #63
Oh, I actually do want my PcapPlusPlus to work with a newer libpcap version (1.4 or 1.5) and I am trying to recompile but I can't get it to work. I have an older version of PcapPlusPlus that I think was compiled with libpcap 0.8 but it looks like it's not compatible with Linux Centos distro which has libpcap 1.5 installed.

Here are the steps I took:
1. `sudo yum install libpcap-devel`
2. `sudo yu

[2017-09-01 12:51] seladb commented on #63
That's weird. Could you please check the installed version on libpcap?
You can run `yum list installed`and look for libpcap version.
Please take a look here: https://www.google.co.il/amp/s/www.tecmint.com/list-installed-packages-in-rhel-centos-fedora/amp/

[2017-09-03 22:40] stephanieleevillanueva commented on #63
Here it is...
libpcap.x86_64                                 14:1.4.0-1.20130826git2dbcaa1.10.amzn1           @amzn-main
libpcap-devel.x86_64                      14:1.4.0-1.20130826git2dbcaa1.10.amzn1           @amzn-main

[2017-09-03 23:02] seladb commented on #63
It seems like you have libpcap 1.4.0 installed and still you see these weird problems. Is there any way I can install or get access to a similar machine like you're using?

[2017-09-04 00:38] stephanieleevillanueva commented on #63
Hmm... upon compile it should pick up the correct libpcap version right? I am using Amazon's default EMR cluster. It would be great if you can spin up an AWS cluster to test but I do not know how much that costs. If not, don't worry about it. Is the PcapPlusPlus code in the repo current?

[2017-09-04 05:59] seladb commented on #63
Yes, the code in PcapPlusPlus repo is current. Unfortunately Amazon EMR costs money so I won't be able to set it up. You should check using `ldconfig` what is the default version of libpcap PcapPlusPlus is trying to use on compilation and try to change that default to be version 1.4.0 which is installed on your system.
Please let me know if it worked

[2017-09-04 13:08] seladb commented on #63
I found some commands that may help us understand what version of libpcap is installed on your machine:

1. Run `sudo ldconfig -v | grep pcap` to view which libpcap versions are installed and where they point to. This will help us understand to which version of libpcap gcc is refering to
2. Run `sudo find / -name libpcap.so*` to see where libpcap.so is installed

I'd appreciate if you can paste th

[2017-09-05 18:14] stephanieleevillanueva commented on #63
Update:

I ran `ldconfig` (from your second to the last comment) then followed the compile instructions again. There were some warnings but the compile ran all the way through and did not exit upon error. I did the test check and here's what I got:

![packet test](https://user-images.githubusercontent.com/1335714/30075546-d845daac-922a-11e7-86b3-cfb08b9f6c68.png)

However, I am now able to see the

[2017-09-05 18:20] stephanieleevillanueva commented on #63
Btw, here are the output of the 2 commands for reference:

1. `sudo ldconfig -v | grep pcap`
![screen shot 2017-09-05 at 11 14 55 am](https://user-images.githubusercontent.com/1335714/30075878-06ff6952-922c-11e7-8c9c-c1f511805923.png)

2. `sudo find / -name libpcap.so*`
![screen shot 2017-09-05 at 11 15 59 am](https://user-images.githubusercontent.com/1335714/30075903-1cc39bbe-922c-11e7-8bdc-1705d

[2017-09-05 22:20] seladb commented on #63
Thanks for the update! I'm glad that you made it work. Did you find what was the problem?
Regarding the tests: what you need to do is run it from Packet++Test folder:

    cd [PcapPlusPlus_folder]/Tests/Packet++Test
    Bin/Packet++Test

Please let me know if that worked

[2017-09-06 21:22] stephanieleevillanueva commented on #63
Oh cool, I get all "PASSED" now. Thanks for the tip!

As for the problem before, I just ran `ldconfig` before compiling and that seems to have fixed the errors I was getting during the build.

[2017-09-06 21:44] seladb commented on #63
Great, thanks for letting me know.
With your permission I'll close the issue now. Please reopen it if you need further information

[2017-09-06 21:44] #63 closed

[2017-09-07 17:39] jannik3141 opened #64 "Mistake in example"
Hi, I think there is a mistake in
[Writing a simple app including a makefile](http://seladb.github.io/PcapPlusPlus-Doc/tutorial_intro.html#simple_app).
In
[code]
it should be
[code]

at least I had to add the  `<pcpp::IPv4Layer>`.

[2017-09-07 18:28] seladb commented on #64
You're right, it was a small spelling mistake which I just fixed. Thank you!

[2017-09-07 18:28] #64 closed

[2017-09-16 17:35] pchaigno opened #66 "Linux cooked capture header"
I just compiled (from 0283655f274cdfff56adbf5b5076665784fc99f4) and ran PcapSplitter on a pcap file captured with tcpdump. I get the following error:
[code]
The output files are all empty.

[2017-09-16 19:48] seladb commented on #66
It seems that the pcap file you're trying to split has more than one link type, which mean it's actually a pcapng file and not a pcap file. Could you please try to rename the file from tmp.pcap to tmp.pcapng and run PcapSplitter again?

[2017-09-16 20:55] pchaigno commented on #66
Thanks for the quick answer!

Looks like I opened this issue a bit too quickly. While it is a pcap file, it looks like when using `tcpdump -i any`, Linux replaces the link layer header by its own *Linux cooked capture* header. This new header is causing the present issue. If I limit the capture to a specific Ethernet interface, it works fine.

Not sure that's something you can accomodate...? If no

[2017-09-16 21:08] seladb commented on #66
I'm not entirely sure what you mean. PcapPlusPlus supports both Ethernet and Linux cooked capture link types. So if your pcap file's link type is Linux cooked capture PcapSplitter should work...
Is it possible you send me a sample of the problematic pcap file?

[2017-09-16 21:22] pchaigno commented on #66
I can't share the whole pcap file, but I might be able to share a subset. Let me see...

I captured it (I tried with 3 other captures and I always have the same error) with the following command:
[code]
while receiving and sending packets over both a loopback interface and a Wi-Fi interface.

All packets do have the same link type (Linux cooked capture).

[2017-09-16 21:41] pchaigno commented on #66
Here is a minimal, anonymized capture file, with a single packet. I still have the error with this single packet: [sample.zip](https://github.com/seladb/PcapPlusPlus/files/1308682/sample.zip)

[2017-09-17 11:51] seladb commented on #66
The file you sent me is in pcap-ng format:

![image](https://user-images.githubusercontent.com/9059541/30520487-8c6a5bb2-9bb7-11e7-8359-21151a4e2875.png)

When I convert it into pcap format it works

[2017-09-17 12:02] pchaigno commented on #66
Ah! That's because I used editcap without changing the default output format.
Here it is again: [sample.zip](https://github.com/seladb/PcapPlusPlus/files/1309050/sample.zip)

[2017-09-17 13:53] seladb commented on #66
There was indeed a bug, thanks for founding it!
I fixed it, please pull the latest code

[2017-09-17 13:53] #66 closed

[2017-09-18 08:48] pchaigno commented on #66
Glad I could help!

[2017-09-21 02:14] JimG777 opened #67 "SIP messages can't be parsed"
Hi,

There are some probable typos in SipLayer.cpp. The last index for comparison is not incremented for SUBSCRIBE and MESSAGE, therefore they are never decoded as SIP messages.

Line 235: ... data[8] == ' ' should be data[9] == ' '
Line 260: ... data[6] == ' ' should be data[7] == ' '

James

[2017-09-22 08:10] seladb commented on #67
Thank you for finding the bug and pointing to the root caused. I just pushed a fix, please pull the latest code in master branch

[2017-09-22 08:10] #67 closed

[2017-10-18 12:37] wo0d opened #69 "CentOS 7 DpdkTrafficFilter Floating point exception (core dumped)"
First, I run setup-dpdk.sh, the result:
*******************************
PcapPlusPlus setup DPDK script
*******************************

1. Reserve huge-pages - DONE!
2. 00:03.0 is already binded to DPDK or doesn't exist. Exiting

Network devices using DPDK-compatible driver
============================================
0000:00:03.0 '82540EM Gigabit Ethernet Controller' drv=igb_uio unused=

Network

[2017-10-18 12:50] wo0d commented on #69
[root@localhost examples]# ./DpdkTrafficFilter -l
EAL: Detected 1 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:00:03.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
EAL: PCI device 0000:00:08.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
EAL: PCI device 0000:00:09.0 on NUMA socket -1
EAL:   probe driver: 8086:100e net_e1000_em
DPDK port list:
    Por

[2017-10-18 12:50] wo0d commented on #69
[root@localhost examples]# gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-threads=posix --enable-checking=relea

[2017-10-18 14:17] seladb commented on #69
Did you try running DpdkTrafficFilter with sudo?

[2017-10-18 17:33] wo0d commented on #69
I run DpdkTrafficFilter with root user.
but i run it in VMWare CentOS system, when i setting the system to use 2 cpu cores, this problem solved……
btw, sorry for my ugly english,I don't even know if you understand what I'm talking about

[2017-10-18 17:34] #69 closed

[2017-10-24 19:10] seladb commented on #56
Fixed by @f-squirrel (many thanks!)

[2017-10-24 19:10] #56 closed

[2017-11-06 20:49] seladb commented on #69
Fixed in commit: https://github.com/seladb/PcapPlusPlus/commit/98abc4c097e017969286717000d1897f61be5d1e

[2017-11-11 20:01] mfontanini opened #74 "Include paths after installing"
I noticed this while adding Pcap++ to my benchmarks. I can't include headers like `<pcapplusplus/PcapFileDevice.h>` because the include paths in it are absolute. e.g.:

[code]

This is not great as then you need to make (in this specific case) `/usr/local/include/pcapplusplus` part of your include path and that shouldn't be necessary. This also increases the odds of header file collisions with oth

[2017-11-11 23:23] seladb commented on #74
I agree that you need to include `/usr/local/include/pcapplusplus` as part of the include path and that in some (probably rare?) cases it might collide with other libraries having files with the same name but I'm not sure changing includes to `<pcapplusplus/...h>` is the right solution which would work on all platforms. For example, on Windows there is no `make install` so you need to work with th

[2017-11-12 00:44] mfontanini commented on #74
I would create a `pcapplusplus` directory inside your headers one, that's what a bunch of projects do (e.g. boost). Otherwise you could use relative includes by using `#include "filename"` rather than `#include <filename>`. If you use the former, that will also look up in the local directory where the file that contains the include directive is.

[2017-11-12 22:23] seladb commented on #74
I think I understand your point but I'm not sure I'm 100% convinced. What's wrong with keeping it that way? Maybe just change all `#include <filename>` to `#include "filename"`?

[2017-11-12 22:33] mfontanini commented on #74
I see headers installed in `/usr/local/include/pcapplusplus` however, even if `/usr/local/include` is one of my default include paths, I can't just include `pcapplusplus/somefile.h`. For this to work, I need to use `-I/usr/local/include/pcapplusplus` when building which is odd given `/usr/local/include` is one of my default include directories but I still need to provide a subdirectory of it.

[2017-11-13 06:47] seladb commented on #74
So maybe a simpler solution would be moving the header files to `/usr/local/include`?
Probably any solution has its pros and cons...

[2017-11-14 14:59] mfontanini commented on #74
No, please don't do that :P. You should still group your files inside `pcapplusplus`. As a quick workaround you can use `#include "file"` rather than `#include <file>` for pcap++ includes _inside_ the code. So basically every include directive in pcap++'s code that includes headers that belong to pcap++ should be turned into `#include "filename"`. That should fix it.

[2017-11-19 20:21] seladb commented on #74
That's a great idea, at least as a temporary solution. Would you mind doing this change and create a pull request?

[2017-11-26 23:31] #74 closed

[2017-12-11 17:47] aleksandarpu opened #75 "SIP protocol port restriction"
I discovered that in detection of the SIP protocol (UdpLayer.cpp) only destination port is tested and only against 5060 and 5061
In my test case UDP port is often 5062.
A bit better is to test source port too.
lines 97 - 101

	else if (((portSrc == 5060) || (portSrc == 5061) || (portDst == 5060) || (portDst == 5061)) &&
		(SipRequestFirstLine::parseMethod((char*)(m_Data + sizeof(udphdr)), m_DataLe

[2017-12-13 02:22] seladb commented on #75
Actually both source and dest port are tested for SIP protocol discovery as you can see in the code snippet you sent (`portSrc` is for source port and `portDst` is for dest port).
In your use cases - do you have a case where neither source and dest ports are 5060 or 5061?

[2017-12-13 09:20] ygm521 opened #76 "how to Parse https(such as RSA)"
when has the private key, how to Parse https(such as RSA), thanks!

[2017-12-13 09:56] ygm521 opened #77 "how to parse http packet?"
we get http packet, and how to parse http packet? such as get headers, post body.

[2017-12-16 07:42] echo-Mike opened #78 "C++17 incompatibility in Packet++ lib"
Library Packet++ can't be build with gcc/g++ version 7.0.* or higher if -std=c++17 flag is specified within build instructions for object files in next Makefiles:
* Common++/Makefile:42
* Pacp++/Makefile:70
* Packet++/Makefile:36
* Pcap++Test/Makefile:39
* Packet++Test/Makefile:23

My purpose was to use PcapPlusPlus library in project that written in terms of c++17 standard.
Using flag -std=c++14

[2017-12-16 12:05] echo-Mike opened #80 "TcpReassembly OnTcpMessageReady function signature"
Currently TcpReassembly::OnTcpMessageReady function type is defined as follows:
[code]
This definition contains a big drawback - `tcpData` object is passed by value. By the definition of TcpStreamData copy constructor will be called which will result in full packet copy in TcpStreamData::copyData and this is an impractical behaviour in highload systems.
The major reason to change OnTcpMessageReady

[2017-12-16 14:29] aleksandarpu commented on #75
Actualy code in my post is my patch
here is original function, UdpLayer.cpp line 82:

void UdpLayer::parseNextLayer()
{
if (m_DataLen <= sizeof(udphdr))
return;

udphdr* udpHder = getUdpHeader();
uint16_t portDst = ntohs(udpHder->portDst);
uint16_t portSrc = ntohs(udpHder->portSrc);

if ((portSrc == 68 && portDst == 67) || (portSrc == 67 && portDst == 68) ||
(portSrc == 67 && portDst == 67))
m_Nex

[2017-12-16 22:36] seladb commented on #75
Oh, you're right, sorry for that.
What are the client and server ports in your case? By your code snippet I'd guess the client port is 5060/5061 and the server port is 5062, right?
When implementing this the way I did I used [this ](https://en.wikipedia.org/wiki/Port_(computer_networking)) Wikipedia article and [this one](https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers) who say SIP

[2017-12-18 15:02] seladb commented on #78
Resolved in PR #79

[2017-12-18 15:02] #78 closed

[2017-12-18 22:56] seladb commented on #80
I passed `tcpData` by value on purpose thinking that in some cases the user would like to use this data outside of the context of the callback. If the data isn't copied it may not be valid anymore.
I agree that coping the data may be problematic in high load systems, but I wanted it to be safer and less error prone

[2017-12-19 06:50] echo-Mike commented on #80
@seladb I provided some information to You by the email to pcapplusplus@gmail.com
Please check it and give a response by email or provide some other email to send my response to.

[2017-12-21 08:28] ygm521 opened #81 "te_mempool_create get memory error!"
搞dpdk的请教下  rte_mempool_create 玩意申请内存失败。
我这都已经设置过了 还要设置啥？
/sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
2048

[2017-12-27 18:16] topeolufe opened #82 "TcpReassembly - OnTcpMessageReady should return original RawPacket object"
Great work on creating this library! One suggestion I had is that the OnTcpMessageReady, OnTcpConnectionStart and OnTcpConnectionEnd callbacks should all have the original pointer to RawPacket as one of its parameters.

[2017-12-27 21:00] seladb commented on #82
Thanks for expressing interest in PcapPlusPlus!
Regarding your suggestion - what can be the benefit of adding the pointer to RawPacket?
Can you describe me the use case where you need this pointer?

[2017-12-27 21:21] topeolufe commented on #82
For scenarios where you want to use PcapPlusPlus solely for TCP packet reordering on a proxy that you can then forward unaltered to other nodes on your network for further processing.

It also seems logical that since you call TcpReassembly.ReassemblePacket with the RawPacket*, then you should be able to get your RawPacket pointer back whenever any of those callbacks are fired.

[2017-12-27 21:39] echo-Mike commented on #82
This suggestion works well. I personally agree with it. But, following my experience the base idea of owning a packet resource must be reworked first (in RawPacket, MBufRawPacket, Packet and TcpStream classes).

[2017-12-27 21:46] topeolufe commented on #82
I think you will have to only make some changes in TcpStream, TcpReaseembly and TcpFragment classes along with obviously the callback signatures.

[2017-12-28 06:36] seladb commented on #82
This scenario makes sense, let's do it. I also don't think it's a lot of work to add it.
@topeolufe - can you add it yourself and create a PR?
I'm currently working on adding IPv4 reassembly (de-fragmentation) to PcapPlusPlus so it'd be a great help if you can add it.

[2017-12-28 06:37] seladb commented on #75
@aleksandarpu - did you see my comment above? Let's decide together whether to fix this issue or not

[2017-12-28 07:22] lawtech0902 opened #83 "compile error: src/DpdkDevice.cpp:11:24: fatal error: rte_config.h"
dpdk version:17.02

[2017-12-28 09:22] echo-Mike commented on #82
@seladb I may take care of this proposal in holiday time (1-8 January), as a part of other enhancements block.

[2017-12-28 09:26] echo-Mike commented on #83
Hi @lawtech0902 can You provide version of your Unix distributive, g++ compiler and a build log file or copy of the error via pastebin, please.

[2017-12-28 09:45] seladb commented on #82
@echo-Mike - that would be great, thanks for all your help!

[2017-12-28 09:47] seladb commented on #83
Also, did you follow the configuration instructions listed [here](http://seladb.github.io/PcapPlusPlus-Doc/dpdk-pf_ring.html)?

[2017-12-28 10:45] lawtech0902 commented on #83
@seladb , thx. I'm sure that I follow the instructions correctly.

[2017-12-28 10:49] lawtech0902 commented on #83
@echo-Mike @seladb , Thx for your help.

Ubuntu 16.04,  gcc version 5.4.0

fatal: Not a git repository (or any of the parent directories): .git
fatal: Not a git repository (or any of the parent directories): .git
==> Building target: Common++
Finished successfully building: Common++.lib

Finished successfully building: Common++.debug

==> Building target: Packet++
Finished successfully building: P

[2017-12-28 10:59] seladb commented on #83
Can you please paste the content of the file **mk/PcapPlusPlus.mk** ?
It seems like a problem with the way DPDK path is defined, please take a look at similar problem:
https://github.com/spdk/spdk/issues/5

[2017-12-28 11:13] lawtech0902 commented on #83
@seladb yes, I found that the **PCAPPP_INCLUDES** dir is **$(RTE_SDK)/build/include**, but there is actually no build folder under RTE_SDK, rte_config.h is in the **/home/root123/dpdk-stable-17.02.1/x86_64-native-linuxapp-gcc/include**.

PCAPPLUSPLUS_HOME := /home/root123/PcapPlusPlus-master
RTE_SDK := /home/root123/dpdk-stable-17.02.1

USE_DPDK := 1

### COMMON ###^M
^M
# includes^M
PCAPPP_INCLUD

[2017-12-28 11:15] lawtech0902 commented on #83
@seladb yes, I found that the PCAPPP_INCLUDES dir is $(RTE_SDK)/build/include, but there is actually no build folder under RTE_SDK, rte_config.h is in the /home/root123/dpdk-stable-17.02.1/x86_64-native-linuxapp-gcc/include.

PCAPPLUSPLUS_HOME := /home/root123/PcapPlusPlus-master
RTE_SDK := /home/root123/dpdk-stable-17.02.1

USE_DPDK := 1

COMMON
includes
PCAPPP_INCLUDES := -I$(PCAPPLUSPLUS_HOME)/

[2017-12-28 13:12] lawtech0902 commented on #83
@seladb I change the way of compiling DPDK and it finally works. I use `make install T=x86_64-native-linuxapp-gcc` to compile before and now I use `make config T=x86_64-native-linuxapp-gcc make`. I think it is necessary to improve the document to better remind users to use the appropriate compilation of DPDK, so as not to encounter such a situation that I had.
Anyway thank you for your help.

[2017-12-28 14:37] topeolufe commented on #82
@seladb I'm currently tied up with some other development work on my end and I unfortunately do not have the bandwidth to make those changes.

@echo-Mike Thanks for taking the initiative on this!

[2017-12-28 15:44] echo-Mike commented on #83
Basicaly there is a problem with the way pcpp build system interacts with DPDK distribution.
The most common and simle way to build DPDK is to use dpdk_folder/usertools/dpdk-setup.sh shell script. It provides a simplest way to build this complex system.
But current PCPP build system don't support this way. It is only supports the way described in [Compiling the DPDK Target from Source](http://dpdk

[2017-12-28 16:58] aleksandarpu commented on #75
I'm build an SIP protocol sniffer, and I got stream on edge of the SIP provider network meaning that I see both sides to and from SIP provider. Because of that SIP port 5060 I can observe as source or destination port.
Yes, all SIP packets have port 5060 but current code in PcapPlusPlus ignore all responses
With my modification (by testing src and dst UDP port against well known SIP port) I'm able

[2017-12-28 19:15] seladb commented on #83
@lawtech0902 @echo-Mike - both ways you mention builds DPDK in a folder named by the platform type (e.g x86_64-native-linuxapp-gcc). In this sense DPDK developers maintain backward compatilbilty because in earlier versions of DPDK that was the only option to build DPDK. In later versions they added the option to build with `make config T=platform_type_string && make` which builds DPDK into a `/dpd

[2017-12-28 22:30] seladb commented on #75
I think I understand your point now. I will make that fix. Thanks!

[2017-12-28 22:43] seladb commented on #83
Fixed the documentation: https://github.com/seladb/PcapPlusPlus-Doc/commit/41500457d6daa5bb1ae7f311f55d7554473115cc

[2017-12-28 22:43] #83 closed

[2017-12-28 23:43] #75 closed

[2018-01-02 01:40] 11septday commented on #82
Thanks for you project. Please say, how I can read HTTP POST params? Example: name=Mike, age=23.

[2018-01-02 14:30] seladb commented on #82
POST params are in the HTTP request body. I'm currently don't parse the body because it's usually compressed with gzip and is usually spreads over several packets. So in order to support full parsing of the body I need to support streaming + opening the compression. I have it in my roadmap but I can't provide specific timelines for this feature.
However, POST requests are often quite short (contai

[2018-01-03 11:40] abdolahsa opened #84 "Find a way to add wireshark protocols"
Wireshark has many protocols (more than 2000) but all of them has been written in c legacy code and are very dirty. If we can find a way to add it's protocols to pcap++ then it will be very rich.
Can you find a way to add it's protocols here? is there an automatic way (using scripts, ...) to add them?

[2018-01-03 13:09] seladb commented on #84
Unfortunately the answer is no. Wireshark dissectors (protocol analyzers) are written over the Wireshark SDK/API which is very specific to the way Wireshark works. This is not something that is portable to PcapPlusPlus

[2018-01-04 22:03] #84 closed

[2018-01-11 10:15] yosizelensky opened #85 "High CPU on windows machines"
There is a problem on windows machines that causes high CPU usage.

The bug is that you pass `-1` ([here](https://github.com/seladb/PcapPlusPlus/blob/4b5e72ed882d76b804ccbd8c6b6e2800f100662e/Pcap%2B%2B/src/PcapLiveDevice.cpp#L37)) to pcap_set_timeout ([here](https://github.com/seladb/PcapPlusPlus/blob/master/Pcap%2B%2B/src/PcapLiveDevice.cpp#L234)) and that causes winpcap to not do context switche

[2018-01-13 07:08] seladb commented on #85
This high CPU load is on purpose - please see my comment on your PR #86

[2018-01-17 00:37] greearb opened #87 "Request: round-robin splitting."
I would be willing to pay for a feature that would allow splitting the pcap into an arbitrary number of files in a round-robin pattern.  For instance:

--roundrobin 4

This would create 4 new files, where packets 0,3,7... are in file-1, packets 1,4,8.. are in file-2
and so forth.

[2018-01-17 06:28] seladb commented on #87
Thanks, that's a very good idea!
If you have some c++ coding skills maybe you can implement it yourself and issue a PR. If not please reach out to me and I'll try to implement it

[2018-01-17 18:03] greearb commented on #87
On 01/16/2018 10:29 PM, seladb wrote:

I'm sure I can make the changes, but I have other projects of my own to work on, so if someone
with experience in this code wants to make the change, that would be my preferred approach.

Thanks,
Ben

--
Ben Greear <greearb@candelatech.com>
Candela Technologies Inc  http://www.candelatech.com

[2018-01-18 06:44] #85 closed

[2018-01-19 01:33] seladb commented on #87
@greearb , I already wrote the code and it's in [bugfixes branch](https://github.com/seladb/PcapPlusPlus/tree/bugfixes). The reason I'm not yet merging it back to master is that due to an issue in travis-ci (the CI platform I'm using) I currently can't run macOS builds. Once travis-ci fix these issues and I can run a complete build and then I'll merge it

[2018-01-21 12:39] seladb commented on #87
Merged to master branch. Please pull the latest code and build PcapSplitter

[2018-01-21 12:39] #87 closed

[2018-01-25 00:54] greearb commented on #87
On 01/21/2018 04:39 AM, seladb wrote:

I tried testing this out today, but it crashes.  Here is the gdb output:

Using host libthread_db library "/lib64/libthread_db.so.1".
Core was generated by `PcapSplitter -f ddostrace.to-victim.20070804_141436.pcap -m round-robin -p 4 -o'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  __memcpy_avx_unaligned () at ../sysdeps/x86_64/multiarch/m

[2018-01-25 06:53] seladb commented on #87
Hi, thanks for letting me know about this crash. It's hard to understand from the stack trace what exactly happened, seems to be some kind of stack overflow but I can't be sure. Is it possible to send me a sample pcap file that causes this crash? You can either attach it here or send it to the support email address: pcapplusplus@gmail.com
Thanks!

[2018-01-29 10:32] seladb commented on #82
@topeolufe, @echo-Mike - I thought about this a little and maybe it's worth creating a new TCP packet reordering module alongside TPC reassembly. We can write a TCP packet reordering module which is simpler and more lightweight in terms of memory and performance comparing to TCP reassembly. So maybe it deserves a module of its own.
Please let me know what you think

[2018-01-29 22:55] #15 closed

[2018-02-02 09:09] dijiang commented on #82
@seladb Great work on creating this library.
I'm using this library to analyse HTTP protocol. I agree that It's worth creating a new TCP packet reordering module . After that, we could analyse any protocol based on TCP easily.

[2018-02-02 14:43] topeolufe commented on #82
@seladb - I agree...simpler and more lightweight is always good. I'll also suggest that the new TCP reassembly module should forward all packets (SYN and ACK included) - perhaps on demand by the user - for proxy scenarios mentioned earlier.

[2018-02-02 22:15] seladb commented on #82
@dijiang - thanks for the feedback and thanks for using this library!
If you're analyzing HTTP protocol then you probably don't need TCP packet reordering module. If you're interested only in analyzing HTTP headers, than you have HttpLayer who does this for you. If you're interested in parsing the HTTP body as well you can use TCP reassembly module to give you the raw data and parse the rest yours

[2018-02-02 22:17] seladb commented on #82
@topeolufe - thanks for the feedback. It's a good idea to pass all packets (including SYN, ACK, FIN, etc.), I'll make sure to include that. Just a quick question to make sure: by saying "new TCP reassebmly module" you actually mean "new TCP packet reordering module", right?

[2018-02-03 07:22] echo-Mike commented on #82
@seladb Hi, i will probably finish my attempt to rework TcpReassembly on this holidays (03/02/18 - 04/02/18)

[2018-02-03 10:28] seladb commented on #82
@echo-Mike Thanks! which improvements are you planning to add? and do you plan to do this work on the main branch?

[2018-02-04 16:21] echo-Mike commented on #82
Hello @seladb and others.  I might inform You that unfortunately I can not finish the rework in appointed time. But there is a good news too, i have found the way to add something like move semantics to C++98 using constant overhead (via proxy classes). I will add found solution to my fork later today.

[2018-02-07 16:40] xxhenglyxx opened #88 "linker error"
Platform: Macosx - High Sierra

First time using this library, I cloned the repository and successfully built it. I am trying to test if it works by copying and running the reading pcap example from the documentation. Here is how i compile and build it

    g++ -Iinclude -c main.cpp --std=c++14
    g++ main.o lib/libCommon++.a lib/libPacket++.a lib/libPcap++.a

And I used the pcaps that was being

[2018-02-07 16:45] echo-Mike commented on #88
@xxhenglyxx You need to install libpcap to your PC. Please refer to this guide(MacOS section):
http://seladb.github.io/PcapPlusPlus-Doc/download.html

[2018-02-08 04:08] mjmfighter opened #89 "UDP Source/Destination ports not reading correctly"
Howdy,

I am currently trying to get the source and destination ports of some UDP packets, however it seems like they are not being read correctly.

A sample file that I am testing on is the tpncp_udp.pcap file from the wireshark samples page, found here: https://wiki.wireshark.org/SampleCaptures?action=AttachFile&do=get&target=tpncp_udp.pcap

The first packet in this file is from 10.4.2.44:2428 a

[2018-02-08 06:14] xxhenglyxx commented on #88
@echo-Mike I already have libpcap installed from brew before installing PcapPlusPlus, and I did followed the instruction from the page you refer me to, but still did not work.

[2018-02-08 16:16] seladb commented on #88
Hi @xxhenglyxx thanks for using PcapPlusPlus. Regarding your problem:

- You said you successfully compiled the library, which means you also compiled the examples provided with the library. Did I get this right? Are the examples working?
- Did you install Xcode command line tools (by running `xcode-select --install`)?
- Please try to remove the `--std=c++14` and see if it's working

[2018-02-08 16:37] seladb commented on #89
You need to convert the port value from network to host order using `ntohs()`:

`printf("Source port is '%d'; Dest Port is '%d'\n", ntohs(udpLayer->getUdpHeader()->portSrc), ntohs(udpLayer->getUdpHeader()->portDst));`

`ntohs(31753)` => 2428
`ntohs(30729)` => 2424

You can also take a look at the following tutorial to understand more:
http://seladb.github.io/PcapPlusPlus-Doc/tutorial_packet_parsin

[2018-02-09 16:35] seladb commented on #89
Did it solve the issue?

[2018-02-09 16:43] mjmfighter commented on #89
Hey sorry I meant to respond yesterday and forgot.  Yes this resolved my issue.  Thanks!  I will go ahead and close this ticket

[2018-02-09 16:43] #89 closed

[2018-02-10 03:40] seladb commented on #88
@xxhenglyxx did you have a chance to go over the items mentioned above?

[2018-02-10 08:08] xxhenglyxx commented on #88
@seladb sorry for the late replies. I compiled it successfully but I did not compiled the example provided with the library. I already install the Xcode command line tools, removing --std=c++14 did not help also.

[2018-02-10 08:13] xxhenglyxx commented on #88
I went to look at the Tests folder and ran the Packet++Test, the result was only 3 pass and the rest got failed, why is like that ? The 3 that was passed is EthPacketCreation, Ipv4PacketCreation, InsertDataToPacket.
And this is the Pcap++Test
![screen shot 2018-02-10 at 3 11 39 pm](https://user-images.githubusercontent.com/28291947/36060101-cb04486c-0e74-11e8-8e6e-a827a74619c5.png)

[2018-02-10 22:12] seladb commented on #88
@xxhenglyxx you should run it from Packet++Test folder, meaning:

[code]

Same for Pcap++Test:

[code]

[2018-02-13 14:46] xxhenglyxx commented on #88
@seladb Yes I did run exactly like that. I feel like I miss something so that is why it wont work, is there anything I should have beside the thing inside the documentation ?

[2018-02-13 16:06] luigino opened #90 "PcapPlusPlus incompatible with dpdk 17.11"
[code]

I see there are rte_set_log_level() and rte_get_log_level() in the new API, but the prototype for the latter is different and I don't know what it's doing there.

[2018-02-13 16:59] echo-Mike commented on #90
It is clearly stated here: http://seladb.github.io/PcapPlusPlus-Doc/dpdk-pf_ring.html
that the latest compatible version of DPDK is 17.02 (better use 16.11).

[2018-02-13 17:22] luigino commented on #90
I see. Will wait for future releases then, as I rely on distro-supplied DPDK.

[2018-02-13 19:01] seladb commented on #88
have you run the `configure-mac_os_x.sh` script?

I'd advise to to start fresh - clone the library, run the configuration script, run the make command and then try to run the unit-tests.
If possible, it'd be great if you can attach the output to this ticket

[2018-02-16 14:49] jannik3141 opened #91 "IP-Layer contains Ethernet padding as data"
Hi,
first of all, thank you so much. This library is awesome :)

I found some cases (very short packages with Ethernet padding), where the DataLen field of the IPv4Layer is longer than the "Total Length" IP-header field (eg. in Wireshark). The difference is the length of the Ethernet padding so I assume the padding is seen as IP-payload. Maybe it is possible to use the right DataLen value from the

[2018-02-16 23:38] seladb commented on #90
It should be an easy fix - just replace `rte_set_log_level()` with `rte_log_set_global_level()` and `rte_get_log_level()` with `rte_log_get_global_level()`. I can do that but then I'll lose DPDK 16.11 LTS support. Maybe I'll do this change once a new LTS version of DPDK is released.
@luigino in the meantime you can fork PcapPlusPlus and do this small change yourself

[2018-02-16 23:44] seladb commented on #91
Hi @jannik3141 , thanks for the great feedback :)
The change you're proposing is not an easy one because in the current design it is assumed that each layer contains all of the data from where it starts to the end of the packet.
How critical is this fix for you?

[2018-02-17 11:26] luigino commented on #90
See https://github.com/seladb/PcapPlusPlus/pull/92 .

[2018-02-17 21:53] seladb commented on #90
Thanks for the fix! but please notice it doesn't build with 16.11, please see comments inside the PR

[2018-02-18 14:47] JakeAbo opened #93 "Issue: Dpdk server-client app"
Hey,

I'm trying to write a simple client server application.
I noticed that DpdkDevice::receivePackets(...) and DpdkDevice::sendingPackets(...) are only for receive  and send over the networks.

Is PcapPlusPlus library have the functionality to send and receive to a specific PORT(for instance: loopback, like socket communication)?

I would really appreciate your help,
Thanks Jack

[2018-02-18 20:07] seladb commented on #90
Thanks for the fix! Closing the issue...

[2018-02-18 20:07] #90 closed

[2018-02-18 20:46] liorzemah opened #94 "Run multiple Dpdk applications"
Hey, i try to run two Dpdk applications that using PcapPlusPlus library, the first one run successfully but the second application print the following error:

EAL: Detected 4 lcore(s)
EAL: Error - exiting with code: 1
Cause: Cannot create lock on '/var/run/.rte_config'. Is another primary process running?

I understand that the EAL is locked by the first Dpdk application. How can i support running

[2018-02-18 20:49] seladb commented on #93
I'm not sure I understand your question. DPDK is a kernel bypass library for sending and receiving packets in wire speed which is achieved by accessing directly to the network card without going through the kernel.
You are asking about sending and receiving packets from loopback interface which is created by the kernel so DPDK is probably not what you're looking for.
Fortunately, libpcap does prov

[2018-02-18 20:54] seladb commented on #94
I must admit I never tried that...
One thing I'm sure of is that you cannot run 2 DPDK applications that use the same core(s). You must provide each application a different set of cores and then it may work.
What I suggest you to do is to run this test with DPDK test application provided with DPDK (without PcapPlusPlus) and see if that works. If it works we can try to see how to make it work with

[2018-02-18 21:31] JakeAbo commented on #93
Thank you for your answer.

I think you miss understood me, I would like to ask my question again.
I'm looking for a way to make Server client application(on DPDK) which enables functionality of loading packets from pcap file, send it using dpdk virtual device(PORT 0) and recieve it on the server on other virtual device (PORT 1), filter the passed packets and send the passed packets back to the cl

[2018-02-18 22:32] seladb commented on #93
I'm not sure I'm following you. What are DPDK virtual devices? Could you please send me a link to read about it? Maybe I know it by a different name, but I don't think I've heard about it.
If I understand what you wrote correctly, it seems that DPDK virtual device is a kind of dummy interface, a little bit like the loopback concept. But please elaborate more.
Anyway, DPDK wrapper implementation in

[2018-02-19 06:32] seladb commented on #88
Hi, any news on that?

[2018-02-19 14:26] xxhenglyxx commented on #88
@seladb Yes so sorry for the late reply. I did run the ``configure-mac_os_x.sh`` script and the script ran successfully.

[2018-02-19 14:37] xxhenglyxx commented on #88
running ``make all`` this time throws me these errors:
![screen shot 2018-02-19 at 9 35 09 pm](https://user-images.githubusercontent.com/28291947/36382825-e5181cca-15bc-11e8-8364-3a13f6954ab5.png)

[2018-02-19 20:33] seladb commented on #88
@xxhenglyxx you shouldn't run `configure-linux.sh --use-immediate-mode` since you're on a Mac. You should run only `configure-mac_os_x.sh`. If you want to use immediate mode you can run: `configure-mac_os_x.sh --use-immediate-mode`.
Please let me know if it solves these errors

[2018-02-21 16:07] xxhenglyxx commented on #88
It successfully build but here are the test results:
![screen shot 2018-02-21 at 11 05 38 pm](https://user-images.githubusercontent.com/28291947/36490810-c3ca13de-175b-11e8-8b6a-0caad0ecd147.png)
![screen shot 2018-02-21 at 11 05 28 pm](https://user-images.githubusercontent.com/28291947/36490811-c439907e-175b-11e8-92eb-8ec8b8c094df.png)
![screen shot 2018-02-21 at 11 05 17 pm](https://user-images.

[2018-02-21 18:35] seladb commented on #88
You should run the unit-test from its own directory:
[code]

[2018-02-23 14:38] jannik3141 commented on #91
Hi,
sorry for the late response. I stumbled upon this when using the DataLen field to calculate if a TCP packet has empty payload. I now use the information from the IP-header, so a fix is not critical for me.

However I don't know if the bug influences other functionalities, because it causes the IP/TCP/UDPLayer to contain wrong data. Yet this happens only in very short packages, where Ethernet p

[2018-02-23 17:57] seladb commented on #91
Thanks @jannik3141 ! I'm actually working on a fix. It's quite deep in code but I think I'll manage to do this change. I'll update once I'm done

[2018-02-23 18:12] jannik3141 commented on #91
Ok, great! Probably an important fix.
Funnily I've watched through TcpReassembly.cpp and found the same workaround that I used for calculating the payload size.

[2018-02-23 18:28] jannik3141 opened #95 "IPv6 Support for TCP reassembly"
Hi again,

How difficult would that be to implement TCP reassembly for IPv6? I am wondering if I could do that by myself, but I'm not sure if my skills and my knowledge about the TcpReassembly internals are good enough. I've only looked shortly into TcpReassembly.cpp but so far I would say there is not that much to change. Though there is probably a reason why it is not implemented yet. What is yo

[2018-02-23 22:54] seladb commented on #95
It shouldn't be a huge work, but a couple of changes are needed:

- Change `ConnectionData` to support both IPv4 and IPv6
- Internal `TcpOneSideData` struct should support IPv4 and IPv6
- Calculate `tcpPayloadSize` using PayloadLength field in IPv6 instead of TotalLength field in IPv4
- Add unit-tests for TCP reassembly with IPv6

Maybe there are more changes, but these are the major ones.
I'm cur

[2018-02-23 22:56] seladb commented on #93
I'm not sure if you've seen my previous message. I'd really appreciate if you can read it and answer the questions there

[2018-02-23 22:56] seladb commented on #94
Did you have a chance to try that?

[2018-02-24 09:56] liorzemah commented on #94
I tried to run 2 DPDK applications that unuse the same cores and i got the following error (when i tried to run the second application):

Launching app
EAL: Detected 4 lcore(s)
EAL: Error - exiting with code: 1
  Cause: Cannot create lock on '/var/run/.rte_config'. Is another primary process running?

I guess the problem is not related to the cores but is related to the file mentioned, it is proba

[2018-02-24 10:55] xxhenglyxx commented on #88
Yes I did run it from its own unit-test directory. After I cloned it at some location, then cd into it, follow all the installation steps, then run unit test withnin it.

[2018-02-24 11:56] seladb commented on #94
Thanks for sharing this information!
With your permission I'll close the issue now. Please re-open it if you have any more questions.

[2018-02-24 11:56] #94 closed

[2018-02-24 12:01] seladb commented on #88
The unit-test applications fail to read the input files for some reason, with the info I have it's hard for me to say why.
One more thing I can suggest is to record everything you do and send me the output as a text file, not as an image. Please record everything from cloning the project to running the unit-tests

[2018-02-25 20:13] seladb commented on #95
Thanks, please keep me posted

[2018-02-26 18:24] echo-Mike commented on #95
Hey @jannik3141,
it would be great if you took into account that the implementation of Packet and RawPacket may be changed (I finishing my work on that part: https://github.com/echo-Mike/PcapPlusPlus/tree/feature/rawpacket_memory_rework ). So please do not rely on direct access to the fields of specified structures, use their interface where ever it is possible.

[2018-02-26 18:35] jannik3141 commented on #95
Okay @echo-Mike, thanks for the notice.

[2018-02-26 19:06] echo-Mike opened #96 "Add contribution guide"
Recently, more and more developers want to join the library development process. I find it reasonable to add at least a basic official contribution guideline.

Let me propose some key points for this guideline:
* Use GitFlow (or just it's branch naming convention)
* Documnet your code with Doxygen (use **@** for keywords)
* Register an account on Appveyor and TravisCI and use it during your featur

[2018-02-26 20:55] seladb commented on #95
Hi @jannik3141, thanks for taking this on yourself, much appreciated!

Regarding the unit-tests - they are on `Tests/Pcap++Test`, here is a link:

https://github.com/seladb/PcapPlusPlus/blob/3bb8d141ea740cb2ed6fd36eebee47a0b0a57aa9/Tests/Pcap%2B%2BTest/main.cpp#L5391

[2018-02-26 21:15] seladb commented on #96
Thanks @echo-Mike , I totally agree. It seems that a contribution guide can indeed be useful in the current phase of this project. You also make great points regarding the content of the guide, please let me add a few comments:

- I'm not sure we should follow GitFlow approach in this phase of the project. It's not like there are dozens of people waiting to contribute to this project. If we get th

[2018-02-26 22:20] jannik3141 commented on #95
Ah, thanks @seladb. I searched in Packet++Test because the TcpReassembly Code belongs to the Packet++ lib.

[2018-02-26 23:13] seladb commented on #95
Yes, I know this is not the ideal place to put the unit-tests. I did that because I wanted to read pcap files and I used `PcapFileReaderDevice` (which is in Pcap++) to do that

[2018-02-27 00:21] seladb commented on #96
Done! Please see commit: c69d9a6c276569b0006c4ac7e84885530f8524bb

I'll close the issue now. If you have any comments, please re-open it

[2018-02-27 00:21] #96 closed

[2018-02-27 18:00] xxhenglyxx commented on #88
Ok I will do that and send it to you.

[2018-02-28 04:25] xxhenglyxx commented on #88
Here is the file: [output.txt](https://github.com/seladb/PcapPlusPlus/files/1765589/output.txt)

[2018-02-28 06:26] seladb commented on #88
Thanks!
# I've identified the problem:
You're running:
[code]

But you **should** run:
[code]

Same for Pcap++Test, you're running:
[code]

but you **should** run:
[code]

Please let me know if it solves the problem

[2018-02-28 15:26] xxhenglyxx commented on #88
@seladb Yes everything are passed now.

[2018-02-28 18:51] seladb commented on #88
Awesome! If that's ok with you, I'll close the issue now. Please reopen it if you still encounter issues

[2018-02-28 18:51] #88 closed

[2018-03-03 11:19] echo-Mike opened #97 "[Feature] MBufRawPacket array reusage"
Hello.
## The feature
When receiving packets from DPDK NIC using `DpdkDevice::receivePackets` overload with pointer to an array of `MBufRawPacket` objects as its first argument the reusage of that array is possible.
## Current situation
Array of `MBufRawPacket` objects is allocated on every call to `DpdkDevice::receivePackets` which is not efficient in concurrent environment.
## The proposed solut

[2018-03-03 22:38] seladb commented on #97
Thanks for adding this feature! This is a very important feature that should improve performance.
Please see some comments inside the PR

[2018-03-04 01:44] jannik3141 commented on #95
Hey all,

I'm sorry to say that I haven't had much time to work on this enhancement yet. We got some higher priority issues in our project that I needed to work on first. Because of this I won't continue my work on IPv6 Tcp Reassembly before April. But IPv6 support is still on my todo list, so I will probably be back with questions and/or a pull request in April/May.

[2018-03-04 13:09] seladb commented on #95
Thanks @jannik3141 , please let me know if you have some time before April/May. I'll also try to take this if I have time

[2018-03-05 15:12] robgas opened #99 "Killed: 9 on macOS Sierra"
Hi,

I am trying to read a 60 GB pcap file with the following code but after few minutes the app is killed with error Killed: 9 because it's using to much memory:
[code]
The app works correctly without the creation of parsedPacket so I'm trying to clear the object but the app is always stopped with Killed:9.

[2018-03-05 15:33] echo-Mike commented on #99
Hi, @robgas here are several problems with your code:
1. You do not dealllocate allocated packet because you nullify the pointer
2. You do not need to allocate a packet because you do not use its methods

If you just remove next lines your program will work as expected:
[code]

[2018-03-05 20:32] robgas commented on #99
Hi @echo-Mike,
I need of parsedPacket object to use its methods and layers (like parsedPacket.getLayerOfType).

[2018-03-06 12:53] JakeAbo commented on #93
I will just make my question simpler...

I looked in the PcapPlusPlus Docs on DpdkDevice::ReceivePackets:
"Receive parsed packets from the network"

Is there an opportunity to find out which computer send those packets to me? and send them back to him?
Like a simple server client program.
Client send "hello" -> Server reveive "hello" -> send back "hello" to client...

Is there an opportunity to do

[2018-03-06 15:13] seladb commented on #93
I guess the answer to your question would be "yes". What you need to do is to receive parsed packets  using `DpdkDevice::receivePackets()` and then check IP address or MAC address (depends whether you want to work in L2 or L3) to identify the specific client. Then you should create a new packet, or even better - modify the packet you got so the client IP/MAC addresses are reversed and send it back

[2018-03-06 15:26] JakeAbo commented on #93
I'm having a difficulty to understand how to determine which client send the packet because I can also receive packets with "bla bla" IP or MAC... and it cant be the client...

[2018-03-06 18:54] seladb commented on #93
What do you mean "bla bla" IP or MAC? Aren't those real packets?

[2018-03-06 19:19] JakeAbo commented on #93
In my project i send the packets to the network and all computers in the LAN network receive the packets.
I'm interesting in sending packets to a specific computer without all other computers on LAN receive it. How can I implement `DpdkDevice::sendPackets()` to a specific computer...

[2018-03-06 20:58] seladb commented on #93
You should build the packets with a MAC address and IP address that corresponds to the specific computer you want to send the packets to

[2018-03-07 01:12] seladb commented on #99
You should probably reverse the order of deleting `parsedPacket`:

    parsedPacket = new pcpp::Packet(&rawPacket, true);
    delete parsedPacket;
    parsedPacket = NULL;

[2018-03-07 01:17] seladb commented on #97
PR merged and unit-tests passed. Closing the issue now

[2018-03-07 01:17] #97 closed

[2018-03-08 11:03] seladb commented on #99
@robgas please let us know if it solved your issue

[2018-03-08 22:06] robgas commented on #99
@seladb I've tried your code and the following error is raised:
[code]
This happens for the **true** parameter in new pcpp::Packet that forces to call the raw packet destructor.
A workaround could be to limit the parsing of the packets to the IPv4 protocol (from TCP protocol too much memory is allocated).
[code]
It seems like there is a memory leak in the creation of Packet.
This is the summary of

[2018-03-08 23:14] seladb commented on #99
@robgas thanks for the analysis. You should actually call `pcpp::Packet` c'tor with `freeRawPacket = false`, that should solve the error. Could you please try it and let me know if it worked?

[2018-03-10 23:29] seladb commented on #91
This issue is fixed. I added [pcpp::PacketTrailerLayer](http://seladb.github.io/PcapPlusPlus-Doc/Documentation/a00106.html) which represents the packet trailer/padding layer and also fixed `pcpp::IPv4Layer` and `pcpp::IPv6Layer` to set their data length according to the value in the IP header. So now, during packet parsing, if data is left after parsing is over, this data is assumed to be the pack

[2018-03-10 23:29] #91 closed

[2018-03-12 15:46] robgas commented on #99
@seladb It works of course. However the main issue is not resolved.

[2018-03-13 01:08] seladb commented on #99
I'm not sure I'm following you. Could you please attach your code and explain what is not working (including the specific errors, etc.)?

[2018-03-13 21:54] robgas commented on #99
Maybe I was not clear. The "Abort trap: 6" error has been resolved at the time I wrote the comment.
The main issue is trying to read a huge pcap file (> 60Gb) without loosing the L7 protocols support and TCP Reassembly feature, something that happens when I create a Packet parsing until the pcpp::IPv4 layer.
Have you ever tried to read a really huge pcap file?

[2018-03-13 22:06] seladb commented on #99
So what happens when you don't try to limit the parsing to IPv4? do you get an exception then?
If yes, then it's probably an ubnormal packet that PcapPlusPlus doesn't know how to handle. If you can identify this packet and send it to me in a pcap file I can take a look and hopefully provide a fix

[2018-03-13 22:25] robgas commented on #99
The issue seems like enabling the parsing of from TCP layer to up there is a huge and increasing memory allocation. It seems like the complete pcap file is copied in RAM.
So the issue doesn't depend on an ubnormal packet but on a huge pcap file.
I think that the best way to find out the issue is to try to read a huge pcap file.

[2018-03-13 22:47] seladb commented on #99
I'll refer to the code you wrote at the beginning of the thread: since you're deleting the parsed packet in each iteration, no packet data is stored between packets, so there should be no difference between parsing up until IPv4 or full parsing in terms of memory allocation.

Since you say that when parsing up until IPv4 everything works, I still suspect that specific packet(s) cause this issue

[2018-03-19 01:13] seladb commented on #93
Hi, any updates on this issue?

[2018-03-19 01:14] seladb commented on #99
Did you have a chance to check this?

[2018-03-19 07:26] seladb commented on #95
Done!
Please pull the latest code from master

[2018-03-19 07:26] #95 closed

[2018-03-21 00:58] jannik3141 commented on #95
Wow! Thank you very much @seladb !

[2018-03-21 01:06] jannik3141 commented on #91
Thanks, @seladb , good idea to create PacketTrailerLayer. If (while parsing a packet) TCP/UDP data length is calculated from IP-Layer data length, then it should work fine now.

[2018-03-22 22:45] seladb commented on #82
I'll close this issue now and open a new one for creating a TCP reordering module

[2018-03-22 22:45] #82 closed

[2018-03-22 22:50] seladb opened #100 "Create a TCP reordering module"
In some cases, TCP packets get scrambled on the network and don't arrive to the other side in the same order that they were sent. The purpose of this module is to re-order the in the same way they were sent, meaning according to the TCP stream order.
This sounds a little like TCP reassembly, but the difference is that this module should only re-order packets, nothing more. It should be simpler and

[2018-03-22 22:52] seladb commented on #80
I don't think this should be changed to prevent mis-usage if this data outside of the callback. I'm closing this issue now. Please re-open if it you think otherwise

[2018-03-22 22:52] #80 closed

[2018-04-03 00:49] Jeff4Success opened #101 "Reading pcap or pcapng files HAVE to have and extension???"
I was trying to read a capture file that I had written moments earlier from a live capture. I was reading a captured test file earlier in my coding and it worked every time. So I decided to move on in my project and read some files using live captured packets. I named my file '`jeff`' just because. Well I immediately got an out of range crash when I ran code to read it to `stdout`. So I tried my "

[2018-04-03 10:26] seladb commented on #101
Thanks for finding this bug!
I pushed a fix to master, please pull the latest code

[2018-04-03 10:26] #101 closed

[2018-04-03 17:48] seladb commented on #99
Since I didn't see any reply on the last 2.5 I'm closing this issue now. Please reopen it if needed

[2018-04-03 17:48] #99 closed

[2018-04-03 17:48] seladb commented on #93
Since I didn't see any reply on the last 2.5 I'm closing this issue now. Please reopen it if needed

[2018-04-03 17:48] #93 closed

[2018-04-19 09:16] HAT-DK opened #102 "error in httplayer::parsemethod"
In line 278 in HttpLayer.cpp these is a typo which prevents CONNECT method to be parsed:
data[5] == 'E' && data[5] == 'C'

should be:

data[4] == 'E' && data[5] == 'C'

[2018-04-20 09:21] ECquadrat opened #103 "IFileReaderDevice filtering on UDP port with high port number not working"
Filtering on packets in files seems not to work correctly. The same filter settings works on live-devices. I used a filter setting with many filters combined with AND. For reproducing this issue I stripped it down to only one UDP port filter:

**Example:**
[code]
With ```#define LOW_UDP_PORT``` there is one packet printed which is contained in the test data file. => OK.
With ```#undef LOW_UDP_PORT

[2018-04-20 21:49] seladb commented on #102
Thanks for noticing this!
I just pushed a fix to master, please pull the latest code

[2018-04-20 21:49] #102 closed

[2018-04-20 21:58] seladb commented on #103
Thanks for reporting this issue!
I had a look in the pcapng file you attached and the issue is this: PcapPlusPlus filtering mechanism is based on libpcap/WinPcap filtering (you can read about it [here](https://linux.die.net/man/7/pcap-filter)). PcapPlusPlus filtering is just a wrapper on-top of this mechanism.

There is a limitation/bug in libpcap/WinPcap filtering which doesn't work well with VLA

[2018-04-23 15:54] ECquadrat commented on #103
Thanks a lot for the fast reply!
Could you please point me to the VLAN issue number in libpcap you mentioned? It looks like the libpcap team is currently working on a new release - maybe this issue is fixed then.
Furthermore I'm wondering why I can see those UDP packets with VPN bits in Wireshark, because Wireshark seems to use the same library for fetching events from the eth interface.
When open

[2018-04-23 16:39] seladb commented on #103
Regarding the VLAN issue number - I didn't manage to find it. Actually it may be already fixed in later versions of libpcap. Which version are you using? Maybe you can update to the latest version of libpcap and try again

Regarding Wireshark - it's indeed using libpcap for capturing packets, but it has a different filtering mechanism (it doesn't use libpcap's filtering engine). That's why you can

[2018-04-24 14:46] Karry opened #104 "HttpAlalyzer example on top of reassembled tcp stream"
Hi. I have few questions about this library. When I am looking to examples, I see http and ssl analysers. But if I don't overlook something, these examples are based on packets, it don't contains any kind of tcp reassembly...

 - Are my observations correct?
 - Why, when tcp reassembly is supported by library?
 - When first byte of http request will be send in separate packet of tcp stream, this h

[2018-04-24 20:01] Karry commented on #104
Thank you for fast reply. I am closing this issue/question...

[2018-04-24 20:01] #104 closed

[2018-04-30 05:10] seladb commented on #103
Do you have any updates or further questions on this issue?

[2018-05-02 04:40] ECquadrat commented on #103
According to tcpdump.org, I'm using the latest version V1.8.1 of libpcap. As I read in the issue list of libpcap a new release is in work, so maybe the VLAN issue is fixed then. I'm working in the automotive industries where nearly all Ethernet packets have a VLAN layer, so currently I'm implementing a workaround by filtering the packets for myself without using libpcap filtering engine.

Thank yo

[2018-05-02 04:44] ECquadrat commented on #103
According to tcpdump.org, I'm using the latest version V1.8.1 of libpcap. As I read in the issue list of libpcap a new release is in work, so maybe the VLAN issue is fixed then. I'm working in the automotive industries where nearly all Ethernet packets have a VLAN layer, so currently I'm implementing a workaround by filtering the packets for myself without using libpcap filtering engine.

Thank yo

[2018-05-02 04:44] #103 closed

[2018-05-04 09:09] TCZWJ opened #106 "about capture"
Can PcapPlusPlus capture packets writing pcap files from NIC by dpdk driver??

[2018-05-04 13:38] seladb commented on #106
I'm not sure I understand the question. Could you please elaborate on what you're trying to do?

[2018-05-06 09:43] TCZWJ commented on #106
i want to capture packets from NIC by DPDK, and writing the packets to pcap files.  What i want to do just like tcpdump on linux to capture  and write packets.  i am not very familiar with pcapplusplus and hope you can understand my description.

[2018-05-06 23:55] seladb commented on #106
Sure, that should be quite easy. Please take a look at [DpdkExample-FilterTraffic](https://github.com/seladb/PcapPlusPlus/tree/master/Examples/DpdkExample-FilterTraffic), you should be able to figure out how to do this from the code. Please let me know if you need additional help.

Please notice that writing to pcap files which consume a lot of I/O won't work in very high traffic. You should only

[2018-05-10 20:33] CyberTaoFlow opened #107 "Pcapsplitter writing to fifo can consume all memory"
Hello I am using pcapsplitter to read packets from a fifo and write to multiple fifo's which are each read by a bro instance.  This works well unless one of the consumers crashes or dies.

 If a consumer dies (fifo is closed) then restarts and reopens the fifo then the  pcapsplitter will not resume sending packets to that output and will instead buffer them in memory until all memory is consumed.

[2018-05-10 21:35] seladb commented on #107
I'm not sure I fully understand your setup and it'll probably not be easy for me to create it. Do you think you can reproduce this issue without those fifos and bro?

[2018-05-11 20:52] CyberTaoFlow commented on #107
I will try to reproduce with a file as output by simply deleting then recreating the file during operation.

[2018-05-11 21:26] seladb commented on #107
Cool, please let me know if you succeed and what are the steps to reproduce it

[2018-05-16 06:06] shidaoxuan opened #108 "DpdkDeviceList::initDpdk EAL Init "--master-lcore " "0""
In function "DpdkDeviceList::initDpdk()" EAL init, some parameters are fixed to '0'.
    dpdkParamsStream << "--master-lcore ";
    dpdkParamsStream << "0";
i think configuring "--master-lcore" with Least significant bit of coremask is better.

[2018-05-16 20:06] seladb commented on #108
I'm not sure using the LSB will be obvious enough for users. Maybe it's better to add a new parameter to configure the master core. What do you think?
I'd be great if you do this change and issue a PR

[2018-05-16 20:07] seladb commented on #106
I didn't see any response from you for a while so I'm closing this issue. Please reopen it if you have additional questions

[2018-05-16 20:07] #106 closed

[2018-05-18 11:03] krisk0 opened #109 "No way to set compile flags"
In order to use PcapPlusPlus in a Python extension, I had to add `-fPIC` flag. Found no way to do it properly, had to dirty-hack Makefiles like that
[code]
Altering CFLAGS is a must-have feature, for any serious C++ library, and PcapPlusPlus looks serious. I therefore suggest that configure script should respect CXXFLAG or CFLAG env var (or a command-line parameter like --cflags).

[2018-05-18 13:44] dlbattle123 opened #110 "IPv4 reassembly has small bug"
In the IPReassembly.cpp lines 442 and 522:
tempPacket.getLayerOfType<IPv4Layer>()->getIPv4Header()->totalLength = fragData->currentOffset + tempPacket.getLayerOfType<IPv4Layer>()->getHeaderLen();

Is missing a needed ntohs() around the new value for totalLength.  My work environment does not allow me to supply sample data or even submit patches.

[2018-05-18 20:06] seladb commented on #110
Thanks for reporting this issue, it does look like a bug. I will try to provide a fix soon

[2018-05-18 20:10] seladb commented on #109
That would certainly be a nice addition to PcapPlusPlus. I'd go for the --cflags option. Would you mind adding it and create a PR?

[2018-05-18 20:11] seladb commented on #107
Any updates on this?

[2018-05-19 21:35] watsontandrew opened #111 "Typo!"
https://github.com/seladb/PcapPlusPlus/blob/1c08cf6d2a265ab29591d919a0e882e246ae7bf9/Packet%2B%2B/header/ProtocolType.h#L171

[2018-05-21 07:26] krisk0 commented on #109
I don't understand what PR means here, but if you want me to fix PcapPlusPlus build scripts and create merge request, then no, sorry.

// I don't understand the idea behind non-standard build system of PcapPlusPlus, suggest that `cmake`, `scons` or some other standard build system is used.

[2018-05-23 15:35] rychale opened #112 "Unable to write with nanoseconds precision"
Is it possible to generate PCAPNG file with packets having nanoseconds timestamp precision?

[2018-05-25 11:30] inbrahimnasson opened #113 "Dns MX record"
1. In constructing a dns MX answer there is no way to set the PREFERENCE of the mail exchange answer

2. As in RFC 1035 section 4.1.4 (  https://tools.ietf.org/html/rfc1035 )  please would add a possible way to use dnsQuery pointer to the query name offset ,instead of using string inDnsResource->setName() in which cause the packet to increase in size ,

E.g  message compression

DnsResource *res=d

[2018-05-27 02:41] seladb commented on #113
These are good enhancement suggestions. Do you mind doing these changes and create a PR?

[2018-05-27 02:50] seladb commented on #112
Unfortunately PcapPlusPlus doesn't currently support writing or reading packets with nanoseconds timestamp precision. I may add this feature sometime in the future but I can't promise when.

[2018-05-27 02:56] seladb commented on #109
The idea behind PcapPlusPlus build system is that it's as basic as possible so it can be easily integrated in any project, regarding of its build system.
For example: if PcapPlusPlus use `cmake` and your project doesn't use `cmake` - how could you integrate PcapPlusPlus in your project?

Regarding adding the cflags option - I'll see how easy it is to add this

[2018-05-27 06:43] seladb commented on #111
Bug is fixed now

[2018-05-27 06:43] #111 closed

[2018-05-27 06:43] seladb commented on #110
Bug is fixed now

[2018-05-27 06:43] #110 closed

[2018-05-29 06:00] seladb commented on #107
I'm not sure PcapSplitter should support this special configuration. It's mainly designed to split pcap files. I wouldn't want to add code for specific use-case as it may break something else.

Please let me know what you think

[2018-05-30 11:24] jhilgert opened #114 "ld: symbol(s) not found for architecture x86_64"
Hey there,

it's the same error someone else had before. I am running on MacOS High Sierra 10.13.2. Build and all tests run successfully. Trying to compile on my own results in

`Undefined symbols for architecture x86_64:
  "pcpp::IFileReaderDevice::getReader(char const*)", referenced from:
      _main in main.cpp.o
ld: symbol(s) not found for architecture x86_64`

Tried different compilers, this

[2018-05-30 13:00] #114 closed, assigned to nobody

[2018-05-30 21:51] #107 closed

[2018-06-09 08:12] MinGW64User opened #115 "Setup fails on MinGW-w64 Windows"
Using MinGW-w64 version: i686-8.1.0-posix-dwarf-rt_v6-rev0.

I followed the install instructions [in here.](http://seladb.github.io/PcapPlusPlus-Doc/download.html#mingw32_mingww64)

I skipped this section as I'm not using mingw32: "Download and installation instructions for MinGW32"

Problems start here: "Run mingw32-make.exe all from PcapPlusPlus main directory". The file called "mingw32-make.exe

[2018-06-10 07:00] MinGW64User commented on #115
Did this:

1. Open cmd

2. cd here:
cd C:\Users\m\Downloads\temp\packetCapture\PcapPlusPlus

3. add path:
path C:\Program Files\mingw-w64\i686-8.1.0-posix-dwarf-rt_v6-rev0\mingw32\bin

4. run cmd command:
mingw32-make.exe all

5. Result:
process_begin: CreateProcess(NULL, uname, ...) failed.
mingw32-make.exe: Makefile:29: pipe: No error
process_begin: CreateProcess(NULL, rm.exe -rf Dist, ...) fail

[2018-06-10 07:33] seladb commented on #115
It seems it can't find `rm.exe`, could you make sure this file is there? If it's there, in what path?

[2018-06-10 07:36] seladb commented on #108
Fixed! Please pull the latest code and let me know if you see any issues. I'll close this bug for now

[2018-06-10 07:36] #108 closed

[2018-06-10 07:42] MinGW64User commented on #115
Msys2

the rm.exe is located in C:\Program Files\msys64\usr\bin

[2018-06-10 07:45] seladb commented on #115
Could you add this folder to `PATH` and see if it works?

[2018-06-10 07:52] MinGW64User commented on #115
Added the folder that has rm.exe to path:

[code]

I've also tried to compile the libraries with Visual studio but get several errors. One of them gives the error:
`Unknown command "C:/Program"`
Almost like there are quotes missing around a file-path somewhere (folders that contain spaces need to have quotes around them, otherwise the folder is not found). I'm not sure if it's related to this ming

[2018-06-10 07:54] seladb commented on #115
I guess it's because of the space in "Program Files". Maybe you can move msys2 to another folder and see if it solves the issue

[2018-06-10 08:09] MinGW64User commented on #115
1. Removed old path from path variable.
2. Reinstalled to C:\msys64.
3. Then configured the paths again with configure-windows-mingw.bat
PcapPlusPlus.mk  file now has new path:
`MSYS_HOME := C:/msys64`
4. Then ran the command:
`mingw32-make.exe all`

Same error. Also tried adding the the new path of "rm.exe"  (C:\msys64\usr\bin)  to windows environment variables. Same error.

[2018-06-10 19:06] MinGW64User commented on #115
Ok. Tried this:

1. Added to windows system path:  `C:\msys64\usr\bin`
2. Added to windows system path:  `C:\Program Files\mingw-w64\i686-8.1.0-posix-dwarf-rt_v6-rev0\mingw32\bin`

Rm.exe  was found this time.
 `>rm.exe
rm: missing operand
Try 'rm --help' for more information.`

3. Created a [new empty folder](https://i.imgur.com/XmfWRRs.png).
4. Open cmd and cd to main folder
`cd C:\Users\m\Downl

[2018-06-12 09:55] inbrahimnasson commented on #113
Sure i will do it

[2018-06-12 16:02] MinGW64User commented on #115
Did 2 changes and got a bit further this time.  There seems to be some error in PcapFilter.cpp file.

1. I moved all installations to C:\code. Makefiles don't work well with file paths that have a space bar in them.
2. Added environment paths for `msys `and `mingw`:
[code]

It still fails ([image](https://i.imgur.com/7niuDgY.png)) due to a problem in PcapFilter.cpp. Pastebin link for relevant piec

[2018-06-13 06:58] shidaoxuan opened #117 "Common++/src/SystemUtils.cpp:124 "Out-of-bounds access of arrays""
if "int getNumOfCores()"  returns an integer greater than 32.
then "result = result | SystemCores::IdToSystemCore[i].Mask;" will lead to out-of-bounds array access.

In fact my server(DELL PowerEdge R930) has 72 logic cores.

[2018-06-13 07:04] shidaoxuan commented on #117
i'think you can limit the numOfCores like:
" int numOfCores = getNumOfCore() < 32 ? getNumOfCores() : 32; "

[2018-06-13 07:12] shidaoxuan commented on #108
Thank you for fixing it.

[2018-06-13 07:35] seladb commented on #113
Thanks! Please create a PR once it's ready

[2018-06-13 07:39] seladb commented on #115
I never got this error. Could you please try to install a lower version on mingw-w64 and see if that works?

[2018-06-13 07:41] seladb commented on #117
That's a great point! I never thought someone with more that 32 cores will run PcapPlusPlus :)
Do you mind doing this small change and create a PR?

[2018-06-13 17:29] MinGW64User commented on #115
Several errors on the more recent versions. I made a spreadsheet: https://1drv.ms/x/s!AmEZdVzlIQc_aeASTn9EfRmD6yI

Could you add 3 new notes to the [website guide](http://seladb.github.io/PcapPlusPlus-Doc/download.html#mingw32_mingww64)
**1. Mingw64 install directories.**
Adding the main path is not enough (e.g. `C:\code\mingw-w64\x86_64-7.2.0-posix-seh-rt_v5-rev1\mingw64.` There are actually 2 fo

[2018-06-13 22:34] seladb commented on #117
Thanks for the PR! I'm closing the issues now

[2018-06-13 22:34] #117 closed

[2018-06-14 01:02] seladb commented on #115
Thank you for the deep dive and investigation!
I will add the comments you suggested to the building instructions page.

x64 is not supported for MinGW, mainly because WinPcap doesn't support it. I thought I actually wrote that in the building instructions but I can't find it now. I will add it.

[2018-06-18 02:05] seladb commented on #115
Done! Please see commit: seladb/PcapPlusPlus-Doc@597df94a1748e62b76cbc69f7226231a299bc729

I'll close this issue for now, please reopen it if anything is missing

[2018-06-18 02:05] #115 closed

[2018-06-22 09:17] shidaoxuan opened #119 ""dpdk segmentation fault" MBufRawPacket::~MBufRawPacket()"
My dpdk demo calls startCaptureMultiThreads() to capture packets without sending out.
this demo is similar to “PCAPP_TEST(TestDpdkMultiThread)”,  after few senconds, the demo crash because MBufRawPacket::~MBufRawPacket() called "rte_pktmbuf_free(m_MBuf);". i found m_Mbuf is an abnormal data. m_Mbuf.pool is 0. so rte_pktmbuf_free() cause segmentation fault.

I am confused about this, I do not know

[2018-06-22 10:30] shidaoxuan commented on #119
I found the reason.  In class DpdkDevice , a member named "struct rte_mbuf* m_mBufArray[256];", DpdkDevice.m_mBufArray will be shared by all capture threads, it's unsafe, this data member will be overwrite by multithreading.
My suggestion is as follows:
DpdkDevice.h:1018 ----> struct rte_mbuf* m_mBufArray[MAX_NUM_OF_CORES][256];

DpdkDevice.cpp:922 ----> uint32_t numOfPktsReceived = rte_eth_rx_bur

[2018-06-22 12:32] echo-Mike commented on #119
Hi, @shidaoxuan.
You have found a general flaw in callback based system in DpdkDevice class. The proposed solution is not bad but it implies false sharing if cache line alignment is not meet.
I do not see any easy way to fix this issue except to **not to use callback based system** by now.

[2018-06-23 04:31] echo-Mike commented on #119
@shidaoxuan, @seladb I possibly have found a solution, will make PR today near **22:00 CET**

[2018-06-23 05:27] seladb commented on #119
Thanks @shidaoxuan , this is indeed a bug and I'm not sure how I didn't find it until now so thanks for reporting it!

Your suggested solution seems reasonable. @echo-Mike - is this what you had in mind?

[2018-06-23 19:23] echo-Mike commented on #119
@seladb please see my commit above.
## Proposed solution
The **m_mBufArray** field is an opaque member field of ```DpdkDevice``` that is not used anywhere besides places mentioned above. There is no reason to store it inside ```DpdkDevice``` object and as we saw there is a reason to made this array **thread local** value that is located on thread stack.
Library gives no guarantee to users about ac

[2018-06-23 19:35] echo-Mike commented on #119
Currently my *fix* misses one essential feature:
On https://github.com/seladb/PcapPlusPlus/blob/24dd4afa91f3234a9ba07ecb7b7d3b50d4e9bb1b/Pcap%2B%2B/src/DpdkDevice.cpp#L940
the destructors of ```MBufRawPacket``` objects created on https://github.com/seladb/PcapPlusPlus/blob/24dd4afa91f3234a9ba07ecb7b7d3b50d4e9bb1b/Pcap%2B%2B/src/DpdkDevice.cpp#L932 are called, so packets are released from DPDK memo

[2018-06-23 19:39] echo-Mike commented on #119
@seladb as i mentioned in my comment above the solution proposed by @shidaoxuan is not optimal because if the cacheline alignment of ```m_mBufArray[][256]``` is not meet that will significantly slow down execution.

[2018-06-24 06:42] seladb commented on #119
@echo-Mike I agree with you approach. Your solution should work just fine if you keep `MBufRawPacket rawPackets[MAX_BURST_SIZE]` in its original place. Could you do that fix and create a PR?

[2018-06-26 05:02] shidaoxuan opened #121 "Memory leak and “mbuf” duplicate release."
**Q1: Memory leak**
DpdkDevice.cpp: L1112        MBufRawPacket* newRawPacket = new MBufRawPacket();
I can't find where to delete “newRawPacket”.
e.g. in "Tests/Pcap++Test/main.cpp:L379~L395"
[code]
Only the last 32 mBufArr[i] are released.

**Q2: duplicate release**
DpdkDevice.cpp:L1278
[code]

this line "bool needToFreeMbuf = (!useTxBuffer && (packetsSent != arrLength));" is used to determine if

[2018-06-26 07:09] seladb commented on #121
**Regarding Q1:** this is not a bug. The `receivePackets()` method returns an array of `MBufRawPacket` which should be free by the user, please refer to the [documentation for this method](http://seladb.github.io/PcapPlusPlus-Doc/Documentation/a00775.html#a407145da015517eca651735bb7b318a9):

**Regarding Q2:** Please refer to the [documentation for this method](http://seladb.github.io/PcapPlusPlus-

[2018-06-26 07:58] shidaoxuan commented on #121
@seladb
Q1: I agree with your point of view, MBufRawPacket which allocated in libPcap++ and should be free by the user.
But in "Tests/Pcap++Test/main.cpp:L379~L395",  mBufArr inside while (!m_Stop) clause: was not release. is this correct？

[2018-06-26 08:22] shidaoxuan commented on #121
Q2:
The mbufs  will be transparently freed by DPDK when the packets actually sent by "rte_eth_tx_burst()".
Applications that implement a "send as many packets to transmit as possible" policy can check this specific case and keep invoking the rte_eth_tx_burst() function until a value less than nb_pkts is returned.
so you can find some code segment like this in dpdk example:
dpdk:   examples/ip_frag

[2018-06-26 11:04] shidaoxuan commented on #121
@seladb
My understanding is wrong. Repeated release is allowed, even if a successfully sent mbuf can be released again.
One is a transparent release(rte_eth_tx_burst) and the other is a manual release(rte_pktmbuf_free).

[2018-06-26 19:07] seladb commented on #121
Regarding Q1: I agree that the unit-test code is wrong. I'll fix that when I have the time, but I don't think it's urgent. Please let me know me if you agree

Regarding Q2: this code can indeed be changed to release just the mbufs that weren't sent, but as you mention double release is also allowed. What do you think?

[2018-06-26 22:36] shidaoxuan commented on #121
Regarding Q2: In my test, repeated release will generate some extra consumption, which becomes more obvious in large traffic scenarios.

[2018-06-26 23:08] seladb commented on #121
Sure. Do you have the time and capacity to do this fix and create a PR?

[2018-06-27 06:55] seladb commented on #121
I was wrong in my answer on Q1: the unit-test code is actually fine: this `while` loop receives packets into an array and immediately sends them. The send method should take care of freeing all the mbufs, so there is nothing else to free and there should be no memory leak. Please let me know if you have other observation

In the meantime I'll fix only the issue you raised in Q2

[2018-06-27 07:58] shidaoxuan commented on #121
DpdkDevice.cpp: L1110
[code]
Each time this API(uint16_t DpdkDevice::receivePackets(MBufRawPacket** rawPacketsArr, ...) is called, multiple MBufRawPacket class objects are allocated. But where do you release the class object allocated here?

 My changes are as follows in "Tests/Pcap++Test/main.cpp:L379~L395".
[code]

[2018-06-27 16:58] seladb commented on #121
There is no need to free the elements (of type MBufRawPacket) in mBufArr.
They will be reused in each iteration of the loop.
The sendPackets() method will just free the mbufs inside this elements, it
won't create them again if they already exist.

Please let me know what you think

On Wed, Jun 27, 2018 at 12:58 AM Daoxuans <notifications@github.com> wrote:

[2018-06-28 17:29] #119 closed

[2018-06-30 07:11] seladb commented on #121
Fixed the double release issue. Please verify the code and reopen this issue if you find any problem

[2018-06-30 07:11] #121 closed

[2018-07-02 12:07] fridayguo commented on #66
at file PcapLiveDevice.cpp:132

when listening on the interface "any",  this link type LINKTYPE_ETHERNET  is wrong.

[2018-07-02 14:39] seladb commented on #66
Currently PcapPlusPlus supports packet capture from Ethernet devices only, but this could be changed of course. I suggest you open a separate issue for that

[2018-07-11 07:58] shidaoxuan commented on #61
Build shared libraries of "libCommon++.so libPacket++.so libPcap++.so"
Is it possible to provide a way to switch from a static library to a dynamic library?

[2018-07-11 20:04] seladb commented on #61
As I explained in the comment above this is not trivial because several parts in PcapPlusPlus API assume memory allocation on both sides (shared library and caller) so this separation doesn't work out-of-the-box.

I guess this is doable but will require a significant amount of efforts which I currently don't have...

[2018-07-13 16:35] MinGW64User opened #122 "Extremely High CPU usage compared to WireShark"
I see this issue being raised before, but no feasible solutions were available back then. Even a 0.2 second delay in the packets would be acceptable, but I can't find a place where I could configure this.

Note: Using the "[Asynchronous packet capture using a callback function](http://seladb.github.io/PcapPlusPlus-Doc/tutorial_live_capture.html#capture_packets)" method, since it seems the most cus

[2018-07-14 07:34] seladb commented on #122
The only way I can think that may reduce CPU is adding more sleep in the infinite while loop: [here](https://github.com/seladb/PcapPlusPlus/blob/b51ae2643bc80a3ec8f669f885a9ef32fa44700e/Pcap%2B%2B/src/PcapLiveDevice.cpp#L400), [here](https://github.com/seladb/PcapPlusPlus/blob/b51ae2643bc80a3ec8f669f885a9ef32fa44700e/Pcap%2B%2B/src/PcapLiveDevice.cpp#L409), [here](https://github.com/seladb/PcapPlu

[2018-07-14 20:58] MinGW64User commented on #122
That one did it:
`pcap_dispatch(pThis->m_PcapDescriptor, -1, onPacketArrives, (uint8_t*)pThis);`

Added a 0.1 sec sleep in there. Now CPU usage is much more reasonable. Thank you!

[2018-07-15 06:44] seladb commented on #122
Awesome, I’m glad that worked. Maybe we cam consider adding this as a feature, please let me know what you think

[2018-07-18 16:55] brlebtag opened #123 "Porting PcapPlusPlus to buckaroo c++ package manager"
It would be amazing if we could port PcapPlusPlus to buckaroo c++ package manager. (https://buckaroo.pm).

It would make life more easy.

I open a issue requesting PcapPlusPlus in buckaroo (https://github.com/LoopPerfect/buckaroo-wishlist/issues/96).

[2018-07-18 22:42] seladb commented on #122
I'd appreciate your answer. Should we keep this issue open or close it?

[2018-07-18 22:57] seladb commented on #123
Sound like a great idea! I took a look at buckaroo and it shouldn't be so hard to do this. Would you like to try?

[2018-07-19 16:08] seladb commented on #123
Awesome! Please let me know if you need my help, we can work on this together

[2018-07-20 20:21] jannik3141 opened #124 "TCP Reassembling: Flowkey not unique (ICMP-packet)"
Hello,

If got an error message from this line:

https://github.com/seladb/PcapPlusPlus/blob/24dd4afa91f3234a9ba07ecb7b7d3b50d4e9bb1b/Packet%2B%2B/src/TcpReassembly.cpp#L297

 I figured out, that it was produced by an ICMP-packet. The hash5Tuple() function returns zero for every ICMP-packet, so it causes a hash collision. The ICMP-packet contained a TCP-layer therefor it was relevant for TCP-Reass

[2018-07-23 05:45] seladb commented on #124
Hi Jannik, usually ICMP packets don't contain a TCP layer, that's why TCP reassembly aren't relevant for them. Could you please attach an example of the packets you're working on so I can assess the right solution?

[2018-07-24 06:32] seladb commented on #122
I'm closing the issue for now, please re-open it if you have any more comments or questions

[2018-07-24 06:32] #122 closed

[2018-07-24 07:05] seladb commented on #124
Hi Jannik, as far as I understand this example doesn't necessarily have to be ICMP tunneling. It can be just a standard "destination unreachable" message that contains (part of) the original packet.
Anyway, I'm not sure how common ICMP tunneling is and whether TCP reassembly should support it. I'd love to hear your opinion about it

[2018-07-25 13:56] jannik3141 commented on #124
Hi, you are probably right about the example. I will talk with my colleagues next weak and write again regarding ICMP-tunneling. Thanks so far!

[2018-07-25 22:56] seladb commented on #124
Sure! I'll be looking forward for your answer. In the mean time - would you like to keep the issue open or close it and then reopen if needed?

[2018-07-29 05:56] seladb commented on #124
I agree with you. ICMP packets containing TCP data should not be throwing errors, but rather be ignored, just like any other non-TCP packet.  I'll make that fix and output an appropriate debug message. Thanks for reporting this issue!

[2018-07-29 07:44] seladb commented on #124
Fixed! Please let me know if the solution works. I'll close the issue, please reopen if necessary

[2018-07-29 07:44] #124 closed

[2018-07-30 16:40] jannik3141 commented on #124
Hi @seladb, thank you! The fix is working for me. I have talked to my colleagues and we don't think supporting ICMP-tunneling is necessary, so i won't reopen the issue. Thanks for your fast responses the fast fixing!

[2018-07-30 16:49] seladb commented on #124
Sure, thanks for reporting the issue and contributing to the PcapPlusPlus project!

[2018-08-08 13:54] ahuzjx opened #126 "LIBPCAP_OPEN_LIVE_TIMEOUT=-1 caused highly CPU utilization"
[http://www.tcpdump.org/manpages/pcap_set_timeout.3pcap.html](url)
pcap_set_timeout() sets the packet buffer timeout that will be used on a capture handle when the handle is activated to to_ms, which is in units of milliseconds. (See pcap(3PCAP) for an explanation of the packet buffer timeout.)
The behavior, if the timeout isn't specified, is undefined, as is the behavior if the timeout is set to

[2018-08-08 15:04] Nostrademous opened #127 "TcpReassembly Duration Metadata (RawPacket Timestamp Issues)"
Hi,

I was playing with your code and added tracking of the startTime and endTime (as timeval structures) in the metadata aggregator when reconstructing a TCP session/flow; however, I'm getting strange looking timestamps (both the start and end times are off).

Example:
[code]

The PCAP being read offline was captured on a 64-bit system so I'm wondering if there is a bug somewhere that can explain

[2018-08-08 16:37] Nostrademous commented on #127
Nevermind, it was my issue. I forgot to add the populated timestamps into the ConnectionData().copyData() function.

[2018-08-08 16:37] #127 closed

[2018-08-09 08:25] seladb commented on #126
I will provide a fix soon. This issue was raised by other people as well. I'll provide an interface to set the packet buffer timeout as well the packet buffer size

[2018-08-14 17:40] felixzng opened #128 "[Feature Request]: Add gz reader/writer to pcap files"
Would it be possible to add this functionality

[2018-08-14 20:39] seladb commented on #128
What do you mean by gz reader/writer?
I can think of various different options:
 - pcap files that are compressed with gz that you want to read/write
 - pcap files that contain packets and those packets contain files compressed with gz. In that case you first need to understand what is the protocol storing those files, decode that protocol and then decompress the file content

[2018-08-14 23:11] felixzng commented on #128
I was thinking of pcap files that are compressed with gz

[2018-08-14 23:35] seladb commented on #128
So just to make sure: the feature request is reading gz pcap files?
Why don't you extract them first the then read them with PcapPlusPlus?

[2018-08-15 00:27] felixzng commented on #128
Right, I would like to read gzipped pcap file. Decompressing pcap files first would be time consuming and will require fair amount of extra space.  I have many terabytes of compressed pcaps.

[2018-08-15 00:53] seladb commented on #128
I'm not sure this should be part of PcapPlusPlus as it has nothing to do with reading, analyzing or writing network packets. Arguably other people may request reading/writing pcap from/to a DB, etc.
Having said that, if you are willing to write the code and create a PR, I'd be happy to merge it into the main branch.
Also, we should consider the dependency on the gzip library (which currently doesn

[2018-08-15 01:08] felixzng commented on #128
OK thx

[2018-08-15 04:55] seladb commented on #128
Thanks! Please let me know if we should keep this issue open

[2018-08-15 12:18] felixzng commented on #128
I think it's OK to close it. thx

[2018-08-22 06:16] seladb commented on #126
I added an overload to `PcapLiveDevice::open()` that enables to open a device with a non-default configuration, including changing the buffer timeout. Please take a look at: [here](http://seladb.github.io/PcapPlusPlus-Doc/Documentation/a01235.html#a3f58e22a71cbed9109ae75bd1759e8ed)

I'm closing the issue now. Please reopen it if you think it's necessary

[2018-08-22 06:16] #126 closed

[2018-08-22 06:17] seladb commented on #122
I thought you might be interested to know that I just added the functionality you requested. Please take a look at the fix for this issue: https://github.com/seladb/PcapPlusPlus/issues/126

[2018-08-23 15:21] gjshar opened #129 "Pcap with nested vlan"
Not sure if pcap files with nested vlan can be generated. If yes, example will be highly appreciated. Thanks.

[2018-08-23 20:59] seladb commented on #129
Yes, this should be very easy to create packets with nested vlans. You can see an example in PcapPlusPlus unit-tests (lines 280-292): https://github.com/seladb/PcapPlusPlus/blob/7920a9cf77bc27730b9ee4f077923dc0bc75710a/Tests/Packet%2B%2BTest/main.cpp#L280

Please let me know if you need more information

[2018-08-27 06:23] inbrahimnasson opened #130 "Library for Android (arm)"
Is it possible to provide compilation for Android(ARM)

[2018-08-27 08:00] seladb commented on #130
It's currently not on my radar. Could you please try and share the results?

[2018-08-27 17:08] sinall opened #131 "numOfPacketsToRead of IFileReaderDevice::getNextPackets doesn't match doc"
Doc:

Code:
[code]

[2018-08-27 20:18] seladb commented on #129
Please let me know if more information is needed

[2018-08-28 02:11] sinall commented on #131
@seladb I suggest the another part of doc may need to be changed:

The return value may just be the 'The number of packets actually read'.

[2018-08-28 06:00] seladb commented on #131
Thanks for reporting this issue! Do you think you can provide a quick PR that fixes this?

I'll take care of the documentation update

[2018-08-28 07:35] sinall commented on #131
@seladb
I'm still struggling with poor network in China. Hopefully I could download the source and make a PR later.

Here's the code I think could work:
[code]

[2018-08-28 18:08] gjshar commented on #129
Thank you. End up not using as needed pcap with nanosecond precision.

[2018-08-28 18:38] seladb commented on #129
Sure. I'll close the issue now. Please reopen it if necessary

[2018-08-28 18:38] #129 closed

[2018-08-29 06:37] #131 closed

[2018-08-30 05:11] sinall opened #133 "How to rebuild a packet?"
I'm trying to decrypt a socket protocol. The request/response packet between client and server are encrypted.

My plan is using PcapPlusPlus to decrypt the packets and regenerate a decrypted pcapng file so I can view the packets in Wireshark easily.

I find the `Packet.getLayerOfType<pcpp::PayloadLayer>()` return the data, which I can decrypt and then replace into `Packet`. But I don't find a way

[2018-08-30 07:11] seladb commented on #133
I'm not sure I understand your question. Are you trying to take the payload, decrypt it and replace the encrypted data with the decrypted one in the `PayloadLayer`? Or are you trying to replace the whole `RawPacket` with something else?

[2018-08-30 07:53] sinall commented on #133
Yes, I'm trying to take the payload, decrypt it and replace the encrypted data with the decrypted one in the `PayloadLayer`. And I want to **rebuild the RawPacket** so I can write the decrypted packet into another **pcapng** file, then I will be able to view the plain data in Wireshark.

Currently I take the **first 54 bytes**(some headers AFAIK) from RawPacket, append the decrypted PayloadLayer d

[2018-08-30 15:29] seladb commented on #133
You shouldn't really rebuild the `RawPacket`, it's already being updated when you update the various layers. You should probably create a new `PayloadLayer` with the new data, remove the existing `PayloadLayer` from the packet by using `Packet::removeLayer()` and add the new `PayloadLayer` by using `Packet::addLayer()`. Finally run `Packet::computeCalculateFields()` to re-calculate checksums etc.

[2018-08-31 02:52] sinall commented on #133
That is what I was looking for. Thanks. It looks much better now.

There are still an issues: the **info** column of Wireshark shows `[TCP Retransmission]` or `[TCP ACKed unseen segment] [TCP Retransmission]`.

[2018-08-31 04:30] seladb commented on #133
Are you trying to decrypt one packet or a whole stream?
When trying to show TCP packets in Wireshark that don't have their equivalent "ACK" packets, Wireshark would give that message

[2018-08-31 09:34] sinall commented on #133
I'm trying to process all packets (decrypt the encrypted packets, keep the non-encrypted packets).
Here's the code snippet:

[code]

[2018-08-31 14:54] seladb commented on #133
It's hard to understand from the code what causes this issue. Can you attach sample pcap files of the input and output of your program?

[2018-08-31 17:03] sinall commented on #133
What I can see is if the length changed, then It will lead [TCP Retransmission] problem.

I append a '\0' char to existing payload, then the problem appears.

[code]

[2018-08-31 17:56] seladb commented on #133
I'm not sure why this happens. I'll need to see a pcap example to investigate more

[2018-09-01 04:40] sinall commented on #133
The current pcapng file has some sensitive info, so I take one from '**Tutorial-PcapFiles**'. I append 'abc' to existing payload, there will be some similar problems [TCP Out-Of-Order].

[code]

[Debug.zip](https://github.com/seladb/PcapPlusPlus/files/2342022/Debug.zip)

[2018-09-01 08:25] sinall commented on #133
@seladb not urgent, since the code already works, I can view the data in decrypted packet.

[2018-09-02 07:13] seladb commented on #133
I had a look at your code and I think I understand the issue you see in Wireshark:

From the info you provided I assume the packets carrying the encrypted payload are TCP packets. You also mentioned the decryption process adds 1 or more characters to the payload, meaning the original size of the packets is different than the size after decryption.

The way the TCP protocol works is it keeps track

[2018-09-02 07:29] seladb commented on #130
Please let me know if you got me previous message

[2018-09-02 09:26] seladb commented on #133
There is a module in PcapPlusPlus called [TCP reassembly](https://github.com/seladb/PcapPlusPlus/blob/master/Packet%2B%2B/header/TcpReassembly.h) which uses "seq number" and "ack number" to retrieve TCP streams from packets. You can look at the code there.

In general, PcapPlusPlus parses packets one by one without keeping track of previous packets. That's why you can't see "seq num" and "ack num"

[2018-09-04 17:07] inbrahimnasson commented on #130
i got you message am not very good in these compilation thing but mostly i use qmake in which i usually copy the source files in my qt project and compile then with qtCreator
*works for Mac , Linux and Windows.

[2018-09-04 17:10] inbrahimnasson commented on #130
all i need this a makefile or a cmakefile to convert it to a qt.pro file, i usually do it manual (line  after line)

[2018-09-04 18:10] inbrahimnasson commented on #130
i got my way around using qmake /qcreator let me give it a try after a successful try i will let you know

[2018-09-05 06:18] seladb commented on #133
Did you manage to fix the seq and ack numbers?

[2018-09-05 10:06] inbrahimnasson commented on #130
so far so good for libcommon++ ,libpacket++ but for pcap++ i am having problems since i can't get to compile libpcap for arm using NDK. if for have any success on it please may you guide me

[2018-09-05 12:26] sinall commented on #133
Not yet, don't know how to deal with it. So just hold the issue for now.

[2018-09-05 16:09] seladb commented on #130
I don't have NDK installed but maybe you can post the errors you're getting and I can try to help with fixing them

[2018-09-05 18:57] inbrahimnasson commented on #130
http://blog.umitproject.org/2011/05/libpcap-for-android.html
 https://ducbh.blogspot.com/2013/12/cross-compile-libpcap-for-android.html
 https://git.collabora.com/cgit/android/androgenizer.git/tree/README.txt
 https://danielpocock.com/building-existing-autotools-c-projects-on-android
 https://stackoverflow.com/questions/22646344/compile-libpcap-using-android-ndk

i tried to follow all this instruc

[2018-09-05 23:15] seladb commented on #130
What is this `configure` script you're running? What is it source?

[2018-09-06 10:42] inbrahimnasson commented on #130
the configure script comes within the official libpcap.tar.gz package(wget http://www.tcpdump.org/release/libpcap-1.9.0.tar.gz)

[2018-09-06 10:43] inbrahimnasson commented on #130
INSTALL.MD

To build libpcap, run "./configure" (a shell script). The configure
script will determine your system attributes and generate an
appropriate Makefile from Makefile.in. Next run "make". If everything
goes well you can su to root and run "make install". However, you need
not install libpcap if you just want to build tcpdump; just make sure
the tcpdump and libpcap directory trees have the

[2018-09-06 17:56] inbrahimnasson commented on #130
thank you ,though i successful cross compiled it  with gcc .now am running some examples and tests to check if there is anything not working. i will let you know after this progress

[2018-09-10 20:37] seladb commented on #133
Since it's not a PcapPlusPlus issue, do you mind if I close it for now and you can reopen it if you have more questions?

[2018-09-10 20:38] seladb commented on #130
Any progress on that? Anything that you need my help with?

[2018-09-14 14:04] #133 closed

[2018-09-16 06:36] seladb commented on #130
Since it doesn't seem like a PcapPlusPlus issue do you mind if I close this issue for now? You may reopen it later if there if necessary

[2018-09-17 07:57] inbrahimnasson commented on #130
yes yhu can close it.thanks for alll

[2018-09-17 07:59] #130 closed

[2018-09-27 09:27] ChaosSaber opened #134 "corrupted DevicesList and corrupted PcapFileWriterDevice"
OS: Windows 10.0.17134 Build 17134 64-Bit
IDE: Visual Studio 2015
version: https://github.com/seladb/PcapPlusPlus/tree/5a0405eb4fc8d3d589449da0abac66d34bd55afc

Issue 1 (getPcapLiveDevicesList): all network interfaces found on my system have no name and invalid IP and mac Addresses. In version 18.08 every interfaces had a name and valid ip and mac adresses.
Example Code:
[code]
Expected Output:
[c

[2018-09-28 00:01] seladb commented on #134
Hi, I tried to run the code you published on Win10 and VS2015 and didn't encounter any of these issues. Maybe it is something with your configuration?

[2018-09-28 10:30] ChaosSaber commented on #134
yeah ok, my fault. I just copied the newly build libs and forgot to copy the new headers. Sorry for the false alarm.
Well, i will stick to the v18.08. for now. It works now and i try to keep it that way.

[2018-09-28 11:40] #134 closed

[2018-10-02 15:55] dnlbaines opened #137 "Issue changing DeviceConfiguration packetBufferSize"
I am trying to change the packet buffer size for a PcapLiveDevice by doing the following:
[code]

Setting the buffer size to 100 or greater causes the following error when running the program:
[code]
I know it works with values under 100 as then it just uses the default but can't get it to work with a custom value. If you can reproduce this that would be great (I am using Ubuntu 16.04), otherwise

[2018-10-03 15:44] seladb commented on #137
Yes, that's a good idea, I'll do that

[2018-10-08 07:01] seladb commented on #137
Done, please let me know if you think anything is missing

[2018-10-08 07:01] #137 closed

[2018-10-08 14:40] ChaosSaber opened #138 "Packet::removeLayer() returns succesfull but layer can't be added to another packet"
OS: Windows 10.0.17134 Build 17134 64-Bit
IDE: Visual Studio 2015
version: 18.08

I tried to remove a layer from a packet and add it to another packet. The adding process failed with the message: "Layer is already allocated to another packet. Cannot use layer in more than one packet" despite that removeLayer returned true.
Code to reproduce:
[code]
Output:
[code]
The layer was obviously removed fr

[2018-10-08 18:42] dnlbaines commented on #137
That looks good to me!

[2018-10-09 15:45] seladb commented on #138
That is indeed an edge case that is not handled properly. I can fix it but it may take me some time, how urgent is it for you?

[2018-10-09 19:19] seladb commented on #138
Thanks for your patience. I'll try to provide a fix as soon as I can.

Regarding your question: you can definitely modify a layer after you add it to a packet. The packet data and size will change according to the layer's data

[2018-10-09 19:30] ChaosSaber commented on #138
hmm, ok, last question for now. How is that handled? I have a custom payload layer. I add some data to it. Do i have to check in the function from the layer if it is part of a packet and have to act differently or is there allready a function somewhere i can use?

[2018-10-09 19:42] seladb commented on #138
You don't have to check whether the layer is part of a packet or not. You can go ahead and change the layer's data directly from the layer instance. It will figure out by itself whether it's a stand-alone layer of part of a packet and will act accordingly

[2018-10-12 12:53] larsvlent opened #139 "Use data in a package captured by PcapPlusPlus"
I have a question about the rawdata in pcap++.
In python I made a prove of concept for reading a pcap file and used information which is send in the data part of a packet. In pyton I used struct.unpack("xxx", raw_data), but in c++ this is not possible but I thought this has to be possible in PcapPlusPlus, right? I just don't know how.
With rawPacket.getRawData() or getRawDataReadOnly() I can see a

[2018-10-15 06:10] larsvlent commented on #139
I want to read the data which is send by UDP (screenshot from wireshark), it will give data like rotation and distance. With this data the system should make some decisions. The rotation and distance are given in 2x 2hex values (FF FF for instance). So the program has to read that data from the pcap file and convert it to a decimal value and then some action will follow.
The following code is a pa

[2018-10-15 10:36] larsvlent commented on #139
I think I already figured it out. Thank you anyway for making this 👍

[2018-10-15 10:36] #139 closed

[2018-10-19 12:53] ChaosSaber opened #140 "Jumbo Frame Support?"
Does your library supports jumbo frames? Today i tried sending jumbo frames and got at first the error "Packet length [1522] is larger than device MTU [1514]". I allowed Jumbo Frames up to 9 KB in my network adapter and tried sending it again. I now get the error "Error sending packet: send error: PacketSendPacket failed". Looking at the code, this is an error thrown from pcap_sendpacket. I google

[2018-10-19 14:54] ChaosSaber commented on #140
So the solution is that i used npcap all the time. I have now installed winpcap and it's working as expected.

[2018-10-19 14:54] #140 closed

[2018-10-25 22:00] watsontandrew opened #143 "Cannot open truncated .pcapng using PcapNgFileReaderDevice"
I have a recorded pcapng file, containing mostly UDP traffic, which was cut short in the middle of a packet at the end of the recording. The pcap itself can be opened in the likes of wireshark, but with an error stating the pcap recording ends in the middle of a packet.

Given the nature of the pcap format this case can still be handled and should not result in a hard exception from this library.

[2018-10-26 17:30] watsontandrew commented on #143
Certainly makes sense... I can pull the latest release as well as the version I ran this on is on the latest (17.11). I will report back my findings when I get a chance to run this in a debugger.

[2018-10-31 18:05] seladb commented on #138
Done.
I also added unit-tests with the case you describe:

https://github.com/seladb/PcapPlusPlus/blob/5d92c442d6e29a1b5b8abdf0624c32d9ba055ca5/Tests/Packet%2B%2BTest/main.cpp#L1924

[2018-10-31 18:05] #138 closed

[2018-11-01 16:15] seladb commented on #123
Just curious - any update on that?

[2018-11-01 16:36] brlebtag commented on #123
No. They didn't get in touch. I think you can close the issue. Buckaroo is a great idea but the project seems not very active which is a shame. Thank you for your support anyway.

[2018-11-01 18:37] seladb commented on #123
Sure, I'll close it now, please reopen it if needed in the future

[2018-11-01 18:37] #123 closed

[2018-11-02 20:31] seladb commented on #143
Any updates on that?

[2018-11-03 22:47] watsontandrew commented on #143
I update to the latest release. I was able to enable debug symbols and get into the debugger with the file at hand... Here I actually found the root of the crash to be at line 236 of light_pcapng.c:
[code]
It looks like because the file is truncated the pcapng library is making assumptions about the validity of the next block size and trying to read a very large (invalid) number of bytes.

I might

[2018-11-04 19:49] watsontandrew opened #144 "Function misspelling PcapDevice"
The function
```static bool matchPakcetWithFilter(std::string filterAsString, RawPacket* rawPacket);```

in PcapDevice.h is misspelled. it should read
```static bool matchPacketWithFilter(std::string filterAsString, RawPacket* rawPacket);```

[2018-11-05 07:34] seladb commented on #143
Thanks for the thorough investigation! since you already found the root cause, do you think you can provide a fix?

[2018-11-05 08:20] seladb commented on #144
Thanks! Typo fixed

[2018-11-05 08:20] #144 closed

[2018-11-05 18:07] rkeene opened #145 "Support DESTDIR"
The current "install" target of the Makefile does not respect the DESTDIR environment variable.  This is very useful for creating packages.

[2018-11-05 23:37] seladb commented on #145
I can definitely add that, but isn't the `--install-dir` parameter that exists in `configure-linux.sh` and `configure-mac_os_x.sh` enough?

[2018-11-06 00:03] rkeene commented on #145
No, because those options record the specified directory in places.  The DESTDIR directory only exists at packaging time, and not at run-time.

[2018-11-06 08:03] seladb commented on #145
I'm not sure I'm following you. The `--install-dir` parameter allows the user to configure PcapPlusPlus to install in a custom folder. For example: let's say you want to install PcapPlusPlus in `/my/install/folder` on a Linux machine. Here are the steps you need to run:
[code]

[2018-11-09 17:22] Lnk2past opened #146 "Pcap++Test issues"
I am running on Ubuntu 16.04 in a VM on Windows 10. Packet++Test runs fine and passes all test cases.

I am trying to get ready to make a PR for some changes and when I go to run Pcap++Test I run into issues. Am I am not running the test properly? How should it be executed? I am very new to network programming and analysis and even more new to PcapPlusPlus, so it could just be me not understanding

[2018-11-09 17:37] Lnk2past commented on #146
After a little bit of Google'ing I made a little bit of progress, but still not passing. My default user cannot perform socket operations, so I ran the test with sudo:

[code]

[2018-11-09 19:42] seladb commented on #146
When you run the tests you need to make sure there is network traffic going on for the entire time. For example: you can play a video on YouTube or run any other streaming application that keeps sending and receiving packets from the network.

Regarding the `TestPcapFilters` error - this is a known issues with the tests, you shouldn't worry about it too much.

Regarding the other errors - please m

[2018-11-09 19:42] seladb commented on #145
Any updates on that?

[2018-11-09 19:42] seladb commented on #143
Any updates on that?

[2018-11-09 20:19] watsontandrew commented on #143
The fix I posted appeared to have fixed the issue... I am not sure what you would like to implement to update your library to address this issue. I can open a PR that changes the relevant code on the local copy of the Lightpcapng library stored within the code base.

If you would like me to do that I can. Just let me know 👍 👎

[2018-11-12 14:59] Lnk2past commented on #146
Introducing network traffic resolved the issues! However there is one more "non-critical" issue, although the test still passes:

[code]

If that is something that can be ignore I will proceed with development. Below is the complete test output.

[code]

[2018-11-12 16:21] seladb commented on #146
yes, you can ignore this warning. This test is receiving packets through a raw socket and tries to find timeouts. In your case the network is probably too good and no timeouts occur :)

[2018-11-12 18:56] seladb commented on #143
It'd be great if you can do that, thanks!

[2018-11-13 16:46] seladb commented on #138
Following this issue I did a major revamp in `Packet::removeLayer()` and the logic is more straight forward now. For your case there is a new API called [Packet::detachLayer()](http://seladb.github.io/PcapPlusPlus-Doc/Documentation/a01128.html#a54d83577cda897699f28595477f2d92d) which does exactly what you need.

Please take a look at the code snippet inside the unit-tests:
https://github.com/selad

[2018-11-13 22:59] #146 closed

[2018-11-15 05:02] seladb commented on #145
I'll close this issue for now, please reopen it if needed

[2018-11-15 05:02] #145 closed

[2018-11-18 08:02] inbrahimnasson opened #147 "crash in PcapLiveDeviceList::getPcapLiveDeviceByIp(IPv4Address ipAddr)"
when use PcapLiveDeviceList::getInstance().getPcapLiveDeviceByIp("192.168.139.131")
the program crashes due to the nullptr passed in function sockaddr2in_addr(addrIter->addr)
within the PcapLiveDeviceList::getPcapLiveDeviceByIp(IPv4Address ipAddr)

please look to it it has be there for a long time thought in the new release the bug would have been solve!!

[2018-11-18 16:19] inbrahimnasson commented on #147
Hints:This happens in linux but for windows is okay

[2018-11-21 18:53] seladb commented on #147
I'm sorry for the delayed response, I'll look into it and keep you posted

[2018-11-21 23:12] seladb commented on #147
I'm not able to reproduce this issue. In my Linux system `addrIter->addr` is probably never null and I don't know how to make it null. These pointers come from libpcap and I'm not sure how it populates them.

Do you have any special configurations or network interfaces in your system that might cause `addrIter->addr` to be null?

[2018-11-26 14:40] jhilgert opened #149 "DNS MX records parsing"
It seems like the getDataAsString() method for an MX record fails when the preference contains a "0x00" value. In this case the returned string has a length of zero. Examples for this can be seen in [this pcap](https://giantpanda.gtisc.gatech.edu/malrec/pcap/0b9f7916-bfa5-41c7-9366-c41a6d04ec25.pcap) in paket 2256 (`udp.dstport eq 61302`).

What about converting the preference integer to a hex str

[2018-11-26 16:53] seladb commented on #149
Thanks for reporting this issue! Could you please resend the link for the 2 pcap files? I can't open them (both links don't work)

[2018-11-26 16:58] jhilgert commented on #149
Oh sorry they should work now, I just updated the links in the posts.

[2018-11-26 18:37] seladb commented on #149
Thanks, I'll take a look and let you know

[2018-11-29 06:06] inbrahimnasson commented on #147
it tested it in some other Centos 7 of other machines seems to work very fine, i haven't figure it out the root of the problem but i still on it as soon as i get the root of problem i will let you know

[2018-11-30 20:44] seladb commented on #149
I came up with a new design for DNS records data that should fix this. Please give me a couple of days to complete the implementation and tests and I'll push it to master

[2018-11-30 20:45] seladb commented on #113
For the MX part I came up with a new design for DNS records data that should fix this. Please give me a couple of days to complete the implementation and tests and I'll push it to master.

Then I'll have a look at the second request which is adding pointers instead of full names

[2018-12-06 01:55] seladb commented on #147
sure, let me close this issue for now. Please feel free reopen it if you manage to find the root cause

[2018-12-06 01:55] #147 closed

[2018-12-09 07:57] seladb commented on #113
Fixed both issues:

1. When adding a DNS record you can now add MX data, for example:
[code]

2. You can now set DNS RR name or data with pointers using a string that contains `#{offset}`, for example:
[code]
  Or:
[code]

[2018-12-09 07:57] #113 closed

[2018-12-09 08:03] seladb commented on #149
Fixed this issue. You can now get MX data from the DNS RR object. For example:

[code]

[2018-12-09 08:03] #149 closed

[2018-12-11 13:22] ChaosSaber commented on #138
Ok, thanks for the info.

[2018-12-21 08:21] shidaoxuan opened #152 "IP Reassembly has no timeout mechanism?"
In a real-world network environment, it is possible not to receive all the fragments of a packet, and failure to reassemble the packet will cause these fragments to remain in the temporary memory.

[2018-12-21 08:43] #152 closed

[2019-01-10 20:19] ncrumbak opened #154 "Memory leak detected when crafting packets."
The Packet::addLayer calls Packet::insertLayer to add the current layer to the end of the packet.
The data from the layer is appended and deleted.  The current layer is linked into the packet
object as well.  When the Packet is deleted the destructor calls destructPacketData which will
delete each of the layers if the value of m_IsAllocatedInPacket is true for the layer.  The problem
is that Packe

[2019-01-14 17:37] seladb commented on #77
Currently only HTTP headers can be parsed, please take a look at [this tutorial](http://seladb.github.io/PcapPlusPlus-Doc/tutorial_packet_parsing.html) to see how to parse them

[2019-01-14 17:39] seladb commented on #76
I guess you're asking about how to decrypt HTTPS data if you have the private key.
Unfortunately this is currently not available in PcapPlusPlus.

[2019-01-14 17:43] seladb commented on #81
I don't understand Chinese so it'd be great if you can translate to English.
Are you asking about failure in creating memory pools?
Please read [this documentation](http://seladb.github.io/PcapPlusPlus-Doc/dpdk-pf_ring.html) about setting up DPDK in PcapPlusPlus and let me know if the problem still persists

[2019-01-14 17:44] ncrumbak commented on #154
A flag would be great and I think it would solve my issue.

Thanks,
Nelson

[2019-01-14 21:42] seladb commented on #154
Sure. How urgent is this for you?
Do you think you can do this change and send a PR?

[2019-01-15 00:10] ncrumbak commented on #154
Yes, I can.  First time submitting on Github so bear with me.

[2019-01-15 02:39] seladb commented on #154
Thank you so much!
Please let me know if you need any help from me

[2019-01-16 19:33] seladb commented on #77
please let me know if you have any more questions. Otherwise, can you close this issue?

[2019-01-16 19:33] seladb commented on #76
please let me know if you have any more questions. Otherwise, can you close this issue?

[2019-01-22 05:53] #81 closed

[2019-01-22 08:20] seladb commented on #154
Thanks you so much for the fix and the PR!
I merged it into master branch and updated the documentation

[2019-01-22 08:20] #154 closed

[2019-01-22 15:58] ncrumbak commented on #154
It was kind of fun figuring out all the steps out to contribute to a github
project.

Thanks for your wonderful packet library!!

Nelson

On Tue, Jan 22, 2019 at 2:20 AM seladb <notifications@github.com> wrote:

[2019-01-23 14:40] njlr commented on #123
For those who stumble on this, there is now a PcapPlusPlus package for [Buckaroo](https://github.com/LoopPerfect/buckaroo) here: https://github.com/buckaroo-pm/seladb-PcapPlusPlus

[2019-01-23 17:55] seladb commented on #123
is this something that  can be merged into the main branch?

[2019-01-24 23:33] seladb commented on #77
Closing this issue due to lack of responsiveness. Please reopen it if needed

[2019-01-24 23:33] #77 closed

[2019-01-24 23:33] seladb commented on #76
Closing this issue due to lack of responsiveness. Please reopen it if needed

[2019-01-24 23:33] #76 closed

[2019-01-26 06:46] Deanseo opened #157 "Unable to build in MacOS Mojave"
This issue comes from [my closed PR](https://github.com/seladb/PcapPlusPlus/pull/153).
For **MacOS Mojave** users, extra documentation would be appreciated for them to properly build it.

[2019-01-26 08:13] seladb commented on #157
Thanks for opening this as an issue. What did you do to make it work?

[2019-01-30 05:34] sabhishepalc opened #158 "Pcap++ test issue related to the RSS hash function 0x41"
Here is the snippet of when we are trying to run the Bin/Pcap++ test.EAL: Detected 24 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:01:00.0 on NUMA socket -1
EAL:   probe driver: 8086:10d3 net_e1000_em
EAL: PCI device 0000:04:00.0 on NUMA socket -1
EAL:   probe driver: 8086:1583 net_i40e
EAL: PCI device 0000:04:00.1 on NUMA socket -1
EAL:   probe driver: 8086:1583 net_i40e
PMD: eth_i4

[2019-01-30 06:20] echo-Mike commented on #158
Hi, @sabhishepalc
1. It is not a question
2. A couple of reasons:
    * Your NIC don't support hash function 0x41 (refer to file rte_ethdev.h in your DPDK distribution)
    * Your NIC don't support openening of all 16 RX and 320 TX queues simultaneously (refer to your NIC user manual)
3. The pure DPDK way to obtain RSS hash functions supported by NIC is to do next steps:
    * Call rte_eth_dev_inf

[2019-01-30 06:51] sabhishepalc commented on #158
----------------------------------------------------------------------------------------------------------------
Thank you for the prompt response, the first one where I specified the command, my question was: "If my command is correct, the way I have specified the port in the cmd args".

Digressing from the topic a bit but it's about the port only, if you could help:

With this command I can get

[2019-01-30 06:57] echo-Mike commented on #158
@sabhishepalc
If i remember correctly you just need indexes of DPDK devices starting with 0, like this for example (use DPDK device 0, 3 and 7):

And please can You use Preview button. It is realy hard to understand what You are writing with all this GitHub formatting. Thanks.

[2019-01-30 07:05] sabhishepalc commented on #158
Thank you it worked fine for me regarding this. Sorry for the bad formatting, I will preview from here on:
Btw, the issue reappears:

root@ubuntu:~/PcapPlusPlus/Examples/DpdkExample-FilterTraffic# Bin/DpdkTrafficFilter -d 0
EAL: Detected 24 lcore(s)
EAL: Probing VFIO support...
EAL: PCI device 0000:01:00.0 on NUMA socket -1
EAL:   probe driver: 8086:10d3 net_e1000_em
EAL: PCI device 0000:04:00.0 o

[2019-01-30 07:15] echo-Mike commented on #158
@sabhishepalc
I  think this is the reason the NIC can't be opened:

Regarding issue management in this repo ask @seladb. I am contributor not maintainer.

[2019-01-31 06:22] seladb commented on #158
I think @echo-Mike answered most of your questions (thanks @echo-Mike !), please let me know if you have further questions

[2019-02-01 13:08] echo-Mike commented on #158
@sabhishepalc
Thy to check this path for builded DPDK libraries (rte_*.a):

If it has none, then you forgot to build your DPDK distribution
And i am pretty sure that example applications are built within main build system of PcapPP so make sure that you build PcapPP correctly

[2019-02-01 15:10] sabhishepalc commented on #158
Ohh, it worked nicely, I have one confusion regarding the igb_uio driver.
My current config when running setup-dpdk.sh -s

*******************************
PcapPlusPlus setup DPDK script
*******************************

Network devices using DPDK-compatible driver

0000:04:00.1 'Ethernet Controller XL710 for 40GbE QSFP+' drv=uio_pci_generic unused=vfio-pci

Network devices using kernel driver

0000

[2019-02-01 15:22] echo-Mike commented on #158
@sabhishepalc
Yes, if i remember correctly PcapPP have hard coded check in it's DPDK module for igb_uio driver.
BTW do you corectly setup DPDK? In latest distributions only 3 base drivers are avaliable: igb_uio, kni, vfio and igb_uio is the most used one.
And remember that you must bind NIC to DPDK before usage. I strongly recommend to read scripts in $(RTE_SDK)/usertools to understand DPDK setup

[2019-02-02 13:12] shidaoxuan commented on #158
@sabhishepalc
The answer to your third question about "PMD 'net_i40e' doesn't support the request RSS hash functions 0x41" is net_i40e not support hass function IPv6.

[2019-02-03 08:55] seladb commented on #158
as @echo-Mike said, currently PcapPlusPlus only works with igb_uio driver. Please let me know if "uio_pci_generic" is a critical requirement for you. If it is then can check if this option is feasible

[2019-02-04 06:59] sabhishepalc commented on #158
Thanks for the quick response.
We have now loaded the igb_uio driver and the dpdk port is taking this driver.

*******************************
PcapPlusPlus setup DPDK script
*******************************

1. Huge-pages already allocated
2. p1p2 is already binded to DPDK or doesn't exist. Exiting

Network devices using DPDK-compatible driver

0000:04:00.1 'Ethernet Controller XL710 for 40GbE QSFP

[2019-02-04 08:53] seladb commented on #158
Something is wrong with the RX queues configuration, it doesn't make sense that your device has more than 300 RX queues. Could you please try to get a stack trace of the segmentation fault?

[2019-02-04 09:18] sabhishepalc commented on #158
I believe this can help:

root@ubuntu:~/PcapPlusPlus/Examples/DpdkExample-FilterTraffic# valgrind -v --tool=memcheck --leak-check=full --show-reachable=yes Bin/DpdkTrafficFilter -d 0 -f /root/PcapPlusPlus/ -r UDP
==32584== Memcheck, a memory error detector
==32584== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==32584== Using Valgrind-3.10.1 and LibVEX; rerun with -h for copyrig

[2019-02-04 09:33] seladb commented on #158
I'm not sure where I can see the stack trace that caused the segmentation fault. Could you please point me to it?
Also, please put output in a code block so it's easier to read

[2019-02-04 11:19] sabhishepalc commented on #158
The issue is very close to this one : http://mails.dpdk.org/archives/dev/2014-December/009234.html

Ran the leak-check on valgrind:

root@ubuntu:~/PcapPlusPlus# valgrind -v --leak-check=yes --leak-check=full --show-leak-kinds=all Examples/DpdkExample-FilterTraffic/Bin/DpdkTrafficFilter -d 0 -f /root/PcapPlusPlus/ -r UDP
==7665== Memcheck, a memory error detector
==7665== Copyright (C) 2002-2013, a

[2019-02-04 17:14] seladb commented on #158
I think running the app with `gdb` instead of `valgrind` will give a more clear stack trace.

Also, did you try to run the examples shipped with dpdk on that machine? do they work?

[2019-02-05 05:49] sabhishepalc commented on #158
(gdb) r
Starting program: /root/PcapPlusPlus/Examples/DpdkExample-FilterTraffic/Bin/DpdkTrafficFilter -d 0 -r UDP -f /root/PcapPlusPlus/ -c 15
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
EAL: Detected 24 lcore(s)
EAL: Probing VFIO support...
EAL:   no supported IOMMU extensions found!
EAL: VFIO support could not be initia

[2019-02-05 06:42] Deanseo commented on #157
@seladb Sorry for the late response. I've been on vacation during the lunar new years.
I have not tried tweaking the `include` path to make it work.

So far what I've tried is the closed PR.

I'll give it a shot and share it with you later.

[2019-02-05 07:50] echo-Mike commented on #158
@sabhishepalc @seladb @shidaoxuan
The first step to identify DPDK problems is to run `testpmd` with your device and play with settings. If `testpmd` show the statistics about received packets (assuming you have income flow of packets to your port from some source) then it is time to search for error in Pcap++
Within your last messages the two separate sets of problems are occurred:
#### First:

I

[2019-02-05 13:20] sabhishepalc commented on #158
Thanks a lot @echo-Mike  and @seladb .
We will try testpmd and verify.
For now, we had to hardcode the number of Rx threads/workers to a lower number to see if the problem still persists and we are happy to let you know that the segmentation fault is no longer seen.

=======================================================
Sample output:
root@ubuntu:~/PcapPlusPlus/Examples/DpdkExample-FilterTraffic

[2019-02-05 16:34] Deanseo commented on #157
Off-topic but I really don't see why Apple has decided to deprecate the good old default `/usr/include`, if one command liner can just *fix* it.

[2019-02-05 17:45] seladb commented on #157
Thanks! I added the extra step: https://github.com/seladb/PcapPlusPlus-Doc/commit/42470a44c0c8c4ed98581238a92f268e82869019

[2019-02-05 17:45] #157 closed

[2019-02-14 17:14] seladb commented on #158
Do you still need this issue open? If not, can you close it?

[2019-02-15 05:07] sabhishepalc commented on #158
@seladb Certainly you have helped a lot and kudos to you and other contributors. I will happily close this issue.

Thanks and cheers.

[2019-02-15 05:07] #158 closed

[2019-02-21 02:48] wtdcode commented on #100
I have checked #82 , so is there any progress?

[2019-02-21 06:00] seladb commented on #100
I still haven't got to it. But if you can find time to build it it'd be great

[2019-02-22 11:44] axasoft opened #160 "Parsing packets captured from Mac OS X rvi interface doesn't work"
On Mac OS X High Sierra, rvi interface (https://useyourloaf.com/blog/remote-packet-capture-for-ios-devices/) seems to erroneously set the link type ETHERNET, while in reality there's no ethernet frame. I'm not familiar with pcap -library, so I cannot say if this a bug in OS X, or in libpcap.

Anyway, with the following kludge I managed to get IPv4 packets to my application, but it would be cool if

[2019-02-23 08:51] seladb commented on #160
Thanks for filing this issue. The reason packets are parsed as `LINKTYPE_ETHERNET` and not `LINKTYPE_RAW` is because currently I don't have a way to differentiate between "regular" and RVI interfaces. Please take a look in this code for example:
https://github.com/seladb/PcapPlusPlus/blob/bc5f99496ce0bec824045c54fbecdd738edc0723/Pcap%2B%2B/src/PcapLiveDevice.cpp#L132

If I had a way to identify an

[2019-02-23 10:13] axasoft commented on #160
I think you can use pcap_datalink to get the correct link type:

[code]

For RVI interfaces, the code  prints "link-type 12: RAW (Raw IP)"

[2019-02-23 22:10] seladb commented on #160
I agree, that makes a lot of sense. Would you like to make the change and submit a PR?

[2019-02-24 08:41] axasoft commented on #160
PR submitted.

[2019-02-25 03:10] seladb commented on #160
Thank you so much! I'll take a look later today or tomorrow and merge it into master

[2019-02-25 13:15] jhilgert opened #163 "Wrong link type in Packet::copyDataFrom()"
Hey there,

we assume there is a bug in your copyDataFrom() method for packets, which is for example called when a parsed packet is handed over to another method by value. At this time copyDataFrom() creates a new m_FirstLayer which is always of type EthLayer. At this point it should actually check the underlying link type just like setRawPacket does, so that Linux cooked headers are correctly cre

[2019-02-25 17:40] seladb commented on #163
I agree, it seems like a bug. The right behavior would probably be to mimic the behavior of [Packet::setRawPacket()](https://github.com/seladb/PcapPlusPlus/blob/54527f6b4d62f59f22e0ccc030bd37f986c3430f/Packet%2B%2B/src/Packet.cpp#L54) and create the correct first layer. Would you mind suggesting a fix and submit a PR?

[2019-02-25 17:41] seladb commented on #160
I've merged the PR. I'll add some unit-tests later today and then close the issue

[2019-02-26 09:59] seladb commented on #160
I enhanced your code to include any kind of link-type: https://github.com/seladb/PcapPlusPlus/commit/7ab50eb742ca6c874715bd3da55fc638a92319af

Thank you so much for your contribution!

I'll close the issue now, please reopen it if you see any issue

[2019-02-26 09:59] #160 closed

[2019-02-27 02:25] eteran opened #164 "CMake support?"
Hello, and thanks for your work!

I am using PcapPlusPlus in a project, and we use cmake for our build system. I have written some simple, modern cmake files which allow your work to be easily included in existing source trees that use cmake; for example as a github sub-module.

Would you have any interest in a PR to add support for it upstream? Currently, I've only tested it on Linux, but I don't

[2019-02-27 02:27] eteran commented on #164
As a note, I am currently suggesting an additive change, not one that would necessarily need to replace what you currently have, though a project can always build PcapPlusPlus with cmake and include it in their projects manually similarly to how you currently have users build it manually and use it by setting linker/include paths.

[2019-02-27 05:54] seladb commented on #164
Thanks for your suggestion! You're actually not the first one who brought this up. I had some discussions about it with @solvingj as well (Jerry - please feel free to chime in).

I'm not against CMake, but I want to make sure we keep an option to build PcapPlusPlus without CMake as a dependency. That's why the additive change you're suggesting sounds interesting.

If we go with this suggestion let

[2019-02-27 07:03] solvingj commented on #164
Indeed, cmake makes libraries more accessible for integration and inclusion in various ecosystems, including enterprise use cases.

Sadly, there are a number of cautionary tales of “community supported cmake files.”
Crypto++ is a recent case I got involved, but there are many more.  https://github.com/noloader/cryptopp-cmake/issues/1

The final comment by GamePad64 actually summarizes a similar or

[2019-02-27 09:17] jhilgert commented on #163
Okay, you were faster! I will give it a try, but I assume this fixes the problems we had. Will give it a try.

[2019-02-27 09:29] seladb commented on #163
This is still in `dev` branch, I'm waiting for the CI to finish running and then I'll merge it to `master`

[2019-02-27 09:34] jhilgert commented on #163
Awesome, thank you. Our problems were fixed by 81fe59914f97850b0276fe393fa6703e6318a8cd.

[2019-02-27 10:03] seladb commented on #164
Thanks for your comments @solvingj , I read almost the entire thread you shared and I can understand both sides. CMake has its pros and cons. It's probably easier to use in Linux and MacOS (actually I'm not sure about Linux because of its many distros) but Windows is not always easy.

It's very clear from the thread that CMake is not a consensus. Some people love it, some people hate it; Some tool

[2019-02-27 10:04] seladb commented on #163
Cool, thanks for the feedback! I've merged it into `master` so you can take the code from there. I'll close the issue now, please reopen it if you see any issue

[2019-02-27 10:04] #163 closed

[2019-02-27 14:37] eteran commented on #164
Glad that I've at least piqued your interest. So here's my perspective, but first some answers to your questions/points :-).

1. I do plan for it to work on all supported platforms. Visual Studio is actually pretty easy as you can just open a CMakeList.txt file in it and it treats it like a project automatically. Does it have to work with all out of the gate? Or can it be incremental?
2. I won't t

[2019-02-27 20:20] seladb commented on #164
@eteran Thanks for your comments! I really appreciate your efforts and your offer to help.

I'm glad to hear you already have something in place, and that you plan to complete the work for the remaining platforms and dependencies. I really hope that adding the tests and examples will be as straight-forward as you estimate.

The discussion around CMake vs GNUMake is long going and I'm not sure we'l

[2019-02-27 21:37] eteran commented on #164
17 commits in 5 years, I think I can handle that level of updates for cmake, especially since some of the types of things in those commits are things that cmake "just does" (install paths for example).

So yea, I'll fork from dev, and hopefully it won't be long before I have something worth showing soon!

[2019-02-27 22:25] seladb commented on #164
Sounds great, thanks again for your efforts and help!
Please keep us posted.

[2019-02-28 15:33] eteran commented on #164
I have a question :-)

How much should I try to avoid changing things in the 3rdParty directory, specifically LightPcapNg?

Their existing cmake file unfortunately seems unaware that cmake handles choosing static vs shared linking already and has a bunch of duplicate work as a result. Also, I would assume that if I leave it as is, then PcapPlusPlus wants the static build of this library?

My prefe

[2019-02-28 16:44] seladb commented on #164
I suggest fixing their cmake file, and at a later time you can choose whether to suggest a PR for LightPcapNg as well. When I started using LightPcapNg I also made some code changes and suggested them to the author and he accepted them

[2019-02-28 20:19] austin-millan opened #165 "Filter for IPv4 Protocols"
Hello @seladb,

First off I just want to say thank you for starting this awesome library. It's fast, simple to setup, and the documentation is great.

This issue is on the topic of packet filtering. The Pcap++ filter objects ([here](https://seladb.github.io/PcapPlusPlus-Doc/Documentation/a01230.html)) seem to cover a subset of [BPF](https://en.wikipedia.org/wiki/Berkeley_Packet_Filter) options, so

[2019-02-28 22:24] seladb commented on #165
Thanks for the kind words and feedback!

When I wrote packet filtering in PcapPlusPlus (long time ago :) ) I implemented only the filters I thought would be useful for most people.  I didn't implement all possible filters because that would have take me a very long time. But I'm very open to implement more filters as needed

Regarding your ask to filter GRE packets - I'm not sure this is supported

[2019-03-05 20:01] eteran commented on #164
I have an update!

I have if building for linux, with examples and tests. Currently DPDF and PFRing are untested, but the groundwork is there.

I have also implemented a "make test" target, and Packet++-Test passes perfectly :-)

I was wondering how/if Pcap++-Test should be run to get a pass/fail. (If it's a different kind of test, that's also fine of course).

If you're curious what the build sys

[2019-03-05 22:47] seladb commented on #164
Thanks @eteran !

Do you have also the Windows and MacOS version working?

I can help with testing PF_RING and DPDK.

Regarding Pcap++Test - you can run it in 3 modes:

- If you have network connectivity then you should pass the interface name or interface IP address that can accept and send traffic, for example: `Bin/Pcap++Test -i 10.0.0.1` or `Bin/Pcap++Test -i eth0`
- If you don't have network

[2019-03-05 23:16] eteran commented on #164
Linux only for now, but windows, osx, ming-gw are coming next 🙂.

[2019-03-05 23:58] seladb commented on #164
Awesome thanks!
I can help with DPDK and PF_RING, please let me know when it's the right time

[2019-03-07 17:05] seladb commented on #165
Please let me know what would be the next step. Should we keep the issue or close it?

[2019-03-08 07:03] ECquadrat opened #166 "Memory leak in IPcapDevice::setFilter(std::string filterAsString)?"
First of all, thank you a lot for this great library! It eases the handling of libpcap a lot!

Unfortunately I encountered a possible issue. When using valgrind memory analyzer on my Linux application it reports memory leaks to me.
Debugging into this issue it looks like there is a call to *pcap_freecode(prog)* missing in *pcpp::IPcapDevice::setFilter(std::string filterAsString)*.

If I correctly

[2019-03-08 08:56] seladb commented on #166
I think you're right, there might be a  missing call to `pcap_freecode()` there. You probably noticed it's taking an object of type `bpf_program *` as a parameter which is currently not saved anywhere. That means we also need to save this pointer as another member in the class.

Do you think you can make that fix and submit a PR?

[2019-03-09 08:14] ECquadrat commented on #166
Hi!

I've no experience with git, so I think it would be best if someone with experiences may do it because it needs way less time.

Are you sure you have to store the pointer as member in the class? The manpage sounded to me like the program memory may be copied inside the pcap_setFilter() method.

Regards,
Marc

Am 8. März 2019 09:56:52 MEZ schrieb seladb <notifications@github.com>:

--
Diese Na

[2019-03-09 18:45] seladb commented on #166
Git is pretty easy to learn and I can guide you through it, but of course I can also take it. Please let me know what you prefer.

The reason I think we need to store `bpf_program*` as a member in the class is because `pcap_freecode()` takes it as a parameter: https://www.tcpdump.org/manpages/pcap_freecode.3pcap.html

To me it also makes sense that this pointer is stored inside of `pcap_setfilter(

[2019-03-10 10:38] ECquadrat commented on #166
Currently I have not that much time left. So I would prefer not doing it. :-)

Am 9. März 2019 19:45:55 MEZ schrieb seladb <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2019-03-10 18:35] seladb commented on #166
No worries I can take it. Can you share the code that shows the memory leak?

[2019-03-10 22:37] austin-millan commented on #165
I think it might be supported by the BPF program filters if the protocol # is specified in the filter.

So something like `ip proto 47` or `protochain GRE` (syntax [here](http://www.biot.com/capstats/bpf.html)).

[2019-03-10 23:48] seladb commented on #165
That's a good point, definitely worth to try. Would you mind trying, making the code change and submit a PR?

[2019-03-11 00:31] seladb commented on #166
I've made a fix in the `dev` branch. Can you please get the latest code from `dev` and run the memory leak test again?

`dev` is equal to `master`, the only difference is this commit.

Please let me know

[2019-03-13 08:37] seladb commented on #166
I pushed the fix to `master`, please verify

[2019-03-13 08:37] seladb commented on #165
I pushed the issue to `master`. I'm closing the issue now, please reopen if needed

[2019-03-13 08:37] #165 closed

[2019-03-13 09:18] ECquadrat commented on #166
Hi again, sorry for the delay, but there have been some additional changes with moving 3rd party files which needed an update of my cmake build environment, too...
I've tested now with rev. eeae34e and the memory leak is no more present. Great! :+1:

[2019-03-13 09:34] seladb commented on #166
That's great, I'm glad to hear! I'm closing the issue now, please reopen if needed

[2019-03-13 09:34] #166 closed

[2019-03-22 15:32] eteran commented on #164
Update!, PF_RING support is looking good on linux, you set PF_HOME and it find everything, builds and links.

DPDK is slightly more complex as I can't build it on my non-numa box it seems. So I'm looking into how to work around that (suggestions are of course welcome :-)).

At this point, I would say feel free to clone my repo and play with it if you want to test things on linux.

I Highly recomme

[2019-03-22 16:21] seladb commented on #164
Thanks for the update. Regarding DPDK - you don't have to have a numa box to build it. Any Linux box should do, even a VM.

Building it it pretty easy:
[code]

If you have a standard Linux 64-bit machine you can set `T` to be `x86_64-native-linuxapp-gcc`

[2019-03-23 00:29] eteran commented on #164
Hmm, I did that and my laptop fails to compile with missing numa.h header. Maybe it's a gentoo thing, I'll try in a Ubuntu docker later :-)

[2019-03-23 05:54] echo-Mike commented on #164
@eteran You must install ‘’’libnuma-dev’’’ package and some other (see installment guide on DPDK official site)

[2019-03-24 15:56] ibrahimnasson opened #167 "enchancements of pcaplivedevicelist"
please would you add a way to reset the pcaplivedevicelist without rerunning of a program ,currently pcaplivedevicelist is static instance so we can't refresh for new devices once the pcaplivedevicelist is already initialized

[2019-03-24 15:56] ibrahimnasson opened #168 "enchancements of pcaplivedevicelist"
please would you add a way to reset the pcaplivedevicelist without rerunning of a program ,currently pcaplivedevicelist is static instance so we can't refresh for new devices once the pcaplivedevicelist is already initialized

[2019-03-24 15:57] ibrahimnasson opened #169 "enchancements of pcaplivedevicelist"
please would you add a way to reset the pcaplivedevicelist without rerunning of a program ,currently pcaplivedevicelist is static instance so we can't refresh for new devices once the pcaplivedevicelist is already initialized

[2019-03-25 00:13] seladb commented on #169
Duplicate of #167

[2019-03-25 00:13] #169 closed

[2019-03-25 00:14] seladb commented on #168
Duplicate of #167

[2019-03-25 00:14] #168 closed

[2019-03-26 00:27] seladb commented on #167
Do you think you can make the change and submit a PR?

[2019-03-27 15:06] xloem opened #170 "[PATCH] segfault enumerating addresses of interfaces with null addresses"
`Arping -l` segfaults on my system running the [android tun-easytether interface](http://www.mobile-stream.com/easytether/android.html).  The following patch fixes it.

[code]

[2019-03-27 15:42] seladb commented on #170
thanks for reporting this issue! if you already have a fix, why won't submit a PR?

[2019-03-27 16:24] xloem commented on #170
it can be kind of hard for me to move my body and engage my computer at this point, so I take the easier paths a lot ;p  got you a PR !

[2019-03-27 20:41] #170 closed

[2019-03-27 20:42] seladb commented on #170
Thanks for your contribution, much appreciated!

[2019-03-30 11:33] ibrahimnasson commented on #147
#170 solved the issue

[2019-03-30 11:42] ibrahimnasson commented on #113
Thanks

[2019-03-30 17:19] Arijit-hydrated opened #172 "startCaptureBlockingMode gives segfault when running in loop"
Hi,

While using startCaptureBlockingMode in a while loop, it works only for the first iteration and gives segfault for all the next iterations. Please look into this.

Code snippet attached below:

while (num < num_packets) {

		captured = 0;

		pcpp::Packet pkt = createPacket(key_seq[num], val_seq[num], rw_seq[num]);
		if (!dev->sendPacket(&pkt))
		{
			fprintf(stderr, "Couldn't send packet\n");

[2019-04-03 03:25] dijiang opened #173 "document have a mistake"
on website http://seladb.github.io/PcapPlusPlus-Doc/download.html, the guider build on max os

![image](https://user-images.githubusercontent.com/8736832/55450826-1775d680-5603-11e9-8478-29ca074bdb4e.png)

[2019-04-03 03:36] ibrahimnasson commented on #167
the problem am not good in using/working with git ,still learning maybe if i post the code in here when i get the solution

[2019-04-03 05:22] seladb commented on #173
Thanks for reporting this issue!

Fixed in https://github.com/seladb/PcapPlusPlus-Doc/commit/8eb590d613d11f0ff6521403226c9797ec5609f6

[2019-04-03 05:22] #173 closed

[2019-04-05 20:57] ibrahimnasson opened #174 "Bug in Packet::removelayer"
size_t layerOldDataSize = layer->getHeaderLen();
	uint8_t* layerOldData = new uint8_t[layerOldDataSize];
	memcpy(layerOldData, layer->m_Data, layerOldDataSize);

	// remove data from raw packet
	size_t numOfBytesToRemove = layer->getHeaderLen();
	int indexOfDataToRemove = layer->m_Data - m_RawPacket->getRawData();

Instead of getHeaderLen shouldn't you use getDataLen
Take for example of a RadiusLa

[2019-04-05 21:01] ibrahimnasson commented on #174
As well as while parsing radius layer it's take by assumptions if it's on port 1812 is automatic a radius layer which can lead to false length of the layer hence memory leakage

[2019-04-05 21:03] ibrahimnasson commented on #174
There alot of thinks can go wrong when  we use getHeaderLen to determine the size so as to delete

[2019-04-06 08:05] seladb commented on #174
`getDataLen()` is different than `getHeaderLen()`. `getDataLen()` returns the overall size of the layer as well as the layers above it. For example, in the following packet:
[code]
`IPv4Layer::getDataLen()` will return the size of the data of IPv4Layer + TcpLayer + HttpLayer whereas `IPv4Layer::getHeaderLen()` will return only the size of IPv4Layer.

If you find issues with `getHeaderLen()` for sp

[2019-04-06 08:06] seladb commented on #172
Can you please run this with `gdb` and print the stack trace you get?

[2019-04-06 08:48] ibrahimnasson commented on #174
Take for example radius layer:
When a packet is received from network on port
1812, the api immediately assumes it is  of type radius so then the length of the layer is set by casting the data to radius header of which the length is obtain during delete the header.

Now the problem comes what if the packet is not of radius layer but a payloadlayer on port 1812 so then it invalidates the length whe

[2019-04-06 08:55] ibrahimnasson commented on #174
I think the problems comes
E.g In RadiusLayer
When getHeaderlen is called before calling computeCalculateFields (because this is where the actual length is set)

[2019-04-06 08:58] seladb commented on #174
In that case we can fix `getHeaderLen()` for `RadiusLayer` and add a check to make sure the length doesn't go beyond the data bounds.

Do you think you can do that and submit a PR?

[2019-04-06 10:30] ibrahimnasson commented on #174
Why do not we return just return m_Datalen  instead of the ntohs(getRadiusHeader()->length)

[2019-04-07 07:34] seladb commented on #174
This is an option, but `getRadiusHeader()->length` should usually contain the right size of the RADIUS header. Maybe it's better to write a code that first checks the value of `getRadiusHeader()->length` and if it doesn't make sense returns `m_DataLen`. Please let me know what you think

[2019-04-12 03:07] ibrahimnasson opened #175 "Security and crashing bug"
IDnsResource::IDnsResource(DnsLayer* dnsLayer, size_t offsetInLayer)
	: m_DnsLayer(dnsLayer), m_OffsetInLayer(offsetInLayer), m_NextResource(NULL)
{
	char decodedName[256];
	m_NameLength = decodeName((const char*)getRawData(), decodedName);
	m_DecodedName = decodedName;
}

Inside here keeps on crashing though it happens rearly but with msvc reports it as a buffer overrun /buffer overflow
I think t

[2019-04-13 17:43] gx740 opened #176 "Infinite loop arises during parsing a TCP packet with HTTP request"
Hello.

Sorry for my English. I guess you can understand me.

I try to use this library for capturing the packets and analizing on the fly. However my application goes into the infinite loop and a memory consumption grows without limitation. This happens on constructing the object of class Packet. The dump of packet is attached to the issue.

This packet contains a TCP segment with HTTP request. I